body {
	margin: 0;
	padding: 0;
	font-family: batang;
	font-weight: bold;
}
.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
.container {
	width: 940px;
	margin: 0 auto;
}
.btn {
	float: right;
	text-decoration: none;
	border-radius: 5px;
	background: #3c2b3e;
	padding: 10px 0;
	width: 140px;
	text-align: center;
	color: #a98177;
	text-transform: uppercase;
	font-size: 10px;
	margin-top: 10px;
}
.cont {
	float: left;
	font-size: 12px;
	margin-top: 20px;
	padding: 0;

}
.bg {
	height: 100px;
	background-color: #aa8591;
	padding: 0;
	margin: 0;
}
.verh {
	background-color: #fff;
	height: 50px;
	padding: 0;
	margin: 0;
}
.logo {
	float: left;
	margin-right: 73px;
	margin-top: 15px;
	padding: 0;
}
.menu ul li {
	float: left;
	text-decoration: none;
	padding: 0;
	margin: 0;
	display: block;
	margin-right: 27px;
	margin-top: 44px;
	font-size: 15px;
}
.menu a {
	text-decoration: none;
	text-transform: uppercase;
	color: #3c2b3e;
	display: block;
	padding: 0;
	margin: 0;
}
.resnici {
	background-image: url(../img/fon1.png) ;
	margin: 0;
	padding: 0;
	height: 800px;
}
h1 {
	text-align: center;
	color: #f5d2bc;
	font-size: 62px;
	padding-top: 73px;
	margin: 0;
	text-transform: uppercase;
}
span {
	font-size: 37px;
}
.foto {
	margin-top: 65px;

}
.foto__item {
	width: 295px;
	float: left;
	text-align: center;
	margin-right: 17px;
}
.foto__item p {
	font-size: 21px;
	color: #f5d2bc;
}
.button {
	text-decoration: none;
	border-radius: 5px;
	background: #3c2b3e;
	padding: 15px 60px;
	width: 220px;
	color: #a98177;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 40px;
	
	
}
.prei {
	background-image: url(../img/fon2.png);
	height: 800px;
}
h2 {
	color: #3c2b3e;
	text-align:center;
	margin: 0;
	font-size: 34px;
	padding-top: 120px;
	padding-bottom: 100px;
	text-transform: uppercase;
}
.item {
	float: left;
	width: 505px;
	font-size: 16px;
	line-height: 1.5em;
}
.item__preim {
	float: right;
	display: block;
}
.usluga {
	background-image: url(../img/fon4.png);
	margin: 0;
	padding: 0;
	height: 1100px;
}
.table {
}
.table_item {
	width: 285px;
	float: left;
	border: 3px solid #e8c3b4;
	border-top: 3px solid white;
	margin-left: 20px;
	background: #fff;
	text-align: center;
	margin-top: 50px;
}
.table_item h3 {
	text-transform: uppercase;
	font-size: 15px;
}
.table_price td {
	border: 2px solid #3c2b3e;
	height: 80px;
	color: #3c2b3e;
	font-size: 18px;
}
.table_price {
	border-collapse: collapse;
	margin-bottom: 41px;
}
th {
	height: 45px;
	border: 2px solid #3c2b3e;
	text-transform: uppercase;
	font-size: 37px;
	color: #3c2b3e;
}
.uslug {
	width: 220px;
}
.info {
	width: 580px;
}
.money {
	width: 140px;
}
.button2 {
	text-decoration: none;
	border-radius: 5px;
	background: #3c2b3e;
	padding: 15px 60px;
	width: 110px;
	color: #a98177;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	margin-top: 350px;
	margin-left: 350px;
	display: block;
}
.button3 {
	text-decoration: none;
	border-radius: 5px;
	background: #3c2b3e;
	padding: 15px 60px;
	width: 220px;
	color: #a98177;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 380px;
	margin-bottom: 120px;
}
.imges img {
	border: 2px solid #e3c5bb;
	border-radius: 110px;
}
.works h3 {
	font-size: 34px;
	color: #f5d2bc;
	text-align: center;
	padding-top: 140px;
	text-transform: uppercase;
	padding-bottom: 100px;
}
.works {
	background-image: url(../img/fon3.png);
	text-align: center;
	padding-bottom: 120px;
}
.works img {
	margin-right: 20px;
}
.foot {
	background: #302232;
	margin: 0 auto;
	padding: 0;
	padding-top: 3px;
	padding-bottom: 3px;

	

}
.foot p {
	color: white;
}