
a {
  text-decoration: none;
  color: #3c2824;
  outline: none;
  font-size: 14px;
}

a:not(class) {
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.mCustomScrollBox {
  overflow: hidden;
  height: 100%;
  outline: none;
}

.mCSB_container {
  overflow: hidden;
  width: auto;
  height: auto;
}

.mCSB_draggerContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 18px;
  background: #e1e1e1;
}

.mCSB_dragger {
  width:16px;
  left: 1px;
  background: #fff;
  border-radius: 2px;
  height: 290px!important;
}
.mCSB_dragger:before {
  position: absolute;
  top:50%;
  width: 50%;
  background-color: #000;
  content: ""; 
}
.sidebar {
  width: calc(245px + 15px);
  position: sticky;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 999;
  top: 100px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .sidebar {
    position: relative;
  }
}
@media (max-width: 767px) {
  .sidebar {
    width: auto;
    padding: 0;
  }
}


.ad-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0 0 15px;
}

.ad-list li {
  padding: 0 0 15px;
}

.catalog {
  position: relative;
  background: #fff;
}

.catalog:after {
  content: '';
  display: block;
  clear: both;
}

@media (max-width: 767px) {
  .catalog {
    position: absolute;
    top: auto;
    left: -9999px;
  }
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 1px;
}

.catalog-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.catalog-list li:last-child {
  border: none;
}

.catalog-list li.hover > a {
  background: #429755;
  color: #fff;
}
.catalog-list a:hover .cat-tab_name {
  color: #fff;
}
.catalog-list a:hover .cat-tab_value{
  color: #fff;
}
.catalog-list li.hover > .drop {
  top: 0;
  left: 100%;
  display: block;
}
.catalog-list a {
  display: block;
  padding: 10px 35px 10px 10px;
  -webkit-transition: color 0.2s ease, background 0.2s ease;
  -o-transition: color 0.2s ease, background 0.2s ease;
  transition: color 0.2s ease, background 0.2s ease;
  position: relative;
  font-weight: 500;
}
.catalog-list li:hover  .sidebar_arrow:before {
  background-color: #fff;
}
.catalog-list li:hover  .sidebar_arrow:after {
  background-color: #fff;
}
.catalog-list a:hover {
  text-decoration: none;
  background: #429755;
  color: #fff;
}

.catalog-list .drop {
  position: absolute;
  top: auto;
  z-index: 999;
  display: none;
  width: calc(100% + 18px);
  height: 100%;
  background: #fff;
  border-width: 0 1px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.body_overlay {
  position: relative;
}
.body_overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.6);
  top: 76px;
  left: 0;
}
.catalog-list .drop-holder {
  height: 100%;
  position: relative;
}

.catalog-list .sub-drop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
}

.catalog-list .catalog-tabset li.active a {
  background: #429755;
  color: #fff;
}

.catalog-list .cat-tab {
  display: none;
  background: #fff;
  height: 100%;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.catalog-list .cat-title {
  display: none;
}

.catalog-list sup {
  color: #000;
}

.sidebar-title {
  background-color: #429755;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 0 10px 10px;
}
.sidebar_arrow {
  position: absolute;
  right: 20px;
  width: 7px;
  height: 7px;
  top: calc(50% - 3px);
}
.sidebar_arrow:before, .sidebar_arrow:after {
  position: absolute;
  content: "";
  width: 9px;
  height: 2px;
  background-color: #3c2824;
}
.sidebar_arrow:before {
  transform: rotate(45deg);
}
.sidebar_arrow:after {
  transform: rotate(-45deg);
  top: 5px;
}



.drop_arrow {
  position: absolute;
  right: 26px;
  width: 7px;
  height: 7px;
  top: calc(50% - 3px);
}
.drop_arrow:before, .drop_arrow:after {
  position: absolute;
  content: "";
  width: 9px;
  height: 2px;
  background-color: #3c2824;
}
.drop_arrow:before {
  transform: rotate(45deg);
}
.drop_arrow:after {
  transform: rotate(-45deg);
  top: 5px;
}
.catalog-list .catalog-tabset li.active .drop_arrow:after {
  background-color: #fff;
}
.catalog-list .catalog-tabset li.active .drop_arrow:before {
  background-color: #fff;
}
.cat-tab_name {
  font-weight: 500;
  margin: 0 0 5px 0;
}
.cat-tab_value {
  font-weight: 500;
  margin: 5px 0;
}
.cat-tab_quanity {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin: 5px 0;
}
.cat-tab_data {
  font-size: 12px;
  font-weight: 400;
  font-style: italic; 
  display: block;
  margin-top: 5px;
}
.cat-tab_data_value {
  font-style: italic;
}
.cat-tab_quanity_value {
  font-style: italic;
}

.drop:before {
	content: "";
  position: absolute;
  top: -20px;
  height: calc(100% + 40px);
  width: calc(100% + 40px);
  z-index: -1;
  left: 0;
  background-color:transparent;
}
.sub-drop:before {
	content: "";
  position: absolute;
  top: -20px;
  height: calc(100% + 40px);
  width: 100%;
  z-index: -1;
  left: 40px;
  background-color:transparent;
}

.mobile_menu_step1 {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
}
.mobile_menu_step2 {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
}
.mobile_menu_step3 {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
}



@media (pointer:coarse){
 .catalog-list li.hover > a {
  background-color: transparent;
  color: #3c2824;
 }
 .catalog-list .catalog-tabset li.active a {
  background-color: transparent;
  color: #3c2824;
 }
 .catalog-list a:hover {
  background-color: transparent;
  color: #3c2824;
 }
 .catalog-list a:hover .cat-tab_name {
    color: #3c2824;
 }
 .catalog-list a:hover .cat-tab_value {
  color: #3c2824;
 }
 .catalog-list li:hover  .sidebar_arrow:before {
  background-color: #3c2824;
 }
.catalog-list li:hover  .sidebar_arrow:after {
  background-color: #3c2824;
 }





 .catalog-list li > a:active {
  background-color: #429755;
  color: #fff;
 }
 .catalog-list .catalog-tabset li a:active {
  background-color: #429755;
  color: #fff;
 }
 .catalog-list a:active {
  background-color: #429755;
  color: #fff;
 }
 .catalog-list a:active .cat-tab_name {
    color: #fff;
 }
 .catalog-list a:active .cat-tab_value {
  color: #fff;
 }
 .catalog-list li:active  .sidebar_arrow:before {
  background-color: #fff;
 }
.catalog-list li:active  .sidebar_arrow:after {
  background-color: #fff;
 }
}
@media screen and (max-width: 950px) {
  .header_menu_item span {
    display: none;
  }
  .sidebar {
		display: none;
	}
	.mobile_menu_link {
		display: block;
		padding: 15px 40px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.09);
		font-size: 16px;
		position: relative;
    font-weight: 500;
	}
	.mobile_menu_title {
		background-color: #429755;
		font-size: 16px;
		color: #fff;
		font-weight: 400;
		padding: 15px 20px;
	}
	.mobile_menu_step_title {
		background-color: #429755;
		color: #fff;
		padding: 7px 10px;
		margin: 10px  0;
		position: relative;
		display: inline-block;
	}
	.mobile_menu_step_link {
		padding: 15px 40px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.09);
		display: block;
		position: relative;
		font-size: 16px;
    font-weight: 500;
	}
  .mobile_menu_step_link_qianity {
    font-size: 14px;
    font-style: italic;
  }
	.mobile_menu_step_title_overlay {
		border-bottom: 1px solid rgba(0, 0, 0, 0.09);
		position: relative;
		display: flex;
		padding-left: 20px;
	}
	.close_menu {
		position: absolute;
		top: calc(50% - 10px);
		right: 20px;
		width: 20px;
		height: 20px;
	}
	.close_menu:after, .close_menu:before {
		position: absolute;
		content: "";
		background-color: #429755;
		width: 20px;
		height: 2px;
		top: 9px;
	}
	.close_menu:after {
		transform: rotate(45deg);
	}
	.close_menu:before {
		transform: rotate(-45deg);
	}
	.mobile_menu_step2_title {
		background-color: #55c56e;
		color: #fff;
		padding: 7px 10px;
		margin: 10px  0 10px 25px;
		position: relative;
		display: inline-block;
	}
	.mobile_menu_step3_title {
		background-color: #67dc81;
		color: #fff;
		padding: 7px 10px;
		margin: 10px  0 10px 30px;
		position: relative;
		display: inline-block;
	}
	.back_on_step {
		position: relative;
		width: 10px;
		height: 20px;
		display: block;
		margin-top: 10px;
    margin-right: 5px;
	}
	.back_on_step:after, .back_on_step:before {
		content: "";
		position: absolute;
		left: 0px;
		width: 8px;
		height: 2px;
		background-color: #3a2623;
	}
	.back_on_step:after {
		transform: rotate(45deg);
		top: 17px;
	}
	.back_on_step:before {
		transform: rotate(-45deg);
		top: 12px;
	}
	.mobile_menu_step3 .mobile_menu_step2_title {
		margin: 10px 0;
	}
	.mobile_menu_step_link_title {
		font-size: 16px;
		font-weight: 500;
    margin-bottom: 8px;
	}
	.mobile_menu_step_link_quanity {
		font-size: 14px;
    font-weight: 400;
    font-style: italic;
	}
	.mobile_menu_step_link_date {
		font-size: 14px;
    font-style: italic;
    font-weight: 400;
	}
  .mobile_menu_step2 .mobile_menu_step_link {
    padding: 15px 60px;
  }
  .mobile_menu_step3_title2_overlay {
    padding-left: 30px;
  }
  .mobile_menu_step3_title3_overlay {
    padding-left: 25px;
  }
  .mobile_menu_step3 .mobile_menu_step_link {
    padding: 15px 65px;
  }
  .body_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    display: none;
  }
  .mobile_menu_step_container {
    height: 100%;
    overflow: scroll;
  }
  .mobile_menu_step_container_title {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: #fff;
  }
  .mobile_menu_step1_link_overlay {
    margin-top: 53px;
  }
  .mobile_menu_step2_link_overlay {
    margin-top: 106px;
  }
  .mobile_menu_step3_link_overlay {
    margin-top: 159px;
  }
}
@media screen and (max-width: 450px) {
  .mobile_menu_step_link_quanity {
    display: block;
  }
}