@import url('index_menu.css');


body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,p {
	padding: 0;
	margin: 0;
}
sup {
	font-style: italic;
}
h5 {
	font-size: 14px;
	color: #3c2824;
	font-weight: 500;
}
a {
	text-decoration: none;
}
.container {
	max-width: 1160px;
	padding: 0 20px;
	margin: auto;
}
.header_menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
}
header {
	position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
}
.header_logo {
	width: 240px;
}

.header_menu_item a {
	display: flex;
	align-items: center;
	color: #3a2623;
	font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
}
.header_menu_item img {
	margin-right: 17px;
}
.header_menu_item:last-child img {
	opacity: 0.3;
}
.header_menu_item:last-child img:hover {
	opacity: 1;
	transition: 1s;
}
.heder_horizontal {
	height: 1px;
  background-color: #429755;
  color: #429755;
  border: transparent;
  margin: 0 0 16px 0;
}
.index_content {
	display: flex;
}
.content {
	width: 100%;
	margin-left: 30px;
	margin-top: 130px;
}
.index_content_nav {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 19px 0 0 0;
	margin: auto;
}
.fixed_nav {
	position: fixed;
	top: 92px;
	width: 100%;
	background-color: #fff;
}
.index_content_nav li:first-child {
	margin-left: 290px;
}
.index_content_nav li {
	padding-bottom: 10px;
}
.index_content_nav li a {
	color: #1a1618;
	font-size: 16px;
  font-weight: 500;
}
.content_banners {
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 30px 0;
}
.content_banners_item {
	width: 300px;
	height: 225px;
	background-color: #7d7d7d;
}
.content_item1 h3 {
	font-size: 22px;
	color: #3a2623;
}
.content_ad_item {
	margin-top: 30px;
}
.content_ad_item_link {
	font-size: 14px;
	color: #004a80;
	font-weight: 600;
	display: block;
}
.content_ad_item_info {
	font-weight: 500;
	color: #008e3e;
	font-size: 14px;
}
.content_ad_item_name {
	color: #3a2623;
	font-size: 14px;
	font-weight: 400;
	display: inline;
}
.content_card {
	margin-top: 50px;
}
.content_card h3 {
	font-size: 22px;
    color: #3a2623;

}
.content_card_item {
	margin-top: 25px;
}
.content_card_item_link {
	color: #004a80;
	font-size: 14px;
	font-weight: 600;
}
.content_card_item_place {
	font-size: 14px;
}
.content_card_item_descr {
	font-size: 14px;
	margin-top: 5px;
}
.footer_line {
	background-color: #429755;
	color: #429755;
	height: 1px;
	border: none;
	margin: 45px 0 35px;
}
.footer_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_links {
	display: flex;
	align-items: center;
}
.footer_links_link a {
	display: block;
	margin-top: 10px;
}
.footer_links_img {
	margin-left: 13px;
}
.footer_social a {
	display: block;
	text-align: center;
}
.footer_social_links {
	display: flex;
	margin-top: 35px;
}
.footer_social_links img {
	margin: 0 5px;
}
.footer_social_item {
	margin-top: 10px;
}
.footer_law {
	font-size: 14px;
	text-align: center;
	margin: 30px 0;
	line-height: 21px;
}
.footer_law span {
	font-weight: 500;
	color: #00873a;
}
.content_ad_item_link:hover {
	text-decoration: underline;
}
.content_card_item_link:hover {
	text-decoration: underline;
}
.header_menu_item:hover {
	text-decoration: underline;
}
.footer_links_link a:hover {
	text-decoration: underline;
}
.footer_social_item:hover {
	text-decoration: underline;
}
.index_content_nav a:hover{
	background-color: #429755;
	color: #fff;
}
.index_content_nav a {
	padding: 10px 18px;
}
.mobile_menu {
	display: none;
}
.header_logo_mob {
	display: none;
}
.index_content_nav_slider {
	display: none!important;
} 

.search {
	position: fixed;
	top: 93px;
	width: 100%;
	z-index: 999999;
	display: none;
}
.search_input::-webkit-input-placeholder {
  color: #333333;
  font: 400 16px 'Montserrat';
} 
.search_input::-moz-placeholder {
  color: #333333;
  font: 400 16px 'Montserrat';
}
.header_search_close {
	display: none;
}
.search_overlay {
	display: flex;
	background-color: #fff;
	justify-content: space-between;	
	padding: 0 20px 20px 20px;
  max-width: 1160px;
  margin: auto;
}
.search_input {
	padding: 15px 25px;
  display: block;
  width: 100%;
  margin-right: 20px;
  border: 1px solid #ededed;
  box-shadow: 1px 1px 0px rgba(170, 170, 170, 0.3);
}
.search_href {
	width: 155px;
  display: block;
  text-align: center;
  padding: 14px 0;
  background-color: #1c8835;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 950px) {
	.search_overlay {
		padding: 20px;
	}
	.search {
		top: 79px;
	}

	.mobile_menu {
		display: block;
	}
	.content {
		margin-left: 0;
		margin-top: 92px;
	}
	.container {
		padding: 0;
	}
	.content_card {
		padding: 0 25px;
	}
	.content_item1 {
		padding: 0 25px;
	}
	.footer_flex {
		flex-wrap: wrap;
    width: 600px;
    margin: auto;
	}
	.footer_links {
		margin-top: 30px;
	}
	.footer_social {
		margin-top: 30px;
	}
	.body_overflow {
		overflow: hidden;
	}
	.index_content_nav {
		margin: 9px 0 23px;
		display: none;
	}
	.index_content_nav_slider li {
		padding: 10px;
		text-align: center;
		margin-bottom: 10px;
	}
	.index_content_nav_slider li a {
		border: 1px solid rgba(0, 0, 0, 0.09);
		padding: 10px;
	}
	.index_content_nav_slider  {
		padding: 0 10px;
		display: block!important;
		width: 610px;
    margin: auto;
	}
	.index_content_nav_wrapper {
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  .index_content_nav_nex-wrapper {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    margin: 16px 0 0;
    padding-bottom: 20px;
  }
  .index_content_nav_item {
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
  .index_content_nav_item .index_content_nav_item_span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding:10px 14px;
    position: relative;
    z-index: 100;
    margin: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.09);
  }
  .footer_law {
  	padding: 0 20px;
  }
}
@media screen and (max-width: 650px) {
	.search_input {
		margin-right: 0;
	}
	.footer_flex {
		flex-direction: column;
		width: auto;
	}
	.subscribe_form2 {
		margin-top: 40px;
	}
	.index_content_nav_slider {
		width: auto;
	}
	.footer_line {
		margin: 40px 0 0 0;
	}
	.content_banners {
		flex-direction: column;
		margin: 0 0 30px 0;
	}
	.content_banners_item {
		margin: 30px auto 0;
	}
	.header_menu_item img {
		margin-right: 0;
	}
	.header_menu {
		padding: 10px;
	}
	.header_logo {
		display: none;
	}
	.header_logo_mob {
		display: block;
		width: 90px;
	}
	.index_content_nav {
		display: none;
	}
	
  .content_banners_item {
  	height: 60px;
  }
  .content_banners_item1 {
  	display: none;
  }
  .content_banners_item2 {
  	background-color: #7d7d7d;
  	width: 300px;
  	height: 225px;
  	margin: 30px auto 0;
  }
	
	

}