html {
	font-size: 0.071429vw;
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Gilroy';
	color: #fff;
	background: #0B0D0F;
	scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,p {
	margin: 0;
	padding: 0;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.container {
	width: 1200rem;
	margin: auto;
}
a {
	text-decoration: none;
	color: #fff;
	font-size: 18rem;
}
h1 {
	font-size: 60rem;
	font-weight: 700;
	line-height: 120%;
}
h2 {
	font-size: 46rem;
	font-weight: 700;
}
h3 {
	font-size: 34rem;
	font-weight: 700;
}
h4 {
	font-size: 28rem;
	font-weight: 700;
}
h5 {
	font-size: 20rem;
	font-weight: 600;
}
p {
	font-size: 18rem;
	font-weight: 300;
	line-height: 150%;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #0B0D0F;
	z-index: 99;
	padding: 13rem 0;
}
.header_nav {
	width: 782rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_nav_link {
	font-size: 16rem;
	font-weight: 600;
	transition: 0.5s;
}
.header_nav_link:hover {
	color: #49A7F0;
	transition: 0.5s;
}
.header_logo {
	width: 146rem;
}
.header_nav_link.active {
	color: #49A7F0;
}
.header_lang {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80rem;
}
.header_lang_item {
	font-size: 14rem;
	font-weight: 400;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	padding: 8rem;
	color: #fff;
}
.header_lang_item.active {
	border: 1rem solid #49A7F0;
	color: #49A7F0;
}
.hero {
	background: linear-gradient(90deg, #0D0F11 0%, #0E1114 100%);
	height: 100vh;
}
.hero_overlay {
	position: absolute;
	top: calc(50% - 150rem);
	left: calc(50% - 463rem);
	width: 926rem;
	text-align: center;
}
.hero_title span {
	 color: #49A7F0;
}
.hero_text {
	margin: 38rem 0 75rem;
}
.hero_btns {
	display: flex;
	width: 644rem;
	justify-content: space-between;
	margin: auto;
	align-items: center;
}
.hero_btns_portfolio {
	position: relative;
	width: 277rem;
	display: block;
	font-weight: 700;
	color: #fff;
	padding: 17rem 0;
	border: 1rem solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255,255,255,0);
	transition: 0.5s;
}
.hero_btns_portfolio:hover {
	background-color: rgba(255,255,255,1);
	transition: 0.5s;
	color: #0E1013;
}
.hero_btns_portfolio:after {
	content: "";
	position: absolute;
	top: -6rem;
	left: -6rem;
	width: 100%;
	height: 100%;
	display: block;
	padding: 5rem;
	border: 1rem solid rgba(255, 255, 255, 0.5);
}
.btn_overlay {
	overflow: hidden;
}
.btn {
	position: relative;
	width: 277rem;
	display: block;
	font-weight: 700;
	color:  #49A7F0;
	padding: 17rem 0;
	margin: 10rem;
	border: 1rem solid rgba(73, 167, 240, 0.2);
	transition: 0.5s;
}
.hero_btns_write:after {
	content: "";
	position: absolute;
	top: -10rem;
	left: -10rem;
	width: calc(100% + 16rem);
	height:  calc(100% + 16rem);
	border:  2rem solid rgba(73, 167, 240, 0.2);
}
.btn:hover {
	background-color: #49A7F0;
	color: #fff;
	transition: 0.5s;
}
.btn span{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - -10rem);
  height: calc(100% - -10rem);
  display: block;
  box-sizing: border-box;
}
.btn span:nth-child(1) {
    top: -11rem;
    transform: rotate(0deg);
    width: calc(100% + 18rem);
    left: -10rem;
}
.btn span:nth-child(2){
	left: 110rem;
    top: 105rem;
    transform: rotate(90deg);
}
.btn span:nth-child(3) {
    bottom: -11rem;
    top: auto;
    transform: rotate(180deg);
    width: calc(100% + 18rem);
    left: -10rem;
}
.btn span:nth-child(4){
	left: -122rem;
  	transform:rotate(270deg);
}
.btn span:before {
	content: '';
	position: absolute;
	width:100%;
	height: 2rem;
	left: 0;
	background: #49A7F0;
	animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
	transform:scaleX(0);
	transform-origin: left;
  }
  50% {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform:scaleX(1);
    transform-origin: right;
  }
  100% {
    transform:scaleX(0);
    transform-origin: right;
  }
}
.title_overlay_item {
	font-size: 100rem;
	color: #000;
	opacity: 0.1;
	text-shadow: 0 -1px 1px #ffffff,
	0 -1px 1px #ffffff,
	0 1px 1px #ffffff,
	0 1px 1px #ffffff,
	-1px 0 1px #ffffff,
	1px 0 1px #ffffff,
	-1px 0 1px #ffffff,
	1px 0 1px #ffffff,
	-1px -1px 1px #ffffff,
	1px -1px 1px #ffffff,
	-1px 1px 1px #ffffff,
	1px 1px 1px #ffffff,
	-1px -1px 1px #ffffff,
	1px -1px 1px #ffffff,
	-1px 1px 1px #ffffff,
	1px 1px 1px #ffffff;
	position: absolute;
	top: -40rem;
	left: 0;
	z-index: -1;
	white-space: nowrap;
}
.title_overlay {
	position: relative;
}
.services {
	padding-top: 142rem;
}
.services_overlay {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 15rem;
}
.services_item {
	width: 518rem;
	border: 1rem solid rgba(255, 255, 255, 0.1);
	padding: 27rem;
	position: relative;
	margin-top: 36rem;
}
.services_item:after {
	content: "";
	position: absolute;
	top: -7rem;
	left: -7rem;
	width: calc(100% + 14rem);
	height: calc(100% + 14rem);
	border: 1rem solid #FFFFFF;
	z-index: -1;
}
.services_item_text {
	color:  rgba(255, 255, 255, 0.5);
	margin: 20rem 0 60rem;
	max-width: 395rem;
}
.btn_move {
	position: relative;
	margin-left: 20rem;
	z-index: 2;
	width: max-content;
	font-weight: 700;
}
.btn_move:hover:before {
	width: calc(100% + 40rem);
	transition: 0.5s;
}
.btn_move:before {
	content: "";
	position: absolute;
	top: -15rem;
	left: -20rem;
	width: 49rem;
	height: 49rem;
	background-color: transparent;
	border: 1rem solid #fff;
	display: block;
	transition: 0.5s;
	z-index: -1;
}
.portfolio {
	padding-top: 148rem;
	position: relative;
}
.portfolio_item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 390rem;
	height: 307rem;
	position: relative;
	margin: 0 6rem;
	overflow: hidden;
}
.portfolio_slider {
	margin: 95rem 0;
}
.slick-arrow {
	display: block;
	background-color: transparent;
	width: 32rem;
	height: 32rem;
	position: absolute;
	top: calc(50% - 16rem);
	border: 1rem solid #fff;
	cursor: pointer;
}

.slick-arrow:before {
	content: "";
	width: 32rem;
	height: 18rem;
	position: absolute;
	top: calc(50% - 9rem);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(img/slider_arrow.svg);
	transition: 0.4s;
}
.slick-arrow:hover:before {
	transform: translate(10rem, 0);
	transition: 0.4s;
}
.slick-arrow.right {
	right: -45rem;
}
.slick-arrow.left {
	left: -45rem;
	transform: rotate(180deg);
}
.slick-dots button {
	display: none;
}
.slick-dots {
    position: absolute;
    bottom: -52rem;
    width: 100%;
    display: flex;
    left: 0;
    padding: 0;
}
.slick-dots li {
	width: 100%;
	height: 2rem;
	background: #161616;
}
.slick-dots li.slick-active {
	background: #fff;
}
.portfolio_item_content {
	background-color: #000;
	width: calc(100% - 16rem);
	height: calc(100% - 16rem);
	padding: 8rem;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1rem solid #fff;
	padding: 7rem;
	top: 100%;
	left: 0;
	transition: 0.7s;
}
.portfolio_item_content:after {
	width: calc(100% - 16rem);
	height: calc(100% - 16rem);
	border: 1rem solid rgba(255, 255, 255, 0.2);
	content: "";
	position: absolute;
	top: 7rem;
	left: 8rem;
}
.portfolio_item:hover .portfolio_item_content{
	top: 0%;
	transition: 0.7s;
}

.portfolio_item_tag {
	position: relative;
	z-index: 3;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 300;
	font-size: 16rem;
}
.portfolio_item_title {
	font-size: 22rem;
	text-align: center;
	margin: 20rem 20rem 50rem;
}
.about_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about {
	margin-top: 180rem;
}
.about_image {
	width: 741rem;
	margin-top: -90rem;
}
.about_txt {
	margin-top: 20rem;
}
.about_btn {
	margin-top: 50rem;
	display: block;
}
.viz {
  opacity: 1;
  transition: 1s;
}
.about_title_overlay {
	margin-bottom: 40rem;
}
.about_number {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 80rem;
	position: relative;
}
.about_number_overlay {
	position: relative;
	margin-bottom: 120rem;
}
.about_number_item {
	width: 200rem;
	padding: 14rem 72rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	border-bottom: none;
	border-top: none;
}
.about_number_item:first-child {
	padding-left: 0;
	border-left: none;
}
.about_number_item:last-child {
	padding-right: 0;
	border-right: none;
}
.about_number_item_quanity {
	color: #49A7F0;
	
}
.about_number_item_text {

}
.about_number_bg {
    width: 1390rem;
    position: absolute;
    top: -140rem;
    left: -90rem;
    z-index: -1;
}
.about_person {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 60rem;
}
.about_person_image {
	width: 555rem;
}
.about_person_info {
	max-width: 555rem;
}
.about_person_links_item {
	padding: 14rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin-right: 20rem;
}
.about_person_links_item img {
	width: 20rem;
}
.about_person_links {
	display: flex;
	margin: 32rem 0 51rem;
}
.about_person_content_item_text {
	display: none;
}
.about_person_content_item_text:first-child {
	display: block;
}
.about_person_nav_link {
	margin-right: 50rem;
	font-weight: 700;
	padding-bottom: 10rem;
}
.about_person_nav_link.active {
	color: #49A7F0;
	border-bottom: 2rem solid #49A7F0;
}
.about_person_nav {
	padding-bottom: 10rem;
	border-bottom: 1rem solid #262626;
}
.about_person_content_item {
	margin-top: 20rem;
}
.about_person_name {
	margin-bottom: 10rem;
}
.about_person_descr {
	color: rgba(255, 255, 255, 0.5);
}
.price_head_overlay {
	display: flex;
	justify-content: space-between;
}
.price_head_txt {
	max-width: 559rem;
}
.price {
	margin-top: 200rem;
}
.prices_table {
	width: calc(100% - 20rem);
	margin: 0 auto;
	position: relative;
	border: 1rem solid rgba(73, 167, 240, 0.2);
	margin-bottom: 200rem;
}
.prices_table:after {
	position: absolute;
	top: -8rem;
	left: -8rem;
	width: calc(100% + 15rem);
	height: calc(100% + 15rem);
	z-index: -1;
	border: 1rem solid #49A7F0;
	content: "";

}
.prices_table_table {
	text-align: center;
}
.prices_table_overlay {
	width: 1000rem;
	margin: 60rem auto;
}
.about_person_content_item_skils {
	display: flex;
	align-items: center;
	margin-top: 20rem;
	min-width: 250rem;
}
.about_person_content_item_skils_number {
	color: #49A7F0;
	font-size: 34rem;
	font-weight: 700;
	margin-right: 20rem;
}
.about_person_content_item_skils_name {
	font-weight: 700;
}
.about_person_content_item_skils_time {
	color: rgba(255, 255, 255, 0.5);
	font-size: 16rem;
}
.about_person_content_item_skils_overlay1 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: -10rem;
}
.about_person_content_item_program {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: -10rem;
}
.about_person_content_item_program_item {
	display: flex;
	min-width: 200rem;
	align-items: center;
	margin-right: 70rem;
	margin-top: 20rem;
}
.about_person_content_item_program_name {
	position: relative;
	display: flex;
	align-items: center;
}
.about_person_content_item_program_name:before {
	content: "";
	width: 30rem;
	display: block;
	height: 2rem;
	background-color: #49A7F0;
	margin-right: 10rem;
}
.prices_table_select {
	font-size: 18rem;
	font-weight: 400;
	width: 320rem;
	display: block;
	cursor: pointer;
	padding: 20rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	margin-bottom: 30rem;
}
.jq-selectbox__trigger {
	width: 14rem;
	height: 7rem;
	position: absolute;
	top: calc(50% - 3rem);
	right: 0;
	background-image: url(img/arrow.svg);
	background-size: cover;
	background-position: center;
	transition: 0.3s;
}
select {
	display: none!important;
	z-index: -99!important;
}
.jq-selectbox__dropdown ul {
	border: 1rem solid rgba(255, 255, 255, 0.2);
	background-color: #0B0D0F;
	padding: 0;
}
.jq-selectbox__dropdown ul li {
	padding:  10rem 20rem;
}
.jq-selectbox__dropdown ul li:hover {
	background-color: #49A7F0;
	cursor: pointer;
}
.jq-selectbox__dropdown {
    position: absolute;
    left: 0;
    top: 50rem;
    width: 100%;
}
.jq-selectbox.opened .jq-selectbox__trigger{
	transform: rotate(180deg);
	transition: 0.3s;
}
.prices_table_form {
	display: flex;
	margin-top: 50rem;
}
.prices_table_slider_title {
	font-size: 20rem;
	font-weight: 700;
	margin-top: 40rem;
	margin-bottom: 30rem;
}
.noUi-horizontal .noUi-handle {
	width: 10rem;
	height: 10rem;
	background-color: #49A7F0;
	border-radius: 100%;
	right: -6rem;
	top: -5rem;
	box-shadow: none;
	border:none;
}
.noUi-handle:after, .noUi-handle:before {
	display: none;
}
.noUi-horizontal .noUi-handle:after {
	display: block;
	position: absolute;
	left: -7rem;
	width: 24rem;
	height: 24rem;
	top: -7rem;
	z-index: -1;
	background: rgba(73, 167, 240, 0.1);
	border-radius: 100%;
}
.noUi-target {
	height: 1rem;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	box-shadow: none;
}
.slider-non-linear-value {
	font-size: 18rem;
	font-weight: 700;
	margin-top: 23rem;
}
.prices_table_hr {
	border: 1rem solid rgba(255, 255, 255, 0.2);
	margin: 0 120rem 0 95rem;
}
.prices_table_price {
	color: #49A7F0;
	font-size: 34rem;
	font-weight: 700;
	margin-top: 5rem;
}
.prices_table_time {
	font-size: 34rem;
	font-weight: 700;
	margin: 20rem 0;
}
.prices_table_link {
	margin-top: 41rem;
	display: block;
}
.reviews {
	position: relative;
}
.reviews_item {
	padding: 27rem;
	border: 1rem solid rgba(73, 167, 240, 0.2);
	margin: 15rem 18rem;
	position: relative;
}
.reviews_item:after {
	width: calc(100% + 20rem);
	height: calc(100% + 20rem);
	position: absolute;
	top: -11rem;
	left: -11rem;
	border: 1rem solid #49A7F0;
	z-index: -1;
	content: "";
}
.reviews_item_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.reviews_item_head_link {
	display: block;
	width: 33rem;
	height: 33rem;
	position: relative;
	border: 1rem solid #fff;
}
.reviews_item_head_link:before {
	display: block;
	content: "";
	position: absolute;
	top: calc(50% - 10rem);
    right: -18rem;
	width: 32rem;
	height: 19rem;
	background-image: url(img/slider_arrow.svg);
	background-size: cover;
	background-position: center;
	transition: 0.4s;
}
.reviews_item_head_link:hover:before {
	transform: translate(10rem, 0);
    transition: 0.4s;
}
.reviews_item_overlay {
	max-width: 440rem;
}
.reviews_item_head_subtitle {
	margin-top: 12rem;
	color: rgba(255, 255, 255, 0.4);
	font-size: 16rem;
	font-weight: 400;
}
.reviews_item_content {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 222rem;
}
.reviews_item_text {
	margin-top: auto;
}
.question {
	margin-top: 250rem;
}
.question_overlay_items {
	width: 912rem;
	display: none;
}
.question_overlay_items:first-child {
	display: block;
}
.question_item {
	padding: 20rem 0;
	border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
.question_item:first-child {
	border-top: 1rem solid rgba(255, 255, 255, 0.2);
}
.question_item_answer {
	display: none;
}
.question_item_title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s;
}
.question_item.active .question_item_title{
	color: #49A7F0;
	transition: 0.3s;
}
.question_item_arrow {
	width: 14rem;
	transition: 0.3s;
}
.question_item.active .question_item_arrow {
	transform: rotate(180deg);
	transition: 0.3s;
}
.question_item_answer p{
	margin-top: 16rem;
	color: rgba(255, 255, 255, 0.5);
	font-size: 17rem;
}
.question_overlay {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
}
.question_nav_link {
	display: flex;
	font-weight: 700;
	position: relative;
	padding: 9rem 0rem 9rem 19rem;
}
.question_nav_link.active {
	color: #49A7F0;
}
.question_nav_link.active:before {
	content: "";
	position: absolute;
	left: -1rem;
	top: 0;
	display: block;
	width: 2rem;
	height: 100%;
	background: #49A7F0;
}
.question_nav {
	border-left: 1rem solid  rgba(73, 167, 240, 0.1);
}
.blog  {
	margin-top: 200rem;
}
.blog_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blog_head_link {
	color: #49A7F0;
	font-weight: 700;
	padding: 8rem 25rem;
	border: 1rem solid rgba(73, 167, 240, 0.2);
	position: relative;
	transition: 0.4s;
}
.blog_head_link:after {
	content: "";
	position: absolute;
	display: block;
	top: -6rem;
	left: -6rem;
	width: calc(100% + 10rem);
	height: calc(100% + 10rem);
	border: 1rem solid rgba(73, 167, 240, 0.5);
}
.blog_head_link:hover {
	background-color: #49A7F0;
	color: #fff;
	transition: 0.4s;
}
.blog_item {
	width: 376rem;
}
.blog_overlay {
	display: flex;
	justify-content: space-between;
	margin-top: 60rem;
}
.blog_item_title {
	margin: 10rem 0 18rem;
}
.blog_item_tag {
	color: rgba(255, 255, 255, 0.5);
	font-size: 16rem;
}
.blog_item_text {
	color: rgba(255, 255, 255, 0.5);
}
.blog_item_link {
	display: block;
	margin-top: 43rem;
}
.contacts {
	position: relative;
}
.contacts_social {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 470rem;
}
.contacts_social_item {
	width: 215rem;
	margin-top: 45rem;
}
.contacts_social_item:nth-child(odd) {
	margin-top: 0;
}
.contacts_social_item_label {
	font-size: 16rem;
	color: rgba(255, 255, 255, 0.5);
}
.contacts_social_item_link {
	font-size: 20rem;
	font-weight: 600;
	margin-top: 3rem;
	transition: 0.4s;
}
.contacts {
	margin-top: 200rem;
	margin-bottom: 100rem;
}
.contacts_social_item_link:hover {
	color: #49A7F0;
	transition: 0.4s;
}
.contacts_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contacts_form {
	padding: 42rem 60rem;
	background: linear-gradient(90deg, #0D0F11 0%, #0E1114 100%);
	border: 1rem solid rgba(73, 167, 240, 0.2);
	width: 395rem;
	position: relative;
}
.contacts_form_item {
	position: relative;
	z-index: 4;
}
.contacts_form_title {
	margin-bottom: 27rem;
	text-align: center;
}
.contacts_form_select {
	font-size: 18rem;
	font-weight: 400;
	width: calc(100% - 52rem);
	padding: 18rem 26rem;
	cursor: pointer;
	border: 1rem solid rgba(255, 255, 255, 0.2);
}
.contacts_form_input {
	width: calc(100% - 52rem);
	padding: 18rem 26rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	background-color: transparent;
	margin-top: 20rem;
	font-family: 'Gilroy';
	font-size: 18rem;
    font-weight: 400;
	color: #fff;
}
input[type="text"]::-webkit-input-placeholder {
    font-family: 'Gilroy';
    font-size: 18rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
} 
input[type="text"]::-moz-placeholder {
    font-family: 'Gilroy';
    font-size: 18rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
}
input[type="checkbox"] {
	display: none;
}
.contacts_form_check {
	position: relative;
	font-size: 14rem;
	color: #fff;
	line-height: 140%;
	display: flex;
	cursor: pointer;
	margin-top: 25rem;
	align-items: center;
}
.contacts_form_check a {
	font-size: 14rem;
}
.contacts_form_check:before {
	content: "";
	width: 22rem;
	height: 22rem;
	display: block;
	background-image: url(img/sprite.svg);
	background-size: 22rem;
	background-position: top;
	margin-right: 12rem;
}
.contacts_form_check span {
    max-width: 356rem;
    display: block;
}
.contacts_form_checkbox:checked + .contacts_form_check:before {
    background-position: bottom;
}
.contacts_form_check:hover:before {
	background-position: center;
}
.contacts_form_submit {
	font-family: 'Gilroy';
	font-size: 18rem;
	font-weight: 700;
	color:#49A7F0;
	border: 1rem solid rgba(73, 167, 240, 0.2);
	background-color: #0D0F11;
	padding: 18rem 0;
	text-align: center;
	width: calc(100% - 16rem);
	margin: auto;
	display: block;
	transition: 0.4s;
	cursor: pointer;
}
.contacts_form_submit:hover {
	background-color: #49A7F0;
	transition: 0.4s;
	color: #fff;
}
.contacts_form_submit_overlay {
	position: relative;
	margin-top: 33rem;
	z-index: 2;
}
.contacts_form_submit_overlay:before {
    content: "";
    position: absolute;
    top: -6rem;
    left: 0rem;
    width: calc(100% + -2rem);
    height: calc(100% + 10rem);
    z-index: -1;
    border: 1rem solid #49A7F0;
}










.contacts_form_span{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 8rem);
  height: calc(100% + 16rem);
  display: block;
  box-sizing: border-box;
}

.contacts_form_span:nth-child(1){
  transform:rotate(0deg);
  top: -10rem;
}

.contacts_form_span:nth-child(2){
	transform:rotate(90deg);
	left: auto;
	right: -11rem;
	top: -8rem;
}

.contacts_form_span:nth-child(3){
  transform:rotate(180deg);
  bottom: -10rem;
  left: -5rem;
  top: auto;
}

.contacts_form_span:nth-child(4){
  transform:rotate(270deg);
  left: -12rem;
  top: -10rem;
}

.contacts_form_span:before {
  content: '';
  position: absolute;
  width:100%;
  height: 2rem;
  background: #49A7F0;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50% {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform:scaleX(1);
    transform-origin: right;
  }
  100% {
    transform:scaleX(0);
    transform-origin: right;
  }
}
.contacts_form:before {
	content: '';
	width: calc(100% + 16rem);
	height: calc(100% + 16rem);
	border: 1rem solid rgba(73, 167, 240, 0.2);
	position: absolute;
	top: -9rem;
	left: -9rem;
}
.footer_logo {
	width: 146rem;
}
.footer_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer_copyright {
	font-size: 16rem;
	color: rgba(255, 255, 255, 0.5);
}
.footer_policy {
	font-weight: 300;
	font-size: 16rem;
}
.footer_social_link {
	width: 17rem;
	padding: 10rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	margin-left: 10rem;
}
footer {
	padding: 25rem 0;
	background: #08090B;
}
.mobile_burger {
	display: none;
}
.close {
	display: none;
}
.sidebar {
	position: fixed;
    top: 0;
    right: 20rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar_link {
	display: block;
	padding: 8rem 10rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	margin: 5rem 0;
}
.sidebar_link:hover {
	border: 1rem solid #49A7F0;
}
.sidebar_img {
	width: 17rem;
}
.modal {
	display: none;
}
.modal_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(15, 17, 19, 0.45);
	backdrop-filter: blur(6px);
	z-index: 99;
}
.modal_content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background: linear-gradient(90deg, #0D0F11 0%, #0E1114 100%);
	border: 1px solid rgba(73, 167, 240, 0.2);
	padding: 42rem 60rem;
}
.modal_content:before {
	content: "";
	position: absolute;
	top: -10rem;
	left: -10rem;
	padding: 10rem;
	background: linear-gradient(90deg, #0D0F11 0%, #0E1114 100%);
	height: calc(100%);
	width: calc(100%);
	z-index: -1;
	border: 1rem solid  #49A7F0;
}
.modal_content_overlay {
	max-width: 390rem;
}
.modal_close {
	width: 20rem;
	position: absolute;
	top: 20rem;
	right: 20rem;
}
.modal_result {
	text-align: center;
	padding: 20rem 0;
	max-width: 392rem;
}
.modal_result_title {
	margin: 30rem 0 19rem;
}
.modal_result_text {
	margin-top: 14rem;
}
.error {
	height: calc(100vh - 96rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.error_image {
	width: 434rem;
	margin: 62rem auto 0;
	display: block;
}
.error_text {
	text-align: center;
	padding: 40rem 88rem;
	width: max-content;
	margin: 40rem auto 30rem;
	background-image: url(img/404_bg.svg);
	background-size: contain;
	background-position: center;
}
.error_btn {
	text-align: center;
	margin: auto;
}
.error_btn_overlay {
	padding: 9rem;
	overflow: hidden;
}
.error_bg {
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.portfolio_hero {
	position: relative;
}
.portfolio_hero_overlay {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.portfolio_hero_btn_overlay {
	overflow: hidden;
	padding: 9rem 0;
	margin-bottom: auto;
}
.portfolio_hero_btn {
	text-align: center;
	margin: 0 auto;
}
.portfolio_hero_title {
	margin: 17rem auto 65rem;
	text-align: center;
}
.portfolio_hero_title span {
	color: #49A7F0;
}
.arrow_back {
	font-size: 16rem;
	font-weight: 300;
	display: flex;
	align-items: center;
	margin-top: 125rem;
}
.arrow_back img {
	width: 20rem;
	margin-right: 15rem;
	display: block;
}
.portfolio_hero_tags {
	display: flex;
	justify-content: center;
	margin-top: 135rem;
}
.portfolio_hero_tags_item {
	color: rgba(255, 255, 255, 0.5);
	font-weight: 300;
}
.video_overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	overflow: hidden;
}
.portfolio_video {
	width: 1440rem;
	opacity: 0.5;

}
.sinportfolio .about_number {
    width: 1070rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.about_number_overlay {
	margin: 140rem auto 105rem;
}
.about_number_overlay_btn_overlay {
	overflow: hidden;
	padding: 9rem 0;
	margin: 105rem auto 0;
}
.about_number_overlay_btn {
	text-align: center;
	margin:  auto ;
}
.sinportfolio_image {
	width: 100vw;
	margin-left: -100rem;
}
.sinportfolio_about {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 130rem 0 140rem;
}
.sinportfolio_about_text {
	column-width: 366rem;
	column-gap: 40rem;
	column-count: 2;
	max-width: 816rem;
}
.sinportfolio_rewiev {
	display: flex;
	margin: 140rem 0 210rem;
	position: relative;
}
.sinportfolio_rewiev_text_overlay {
	max-width: 541rem;
}
.sinportfolio_rewiev_overlay {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.sinportfolio_rewiev_text {
	margin-top: 14rem;
	color: rgba(255, 255, 255, 0.7);
}
.sinportfolio_rewiev_link {
	width: 33rem;
	height: 33rem;
	position: relative;
	border: 1rem solid #fff;
}
.sinportfolio_rewiev_link:before {
	position: absolute;
	content: "";
	top: calc(50% - 9rem);
	right: -18rem;
	width: 32rem;
	height: 19rem;
	background-image: url(img/slider_arrow.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.4s;
}
.sinportfolio_rewiev_link:hover:before {
    transform: translate(10rem, 0);
    transition: 0.4s;
}
.sinportfolio_rewiev_bg {
	width: 1390rem;
    position: absolute;
    top: -40rem;
    left: -90rem;
    z-index: -1;
}
.related_overlay {
	display: flex;
	align-items: center;
	margin: 70rem 0 190rem;
	justify-content: space-between;
}
.portfolio_hero_text {
	text-align: center;
	margin: -30rem  auto 53rem;
	max-width: 800rem;
}
.sinblog_content {
	font-size: 16rem;
	max-width: 880rem;
}
.sinblog_content img {
	width: 100%;
	height: auto;
	margin: 20rem 0;
}
.sinblog_content p {
	margin: 15rem 0;
	color: rgba(255, 255, 255, 0.7);
}
.sinblog_content h2{
	margin: 60rem 0 20rem;
}
.sinblog_content li {
	font-weight: 300;
	font-size: 18rem;
	color: rgba(255, 255, 255, 0.7);
	margin: 4rem 0;
}
.sinblog_content ul li {
	display: flex;
	list-style: none;
	align-items: center;
}
.sinblog_content ul li:before {
	width: 30rem;
	height: 1rem;
	display: block;
	content: "";
	background-color: #49A7F0;
	margin-right: 10rem;
}
.sinblog_content h3 {
	margin: 40rem 0 15rem;
}
.sinblog_content blockquote {
	font-style: italic;
	font-weight: 300;
	font-size: 16rem;
	margin: 30rem 0;
	line-height: 150%;
	padding-left: 20rem;
	border-left: 1rem solid #49A7F0;
}
.sinblog_content ol li::marker {
	color: #49A7F0;
}
.blog_page_hero_title {
	margin-top: 135rem;
}
.sinblog_overlay {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.sinblog_sidebar_item {
	padding: 30rem 30rem 5rem;
	max-width: 240rem;
	margin-top: 20rem;
	background: linear-gradient(90deg, #0D0F11 0%, #0E1114 100%);
	border: 1rem solid rgba(255, 255, 255, 0.2);
}
.sinblog_sidebar_item_title {
	padding-bottom: 10rem;
	font-size: 22rem;
	border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
}
.sinblog_sidebar_item_link {
	display: block;
	margin: 25rem 0;
	font-weight: 600;
	transition: 0.5s;
}
.sinblog_sidebar_item_link:hover {
	color: #49A7F0;
	transition: 0.5s;
}
.blog_page {
	margin: 80rem 0;
}
.blog_page_head {
	display: flex;
	align-items: center;
	border-bottom: 1rem solid #262626;
}
.blog_page_head_nav {
	margin-right: 50rem;
	transition: 0.5s;
	padding-bottom: 10rem;
	position: relative;
}
.blog_page_head_nav:hover {
	color: #49A7F0;
	transition: 0.5s;
}
.blog_page_head_nav.active {
	color: #49A7F0;
}
.blog_page_head_nav.active:before {
	content: "";
	position: absolute;
	left: 0;
	display: block;
	bottom: -1rem;
	width: 33rem;
	height: 1rem;
	background-color: #49A7F0;
}
.blog_page_overlay {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.blog_page_overlay .blog_item {
	margin-top: 60rem;
}
.sinblog_share {
	display: flex;
	align-items: center;
	margin-top: 60rem;
	border-top: 1rem solid rgba(255, 255, 255, 0.2);
	border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
	padding: 20rem 0;
}
.sinblog_share_links {
	display: flex;
	align-items: center;
}
.sinblog_content .sinblog_share_links_item {
	width: 17rem;
	padding: 11rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	margin: 0 8rem;
}
.sinblog_content .sinblog_share_title {
	margin: 0;
	font-size: 22rem;
	margin-right: 32rem;
}
.portfolio_bg {
    position: absolute;
    top: -70rem;
    left: 0rem;
    width: 1440rem;
    z-index: -1;
}
.reviews_bg {
	position: absolute;
    top: -240rem;
    left: 0rem;
    width: 1440rem;
    z-index: -1;
}
.contacts_bg {
    position: absolute;
    top: -257rem;
    left: 0rem;
    width: 1440rem;
    z-index: -1;
}
@media screen and (max-width: 768px) {
	html {
		font-size: 0.130209vw;
	}
	.mobile_burger {
		display: block;
		order: 4;
	}
	.container {
		width: 708rem;
		margin: 0 30rem;
	}
	.header_lang {
		order: 1;
	}
	.header_nav {
		order: 3;
		width: 100rem;
		justify-content: flex-end;
		margin-left: auto;
    	margin-right: 20rem;
	}
	.header_nav_link {
		display: none;
	}
	.header_nav_link.active {
		display: block;
		color: #fff;
	}
	.logo_overlay {
		order: 2;
		margin-left: 220rem;
		position: relative;
		z-index: 999;
	}
	.header_lang_item {
		font-size: 15rem;
	}
	.header_logo {
		width: 168rem;
	}
	.hero_overlay {
	    position: relative;
	    top:auto;
	    left: auto;
	    width: auto;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    height: 100vh;
	    z-index: 2;
	}
	.hero_btns {
		margin: 0 auto;
		width: 594rem;
	}
	.particles-js-canvas-el {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.btn {
		padding: 14rem 0;
	}
	.btn span:nth-child(4) {
    	left: -124rem;
	}
	.btn span:nth-child(2) {
    	left: 114rem;
	}
	.services {
    	padding-top: 100rem;
	}
	.services_item {
    	width: 658rem;
	}
	.services_item_text {
		margin: 10rem 0 48rem;
	}
	.portfolio_item {
		height: 270rem;
	}
	.slick-dots {
		bottom: -30rem;
	}
	.slick-arrow {
		top: auto;
		bottom: -80rem;
	}
	.slick-arrow.right {
    	right: 285rem;
	}
	.slick-arrow.left {
    	left: 293rem;
	}
	.about_overlay {
		flex-direction: column;
	}
	.about_image {
    	width: 714rem;
    	margin-top: -30rem;
	}
	.about_number {
		margin-top: 60rem;
		flex-wrap: wrap;
	}
	.about_number_item {
		border: none;
		padding: 0 70rem;
		margin-top: 60rem;
	}
	.about_number_item:first-child {
		padding-left: 70rem;
	}
	.about_number_item:last-child {
		padding-right: 70rem;
	}
	.about_person {
		flex-direction: column;
	}
	.about_person_info {
		margin-top: 50rem;
	}
	.about_person:last-child  {
		flex-direction: column-reverse;
	}
	.price {
    	margin-top: 140rem;
	}
	.price_head_overlay {
		flex-direction: column;
	}
	.price_head_txt {
		margin-bottom: 50rem;
		max-width: initial;
	}
	.prices_table_form{
		max-width: 606rem;
    	margin: 50rem auto 0;
		flex-direction: column;
	}
	.prices_table_hr {
		display: none;
	}
	.prices_table_overlay {
		width: auto;
	}
	.prices_table_table {
    	max-width: 606rem;
    	margin: auto;
	}
	.prices_table_select {
		width: calc(100% - 40rem);
	}
	.prices_table_right {
		display: flex;
		flex-wrap: wrap;
	}
	.prices_table_time {
		margin: 0 auto 0 0;
		padding-left: 40rem;
		border-left: 1rem solid rgba(255, 255, 255, 0.2);
	}
	.prices_table_price {
		margin: 0 40rem 0 auto;
	}
	.prices_table_text {
		text-align: center;
		margin: 16rem auto 41rem;
	}
	.prices_table_link {
		margin: auto;
	}
	.prices_table {
		margin-bottom: 150rem;
	}
	.reviews_item_overlay {
    	max-width: 506rem;
	}
	.reviews_item_head {
		width: 100%;
	}
	.reviews_item_content {
		min-height: 202rem;
	}
	.question_overlay {
		flex-direction: column-reverse;
	}
	.question_nav {
    	border-left: none;
    	display: flex;
    	justify-content: space-between;
    	width: 100%;
    	margin-bottom: 40rem;
	}
	.question_overlay_items {
		width: 708rem;
	}
	.blog {
    	margin-top: 140rem;
	} 
	.blog_overlay {
		margin-top: -20rem;
		flex-direction: column;
	}
	.blog_item {
    	width: 100%;
    	margin-top: 80rem;
	} 
	.contacts {
    	margin-top: 150rem;
    	margin-bottom: 90rem;
	}
	.contacts_overlay {
		flex-direction: column;
		align-items: flex-start;
	}
	.contacts_social {
		width: 517rem;
		margin-top: 30rem;
	}
	.contacts_form {
    	width: calc(100% - 90rem);
    	padding: 42rem 45rem;
    	margin-top: 60rem;
	}
	.contacts_form_span:nth-child(2) {
	    top: -8rem;
	    right: -10rem;
	    width: 489rem;
	}
	.contacts_form_span:nth-child(4) {
	    left: -11rem;
	    width: 489rem;
	}
	.contacts_form_check span {
    	max-width: initial;
    	width: 530rem;
	}
	.modal_content .contacts_form_check span {
		width: 340rem;
	}
	.contacts_form_check a {
		text-decoration: underline;
	}
	.footer_overlay {
		flex-direction: column;
	}
	footer {
    	padding: 37rem 0;
	}
	.footer_social {
		order: 3;
		margin: 36rem 0 30rem;
	}
	.footer_copyright {
		order: 4;
	}
	.footer_policy {
		order: 5;
		margin-top: 15rem;
	}
	.footer_logo {
		width: 168rem;
	}
	header.active .header_nav {
		position: fixed;
	    width: 100vw;
	    height: 100vh;
	    background-color: #0B0D0F;
	    top: 0;
	    left: 0;
	    justify-content: center;
    	flex-direction: column;
	}
	header.active .header_nav_link {
		display: block;
		margin: 12rem 0;
	}
	header.active .close {
	    display: block;
	    position: absolute;
	    top: 15rem;
    	right: 20rem;
	    width: 20rem;
	}
	.sidebar {
		display: none;
	}
	.sinportfolio_about {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.sinportfolio .about_number {
		width: 708rem;
	}
	.sinportfolio_image {
		margin-left: -30rem;
	}
	.sinportfolio_rewiev {
		flex-direction: column;
		margin: 140rem 0 120rem;
	}
	.sinportfolio_rewiev_overlay {
		margin-top: 40rem;
		margin-left: 0;
	}
	.related .portfolio_item {
		height: 240rem;
		width: 330rem;
		margin-bottom: 30rem;
	}
	.related_overlay {
		flex-wrap: wrap;
	}
	.portfolio_bg {
		top: -50rem;
		width: 768rem;
	}
	.reviews_bg {
	    top: -188rem;
	    left: -50rem;
	    width: 1280rem;
	}
}
@media screen and (max-width: 480px) {
	html {
	    font-size: 0.266539vw;
	}
	.container {
	    width: 335rem;
	    margin: 0 20rem;
	}
	.header_lang {
		display: none;
	}
	.header_logo {
    	width: 149rem;
	}
	.logo_overlay {
		margin-left: 0;
	}
	h1 {
		font-size: 36rem;
	}
	.hero_text {
    	margin: 17rem 0 40rem;
	}
	p {
		font-size: 16rem;
	}
	.hero_btns {
		flex-direction: column;
		width: 100%;
	}
	.hero_btns_portfolio {
		width: 100%;
		margin-bottom: 25rem;
	}
	.btn_overlay {
		width: 100%;
	}
	.btn {
		width: calc(100% - 22rem);
	}
	.btn span:nth-child(2) {
    	left: 133rem;
	}
	.btn span:nth-child(4) {
    	left: -142rem;
	}
	h2 {
		font-size: 34rem;
	}
	.title_overlay_item {
		font-size: 60rem;
		top: -16rem;
	}
	.services_item {
		padding: 27rem 22rem;
		margin-top: 26rem;
	}
	.services {
    	padding-top: 70rem;
	}
	h3 {
		font-size: 26rem;
	}
	a {
		font-size: 16rem;
	}
	.btn_move:before {
		top: -10rem;
	    left: -17rem;
	    width: 40rem;
	    height: 40rem;
	}
	.services_item_text {
    	margin: 10rem 0 35rem;
	}
	.portfolio {
    	padding-top: 98rem;
	}
	.portfolio_slider {
    	margin: 90rem 0;
	}
	.portfolio_item_tag {
		font-size: 14rem;
	}
	.portfolio_item_title {
		font-size: 20rem;
	}
	.portfolio_item_title {
		margin: 20rem 20rem 40rem;
	}
	.slick-arrow.right {
    	right: 105rem;
	}
	.slick-arrow.left {
    	left: 113rem;
	}
	.about_txt {
    	margin-top: 15rem;
	}
	.about_image {
    	width: 335rem;
    	margin-top: 0rem;
	}
	.about_number_item {
		width: 157rem;
		padding: 0;
		margin-top: 30rem;
	}
	.about_number_item:first-child {
		padding-left: 0;
	}
	.about_number_item:last-child {
		padding-right: 0;
	}
	.about_number_bg {
		top: 30rem;
	}
	.about_number_overlay {
		margin-bottom: 0;
	}
	.about_person_image {
    	width: 335rem;
	}
	.about_person_info {
    	margin-top: 20rem;
    	max-width: 335rem;
	}
	.about_person_links {
    	margin: 20rem 0 40rem;
	}
	.about_person_nav_link {
		margin-right: 30rem;
	}
	.about_person_links_item {
    	padding: 12rem;
    	margin-right: 12rem;
   	}
   	.about_person_nav {
   		display: flex;
   		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	    flex-wrap: nowrap;
	    padding-bottom: 0;
   	}
   	.about_person_content_item_skils {
   		min-width: initial;
   		width: 150rem;
   	}
   	.about_person_content_item_program_item {
   		min-width: 120rem;
   		margin-right: 40rem;
   	}
   	.price {
    	margin-top: 90rem;
	}
	.prices_table_overlay {
		margin: 32rem auto;
	}
	.prices_table_form {
		margin: 40rem auto 0;
		width: 283rem;
	}
	.prices_table_select {
		padding: 15rem 20rem;
		margin-bottom: 10rem;
	}
	.prices_table_slider_title {
    	font-size: 18rem;
    	margin-top: 20rem;
    	margin-bottom: 24rem;
	}
	.prices_table_price {
		font-size: 28rem;
		margin: 0 20rem 0 auto;
	}
	.prices_table_time {
		font-size: 28rem;
		padding-left: 20rem;
	}
	.prices_table_text {
		margin: 23rem auto 41rem;
	}
	.prices_table {
   	 	margin-bottom: 100rem;
	}
	.reviews_item {
		padding: 27rem 17rem;
	}
	.reviews_item_head {
		flex-direction: column;
		align-items: flex-start;
	}
	.reviews_item_head_link {
		margin: 25rem 0;
		width: 27rem;
    	height: 27rem;
	}
	.reviews_item_head_subtitle {
		font-size: 14rem;
	}
	.question {
    	margin-top: 200rem;
	}
	.question_nav {
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-bottom: 35rem;
	}
	.question_nav_link {
		padding: 10rem 30rem 10rem 10rem;
	}
	h5 {
		font-size: 18rem;
		line-height: 140%;
	}
	.question_overlay_items {
    	width: 335rem;
	}
	.question_item_arrow {
		margin-left: 20rem;
	}
	.question_item {
		padding: 15rem 0;
	}
	.blog {
    	margin-top: 105rem;
	}
	.blog_item {
		margin-top: 55rem;
	}
	.contacts {
		margin-top: 100rem;
		margin-bottom: 70rem;
	}
	.contacts_social {
		flex-direction: column;
		margin-top: -20rem;
	}
	.contacts_social_item {
		margin-top: 20rem;
	}
	.contacts_social_item:nth-child(odd) {
    	margin-top: 20rem;
	} 
	.contacts_form {
		margin-top: 40rem;
	    width: calc(100% - 40rem);
    	padding: 32rem 17rem;
	}
	h4 {
		font-size: 24rem;
	}
	.contacts_form_span:nth-child(2) {
	    top: -9rem;
	    right: -9rem;
	    width: 505rem;
	}
	.contacts_form_span:nth-child(4) {
    	left: -11rem;
    	width: 506rem;
    	top: -7rem;
	}
	.contacts_form_select {
		font-size: 16rem;
	}
	.contacts_form_check span {
    	width: 250rem;
	} 
	.footer_social {
		margin: 30rem 0;
	}
	.footer_policy {
		margin-top: 10rem;
	}
	.contacts_form_submit {
		padding: 13rem;
	}
	.modal_content {
		padding: 42rem 15rem;
	}
	.modal_content_overlay {
    	max-width: 300rem;
	}
	.modal_content .contacts_form_check span {
    	width: 250rem;
	}
	.jq-selectbox__select-text {
		font-size: 13rem;
	}
	.jq-selectbox__dropdown ul li {
		font-size: 13rem;
	}
	.contacts_form_input {
		font-size: 13rem;
	}
	input[type="text"]::-webkit-input-placeholder {
    	font-size: 13rem;
	} 
	input[type="text"]::-moz-placeholder {
    	font-size: 13rem;
	}
	.arrow_back {
		margin-top: 85rem;
	}
	.portfolio_hero_tags {
		margin-top: 85rem;
	}
	.sinportfolio_about {
		margin: 80rem 0 0;
	}
	.sinportfolio_about_text {
    	column-count: 1;
    	max-width: inherit;
    	margin-top: 40rem;
	}
	.sinportfolio .about_number {
    	width: 100%;
    	flex-direction: column;
    	align-items: flex-start;
	}
	.sinportfolio .about_number_overlay {
    	margin: 40rem auto;
	}
	.sinportfolio .about_number_item {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
	.sinportfolio .about_number_item_text {
	    text-align: right;
	    max-width: 200rem;
	}
	.sinportfolio_image {
    	margin-left: -20rem;
	}
	.about_number_overlay_btn_overlay {
		margin: 65rem auto 0;
	}
	.sinportfolio_rewiev {
		margin: 80rem 0;
	}
	.sinportfolio_rewiev_text_overlay {
    	max-width: 250rem;
	}
	.sinportfolio_rewiev_overlay {
		justify-content: space-between;
	}
	.related_overlay {
		margin: 70rem 0;
	}
	.sinportfolio_rewiev_link {
		margin-right: 20rem;
	}
	.portfolio_bg {
    	top: -50rem;
    	width: 988rem;
    	left: -210rem;
	}
	.reviews_bg {
	    top: -178rem;
	    left: -340rem;
	    width: 1280rem;
	}
	.contacts_bg {
	    top: -147rem;
	    left: -160rem;
	    width: 925rem;
}