html {
	font-size: 0.069445vw;
	overflow-x: hidden;
}
body {
	overflow-x: hidden;
	font-family: 'Noto Sans', sans-serif;
	padding: 0;
	margin: 0;
	color: #363E43;
	background-color: #F4F4F4;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,p,a {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
p {
	font-size: 14rem;
	line-height: 150%;
}
.container {
	width: 1240rem;
	margin: auto;
	position: relative;
}
header {
	background-image: url(../img/hero_bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 50rem;
}
.header_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20rem;
}
.header_logo {
	display: flex;
	align-items: center;
	position: relative;
    z-index: 999;
}
.header_logo_image {
	width: 72rem;
}
.header_logo_text {
	font-size: 20rem;
	font-weight: 500;
	color: #fff;
	font-family: 'M PLUS Rounded  1C Medium';
	margin:0 0 0 10rem;
	line-height: 125%;
}
.header_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
    width: 700rem;
    margin: auto;
}
.header_nav_link {
	font-size: 16rem;
	font-weight: 300;
	color: #363E43;
	width: 100rem;
    text-align: center;
}
.header_nav_link:hover {
	font-weight: 700;
}
.header_help {
	width: 40rem;
}
.hero {
	display: flex;
}
h1 {
	font-size: 48rem;
	font-family: 'M PLUS Rounded  1C Extra Bold';
	line-height: 125%;
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 40rem;
	color: #0F1721;
}
h1 span {
	font-weight: 500;
	text-transform: none;
	display: block;
	font-family: 'M PLUS Rounded  1C Medium';
}
.hero_stock {
	display: flex;
	align-items: center;
	margin-top: 40rem;
}
.hero_stock_image {
	width: 66rem;
	margin-right: 30rem;
}
.hero_stock_text {
	font-size: 26rem;
	font-weight: 400;
	color: #363E43; 
	line-height: 150%;
}
.hero_stock_text span {
	font-weight: 800;
	display: block;
}
.hero_adv {
	display: flex;
	align-items: center;
	margin-top: 40rem;
}
.hero_adv_item {
	display: flex;
	align-items: center;
	margin-right: 30rem;
}
.hero_adv_item-img {
	width: 64rem;
	margin-right: 12rem;
}
.hero_adv_item-text {
	font-size: 18rem;
	line-height: 150%;
	color: #000000;
}
.app_btn {
	display: flex;
	align-items: center;
	margin-top: 50rem;
}
.btn {
	width: 280rem;
	padding: 15rem 0;
	font-family: 'M PLUS Rounded  1C Extra Bold';
	font-size: 21rem;
	line-height: 150%;
	color: #fff;
	text-align: center;
	background: #EA3135;
	border-radius: 10px;
	transition: 0.5s;
}
.btn:hover {
	background: #F6565A;
	transition: 0.5s;
}
.btn:active {
	background: #EA3135;
	transition: 0.5s;
}
.apple_logo {
	width: 15rem;
	margin-right: 13rem;
}
.app_btn_text {
	margin-left: 18rem;
	display: flex;
	color: #000;
	align-items: center;
	width: 220rem;
}
.appstore {
	display: flex;
	align-items: center;
	margin-top: 40rem;
}
.appstore_stars_item {
	width: 27rem;
	margin: 0 5rem;
}
.appstore_text {
	font-size: 18rem;
	font-weight: 500;

	color: #222;
	margin-right: 22rem;
}
.scroll {
	position: absolute;
	bottom: -20rem;
	left: calc(50% - 30rem);
	text-align: center;
}
.scroll_image {
	width: 15rem;
}
.scroll_text {
	font-size: 10rem;
	color: #363E43;
	margin-top: 15rem;
}
.hero_phone {
	width: 500rem;
}
#boxercontainer {
  width: 500rem;
  max-width: 900rem;
  margin: 0 auto;
  position: relative;
  min-height: 480rem;
}
#boxercontainer img { 
  position: absolute;
  bottom: 35rem;
  right: 50rem;
  width: 100%;
  padding: 1rem;
  z-index: 2;
}
h2 {
	font-size: 36rem;
	font-family: 'M PLUS Rounded  1C Extra Bold';
	color: #000;
}
.books_wave {
	width: 44rem;
	margin:  20rem 0;
}
.books_descr {
	width: 240rem;
}
.books  {
	margin: 130rem 0 100rem;
}
.books_overlay {
	margin-top: 80rem;
}
.books_item_overlay {
	width:950rem;
	margin-left: auto;
}
.books_overlay {
	display: flex;
}
.books_item {
	padding: 20rem 30rem;
	background-color: #fff;
	margin: 0 20rem;
	border-radius: 10px;
	min-height: 350rem!important;
	cursor: pointer;
}
.books_item_image {
	width: 100%;
}
.books_item_author {
	font-size: 16rem;
	margin: 10rem 0;
	color: #363E43;
}
h3 {
	font-family: 'M PLUS Rounded  1C Medium';
	font-size: 21rem;
	color: #0F1721;
}
.slider_arrow {
	background-image: url(../img/slider_arrow.svg);
	width: 30rem;
	height: 14rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.slider_arrow:hover {
	background-image: url(../img/slider_arrow_hover.svg);
}
.right {
	transform: rotate(180deg);
	position: absolute;
    bottom: 10rem;
    left: -240rem;
}
.left {
	position: absolute;
    bottom: 10rem;
    left: -290rem;
}
.books_btn {
	margin:80rem auto 0;
	display: block;
}
.girl_book {
	width: 100%;
}
.find {
	padding: 100rem 0 130rem;
	text-align: center;
	background-image: url(../img/find_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.find_adv {
	display: flex;
	justify-content: space-between;
	margin-top: 90rem;
}
.find_adv_item {
	width: 172rem;
}
.find_adv_img {
	width: 100%;
}
.find_adv_text {
	margin-top: 40rem;
}
.reviews_title {
	text-align: center;
	margin-bottom: 35rem;
}
.reviews {
	padding: 100rem 0;
	background-image: url(../img/reviews_bg.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.reviews_star_img {
	width: 15rem;
	margin: 0 2rem 0 3rem;
}
.reviews_item {
	width: 250rem;
	background-color: #fff;
	border-radius: 10px;
	padding: 20rem;
	margin:  0 20rem;
}
.reviews_item_head {
	margin-top: 15rem;
	font-size: 16rem;
	font-family: 'M PLUS Rounded  1C Regular';
	font-weight: 400;
}
.reviews_stars {
	display: flex;
}
.reviews_item_text {
	margin-top: 20rem;
	color: #000;
}
.left_review {
	position: absolute;
	bottom: -40rem;
	left: calc(50% - 40rem);
}
.right_rewiew {
	position: absolute;
	bottom: -40rem;
	left: calc(50% - -5rem);
    transform: rotate(180deg);
}
.reviews_btn {
	display: block;
	margin: 70rem auto 0;
}
.questions {
	padding: 90rem 0 130rem;
	background-image: url(../img/find_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 2;
	position: relative;
}
.questions_title {
	text-align: center;
	margin-bottom: 50rem;
}
.questions_item {
	margin-top: 15rem;
	cursor: pointer;
}
.questions_item_title {
	font-weight: 500;
	color: #000;
}
.questions_item_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.questions_item_close {
	width: 55rem;
	height: 55rem;
	background-image: url(../img/question_show.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.questions_item_close.active {
	background-image: url(../img/question_hide.svg);
}
.questions_item_answer {
	display: none;
	margin-top: 20rem;
}
.istall {
	/*background-image: url(../img/install_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	position: relative;
	z-index: 4;
}
.install_bg {
	position: absolute;
    top: -55rem;
    left: -100rem;
    z-index: -1;
    width: 1440rem;
    height: 570rem;
}
.install_overwiev {
	display: flex;
}
.install_overwiev_left {
	width: 500rem;
	padding-top: 40rem;
}
.install_overwiev_subtitle {
	font-size: 18rem;
	color: #000;
	font-weight: 400;
	line-height: 150%;
	width: 320rem;
	margin-top: 10rem;
}
.install_overwiev_text {
	margin-top: 30rem;
	line-height: 150%;
}
.install_image {
	width: 642rem;
}
footer {
	background: #0F1721;
	padding: 38rem 0;
}
.footer_overlay {
	display: flex;
	align-items: center;
}
.footer_item{
	color: #fff;
	font-size: 16rem;
	font-weight: 400;
}
.footer_data {
	margin-left: auto;
}
.footer_info {
	text-decoration: underline;
}
.footer_politic {
	text-decoration: underline;
	margin-left: 280rem;
}
.modal {
	position: fixed;
	background-color: rgba(0,0,0,0.5);
	height: 100vh;
	width: 100vw;
	top: 0;
    left: 0;
    display: none;
    overflow: hidden;
}
.html_hidden {
	overflow: hidden;
}
.modal_content {
	width: 730rem;
	padding: 40rem;
	background-color: #fff;
	border-radius: 10px;
	margin: 30rem auto 0;
	display: flex;
    justify-content: space-between;
    position: relative;
}
.modal_left {
	width: 220rem;
	margin-right: 60rem;
}
.book_image {
	width: 100%;
}
.modal_right p {
	margin-bottom: 30rem;
	line-height: 150%;
}
.modal_right .bold{
	font-weight: 800;
}
.modal_right .italic {
	font-style: italic;
}
.modal_left_author {
	margin-top: 13rem;
	margin-bottom: 9rem;
	font-size: 16rem;
}
.modal_left_name {
	margin-bottom: 25rem;
}
.modal_book_descr {
	display: flex;
	margin-top: 14rem;
}
.modal_book_descr_option {
	font-size: 10rem;
	width: 120rem;
}
.modal_book_descr_quanity {
	width: 100rem;
	font-family: 'M PLUS Rounded  1C Extra Bold';
	font-size: 12rem;
	position: relative;
}
.modal_book_descr_quanity-publ:after {
	content: "";
    width: 4rem;
    height: 8rem;
    display: block;
    background-image: url(../img/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 7rem;
}
.modal_book_btn {
	display: block;
    width: 150rem;
    margin-top: 35rem;
}
.modal_close {
	position: absolute;
	top: 10rem;
	right: 10rem;
	width: 20rem;
}
.header_help_mobile {
	display: none;
}
.mobile_burger_active {
	display: none;
}
.mobile_burger_passive {
	display: none;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 0.076445vw;
	}
}
@media screen and (max-width: 768px) {
	html {
		font-size: 0.102041vw;
	}
	.container {
		width: calc(100% - 40rem);
    	margin: 0 20rem;
	}
	.header_nav {
		display: none;
	}
	.header_help {
		display: none;
	}
	h1 {
		font-size: 38rem;
	}
	.hero_phone {
		width: 400rem;
	}
	.hero_adv_item {
		flex-direction: column;
		text-align: center;
	}
	.hero_adv_item-img {
		margin:0 auto 10rem;
	}
	.hero_stock_text {
		font-size: 24rem;
	}
	.scroll {
		display: none;
	}
	.app_btn_text {
		font-size: 18rem;
		width: 270rem;
	}
	.books_overlay {
		flex-direction: column;
	}
	.books_descr {
	    width: 500rem;
	    text-align: center;
	    margin:0 auto 60rem;
	}
	p {
		font-size: 20rem;
	}
	h3 {
		font-size: 26rem;
	}
	.books_item_author {
		font-size: 18rem;
	}
	.books_item {
		min-height: 410rem!important;
	}
	.find_adv {
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 50rem;
	}
	.find_adv_img {
    	width: 170rem;
	} 
	.find_adv_item {
		margin-top: 40rem;
		width: 242rem;
	}
	.questions_item_close {
		width: 75rem;
		height: 75rem;
	}
	.install_overwiev_left {
    	width: 910rem;
	}
	.install_overwiev_text {
		font-size: 18rem;
	}
	.install_overwiev {
		flex-direction: column;
		margin-top: 60rem;
	}
	.install_bg {
		left: -590rem;
	    width: 2270rem;
	    top: -115rem;
	    height: 1100rem;
	}
	.footer_overlay {
		justify-content: space-around;
	}
	.mobile_burger {
		/*width: 41rem;
   		height: 30rem;*/
		position: relative;
		transition: 0.5s;
		z-index: 999;
		/*background-image: url(../img/burger_mobile.svg);
		background-repeat: no-repeat;
		background-size: cover;*/
	}
	/*.mobile_burger.active {
		background-image: url(../img/mobile_menu_close.svg);
		width: 36rem;
    	height: 36rem;
	}*/
	.mobile_burger_active {
		width: 36rem;	
	}
	.mobile_burger_passive {
		width: 43rem;
		display: block;
	}
	.header_nav_active {
		display: flex;
		flex-direction: column;
		position: fixed;
		background: #F9CE46;
		width: 100%;
	    left: 0;
	    height: 100vh;
   		top: 0;
   		justify-content: center;
   		z-index: 99;
	}
	.header_nav_link {
		font-size: 30rem;
		margin: 20rem 0;
		width: auto;
	}
	.modal_content {
		margin: 20rem auto 0;
		overflow: scroll;
    	height: 85%;
	}
	.left {
	    bottom: -30rem;
	    left: 445rem;
	}
	.right {
	    bottom: -29rem;
	    left: 490rem;
	}
	.modal_book_descr_option {
   	 	font-size: 12rem;
  		width: 150rem;
	}
	.install_image {
    	width: 759rem;
	}
	.modal_book_descr_quanity-publ:after {
		right: -7rem;
	}
	.header_help_mobile {
		display: block;
		margin-top: 20rem;
	}
	.header_help_mobile_img {
		width: 40rem;
	}
	.footer_politic {
		margin-left: 130rem;
	}
}
@media screen and (max-width: 480px){
	html {
	    font-size: 0.266531vw;
	}
	.container {
		width: calc(100% - 30rem);
    	margin: 0 15rem;
	}
	.header_logo_image {
    	width: 56rem;
	} 
	header {
		background-image: url(../img/hero_bg_mobile.svg);
	}
	h1 {
		font-size: 36rem;
	}
	.hero {
		flex-direction: column;
	}
	.hero_stock_image {
		width: 43rem;
		margin-right: 15rem;
	}
	.hero_stock_text {
		font-size: 18rem;
	}
	.hero_adv_item-text {
		font-size: 16rem;
	}
	.hero_adv_item-img {
    	margin: 0 0 10rem;
	} 
	.hero_adv_item {
		margin-right: 0;
		width: 100rem;
	}
	.hero_adv_item:first-child {
		width: 75rem;
	}
	.hero_stock {
		margin-top: 30rem;
	}
	.hero_adv {
		align-items: end;
	}
	.hero_adv {
		margin-top: 20rem;
		justify-content: space-between;
	}
	.app_btn {
		flex-direction: column;
	}
	.app_btn_text {
		margin-top: 10rem;
		margin-left: 0;
		font-size: 14rem;
		width: 220rem;
	}
	.appstore {
		width: 290rem;
	    margin: 20rem auto 0;
	}
	.app_btn {
		margin-top: 30rem;
	}
	.hero_phone {
    	width: 350rem;
    	position: relative;
	    top: 140rem;
	    margin-top: -100rem;
	}
	.books_descr {
		width: 100%;
	}
	p {
		font-size: 18rem;
	}
	.books_item_overlay {
		width: 100%;
	}
	.books_item {
		margin: 0 10rem;
		min-height: 370rem!important;
		padding: 20rem 45rem;
	}
	.books_item_author {
		font-size: 16rem;
		margin: 20rem 0 10rem;
	}
	h3 {
		font-size: 21rem;
	}
	.left {
		bottom: -34rem;
    	left: 130rem;
	}
	.right {
		bottom: -35rem;
    	left: 180rem;
	}
	.find_adv_item {
		width: 154rem;
		margin-top: 30rem;
	}
	.find_adv_img {
		width: 100%;
	}
	.find_adv_text {
		font-size: 14rem;
	}
	.questions_item_title {
		max-width: 280rem;
	}
	.install_overwiev_text {
		font-size: 14rem;
		margin-top: 15rem;
	}
	.install_overwiev_left {
		width: 100%;
		padding-top: 0;
		margin-top: -10rem;
	}
	.install_image {
    	width: 360rem;
	}
	.install_bg {
	    left: -705rem;
	    width: 1640rem;
	    top: -65rem;
	    height: 753rem;
	}
	.install_overwiev {
		margin-top: 20rem;
	}
	.footer_overlay {
		flex-direction: column;
	}
	.footer_politic {
		margin: 20rem 0;
	}
	.books {
    	margin: 130rem 0 60rem;
	}
	.find {
		padding: 60rem 0;
	}
	.find_adv {
		margin-top: 20rem;
	}
	.reviews {
		padding: 60rem 0;
	}
	.questions {
		padding: 60rem 0 100rem;
	}
	.reviews_item_text {
		font-size: 12rem;
		margin-top: 15rem;
	}
	.header_nav_link {
	    font-size: 20rem;
	    margin: 10rem 0;
	}
	.modal_content {
		width: 300rem;
		flex-direction: column;
		padding: 30rem;
	}
	.modal_left {
		width: auto;
		margin-right: 0;
	}
	.book_image {
    	width: 220rem;
    	display: block;
    	margin: auto;
	}
	.modal_left_author {
		text-align: center;
	}
	.modal_left_name {
		width: 200rem;
		margin: 0 auto 25rem;
		text-align: center;
	}
	.modal_book_btn {
		width: 300rem;
	}
	.modal_book_descr_option {
		width: 140rem;
		font-size: 12rem;
	}
	.modal_book_descr_quanity {
		font-size: 14rem;
		width: 142rem;
	}
	.modal_right {
		margin-top: 30rem;
	}
	.modal_right p {
    	margin-bottom: 20rem;
    	font-size: 14rem;
	}
	.questions_item_answer p {
		font-size: 14rem;
	}
	.modal_book_descr_quanity-publ:after {
		width: 6rem;
		height: 12rem;
	}
	.header_nav_active {
		padding-top: 20rem;
	}
	.header_nav_link {
		color: #000;
	}
	#boxercontainer img {
	    position: relative;
	    bottom: auto;
	    right: auto;
	    width: 350rem;
	    padding: 1rem;
	    z-index: 2;
	}
	#boxercontainer {
		min-height: auto;
	}
	.footer_data {
		margin-left: 0;
	}
}
@media screen and (max-width: 375px) {
	.header_nav_link {
	    font-size: 30rem;
	    margin: 20rem 0;
	}
}
