html {
    font-size: 0.07143vw;
    overflow-x: hidden;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #1D111B;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 18rem;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h2 {
	font-size: 40rem;
	line-height: 150%;
}
h1,h2,h3,h4,h5,h6,p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	display: block;
	color: #fff;
	font-size: 18rem;
}
.container {
	width: 1200rem;
	margin: auto;
}
header {
	background-color: #140B13;
	padding: 10rem 0;
}
.header_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_nav {
	display: flex;
	align-items: center;
}
.header_nav_link {
	margin: 0 30rem;
	display: flex;
	align-items: center;
}
.header_phone_item {
	font-family: 'Montserrat', sans-serif;
}
.header_logo {
	margin-right: 70rem;
	width: 68rem;
}
.trigger {
	margin-left: 8rem;
	width: 11rem;
	position: relative;
    top: 2rem;
}
.product_overlay {
	display: flex;
	flex-wrap: wrap;
	margin: 10rem 0 50rem -10rem;
	width: calc(100% + 20rem);
}
.product_item {
	width: 285rem;
	cursor: pointer;
	margin: 20rem 10rem 0;
}
.product_item_image {
	width: 100%;
	height: 310rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.product_item_info {
	background-color: #634154;
	padding: 15rem 20rem;
	position: relative;
	overflow: hidden;
}
.product_item_info_link {
    padding: 30rem 20rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100%;
    width: calc(100% - 40rem);
    left: 0;
    transition: 0.5s;
    display: flex;
    background-color: #634154;
}
.product_item_info_city {
	margin-top: 6rem;
	color: rgba(255, 255, 255, 0.8);
	font-size: 17rem;
}
.product_item_info_title {
	font-size: 20rem;
	font-weight: 700;
}

.product_item:hover .product_item_info_link{
	top: 0;
	transition: 0.5s;
}
.product_item_info_link_arrow {
	transform: rotate(-90deg);
	width: 11rem;
    margin-left: 8rem;
}
.slick-dots button {
	display: none;
}	
.slick-dots  {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20rem 0 0 0;
}
.slick-dots li {
	background: rgba(255, 255, 255, 0.5);
	width: 17rem;
	height: 4rem;
	margin: 0 7rem;
	transition: 0.5s;
}
.slick-dots .slick-active {
	width: 45rem;
	background: rgba(255, 255, 255, 1);
	transition: 0.5s;
}
footer {
	padding: 60rem 0;
	background: #140B13;
	margin-top: 70rem;
}
.footer_overlay {
	display: flex;
	justify-content: space-between;
}
.footer_info_logo {
	width: 68rem;
	margin-bottom: 20rem;
}
.footer_info_copyright {
    line-height: 150%;
    font-size: 16rem;
}
.footer_nav {
	font-weight: 700;
	display: flex;
}
.footer_nav_hr {
	margin: 10rem 0 20rem;
	width: 34rem;
	height: 1rem;
	border: none;
	background-color: #fff;
}
.footer_nav_link {
	font-size: 16rem;
	line-height: 220%;
}
.footer_contact_mail {
	margin-bottom: 20rem;
}
.footer_contact_phone {
	line-height: 150%;
	font-family: 'Montserrat', sans-serif;
}
.footer_contact_social {
	display: flex;
	justify-content: space-between;
	margin-top: 25rem;
}
.footer_contact_social_item {
	width: 45rem;
}
.contact_head_overlay {
	display: flex;
	justify-content: space-between;
}
.contact_head_social_overlay {
	display: flex;
	justify-content: space-between;
}
.contact_head {
	margin: 50rem 0 40rem;
}
.contact_head_phone_title {
	margin-bottom: 6rem;
}
.contact_head_phone_item {
	font-family: 'Montserrat', sans-serif;
}
.contact_head_social_item{
	margin-right: 10rem;
	width: 45rem;
}
.contact_form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50rem;
	background: #140B13;
	flex-wrap: wrap;
}
.contact_form_input {
	border: none;
	border-bottom: 1px solid #fff;
	width: 345rem;
	background-color: transparent;
	padding-bottom: 15rem;
	font-family: 'Raleway', sans-serif;
	color: #8F8F8F;
	font-size: 18rem;
}
.contact_form_textarea {
	width: 100%;
	margin-top: 50rem;
	height: 124rem;
}
.contact_form_submit {
	border: 1px solid #FFFFFF;
	width: 345rem;
	font-family: 'Raleway', sans-serif;
	font-size: 18rem;
	line-height: 148.4%;
	background-color: transparent;
	color: #fff;
	padding: 17rem 0;
	margin-top: 40rem;
}