html{
	font-size: 0.069445vw;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: 'Jost', sans-serif;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,p,a {
	margin: 0;
	padding: 0;
	line-height: 150%;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Lora', serif;
	font-size: 64rem;
	font-weight: 700;
}
h2 {
	font-family: 'Lora', serif;
	font-weight: 500;
	font-size: 48rem;
	color: #3D5C73;
}
h3 {
	font-weight: 300;
	font-size: 24rem;
}
h4 {
	font-weight: 600;
	font-size: 18rem;
}
h5 {
	font-weight: 300;
	font-size: 15rem;
}
p {
	font-size: 18rem;
}
.container {
	width: 1140rem;
	margin: auto;
	position: relative;
}
.header_logo_black {
	display: none;
}
header {
	position: fixed;
	z-index: 9999;
	width: 100%;
}
header.active {
	background-color: #fff;
}
header.active .header_nav_item {
	color: #2B303A;
}
header.active .header_adress {
	color: #2B303A;
}
header.active .header_phone {
	color: #2B303A;
}
header.active .header_lang_item {
	color: #2B303A;
}
.burger_black {
	display: none;
}
.header_container {
	display: flex;
	align-items: center;
	width: 1330rem;
	margin: auto;
	padding: 10rem 0;
	justify-content: space-between;
}
.header_logo {
	width: 172rem;
}
.mobile_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.header_nav_item {
	font-weight: 300;
	font-size: 15rem;
	color: #fff;
}
.header_adress {
	color: #fff;
	font-weight: 300;
	font-size: 15rem;
	display: flex;
	align-items: center;
}
.header_phone {
	color: #fff;
	font-weight: 600;
	font-size: 18rem;
	margin: 0 70rem 0 50rem;
}
.header_lang {
	display: inline-block;
}
.header_lang:after{
	width: 8rem;
	height: 4rem;
	content: "";
	display: inline-block;
	background-image: url(../img/parent_arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 4rem;
	vertical-align: middle;
}
.header_nav {
	width: 460rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 65rem 0 45rem;
}
.header_lang_item {
	color: #fff;
	font-size: 18rem;
	vertical-align: middle;
	display: inline-block;
}
.hero_instagram {
	position: absolute;
	right: 65rem;
	top: 180rem;
}
.hero_instagram img {
	width: 23rem;
}
.hero_telegram {
	position: absolute;
	right: 65rem;
	top: 262rem;
}
.hero_telegram img {
	width: 23rem;
}
.header_nav_item_parent:after {
	width: 8rem;
	height: 4rem;
	content: "";
	display: inline-block;
	background-image: url(../img/parent_arrow.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 4rem;
}
.header_nav_item_child {
	position: absolute;
	width: 300rem;
    padding: 20rem;
    border-radius: 10rem;
	height: auto;
	background-color: #fff;
	top: 20rem;
	display: none;
	left: -20rem;
}
.header_nav_item_parent {
	display: flex;
	align-items: center;
	position: relative;
}
.header_nav_item_parent:hover .header_nav_item_child{
	display: block;
}
.header_nav_item_child_link {
	font-weight: 300;
    font-size: 15rem;
    color: #000000;
    display: block;
    padding: 5rem 0;
}
.header_place {
	width: 15rem;
	margin-right: 8rem;
}
.slider_logo {
	position: absolute;
	top: 76rem;
	left: 0;
	width: 743rem;
	z-index: 1;
} 
.slider_item_bg {
	background-image: url(../img/slider_item.jpg);
	height: 600rem;
	background-repeat: no-repeat;
	background-size: cover;
}
.slider_item_content {
	left: 150rem;
	top: 145rem;
	position: absolute;
	z-index: 5;
}
.hero_bg {
	width: 1440rem;
	position: relative;
	z-index: 1;
}
.slider_item_title {
	color: #fff;
	font-weight: 400;
	max-width: 456rem;
	line-height: 109%;
}
.slider_item_subtitle {
	margin: 23rem 0 30rem;
	font-style: italic;
	color: #F3DDC3;
	font-size: 36rem;
	font-family: 'Lora', serif;
	font-weight: 400;
}
.slider_item_subtitle span{
	font-weight: 700;
	color: #FFBF74;
}
.btn {
	background: #018AD2;
	border-radius: 5px;
	font-size: 18rem;
	text-align: center;
	color: #fff;
	padding: 12rem 0;
	transition: 0.5s;
}
.btn:hover {
	background: #0BA0EF;
	transition: 0.5s;
	cursor: pointer;
}
.btn:active {
	background: #018AD2;
	box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.arrow_right {
	width: 16rem;
	margin-left: 10rem;
}
.slider_item_btn {
	width: 272rem;
	justify-content: center;
    align-items: center;
    display: flex;
}
.slick-slide {
	position: relative;
}
.hero_slider .slick-dots li button {
	display: none;
}
.hero_slider .slick-dots {
	position: absolute;
	bottom: 40rem;
	display: flex;
	left: calc(50% - 50rem);
	padding: 0;
}
.hero_slider .slick-dots li {
	width: 10rem;
    height: 10rem;
    background-image: url(../img/dots_sprite.svg);
    background-position-x: -20rem;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    background-size: 30rem 10rem;
    margin: 0 5rem;
}
.hero_slider .slick-dots .slick-active {
    background-position: 0 0;
}
.hero_slider .slick-dots:before,.hero_slider .slick-dots:after {
	content: "";
	width: 60rem;
	border: 1px solid #E5AF6F;
	background-color: #E5AF6F;
	position: absolute;
	top: calc(50% - 1px);
	display: block;
}
.hero_slider .slick-dots:before {
	left: -80rem;
}
.hero_slider .slick-dots:after {
	right: -80rem;
}
.slider_number {
	font-family: 'Lora', serif;
	font-style: italic;
	color: #fff;
	position: absolute;
	bottom: 30rem;
	left: 150rem;
    z-index: 5;
}
.slider_number_span {
	font-size: 36rem;
}
.fixed_call {
	position: fixed;
	bottom: 30rem;
	right: 30rem;
	display: flex;
    align-items: center;
    flex-direction: column;
}
.fixed_call_img {
	width: 70rem;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 100%;
}
.fixed_call_title {
	font-size: 14rem;
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: normal;
	color: #E6AF6F;
	margin-bottom: 60rem;
	transform: rotate(-90deg);
}
.services {
	text-align: center;
	padding: 100rem 0;
}
.services_title {
	margin-bottom: 20rem;
}
.services_subtitle {
	margin:0 auto 55rem;
	color: #000;
	max-width: 620rem;
}
.services_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.services_item {
	width: 174rem;
}
.services_img {
	width: 100%;
}
.services_item_title {
	color: #2B303A;
}
.services_btn {
	justify-content: center;
    align-items: center;
    display: flex;
    width: 180rem;
    margin: 40rem auto 0;
}
.numbers {
	text-align: center;
	padding: 100rem 0;
	background: #F5F5F5;
}
.numbers_bg {
	position: absolute;
	bottom: -100rem;
    left: -150rem;
	width: 953rem;
}
.numbers_overlay {
	margin-top: 100rem;
	display: flex;
	justify-content: space-between;
}
.numbers_item {
	width: 206rem;
	background-image: url(../img/numbers_item.svg);
	background-size:136rem;
	background-repeat: no-repeat;
	background-position: 50rem 5rem;
	text-align: center;
}
.numbers_item_title {
	font-weight: bold;
	font-size: 72rem;	color: #2B303A;
	text-shadow: 0px 0px 1px #f5f5f5;
	margin-bottom: 20rem;
	line-height: 109%;
	text-shadow:0px 1px 0 rgb(245,245,245),0px -1px 0 rgb(245,245,245),1px 0px 0 rgb(245,245,245),-1px 0px 0 rgb(245,245,245),1px 1px 0 rgb(245,245,245),1px -1px 0 rgb(245,245,245),-1px 1px 0 rgb(245,245,245),-1px -1px 0 rgb(245,245,245);
}
.numbers_item_title_span {
	font-size: 24rem;
}
.choice {
	text-align: center;
	padding: 100rem 0;
}
.italic {
	font-style: italic;
	font-weight: 400;
}
.choice_subtitle {
	max-width: 890rem;
	margin: 20rem auto 50rem;
	color: #2B303A;
	font-weight: 300;
}
.choice_overlay {
	display: flex;
	justify-content: space-between;
}
.choice_item {
	background: #FFFFFF;
	width: 295rem;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	padding: 36rem;
}
.choice_item_img {
	width: 90rem;
	margin: auto;
}
.choice_item_title {
	margin: 30rem 0 40rem;
	text-transform: uppercase;
	color: #2B303A;
	height: 26rem;
}
.medium {
	font-weight: 500;
}
.choice_item_text {
	color: #3D5C73;
	text-align: left;
}
.reviews {
	text-align: center;
	background: url(../img/reviews_bg.png);
	padding: 100rem 0;
	background-size: cover;
	background-repeat: no-repeat;
}
.reviews_slider .slick-dots li button{
	display: none;
}
.reviews_slider .slick-dots {
	padding: 0;
	display: flex;
	width: 915rem;
}
.reviews_slider .slick-dots li {
	width: 100%;
	background-color: #fff;
	height: 2px;
	transition: 0.3s;
}
.reviews_slider .slick-dots .slick-active {
	background-color: #018AD2;
	transition: 0.3s;
}
.reviews_slider .slick-arrow{
	width: 50rem;
	height: 50rem;
	display: block;
	background-color: transparent;
	border: 1px solid #3D5C73;
	background-image: url(../img/slider_arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 10rem;
	position: absolute;
    bottom: -50rem;
}
.reviews_title {
	margin-bottom: 20rem;
}
.reviews_slider .left {
	right: 105rem;
	transform: rotate(180deg);
}
.reviews_item {
	width: 100%;
}
.reviews_slider .right {
	right: 40rem;
}
.reviews_slider .slick-disabled {
	background-color: #fff;
	border: 1px solid #fff;
}
.partners {
	padding: 100rem 0;
	text-align: center;
}
.partners_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50rem;
}
.partner1 {
	width: 164rem;
}
.partner2 {
	width: 204rem;
}
.partner3 {
	width: 203rem;
}
.partner4 {
	width: 167rem;
}
.partner5 {
	width: 213rem;
}
.partner6 {
	width: 142rem;
}
.consultation {
	padding: 50rem 0 100rem;
	background-image: url(../img/form_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.consultation_title {
	color: #fff;
	font-weight: 400;
}
.consultation_form {
	margin-top: 50rem;
	display: flex;
	justify-content: space-between;
}
.consultation_input {
	width: 254rem;
	padding: 13rem 0 13rem 20rem;
	background: #FFFFFF;
	border: 1px solid #E9E9E9;
	color: rgba(61,92,115, 0.5);
	font-weight: 300;
	font-size: 15rem;
	font-family: 'Jost', sans-serif;
}
.consultation_btn {
	font-family: 'Jost', sans-serif;
	font-size: 18rem;
	color: #2B303A;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	width: 274rem;
	border: none;
	position: relative;
	background-image: url(../img/arrow_right_black.svg);
	background-repeat: no-repeat;
	background-position: 173rem 22rem;
	background-size: 16rem;
	padding-right: 28rem;
	transition: 0.5s;
}
.consultation_btn:hover {
	transition: 0.5s;
	cursor: pointer;
	background-color: #BCE8FF;
}
.consultation_btn:active {
	box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.15);
}
footer {
	background: #2B303A;
	padding: 25rem 0 30rem;
}
.footer_overlay {
	display: flex;
	justify-content: space-between;
}
.footer_logo {
	width: 122rem;
}
.footer_politic_text {
	font-weight: 300;
	font-size: 12rem;
	color: #CFCFCF;
}
.footer_politic_btn {
	font-size: 10rem;
	text-decoration-line: underline;
	color: #CFCFCF;
	margin-top: 15rem;
	display: block;
}
.footer_politic {
	width: 150rem;
	margin-top: -20rem;
}
.footer_title {
	font-weight: 600;
	font-size: 16rem;
	color: #fff;
	margin: 6rem 0;
}
.footer_link {
	font-size: 16rem;
	color: #CFCFCF;
	margin: 2rem 0;
	display: block;
}
.footer_licence_item {
	display: flex;
	align-items: end;
}
.footer_licence_item_img {
	width: 32rem;
	margin-right: 13rem;
}
.footer_licence_item_text {
	color: #fff;
	font-weight: 300;
	font-size: 12rem;
}
.footer_social_title {
	font-size: 16rem;
	color: #fff;
	font-weight: 400;
	margin-bottom: 15rem;
}
.footer_social_input {
	padding: 6rem 0 7rem 13rem;
	width: 142rem;
	background: #FFFFFF;
	border-radius: 5px;
	margin-right: 10rem;
	border: none;
	font-weight: 300;
	font-size: 15rem;
	color: rgba(0,0,0, 0.4);
}
.footer_social_submit {
	font-size: 14rem;
	color: #FFFFFF;
	background: #018AD2;
	border-radius: 5px;
	width: 109rem;
	border: none;
	font-family: 'Jost', sans-serif;
	padding: 5rem 0;
	transition: 0.5s;
}
.footer_social_submit:hover {
	background: #0BA0EF;
	cursor: pointer;
	transition: 0.5s;
}
.footer_social_submit:active {
	box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.footer_social_messanger_instagram {
	width: 23rem;
	margin-right: 26rem;
}
.footer_social_messanger_telegram {
	width: 23rem;
}
.footer_social_form {
	margin-bottom: 20rem;
}
.header_burger {
	display: none;
}
.close_burger {
	display: none;
}
.mobile_header {
	display: none;
}
@media screen and (max-width: 992px) {
	html{
		font-size: 0.079445vw;
	}
	.header_nav {
		margin: 0 25rem;
	}
	.header_phone {
		margin: 0 20rem;
	}
	.header_container {
		width: 1200rem;
	}
}
@media screen and (max-width: 768px) {
	.mobile_overlay {
	    background-color: #EEEEEE;
	    display: none;
	    position: absolute;
	    width: 100%;
	    height: 100vh;
	    top: 0;
	    left: 0;
	    z-index: 9;
	    overflow-y: auto;
	}
	.mobile_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.mobile_logo_black {
		width: 242rem;
	}
	.close_burger {
		display: block;
		width: 40rem;
	}
	.mobile_header {
		width: 1200rem;
		padding: 10rem 0;
		margin: auto;
	}
	.overflow {
		overflow: hidden;
	}
	.header_nav_item {
		color: #2B303A;
		margin: 20rem 0;
		font-size: 34rem;
	}
	.header_adress {
		color: #2B303A;
	}
	.header_phone {
		color: #2B303A;
		display: block;
		font-size: 28rem;
    	text-align: center;
    	margin: 100rem 0;
	}
	.header_nav {
		width: 100%;
		flex-direction: column;
		margin: 0;
		margin-top: 120rem;
	}
	.header_lang {
		text-align: center;
		display: block;
	}
	.header_nav_item_parent {
		width: 100%;
		display: block;
		text-align: center;
		margin: 20rem 0;
	}
	.header_nav_item_child_link {
		font-size: 28rem;
	}
	.header_nav_item_child {
	    display: none;
	    position: relative;
	    top: 0;
	    background-color: #E7E7E7;
	    width: 100%;
	    left: 0;
	    padding: 40rem 0;
	    margin-top: 40rem;
	}
	.header_lang {
		padding-bottom: 60rem;
	}
	.header_adress {
		display: none;
	}
	.header_lang_item {
		font-size: 28rem;
		color: #2B303A;
	}
	.header_burger {
		display: block;
		position: relative;
	}
	.burger_open {
		width: 45rem;
	}
	.hero_instagram img {
    	width: 35rem;
	} 
	.hero_telegram img {
		width: 35rem;
	}
	.hero_instagram {
	    right: 60rem;
	    top: 240rem;
	}
	.hero_telegram {
	    right: 60rem;
	    top: 352rem;
	}
	.hero_slider .slick-dots li {
		background-size: 60rem 20rem;
		width: 20rem;
    	height: 20rem;
    	background-position-x: -40rem;
    	margin: 0 8rem;
	}
	h3 {
		font-size: 34rem;
	}
	.slider_number_span {
    	font-size: 46rem;
	}
	.slider_item_btn {
		width: 400rem;
	}
	.header_logo {
   		width: 242rem;
	}
	h2 {
		font-size: 58rem;
	}
	.services_title {
		margin-bottom: 40rem;
	}
	.services_overlay {
		flex-wrap: wrap;
	}
	.services_item {
   		width: 324rem;
	}
	h4 {
		font-size: 28rem;
	}
	.btn {
		padding: 20rem 0;
		font-size: 28rem;
	}
	.services_btn {
		width: 300rem;
		margin: 70rem auto 0;
	}
	.services_subtitle {
		margin: 0 auto;
	}
	.services_item {
		margin-top: 40rem;
	}
	.arrow_right {
		width: 30rem;
	}
	.numbers_item_title {
		font-size: 100rem;
		height: 110rem;
	}
	.numbers_item {
		width: 305rem;
		background-size: 200rem;
	}
	p {
		font-size: 24rem;
	}
	.numbers_item_title_span {
		font-size: 30rem;
	}
	.choice_subtitle {
		margin: 50rem auto 70rem;
	}
	.choice_item_title {
		height: 70rem;
		font-size: 23rem;
	}
	.reviews_slider .slick-dots {
		width: 100%;
    	margin-bottom: 70rem;
	}
	.reviews_slider .slick-arrow {
		bottom: -100rem;
		width: 70rem;
   		height: 70rem;
	}
	.reviews_slider .left {
		right: 595rem;
	}
	.reviews_slider .right {
    	right: 480rem;
	}
	.consultation_form {
		flex-wrap: wrap;
	}
	.consultation_input {
		width: 530rem;
		margin-top: 30rem;
		padding: 18rem 0 18rem 20rem;
		font-size: 22rem;
	}
	.consultation_btn {
		width: 554rem;
		margin-top: 30rem;
		background-position: 330rem 32rem;
		background-size: 22rem;
		font-size: 22rem;
	}
	.footer_overlay {
		flex-wrap: wrap;
	}
	.footer_licence {
		width: 700rem;
		margin-top: 60rem;
	}
	.footer_logo {
    	width: 192rem;
	}
	.footer_politic {
		width: 290rem;
	}
	.footer_politic_btn {
		font-size: 15rem;
	}
	.footer_politic_text {
		font-size: 16rem;
	}
	.footer_title {
		font-size: 26rem;
	}
	.footer_link {
		font-size: 22rem;
		margin: 8rem 0;
	}
	.footer_licence_item_text {
		font-size: 20rem;
	}
	.footer_licence_item_img {
		width: 52rem;
	}
	.footer_social_title {
		font-size: 24rem;
	}
	.footer_social_input {
    	padding: 11rem 0 11rem 13rem; 
    	font-size: 20rem;
    	width: 200rem;
	}
	.footer_social_submit {
		width: 150rem;
		font-size: 20rem;
		padding: 8rem 0;
	}
	.footer_social_messanger_instagram {
		width: 33rem;
	}
	.footer_social_messanger_telegram {
		width: 33rem;
	}
	.footer_social {
		margin-top: 50rem;
	}
	.fixed_call_title {
		display: none;
	}
	.fixed_call_img {
    	width: 90rem;
	} 
	.reviews {
		background-size: 170%;
		background-position: center;
	}
}
@media screen and (max-width: 480px) {
	html {
    	font-size: 0.266530vw;
	}
	.header_logo {
		width: 172rem;
		margin-left: -5rem;
	}
	.header_container {
    	width: 350rem;
	}
	.hero_telegram {
		display: none;
	}
	.hero_instagram {
		display: none;
	}
	.mobile_header {
		width: 350rem;
	}
	.mobile_logo_black {
		width: 172rem;
	}
	.close_burger {
		width: 36rem;
	}
	.slider_item_content {
		left: 10rem;
	}
	.header_nav_item_child {
		width: calc(100% - 20rem);
	    padding: 40rem 10rem;
	}
	.header_nav_item_child_link {
		font-size: 18rem;
		padding: 10rem 0;
	}
	.header_nav {
		margin-top: 110rem;
	}
	.header_phone {
		margin: 80rem 0;
		font-size: 24rem;
	}
	.header_nav_item {
		font-size: 24rem;
		margin: 25rem 0;
	}
	.header_lang_item {
		font-size: 18rem;
	}
	h1 {
		font-size: 50rem;
	}
	.slider_item_bg  {
		background-position-x: -660rem;
		height: 680rem;
	}
	.slider_item_subtitle {
		font-size: 30rem;
		margin: 50rem 0 30rem;
		width: 200rem;
	}
	.slider_item_btn {
		width: 272rem;
	}
	.btn {
		font-size: 18rem;
		padding: 12rem 0;
	}
	.arrow_right {
		width: 16rem;
	}
	.slider_logo {
	    top: 380rem;
    	left: 7rem;
    	width: 355rem;
	}
	.slider_number {
		display: none;
	}
	.hero_slider .slick-dots li {
	    width: 10rem;
	    height: 10rem;
	    background-position-x: -20rem;
	    background-size: 30rem 10rem;
	    margin: 0 5rem;
	}
	.container {
		width: 355rem;
	}
	.fixed_call_img {
		width: 70rem;
	}
	h2 {
		font-size: 45rem;
		line-height: 109%;
	}
	h3 {
		font-size: 21rem;
	}
	.services_title {
		margin-bottom: 30rem;
	}
	.services_subtitle {
		max-width: 330rem;
	}
	.services_item {
		width: 174rem;
	}
	h4 {
		font-size: 18rem;
	}
	.services_btn {
		width: 100%;
		margin: 60rem auto 0;
	}
	.services {
		padding: 50rem 0;
	}
	.numbers_overlay {
		flex-wrap: wrap;
		margin-top: 0;
	}
	.numbers_item_title {
		font-size: 72rem;
		line-height: 100%;
		margin-bottom: 0;
	}
	.numbers_item {
    	width: 175rem;
    	background-size: 120rem;
    	background-position: 50rem 20rem;
    	margin-top: 50rem;
	}
	.numbers_item_title_span {
		font-size: 24rem;
		display: block;
		line-height: 10rem;
	}
	p {
		font-size: 18rem;
	}
	.numbers {
		padding: 50rem 0;
	}
	.choice {
		padding: 50rem 0;
	}
	.choice_subtitle {
		margin: 30rem auto 0;
	}
	.choice_overlay {
		flex-wrap: wrap;
	}
	.choice_item {
		margin-top: 30rem;
	}
	.choice_item_title {
		font-size: 18rem;
		height: auto;
		margin: 30rem 0 15rem;
	}
	.reviews {
    	padding: 50rem 0;
    	background: url(../img/reviews_bg_mob.png);
    	background-size: cover;
	}
	.reviews_slider .slick-arrow {
		width: 50rem;
		height: 50rem;
		bottom: -80rem;
	}
	.reviews_slider .left {
		right: 195rem;
	}
	.reviews_slider .right {
    	right: 120rem;
	}
	.partners {
		padding: 80rem 0 50rem;
	}
	.partners h2 {
		width: 300rem;
		margin: auto;
	}
	.partners_overlay {
		flex-wrap: wrap;
	}
	.partner1 {
   	 	width: 137rem;
	}
	.partner3 {
    	width: 183rem;
	}
	.consultation_title {
		text-align: center;
	}
	.consultation {
		padding: 50rem 0;
	}
	.consultation_form {
		margin-top: 20rem;
	}
	.consultation_input {
		width: 100%;
		padding: 13rem 0 13rem 20rem;
		font-size: 15rem;
		margin-top: 20rem;
	}
	.consultation_btn {
		width: 100%;
		margin-top: 20rem;
		font-size: 18rem;
		padding: 12rem 28rem 12rem 0;
		background-position: 210rem 23rem;
    	background-size: 16rem;
	}
	.footer_logo {
    	width: 164rem;
    	display: block;
    	margin: auto;
	}
	.footer_politic {
    	width: 100%;
	}
	.footer_politic_text {
		font-size: 14rem;
		text-align: center;
	}
	.footer_politic_btn {
		display: none;
	}
	.footer_title {
		font-size: 16rem;
	}
	.footer_link {
		font-size: 16rem;
	}
	.footer_info {
		margin-top: 50rem;
	}
	.footer_licence_item_text {
		font-size: 12rem;
	}
	.footer_licence_item_img {
		width: 32rem;
	}
	.footer_licence {
    	width: 100%;
    	margin-top: 20rem;
	}
	.footer_social_title {
		font-size: 18rem;
		text-align: center;
	}
	.footer_social {
		margin-top: 15rem;
	}
	.footer_social_input {
		width: 200rem;
		padding: 16rem 0 17rem 13rem;
		font-size: 15rem;
	}
	.footer_social_submit {
	    width: 130rem;
	    padding: 15rem 0;
	    font-size: 14rem;
	}
	.footer_social_messanger {
		display: flex;
		align-items: center;
	}
	.footer_social_messanger .footer_social_title{
		margin-bottom: 0;
	}
	.footer_social_messanger_instagram {
		width: 23rem;
		margin: 0 26rem 0 60rem;
	}
	.footer_social_messanger_telegram {
		width: 23rem;
	}
	.numbers_bg {
		bottom: -50rem;
    	left: -10rem;
    	width: 373rem;
	}
}