body {
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	color: #542f03;
}
.header {
	height: 840px;
	background-color: #f9d6ad;
}
.container {
	width: 1260px;
	margin:0 auto;
}
.container1 {
	display: flex;
}
.box1 {
	padding-left: 30px;
	width: 415px;
	height: 840px;
	background-color: #f9d6ad;
}
.box2 {
	height: 840px;
	width: 900px;
	background-image:url(../img/bg.jpg); 
	background-position: left bottom; 
	display: flex;
}
.nav ul li {
	list-style: none;
	float: left;
	margin-right: 70px;
}
.nav a {
	color: #371e01;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
}
.nav a{
	display: inline-block;
	position: relative;
	text-decoration: none;
}
.nav a::before{
	display: block;
	position: absolute;
	content: "";
	height: 1px;
	width: 0;
	background-color: #442501;
	transition: width .5s ease-in-out, left .5s ease-in-out;
	left: 50%;
	bottom: 0;
}
.nav a::after{
	display: block;
	position: absolute;
	content: "";
	height: 1px;
	width: 0;
	background-color: #442501;
	transition: width .5s ease-in-out;
	left: 50%;
	bottom: 0;
}
.nav a:hover::before{
	width: 50%;
	left: 0;
}
.nav a:hover::after{
	width: 50%;
}
.nav{
	 background-color: rgb(243, 200, 150,0.502);	width: 550px;
	height: 64px;
	padding-top: 16px;
	padding-left: 50px;
}
.social {
	  background-color: rgb(85, 53, 15,0.678);
	padding-top: 16px;
	height: 64px;
	width: 270px;
	
	text-align: center;
}
.social img {
	padding-left: 11px;
	padding-right: 10px;
	padding-top: 12px;
}
h1 {
	position: absolute;
	padding: 0;
	margin: 0;
	margin-top: 250px;
	margin-left: 20px;
	background-color: rgb(239, 191, 134,0.588);

	text-transform: uppercase;
	padding: 10px 45px;
	font-size: 36px;
	font-weight: 400;
}
h2 {
	padding-top: 50px;
	margin: 0;
	margin-left: 45px;
	font-family: 'Abril Fatface', cursive;
	font-weight: 1;
	font-size: 33px;
}
span {
	font-weight: 1;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
}
.box1 p {
	text-align: start;
	margin-top: 320px;
	margin-left: 45px;
	margin-bottom: 170px;
	font-size: 23px;
	line-height: 30px;
}
.button  {
	margin-left: 45px;
	border: 1px solid #83531a;
	padding: 10px 37px;
	margin-bottom: 120px;
	text-decoration: none;
	color: #542f03;
	font-size: 21px;
}

.button:hover {
	color:#f9d6ad;
	background-color: #83531a;
	transition: 1s;
}

.container3{
	width: 940px;
	margin: 0 auto;
	text-align: center;
}
.aboutUs {
	text-align: center;
	display: flex;
}
 h3 {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 36px;
	font-weight: 400;
}
.aboutUs p {
	width: 480px;
	font-size: 16px;
	text-align:left;
	font-weight: 500;
	line-height: 30px;
}
.aboutUs img {
	width: 380px;
	padding-left: 50px;
	margin-top: 20px;
}
.wwww {
	display: flex;
	}
.features {
	background-color: #f9d6ad;
}

.features p {
	width: 230px;
	margin-bottom: 100px;
}
.top{
	padding-left: 20px;
	padding-bottom: 20px;
}
.bottom {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 50px;
}
.bl {
	padding-top: 20px;
}
.email {
	background-image: url(../img/img3.jpg);
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	margin-top: 100px;
}
.backform{
	background-color: #f9d6ad;
	width: 740px;
	margin-left: 100px;
	height: 200px;
	position: absolute;
	top: 3660px;
}
.backform1 {
	padding-left: 50px;
	margin-top: 50px;
	width: 800px;
}
.backform1 p {
	font-size: 20px;
	font-weight: 500;
	margin-right: 20px;
	margin-left: -30px;
}
form {
	margin-top: 20px;
}
input {
	height: 45px;
	width: 250px;
	background-color: #f9d6ad;
	border: 1px solid #83531a;
	padding-left: 15px;
	color: #83531a;
	font-family: 'Montserrat', sans-serif;

}
footer {
	background-color: #492c0d;
	height: 90px;
	color: white;
}
footer p{
	padding-left: 80px;
	margin-top: 35px;
	font-weight: 300;
	font-size: 13px;
}
.foot {
	word-spacing: 20px;
}
footer img{
	height: 25px;
	margin-top: 35px;
	margin-left: 10px;
}
.btnup{
	text-decoration: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
	color: white;
	background-color: #83531a;;
	padding: 10px 20px;
	border-radius: 50px;
}
.box_nav a{
	text-decoration: none;
	color: #542f03;
	margin-left: 30px;
	margin-right: 20px;
}
.box_nav ul li {
	list-style: none;
	float: left;
}
.box_nav {
	background-color:  #f9d6ad;
	width: 660px;
	padding-top: 20px;
}
.box_nav h2{
	padding: 0;
	margin: 0;
	font-size:28px; 
	margin-top: -30px;
}
.box_nav span {
	font-size:  23px;
}
.box_social {
	background-color: #492c0d;
	opacity: 0.8;
	width: 300px;
}
.box_social img {
	margin-top: 30px;
	margin-left: 25px;
}
.buttons {
		margin-bottom: 200px;
}
.buttons a {
	text-decoration: none;
	color: #492c0d;
	border: 1px solid #492c0d;
	padding: 20px 60px;
}
.buttons a:hover {
	color:#f9d6ad;
	background-color: #492c0d;
	transition: 1s; 
}
.Residental{
	float: left;
}
.Commercial {
	float: right;
} 
.project_item {
	background-color: #f9d6ad;
	margin-top: 50px;
	padding-bottom: 30px;
}
.project_item img{
	width: 280px;
	height: 220px;
	margin-left: 24px;
	padding-top: 30px;

}
.description {
	background-color: #492c0d;
	color: #f9d6ad;
	width: 500px;
	margin-left: 220px;
	padding-bottom: 20px;
}
.description p{
	font-size: 26px;
	padding-top: 10px;
	margin-bottom: 20px;
}
.description span {
	font-size: 15px;
	margin-bottom: 20px;
}
.footb {
	margin-top: 200px;
}
.mobile-head {
	display: none;

}
.box1-m {
	display: none;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 100%;
	}
	.mobile {
		display: none;
	}
	.mobile-head {
		background-image:url(../img/bg.jpg);
		display: block;
		height: 800px;
		background-position: center;
	}
	.container8 {
		width: 100%;
		background-color: rgb(243, 200, 150,0.502);
		height: 120px;
	}
	.container8 h2 {
		float: left;
		margin: 0;
		margin-top: 10px;
		margin-left: 50px;
		padding: 0;
	}
	.container8 img {
		width: 8%;
		float: right;
		margin-top: 20px;
		margin-right: 50px;
	}
	h1 {
		position: static;
		padding: 0;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.box1-m {
		background-color: #f9d6ad;
		height: 230px;
		text-align: center;
		display: block;
	}
	.box1-m p {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.btnup {
		display: none;
	}
	.container1 {
		width: 100%;
	}
	.container3 {
		width: 100%
	}

	.about_us p{
		margin: 0;
	}
	.features p {
		width: auto;
	}
	.features_item {
		width: 30%;
	} 
	.middle{
		width: 100%;
	}
	.portfolio img {
		width: 100%;
	}
	.backform {
		display: none;
	}
	.lt, .top, .bl, .bottom {
		width: 100%;
	}
}
@media screen and (max-width: 992px) {
	
	h3 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.wwww img {
		width: 80%;
		padding-left: 0;
	}
} 
@media screen and (max-width: 768px) {
	footer p{
	padding-left: 60px;
	margin-top: 35px;
	font-weight: 300;
	font-size: 13px;
	}
	.wwww {
	flex-direction: column-reverse;
	}
	.about_us p {
		width: auto;
		text-align: justify;
		padding-top: 20px;
		padding-bottom: 50px;
		padding-left: 3%;
		padding-right: 3%;
	}
}
@media screen and (max-width: 576px) {
	.features_item {
		margin: 0 auto;
	}
	.features div {
		display: flex;
		flex-direction: column;
	}
	.features p {
		margin-bottom: 50px;
	}
	.wwww img {
		width: 80%;
		padding-left: 0;
	}
	footer p {
		padding-left: 20px;
	}
}
@media screen and (max-width: 483px) {
	.box1-m {
		height: 270px;
	}
}

@media screen and (max-width: 415px) {
	.foot {
		display: none;
	}
	footer p {
		padding-left: 40px;
	}
	.container8 {
		height: 80px;
	}
	.mobile-head h2 {
		font-size: 20px;
	}
	.mobile-head span {
		font-size: 16px;
	}
}