html {
	font-size: 0.071429vw;
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: 'Rubik', sans-serif;
	color: #6F6456;
}
h1,h2,h3,h4,h5,h6,p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	display: block;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h2 {
	font-size: 50rem;
	font-weight: 700;
	line-height: 120%;
}
h3 {
	font-size: 32rem;
	font-weight: 700;
	line-height: 120%;
}
h4 {
	font-size: 28rem;
	font-weight: 700;
	line-height: 120%;
}
h5 {
	font-size: 24rem;
	font-weight: 700;
	line-height: 120%;
}
h6 {
	font-size: 20rem;
	font-weight: 700;
	line-height: 120%;
}
p {
	font-size: 18rem;
	font-weight: 400;
}
.container {
	width: 1200rem;
	margin: auto;
	position: relative;
}
.index_header {
	position: absolute;
	top: 35rem;
	width: 100%;
	z-index: 9;
}
.hero {
	height: 100vh;
}
.hero_video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.index_header_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.index_header_link {
	font-weight: 500;
	font-size: 16rem;
	line-height: 110%;
	color: #fff;
	background-color: rgb(239,219,149,0.6);
	border-radius: 100rem;
	padding: 10rem 30rem;
}
.hero_title {
	margin-top: auto;
	font-weight: 600;
	font-size: 98rem;
	color: #517242;
	line-height: 100%;
	font-variant: small-caps;
	font-family: 'Palanquin Dark', sans-serif;
}
.hero_text {
	margin-bottom: auto;
	font-weight: 500;
	font-size: 16rem;
	font-family: 'Palanquin Dark', sans-serif;
	color: #6F6456;
	text-transform: uppercase;
}
.hero_overlay {
	width: 470rem;
	text-align: center;
	background: #FFFAEF;
	box-shadow: 0px 20px 80px rgba(50, 50, 93, 0.9);
	border-radius: 5px;
	position: absolute;
	top: calc(50% - 80rem);
    left: calc(50% - 235rem);
    padding: 11rem 0 21rem;
}
.efficiency_slider {
	width: 590rem;
	height: 590rem;
}
.efficiency_slider_item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 590rem!important;
}
.slick-arrow {
	background: none;
	border: none;
	display: block;
	background-image: url(img/slider_arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 22rem;
	position: absolute;
	bottom: -40rem;
	height: 22rem;
	cursor: pointer;
}
.slick-arrow.right {
	transform: rotate(180deg);
	right: calc(50% - 30rem);
}
.slick-arrow.left {
	left: calc(50% - 30rem);
}
.efficiency {
	padding: 106rem 0 116rem;
}
.efficiency_title {
	text-align: center;
}
.efficiency_subtitle {
	text-align: center;
	font-size: 30rem;
	margin-top: 15rem;
}
.efficiency_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 60rem;
}
.believe {
	text-align: center;
	background: #F7F6F4;
	padding: 110rem 0;
}
.believe_text {
	font-size: 20rem;
	font-weight: 300;
	margin-top: 15rem;
}
.believe_bg {
	height: 446rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 50rem;
}
.btn {
	text-align: center;
	padding: 20rem 0;
	background: #D4CFC8;
	color: #6F6456;
	font-size: 16rem;
	line-height: 120%;
	border-radius: 120px;
}
.believe_btn {
	width: 220rem;
	margin: 60rem auto 0;
}
.steps_item_contant {
	position: absolute;
	top: 100%;
	left: 0;
	width: calc(100% - 40rem);
	padding: 25rem 20rem;
	background: #F7F6F4;
	box-shadow: 0px 20px 80px #E5E5E5;
	border-radius: 5rem;
	font-size: 16rem;
	display: none;
	z-index: -1;
	color:  #7A6D5F;
	font-weight: 300;
}
.steps_title {
	text-align: center;
}
.steps {
	padding: 110rem 0;
	position: relative;
	z-index: 3;
}
.steps_overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60rem;
}
.steps_item {
	margin: 0 6rem;
	width: 290rem;
	position: relative;
	text-align: center;
}
.steps_item_name {
	padding: 20rem 0;
	border-radius: 5px;
	background: #F7F6F4;
}
@media (min-width: 480px) {
  	.steps_item:hover .steps_item_contant {
		display: block;
	}
	.steps_item:hover .steps_item_name{
		background: #B2A89C;
		color: #fff;
	}
}

.make {
	padding: 110rem 0;
	background: #E5E2DE;
}
.make_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.make_text {
	width: 469rem;
}
.make_video {
    width: 650rem;
    object-fit: cover;
    border-radius: 5px;
}
.make_text_item {
	margin: 40rem 0 50rem;
	font-size: 20rem;
	font-weight: 300;
	line-height: 150%;
}
.climate_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.make_text_btn {
	width: 220rem;
}
.climate_diagram {
	display: flex;
}
.climate_text {
	max-width: 534rem;
}
.climate {
	padding: 110rem 0;
}
.climate_text_item {
	margin: 30rem 0 40rem;
	font-size: 20rem;
	font-weight: 300;
}
.climate_text_quanity {
	padding: 28rem 43rem;
	background: #525252;
	border-radius: 10px;
	color: #fff;
	text-align: center;
	max-width: 354rem;
}
.climate_text_quanity_item {
	font-size: 40rem;
	font-weight: 700;
}
.climate_text_quanity_label {
	font-size: 16rem;
	font-weight: 300;
	margin-top: 5rem;
}
.climate_diagram_description {
	width: 91rem;
	margin-bottom: 50rem;
}
.climate_diagram_description_text {
	font-size: 16rem;
	font-weight: 300;
	line-height: 140%;
}
.climate_diagram_description_quanity {
	font-size: 20rem;
	font-weight: 500;
	margin-top: 5rem;
	display: block;
}
.climate_right_title {
	margin-bottom: 60rem;
	text-align: center;
}
.climate_diagram_description_color {
	width: 100%;
	margin-bottom: 15rem;
	height: 3rem;
}
.climate_diagram {
	position: relative;
}
.climate_diagram_description_color.red {
	background-color: #D07565;
}
.climate_diagram_description_color.orange {
	background-color: #D9AC6D;;
}
.climate_diagram_description_color.blue {
	background-color: #8CB0E1;
}
.climate_diagram_item {
	margin-left: 44rem;
	width: 393rem;
}
.climate_btn {
	width: 220rem;
	margin: 30rem auto 0;
}
.climate_diagram_prompt {
	position: absolute;
	top: 0;
	right: 0;
	width: 95rem;
	padding: 17rem;
	background-color: #fff;
	filter: drop-shadow(0px 4px 13px rgba(19, 27, 20, 0.13));
	animation: prompt 8s infinite;
}
@-webkit-keyframes prompt {
  0% {
   opacity: 0;
  }
  10% {
   opacity: 0;
  }
  20% {
   opacity: 0;
  }
  30% {
   opacity: 1;
  }
  40% {
   opacity: 1;
  }
  50% {
   opacity: 1;
  }
  60% {
   opacity: 1;
  }
  70% {
   opacity: 1;
  }
  80% {
   opacity: 0;
  }
  90% {
   opacity: 0;
  }
  100% {
   opacity: 0;
  }
}
.climate_diagram_prompt:before {
	z-index: -1;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 90rem;
    bottom: -18rem;
    border-top: 49rem solid #ffffff;
    border-right: 25rem solid transparent;
    transform: rotate(127deg);
}
.climate_diagram_prompt_text {
	font-size: 16rem;
	font-weight: 300;
	line-height: 140%;
}
.climate_diagram_prompt_quanity {
	font-size: 20rem;
	font-weight: 500;
	display: block;
	margin-top: 5rem;
	color: #D07565;
}
footer {
	padding: 70rem 0 50rem;
	background-color: #A19586;
	color: #fff;
}
.footer_overlay {
	display: flex;
	justify-content: space-between;
}
.footer_info_img {
	width: 142rem;
	margin-bottom: 20rem;
}
.footer_info_adress {
	width: 130rem;
	font-size: 16rem;
	font-weight: 300;
	line-height: 150%;
}
.footer_contact_tel {
	font-size: 24rem;
	color: #fff;
}
.footer_contact_mail {
	font-size: 16rem;
	font-weight: 300;
	color: #fff;
	margin-top: 10rem;
	margin-bottom: 30rem;
}
.footer_contact_btn {
	background-color: #fff;
	width: 180rem;
	padding: 15rem 0;
}
.footer_partner img {
	height: 60rem;
}
.footer_partner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 337rem;
}
.footer_nav_link {
	font-size: 16rem;
	color: #fff;
	margin-bottom: 20rem;
	font-weight: 300;
}
.index_header_burger {
	display: none;
}
.index_header_close {
	display: none;
}
.arrow-7 {
	width: 60rem;
    transform: rotate(-90deg);
    margin: 50rem auto 20rem;
}
.arrow-7 span {
    display: block;
    width: 30rem;
    height: 30rem;
    border-bottom: 5rem solid #6F6456;
    border-right: 5rem solid #6F6456;
    transform: rotate(45deg);
    margin: -16rem -16rem -16rem 10rem;
    animation: arrow-7 2s infinite;
}
.arrow-7 span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-7 span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-7 {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20rem,-20rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20rem,20rem);
    }
}
.header {
	padding: 35rem 0;
	background-color: #fff;
	box-shadow: 0px 4px 120px rgba(63, 56, 47, 0.17);
}
.header_logo {
	width: 123rem;
}
.header_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 914rem;
}
.header_nav_link {
	font-size: 16rem;
	font-weight: 500;
	color: #6F6456;
	line-height: 120%;
}
.breadcrumbs {
	padding: 40rem 0;
	display: flex;
	align-items: center;
}
.breadcrumbs_link {
	color: #908170;
	font-weight: 300;
	font-size: 16rem;
	line-height: 150%;
	display: flex;
	align-items: center;
}
.breadcrumbs_link:after {
	content: "";
	width: 7rem;
	height: 14rem;
	display: block;
	background-image: url(img/breadcrumbs_arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 20rem;
}
.breadcrumbs_link_home {
	width: 17rem;
	margin-right: 10rem;
}
.breadcrumbs_link.current:after  {
	display: none;
}
.breadcrumbs_link.current {
	font-weight: 500;
}
.contact {
	width: 900rem;
	margin: 40rem auto 110rem;
}
.contact_title {
	text-align: center;
	margin-bottom: 50rem;
}
.contact_overlay {
	display: flex;
	justify-content: space-between;
	margin: 60rem 0;
}
.contact_info {
	width: 224rem;
}
.contact_map_item {
	border: none;
	width: 629rem;
	height: 513rem;
}
.contact_info_icon {
	width: 30rem;
	margin-right: 20rem;
}
.contact_info_phone_item {
	font-size: 20rem;
	color: #6F6456;
	line-height: 120%;
	margin-bottom: 10rem;
}
.contact_info_overlay {
	margin-bottom: 45rem;
	display: flex;
	align-items: flex-start;
}
.contact_info_mail_item {
	font-size: 18rem;
	color: #6F6456;
}
.contact_info_place_title {
	display: block;
	font-size: 18rem;
	font-weight: 700;
}
.contact_info_place_text {
	color: #908170;
	font-weight: 300;
	line-height: 150%;
}
.contact_text {
	color: #B2A89C;
	line-height: 150%;
}
.header_logo_nav {
	display: none;
}
.header_nav_close {
	display: none;
}
.register_overlay {
	padding: 60rem 50rem;
	background-color: #fff;
	box-shadow: 0px 4px 120px rgba(63, 56, 47, 0.17);
	border-radius: 10px;
}
.register_title {
	text-align: center;
	margin-bottom: 14rem;
}
.register_form_input_overlay {
	margin-top: 30rem;
}
.register_form {
	display: flex;
}
@media screen and (max-width: 768px) {
	html {
   		font-size: 0.079429vw;
	}
	.index_header_link {
		font-size: 20rem;
	}
	.btn {
		font-size: 20rem;
	}
	p {
		font-size: 20rem;
	}
	.steps_item_contant {
		font-size: 20rem;
	}
	.climate_diagram_description_text {
		font-size: 20rem;
	}
	.climate_diagram_description {
		width: 130rem;
	}
	.footer_info_adress {
		width: 170rem;
		font-size: 20rem;
	}
	.footer_contact_mail {
		font-size: 20rem;
	}
	.footer_nav_link {
		font-size: 20rem;
	}
	.contact_text {
		font-size: 20rem;
	}
	.contact_info_mail_item {
		font-size: 20rem;
	}
	.contact_info_place_title {
		font-size: 20rem;
	}
	.header_nav_link {
		font-size: 20rem;
	}
	.breadcrumbs_link {
		font-size: 20rem;
	}
	.header_nav_close {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	html {
    	font-size: 0.26657vw;
	}
	.index_header_overlay {
		display: none;
	}
	.index_header_burger {
		display: block;
		width: 55rem;
		margin-left: auto;
	}
	.container {
		width: auto;
		margin: 0 20rem;
	}
	.hero_title {
		font-size: 75rem;
	}
	.hero_text {
		font-size: 13rem;
	}
	.hero_overlay {
		width: calc(100% - 32rem);
		left: calc(50% - 170rem);
		top: calc(50% - 65rem);
	}
	.efficiency {
    	padding: 70rem 0 85rem;
	}
	h2 {
		font-size: 30rem;
	}
	.efficiency_subtitle {
		font-size: 20rem;
	}
	.efficiency_slider {
		width: 335rem;
		height: 335rem;
	}
	.efficiency_slider_item {
		height: 335rem!important;
	}
	.efficiency_overlay {
		flex-direction: column;
		margin-top: 40rem;
	}
	.efficiency_slider_right {
		margin-top: 80rem;
	}
	.believe {
		padding: 70rem 0;
	}
	.believe_text {
		font-size: 18rem;
	}
	.believe_bg {
		margin-top: 10rem;
		height: 300rem;
	}
	.believe_btn {
		margin: auto;
	}
	.btn {
		width: 100%;
		padding: 20rem 0;
		font-size: 16rem;
	}
	.steps {
		padding: 70rem 0;
	}
	.steps_overlay {
		margin-top: 40rem;
		flex-direction: column;
	}
	.steps_item {
		margin-top: 20rem;
	}
	.steps_item:first-child {
		margin-top: 0;
	}
	.steps_item_name {
		font-size: 17rem;
	}
	.steps_item_contant {
		font-size: 16rem;
	}
	.make_overlay {
		flex-direction: column-reverse;
	}
	.make {
		padding: 70rem 0;
	}
	.make_video {
		width: 100%;
	}
	.make_text {
		width: 100%;
		margin-top: 40rem;
	}
	.make_text_item {
		margin: 30rem 0;
		font-size: 18rem;
		text-align: center;
	}
	.make_text_title {
		text-align: center;
	}
	.climate {
		padding: 70rem 0;
	}
	.climate_overlay {
		flex-direction: column;
	}
	.climate_text_item {
		margin: 20rem 0 30rem;
		font-size: 18rem;
		text-align: center;
	}
	.climate_text h2 {
		text-align: center;
	}
	.climate_text_quanity {
    	padding: 28rem 13rem;
	}
	h3 {
		font-size: 24rem;
	}
	.climate_right {
		margin-top: 70rem;
	}
	.climate_diagram {
		flex-direction: column-reverse;
	}
	.climate_diagram_item {
		margin-left: 0;
		width: 100%;
	}
	.climate_right_title {
		margin-bottom: 20rem;
	}
	.climate_diagram_description {
		width: 80rem;
		margin-bottom: 0;
	}
	.climate_diagram_description_overlay {
		display: flex;
		justify-content: space-between;
		margin-top: 40rem;
	}
	.climate_diagram_description_text {
    	font-size: 14rem;
	}
	.climate_diagram_description_quanity {
		font-size: 17rem;
	}
	.climate_btn {
		margin: 20rem auto 0;
	}
	.footer_overlay {
		flex-wrap: wrap;
	}
	footer {
    	padding: 50rem 0 30rem;
    }
    .footer_info_img {
    	margin-bottom: 10rem;
    }
    .footer_info_adress {
    	font-size: 16rem;
    	width: 290rem;
    }
    .footer_contact_tel {
    	margin-top: 50rem;
    }
    .footer_contact_mail {
    	font-size: 16rem;
    }
    .footer_contact_btn {
    	padding: 16rem 0;
    }
    .footer_partner {
    	width: 100%; 
    	margin: 35rem 0 50rem;
    }
    .footer_nav_link {
    	font-size: 16rem;
    }
    .footer_partner img {
    	margin-top: 15rem;
    }
    .index_header_overlay {
    	position: fixed;
    	left: 0;
    	top: 0;
    	width: 100%;
    	height: 100vh;
    	background-color: #fff;
    	text-align: center;
    	padding-top: 100rem;
    }
    .index_header_close {
    	display: block;
    	position: absolute;
    	top: 17rem;
    	right: 17rem;
    }
    .index_header_link {
    	background-color: transparent;
    	color: #6F6456;
    	padding: 25rem 0rem;
    }
    .index_header {
    	top: 17rem;
    }
    .steps_item_contant {
    	position: inherit;
    }
    .steps_item.active .steps_item_name{
    	background: #B2A89C;
    	color: #fff
    }
    .arrow-7 {
    	position: relative;
    	left: -30rem;
    }
    .header_logo {
    	width: 148rem;
	}
	.header_nav {
		display: none;
	}
	.breadcrumbs_link {
		font-size: 14rem;
	}
	.contact {
		width: auto;
		margin: 20rem 20rem 70rem;
	}
	.breadcrumbs {
		padding: 20rem 0;
	}
	.contact_title {
	    text-align: left;
	    margin-bottom: 20rem;
	}
	.contact_text {
    	font-size: 16rem;
	}
	.contact_overlay {
		flex-direction: column;
	}
	.contact_overlay {
		margin: 40rem 0;
	}
	.contact_info_phone_item {
		font-size: 18rem;
	}
	.contact_info_overlay {
		margin-bottom: 30rem;
	}
	.contact_info_mail_item {
		font-size: 18rem;
	}
	.contact_info_place_title {
		font-size: 16rem;
	}
	.contact_info_place_text {
		font-size: 16rem;
	}
	.contact_map_item {
    	width: 335rem;
    	height: 273rem;
	}
	.header {
    	padding: 15rem 0;
	}
	.header_nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		z-index: 9;
		text-align: center;
		padding-top: 100rem;
	}
	.header_nav_close {
		position: absolute;
		top: 20rem;
		right: 20rem;
		width: 55rem;
		display: block;
	}
	.header_nav_link {
	    color: #6F6456;
	    padding: 25rem 0rem;
	}
	.header_logo_nav {
		display: block;
		position: absolute;
		top: 27rem;
		left: 20rem;
		width: 148rem;
	}
}	