html {
	font-size: 0.052085vw;
	overflow-x: hidden;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	display: block;
}
h2 {
	font-size: 61rem;
	line-height: 133%;
}
@media screen and (min-width: 1920px) {
	html {
		font-size: 1px;
	}
}
.head_offer {
	background-color: #31bfc7;
	padding: 12rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.head_offer_text {
	color: #fff;
	font-family: 'Times New Roman';
	font-size: 23rem;
	font-style: italic;
}
.head_offer_text_img {
	margin-left: 20rem;
	width: 12rem;
}
.head_offer_link {
	font-family: 'Montserrat', sans-serif;
	color: #31bfc7;
	font-size: 18rem;
	padding: 13rem 44rem;
	margin-left: 35rem;
	background-color: #2f2e2e;
	font-style: italic;
}
.header_logo {
	width: 335rem;
}
header {
	width: 1335rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
}
.header_nav {
	display: flex;
	align-items: center;
}
.header_nav_link {
	font-family: 'Lora', serif;
	font-size: 23rem;
	color: #2f2e2e;
	margin: 0 20rem;
	font-weight: 400;
}
.header_social {
	display: flex;
	align-items: center;
}
.header_social_link img {
	width: 22rem;
	display: block;
}
.header_social {
	display: flex;
	align-items: center;
}
.header_social_link {
	margin: 0 20rem;
}
.header_social_search {
	padding-left: 20rem;
    border-left: 1px solid rgba(0,0,0, 0.2);
    margin: 0 0 0 10rem;
}
.hero {
	background-image: url(img/hero_bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom: 140rem;
	max-width: 1920rem;
    margin: auto;
}
.hero_subtitle {
	font-family: 'Allura', cursive;
	font-size: 59rem;
	color: #d6ad45;
}
.hero_overlay {
	width: 725rem;
	margin: 0 0 0  940rem;
	text-align: center;
	padding: 55rem 0 0 0;
}
.hero_title {
	font-family: 'Times New Roman';
	color: #2f2e2e;
	margin: 20rem 0 40rem;
}
p {
	font-size: 22rem;
	font-weight: 300;
	color: #171717;
}
.hero_link {
	font-size: 27rem;
	font-weight: 400;
	font-family: 'Times New Roman';
	font-style: italic;
	background-color: #e7efef;
	padding: 20rem 0;
	width: 340rem;
	margin: 45rem auto;
	text-align: center;
	color: #666666;
}
.hero_subtext {
	font-size: 16rem;
	color: #171717;
}
.her_subtext_link {
	display: inline;
}
.meet {
	width: 1380rem;
	margin: 75rem auto;
	text-align: center;
	position: relative;
}
.meet_title {
	font-family: 'Times New Roman';
	color: #2f2e2e;
	margin: 60rem 0;
	font-weight: 400;
	font-style: italic;
}
.meet_img {
	width: 273rem;
}
.meet_text {
	font-size: 28rem;
	line-height: 140%;
	color: #72726e;
}
.meet_subtext {
	color: #31bfc7;
	font-size: 27rem;
	margin-top: 50rem;
	line-height: 150%;
}
.meet_btn {
	color: #ffffff;
	font-size: 36rem;
	text-align: center;
	width: 550rem;
	margin: 60rem auto 0;
	background-color: #31bfc7;
	font-family: 'Times New Roman';
	font-style: italic;
	padding: 20rem 0;
}
.meet_position {
	position: absolute;
    top: 10rem;
    left: -50rem;
    width: 300rem;
    font-size: 120rem;
    color: #d6ad45;
    font-family: 'Allura', cursive;
    transform: rotate(-20deg);
    line-height: 70%;
    font-weight: 400;
}
.meet_position span {
	padding-left: 180rem;
}
.story_item {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.story_item1 {
	width: 575rem;
	height: 344rem;
}
.story_item_text {
	position: absolute;
	background-image: url(img/story_item_bg.png);
	background-position: center;
	background-size: cover;
	font-family: 'Handofseen';
	font-size: 32rem;
	color: #333333;
	text-align: center;
	line-height: 110%;
	z-index: 10;
}
.story_item_number {
	position: absolute;
	font-family: 'Handofseen';
	font-size: 73rem;
}
.story_item_number1 {
    top: -80rem;
    right: 60rem;
}
.story_item_number2 {
    top: -80rem;
    left: 140rem;
}
.story_item_number3 {
	left: 245rem;
    top: -80rem;
}
.story_item_number4 {
	left: 200rem;
    top: -75rem;
}
.story_item_number5 {
	bottom: 0;
    left: 110rem;
}
.story_item_number6 {
	top: 65rem;
    left: 35rem;
    z-index: 23;
}
.story_item_arrow {
	position: absolute;
	width: 146rem;
}
.story_item_arrow1 {
    right: -90rem;
    top: 100rem;
    transform: rotate(215deg);
}
.story_item_arrow2 {
    top: 140rem;
    left: -90rem;
    transform: rotate(-15deg);
}
.story_item_arrow3 {
    top: 30rem;
    left: -90rem;
}
.story_item_arrow4 {
    right: 60rem;
    bottom: -70rem;
    transform: rotate(245deg);
}
.story_item_arrow5 {
    top: 190rem;
    left: -110rem;
    transform: rotate(155deg);
}
.story_item1_text {
	top: -70rem;
    left: -160rem;
    width: 370rem;
    padding: 30rem;
    transform: rotate(-25deg);
}
.story {
	display: flex;
	flex-wrap: wrap;
	width: 1560rem;
    margin: auto;
    position: relative;
    margin-bottom: 85rem;
}
.story_item2_text {
    top: 110rem;
    right: -100rem;
    padding: 50rem;
    transform: rotate(15deg);
}
.story_item2 {
	margin-top: 60rem;
	margin-left: 110rem;
	width: 581rem;
	height: 344rem;
}
.story_item3 {
	position: absolute;
    top: 300rem;
    left: 300rem;
    z-index: 9;
    width: 465rem;
    height: 274rem;
}
.story_item4 {
	margin-left: -70rem;
	width: 630rem;
	height: 344rem;
}
.story_item4_text {
    top: 220rem;
    left: -100rem;
    width: 280rem;
    padding: 40rem;
    transform: rotate(25deg);
}
.story_item5 {
    margin-top: 30rem;
    width: 579rem;
    margin-left: 0;
    height: 344rem;
}
.story_item5_text {
	top: -30rem;
    left: -160rem;
    width: 320rem;
    padding: 20rem;
    transform: rotate(-30deg);
}
.story_item6 {
	margin-left: -180rem;
    z-index: -1;
    margin-top: 200rem;
    position: relative;
    left: 0rem;
    width: 596rem;
    height: 344rem;
}
.story_item6_text {
	top: 244rem;
    right: -60rem;
    width: 307rem;
    padding: 30rem;
    transform: rotate(-5deg);
}
.story_btn {
	font-size: 36rem;
	font-family: 'Times New Roman';
	font-style: italic;
	background-color: #31bfc7;
	color: #fff;
	width: 420rem;
	margin: 80rem auto 0;
	text-align: center;
	padding: 20rem 0;
}
.story_text {
	position: absolute;
    bottom: 120rem;
    right: 30rem;
    font-family: 'Handofseen';
    font-size: 35rem;
    color: #d6ad45;
    text-align: center;
}
.help {
	background-image: url(img/help_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100rem 0 180rem;
	max-width: 1920rem;
	margin: auto;
}
.help_title {
	font-family: 'Times New Roman';
	text-align: center;
}
.help_overlay {
	display: flex;
	flex-wrap: wrap;
	width: 1676rem;
	margin: 130rem auto 0;
	justify-content: space-between;
	align-items: end;
}
.help_item {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	text-align: center;
	position: relative;
}
.help_item_title {
	font-family: 'Times New Roman';
	font-weight: 600;
	font-style: italic;
	font-size: 38rem;
}
.help_item_text {
	text-transform: uppercase;
	margin: 30rem 0;
}
.help_item_link {
	font-size: 22rem;
	color: #666666;
	font-family: 'Times New Roman';
	font-style: italic;
	background-color: #e7efef;
	width: 280rem;
    padding: 18rem 0;
    text-align: center;
    margin: 0 auto -20rem;
}
.help_item_overlay {
	width: 376rem;
	margin-top: 70rem;
	padding: 0 40rem 0 55rem;
}
.help_item_image {
	height: 411rem;
	position: relative;
}
.help_item_image1 {
	top: 30rem;
    left: -30rem;
}
.help_item_image2 {
    top: -20rem;
    right: -20rem;
}
.help_item2 {
	margin-top: 70rem;
}
.help_item3 {
	margin-left: 40rem;
	margin-top: 65rem;
}
.help_item_image3 {
	left: -25rem;
    top: -20rem;
}
.help_item4 {
	margin-top: 130rem;
	margin-right: -50rem;
}
.help_item_image4 {
	top: -20rem;
    right: -20rem;
}
.help_item_number {
	font-size: 92rem;
	position: absolute;
	font-family: 'Times New Roman';
	transition: 0.5s;
}
.help_item_number1 {
	right: 50rem;
    top: -60rem;
    color: #666666;
}
.help_item_number2 {
    color: #909191;
    left: 40rem;
    top: -50rem;
}
.help_item_number3 {
	right: 10rem;
    top: -40rem;
	color: #909191;
}
.help_item_number4 {
	left: 30rem;
    top: -50rem;
	color: #666666;
}
.help_item:hover .help_item_number{
	color: #31bfc7;
	transition: 0.5s;
}
.ready {
	max-width: 1920rem;
	margin: auto;
}
.ready_overlay {
	display: flex;
	justify-content: space-between;
	width: 1300rem;
	margin: -120rem auto 0;
}
.ready_head {
	background-image: url(img/ready_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100rem 0 210rem;
}
.ready_head_overlay {
	text-align: center;
	width: 873rem;
	margin-left: 477rem;
}
.ready_title {
	color: #d6ad45;
	font-size: 116rem;
	font-family: 'Allura', cursive;
}
.ready_text {
	font-size: 52rem;
	color: #333333;
	text-transform: uppercase;
	margin-top: 55rem;
	line-height: 144%;
}
.ready_text span {
	font-weight: 700;
}
.ready_item {
	width:400rem;
	padding:37rem 0;
	text-align: center;
	background-color: #dff0fb;
}
.ready_item_title {
	font-size: 19rem;
	font-weight: 700;
	color: #333333;
	text-transform: uppercase;
	line-height: 175%;
}
.ready_item_image {
	width: 100%;
	height: 208rem;
	margin: 30rem 0;
	position: relative;
	z-index: 3;
	background-size: cover;
}
.ready_item_text {
	font-size: 18rem;
	color: #454545;
	line-height: 167%;
	padding: 0 30rem;
	position: relative;
	z-index: 2;
}
.ready_item_text:before {
	position: absolute;
	content: "";
	background-color: #fff;
	opacity: 0.85;
	width: 100%;
	height: 200rem;
	top: -20rem;
	left: 0;
	border-radius: 100%;
	z-index: -1;
	filter: blur(70rem);
}
.acces {
	margin: 170rem auto 150rem;
	max-width: 1920rem;
}
.acces_title {
	color: #31bfc7;
	font-family: 'Allura', cursive;
	text-align: center;
	font-weight: 400;
	font-size: 66rem;
}
.acces_overlay {
	display: flex;
	justify-content: space-between;
	width: 1785rem;
	align-items: flex-start;
	margin-top: 134rem;
}
.acces_text {
	width: 585rem;
	position: relative;
}
.acces_text_item {
	text-align: right;
	margin-bottom: 70rem;
	color: #2f2e2e;
	line-height: 217%;
	font-size: 18rem;
}
.acces_images {
	width: 1200rem;
	display: flex;
	position: relative;
}
.acces_images_mac {
	width: 1044rem;
	position: absolute;
    left: 0;
    top: 0;
}
.acces_images_mac_mob {
	display: none;
}
.acces_images_ipad {
	width: 669rem;
	position: absolute;
    top: 230rem;
    left: 480rem;
}
.acces_text_title {
	font-size: 81rem;
	font-family: 'Times New Roman';
	font-weight: 400;
	color: #2f2e2e;
}
.acces_text_title1 {
	position: absolute;
    top: -100rem;
    left: -240rem;
}
.acces_text_title2 {
	margin-bottom: 66rem;
	text-align: right;
}
.acces_text_link {
	font-family: 'Times New Roman';
	font-size: 30rem;
	font-style: italic;
	color: #fff;
	text-align: center;
	border-radius: 3px;
  	width: 492rem;
  	background-color: #31bfc7;
  	margin: auto;
  	padding: 24rem 0;
}
.testimonials {
	padding: 110rem 0 150rem;
	background-color: rgba(229, 232, 243, 0.35)
}
.testimonials_title {
	color: #d6ad45;
	font-family: 'Times New Roman';
	text-align: center;
	text-transform: uppercase;
}
.slider_item {
	width: 575rem;
	margin: auto;
	padding: 40rem 218rem;
	background-color: #fff;
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.06);
	text-align: center;
}
.slider {
	width: 1010rem;
	margin: 105rem auto 0;
}
.slider_item_title {
	color: #292929;
	font-size: 35rem;
	font-weight: 400;
}
.slider_item_position {
	color: #3f3f3f;
	font-size: 20rem;
	font-style: italic;
	margin-top: 13rem;
}
.slider_item_hr {
	margin: 25rem auto;
	width: 287rem;
	height: 0;
	border: 1rem solid #ffa78b;
	background-color: #ffa78b;
}
.slider_item_text {
	font-size: 17rem;
	color: #3f3f3f;
	line-height: 175%;
}
.slider_item_signature {
	color: #e98e1e;
	font-size: 29rem;
	margin-top: 37rem;
	font-family: 'Allura', cursive;
}
.slider_btn {
	display: block;
	border: none;
	background-color: transparent;
	background-image: url(img/slider_arrow.png);
	width: 26rem;
	height: 47rem;
	position: absolute;
	top: calc(50% - 23rem);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.slider_btn.left {
	left: -160rem;
    transform: rotate(180deg);
}
.slider_btn.right {
	right: -160rem;
}
.build {
	text-align: center;
	padding: 96rem 0 70rem;
	background-color: #e5e8f3;
}
.build_overlay {
	max-width: 1076rem;
	margin: auto;
}
.build_title {
	font-family: 'Times New Roman';
	max-width: 910rem;
	margin: auto;
	line-height: 133%;
	margin-bottom: 95rem;
	color: #3f3f3f;
}
.build_text {
	color: #171717;
	font-size: 18rem;
	line-height: 200%;
	margin-top: 50rem;
}
.build_btn {
	text-align: center;
	width: 584rem;
	color: #ffffff;
	font-family: 'Times New Roman';
	border-radius: 3px;
  	background-color: #31bfc7;
	font-size: 25rem;
	margin: 70rem auto 0;
	padding: 27rem 0;
}
.developer_img {
	width: 17rem;
	margin-left: 11rem;
}
.developer p {
	color: #fff;
	font-size: 16rem;
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
}
.developer {
	padding: 20rem 0;
	background-color: #1f1a1b;
}
.chart_overlay {
	width: 1300rem;
	display: flex;
	margin: auto;
	padding: 320rem 0;
}
.chart_item {
	display: flex;
    width: 116rem;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 1rem;
}
.chart_item_color {
	padding: 5rem 0;
	width: 100%;
}
.chart_item_line {
	position: relative;
	width: 2rem;
	background-color: #8b8d93;
}
.chart_item_line_top:before {
	content: "";
	position: absolute;
	top: 0;
	left: -2rem;
	width: 6rem;
	height: 6rem;
	display: block;
	background-color: #000;
	border-radius: 100%;
}
.chart_item_line1 {
	height: 116rem;
}
.chart {
	padding: 120rem 0;
}
.chart_item_text {
	margin: 15rem 0;
	font-size: 25rem;
	color: #3f3f3f;
	position: absolute;
	width: 140%;
	left: -20%;
	text-align: center;
}
.chart_item_year {
	margin: 20rem 0;
	font-size: 22rem;
	font-weight: 400;
	position: absolute;
}
.chart_item_line2 {
	height: 172rem;
}
.chart_item_line_bot:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: -2rem;
	width: 6rem;
	height: 6rem;
	display: block;
	background-color: #000;
	border-radius: 100%;
}
.chart_item_line {
	position: absolute;
	left: calc(50% - 1rem);
}
.chart_item_line_top {
	bottom: 15rem;
}
.chart_item_line_bot {
	top: 15rem;
}
.chart_item_year_bot {
	top: 10rem;
}
.chart_item_year_top {
	bottom: 10rem;
}
.chart_item_text1 {
	bottom: 130rem;
}
.chart_item_text2 {
	top: 200rem;
}
.chart_item_line3 {
	height: 177rem;
}
.chart_item_text3 {
	bottom: 200rem;
}
.chart_item_line4 {
	height: 100rem;
}
.chart_item_text4 {
	top: 120rem;
}
.chart_item_line5 {
	height: 120rem;
}
.chart_item_text5 {
	bottom: 140rem;
}
.chart_item_line6 {
	height: 120rem;
}
.chart_item_text6 {
	top: 140rem;
}
.chart_item_text7 {
	bottom: 170rem;
}
.chart_item_line7 {
	height: 150rem;
}
.chart_item_text8 {
	top: 197rem;
}
.chart_item_line8 {
	height: 177rem;
}
.chart_item_text9 {
	bottom: 197rem;
}
.chart_item_line9 {
	height: 177rem;
}
.chart_item_text10 {
	top: 120rem;
}
.chart_item_line10 {
	height: 100rem;
}
.chart_item_text11 {
	bottom: 140rem;
}
.chart_item_line11 {
	height: 120rem;
}
footer {
	background-color: #f9fdfd;
	padding: 100rem 0 50rem;
}
.footer_overlay {
	width: 1080rem;
	margin: auto;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer_bot {
	margin: auto;
    padding-left: 40rem;
}
.footer_title {
	color: #3f3f3f;
	font-family: 'Calibri';
	font-size: 23rem;
	text-transform: uppercase;
}
.footer_hr {
	height: 0;
	border: 1rem solid #31bfc7;
	width: 75rem;
	margin: 12rem auto;
	background-color: #31bfc7;
}
.footer_link {
	font-size: 20rem;
	font-family: 'Calibri';
	color: #171717;
	line-height: 180%;
}
.footer_logo {
	width: 412rem;
}
.footer_social_link img {
	width: 42rem;
}
.footer_social_link {
	margin: 0 18rem;
}
.footer_social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50rem 0;
}
.footer_copyright {
	font-size: 20rem;
	font-family: 'Calibri';
	color: #3f3f3f;
	font-weight: 400;
}
.footer_center {
	width: 463rem;
}
.footer_visit {
	width: 213rem;
}
.footer_adress {
	font-size: 20rem;
	font-family: 'Calibri';
	line-height: 180%;
	color: #171717;
}
.header_burger {
	display: none;
}
.hero_img_mob {
	display: none;
}
.hero_tab {
	display: none;
}
.her_subtext_link {
	color: #31bfc7;
}
@media screen and (max-width: 768px) {
	html {
		font-size: 0.13021vw;
	}
	.head_offer_text {
		font-size: 14rem;
	}
	.head_offer_text_img {
	    margin-left: 10rem;
	    width: 9rem;
	}
	.head_offer_link {
		font-size: 14rem;
		padding: 8rem 24rem;
	}
	header {
		width: calc(100% - 40rem);
	}
	.header_logo {
    	width: 300rem;
	}
	.header_nav {
		display: none;
	}
	.header_social {
		display: none;
	}
	.header_burger {
		display: block;
		width: 40rem;
	}
	.hero_img_mob {
		display: block;
	}
	.hero_tab {
		display: block;
		background-image: url(img/hero_bg.png);
	    background-repeat: no-repeat;
	    background-position: -130rem 0rem;
	    width: 100%;
    	height: 650rem;
    	background-size: 1920rem;
	}
	.hero {
		background-image: none;
		padding-bottom: 0;
	}
	.hero_overlay {
		width: calc(100% - 40rem);
    	margin: 0 20rem;
	}
	.hero_subtitle {
		font-size: 50rem;
	}
	.hero_title {
		line-height: 110%;
	}
	p {
		font-size: 18rem;
	}
	.hero_text {
		width: 640rem;
	    margin: auto;
	    line-height: 150%;
	}
	h2 {
		font-size: 46rem;
	}
	.hero_link {
		font-size: 20rem;
		padding: 15rem 0;
    	width: 240rem;
    	margin: 25rem auto;
	}
	.hero_subtext {
		width: 620rem;
		margin: auto;
		line-height: 150%;
	}
 	.meet {
 		width: calc(100% - 40rem);
 	}
 	.meet_position {
 		position: static;
 		transform: inherit;
 		font-size: 80rem;
 		margin: 0 auto 40rem;
 	}
 	.meet_position span {
 		padding-left: 0;
 	}
 	.meet_text {
	    font-size: 20rem;
	    width: 630rem;
	    margin: auto;
	}
	.meet_title {
		margin: 20rem 0;
	}
	.meet_subtext {
		margin: 20rem auto 0;
		font-size: 18rem;
		width: 600rem;
	}
	.meet_btn {
		padding: 13rem 0;
		width: 450rem;
		margin: 30rem auto 0;
		font-size: 24rem;
	}
	.story_item_text {
		font-size: 18rem;
	}
	.story_item1_text {
	    top: -40rem;
	    left: -40rem;
	    width: 190rem;
	    padding: 20rem;
	    transform: rotate(-15deg);
	}
	.story {
		width: calc(100% - 40rem);
		margin-top: 90rem;
	}
	.story_item1 {
    	width: 375rem;
    	height: 234rem;
	}
	.story_item2 {
    	margin-top: 40rem;
    	margin-left: -20rem;
    	width: 351rem;
    	height: 224rem;
	}
	.story_item2_text {
	    top: 150rem;
	    right: -50rem;
	    padding: 30rem;
	    transform: rotate(15deg);
	}
	.story_item3 {
	    width: 365rem;
	    height: 244rem;
	    position: relative;
	    top: 0;
	    left: 0;
	}
	.story_item4 {
    	margin-left: 0rem;
	    width: 360rem;
	    height: 214rem;
	    margin-top: 40rem;
	}
	.story_item6 {
	    margin-left: -60rem;
	    margin-top: 30rem;
	    left: 0rem;
	    width: 426rem;
	    z-index: 1;
    	height: 254rem;
	}
	.story_item5 {
	    margin-top: 60rem;
	    width: 349rem;
	    margin-left: 0;
	    height: 214rem;
	}
	.story_item4_text {
	    top: 140rem;
	    left: 170rem;
	    width: 160rem;
	    padding: 30rem;
	    transform: rotate(15deg);
	}
	.story_item6_text {
	    top: 204rem;
	    right: -60rem;
	    width: 177rem;
	    padding: 20rem;
	    transform: rotate(-5deg);
	}
	.story_item5_text {
	    top: -50rem;
	    left: -85rem;
	    width: 190rem;
	    padding: 20rem;
	    transform: rotate(-20deg);
	}
	.story_text {
		position: static;
		font-size: 26rem;
		line-height: 140%;
		margin: 60rem auto 0;
	}
	.story_btn {
		font-size: 24rem;
		margin: 30rem auto 0;
		padding: 12rem 0;
		width: 370rem;
	}
	.story_item_arrow {
		width: 100rem;
	}
	.story_item_arrow1 {
		z-index: 3;
		right: -20rem;
    	top: 50rem;
	}
	.story_item_arrow2 {
	    top: 190rem;
	    left: -50rem;
	    transform: rotate(-15deg);
	    z-index: 15;
	}
	.story_item_arrow3 {
	    top: 90rem;
	    left: auto;
	    right: -40rem;
	    transform: rotate(225deg);
	}
	.story_item_arrow4 {
	    right: auto;
	    left: -60rem;
	    bottom: -20rem;
	    transform: rotate(-5deg);
	}
	.story_item_arrow5 {
	    top: 90rem;
	    left: -60rem;
	    transform: rotate(235deg);
	    z-index: 9;
	}
	.story_item_number {
		font-size: 53rem;
	}
	.story_item_number1 {
		top: -50rem;
	}
	.story_item_number2 {
		top: -60rem;
	}
	.story_item_number3 {
		top: -50rem;
	}
	.story_item_number4 {
		top: -55rem;
	}
	.story_item_number6 {
		top: 15rem;
    	left: 25rem;
	}
	.help_overlay {
		width: calc(100% - 40rem);
		margin: 40rem auto 0;
		align-items: normal;
	}
	.help_item3 {
		margin: 0;
	}
	.help_item {
		flex-direction: column;
		width: 350rem;
		margin-top: 40rem;
		padding-bottom: 30rem;
		align-items: center;
	}
	.help_item_overlay {
		width: calc(100% - 40rem);
		padding: 0 20rem;
		margin-top: 30rem;
	}
	.help_item_image1 {
		top: auto;
		left: auto;
	}
	.help_item2 {
		flex-direction: column-reverse;
	}
	.help_item_image2 {
		top: auto;
		right: auto;
	}
	.help_item_image {
		height: 360rem;
	}
	.help_item4 {
    	margin-right: 0;
    	flex-direction: column-reverse;
	}
	.help_item_title {
		font-size: 30rem;
	}
	.help_item_text {
		margin: 15rem 0;
	}
	.help_item_link {
		font-size: 18rem;
		padding: 12rem 0;
		margin: 0 auto;
	}
	.help_item_image3 {
		left: auto;
		top: auto;
	}
	.help_item_image4 {
		top: auto;
		right: auto;
	}
	.help_item_number {
		font-size: 72rem;
	}
	.help_item_number {
		top: -40rem;
	}
	.help {
		padding: 80rem 0;
	}
	.ready_head_overlay {
		width: calc(100% - 40rem);
    	margin: auto;
	}
	.ready_head {
		background-position: 0rem;
	    background-repeat: no-repeat;
	    padding: 110rem 0 180rem;
	}
	.ready_title {
		font-size: 76rem;
	}
	.ready_text {
		font-size: 32rem;
	}
	.ready_overlay {
		justify-content: center;
    	width: calc(100% - 40rem);
    	flex-wrap: wrap;
    	margin: -150rem auto 0;
	}
	.ready_item {
		width: 350rem;
		margin: 40rem auto 0;
	}
	.ready_item_title {
		font-size: 18rem;
	}
	.acces {
		margin: 100rem auto 150rem;
	}
	.acces_title {
		font-size: 56rem;
	}
	.acces_overlay {
		width: calc(100% - 40rem);
		flex-direction: column-reverse;
		margin: 20rem auto 0;
	}
	.acces_text_title {
		font-size: 60rem;
	}
	.acces_text_title1 {
		position: static;
	}
	.acces_text {
		margin: auto;
	}
	.acces_text_item {
		text-align: center;
		margin-bottom: 30rem;
		line-height: 177%;
	}
	.acces_text_title2 {
		margin-bottom: 20rem;
	}
	.acces_text_link {
		width: 300rem;
		padding: 13rem 0;
		font-size: 20rem;
	}
	.acces_images_mac {
		position: static;
		width: 830rem;
	}
	.acces_images_ipad {
		left: 310rem;
		width: 509rem;
	}
	.acces_images {
		width: 100%;
		margin-top: 40rem;
	}
	.testimonials {
    	padding: 60rem 0 80rem;
	}
	.slider_item {
		padding: 40rem 100rem;
	}
	.slider {
		width: 550rem;
		margin: 45rem auto 0;
	}
	.slider_btn.left {
		left: -70rem;
	}
	.slider_item_title {
		font-size: 26rem;
	}
	.slider_item_position {
		font-size: 18rem;
	}
	.slider_item_hr {
		margin: 25rem auto;
	}
	.slider_item_signature {
		margin-top: 20rem;
	}
	.slider_btn.right {
    	right: -70rem;
	}
	.slider_btn {
		width: 20rem;
    	height: 35rem;
	}
	.build {
		padding: 70rem 0;
	}
	.build_title {
		max-width: 530rem;
	}
	.build_title {
		margin-bottom: 0;
	}
	.build_text {
		margin-top: 20rem;
	}
	.build_overlay {
		max-width: 650rem;
	}
	.build_btn {
		width: 465rem;
		font-size: 18rem;
		padding: 13rem 0;
		margin: 40rem auto 0;
	}
	footer {
		padding: 50rem 0;
	}
	.footer_overlay {
		width: calc(100% - 40rem);
	}
	.footer_center {
		order: -1;
		margin: 0 auto 40rem;
	}
	.footer_contact {
		margin: auto;
	}
	.footer_visit {
		margin: auto;
	}
	.footer_social {
		margin: 30rem 0;
	}
	.chart_overlay {
		flex-direction: column;
		width:  100%;
		padding: 0;
	}
	.chart_item_text {
		position: static;
		margin: 0;
		width: auto;
		order: 1;
		font-size: 22rem;
	}
	.chart_item_line {
		display: none;
	}
	.chart_item_year {
		position: static;
		margin: 0 30rem;
		font-size: 18rem;
	}
	.chart_item {
		flex-direction: row;
		width: 100%;
		margin: 1rem 0;
	}
	.chart_item_color {
	    padding: 30rem 0rem;
	    height: 100%;
	    display: block;
	    width: 10rem;
	    order: -2;
	}
	.chart {
    	padding: 80rem 0;
	}
}

@media screen and (max-width: 480px) {
	html {
    	font-size: 0.26653vw;
	}
	.head_offer {
		flex-direction: column;
		padding: 15rem 0 20rem;
	}
	.head_offer_text {
    	font-size: 18rem;
    	width: 290rem;
    	text-align: center;
	}
	.head_offer_link {
		background-color: transparent;
		color: #2f2e2e;
		padding: 0;
		margin-left: 0;
		position: relative;
		font-weight: 600;
		margin-top: 15rem;
	}
	.head_offer_link:before {
		content: "";
		width: 100%;
		display: block;
		position: absolute;
		bottom: -6rem;
		height: 1rem;
		background-color: #2f2e2e;
	}
	.header_logo {
    	width: 235rem;
	}
	.header_burger {
		width: 36rem;
	}
	header {
		padding: 13rem 0;
	}
	.hero_tab {
		height: 440rem;
    	background-size: cover;
	}
	.hero_subtitle {
    	font-size: 59rem;
    	width: 300rem;
    	line-height: 100%;
    	margin: auto;
	}
	.hero_overlay {
		padding: 40rem 0 0 0;
	}
	.hero_title {
		font-weight: 400;
	}
	h2 {
    	font-size: 54rem;
	}
	.hero_link {
		margin: 43rem -20rem;
		font-size: 27rem;
		padding: 26rem 20rem;
		width: 100%;
	}
	.hero_text {
		width: 100%;
	}
	.hero_subtext {
		width: 100%;
		font-size: 16rem;
		font-style: italic;
		font-weight: 400;
	}
	.meet_position {
		font-size: 60rem;
		margin: 0 auto 35rem;
	}
	.meet {
		margin: 100rem auto 40rem;
	}
	.meet_img {
    	width: 270rem;
	}
	.meet_title {
    	margin: 40rem 0 30rem;
    	font-size: 32rem;
    	font-weight: 700;
	}
	.meet_text {
		font-size: 18rem;
		width: 100%;
	}
	.meet_subtext {
		font-weight: 700;
		width: 100%;
		font-family: 'Times New Roman';
	}
	.meet_btn {
    	padding: 26rem 0;
    	width: 375rem;
    	margin: 30rem -20rem -70rem;
    	font-size: 26rem;
	}
	.story {
    	width: 100%;
    	margin: 0rem;
	}
	.story_item {
		display: flex;
		flex-direction: column-reverse;
		margin: 70rem 0 0 0;
		height: 344rem;
		width: 375rem;
		z-index: 9;
	}
	.story_item_text {
	    background-image: none;
	    transform: rotate(0);
	    bottom: -70rem;
	    left: 0;
	    top: auto;
	    width: calc(100% - 80rem);
	    padding: 0 40rem;
	    display: flex;
	    height: 70rem;
	    align-items: center;
	    justify-content: center;
	    background-color: #efe8e7;
	}
	.story_item4_text,.story_item5_text,.story_item6_text {
		bottom: auto;
		top: -70rem;
	}
	.story_item_number1 {
    	top: -50rem;
    	right: auto;
    	left: 40rem;
	}
	.story_item_number2 {
	    left: auto;
	    right: 10rem;
	    top: -20rem;
	}
	.story_item_number3 {
    	top: -20rem;
    	left: 25rem;
	}
	.story_item_number {
		z-index: 99;
	}
	.story_item_number4 {
    	top: -55rem;
    	left: auto;
    	right: 0;
	}
	.story_item_number4 {
    	top: -47rem;
    	left: auto;
    	right: 20rem;
	}
	.story_item_number5 {
    	bottom: auto;
    	left: 21rem;
    	top: -27rem;
	}
	.story_item_number6 {
    	top: -41rem;
    	left: auto;
    	right: 11rem;
	}
	.story_item_arrow {
		transform: rotate(-72deg);
		z-index: 999999;
		width: 160rem;
	}
	.story_item_arrow1 {
	    z-index: 9999;
	    right: auto;
	    top: 360rem;
	    left: -50rem;
	}
	.story_item_arrow2 {
    	top: 360rem;
    	left: auto;
    	right: -50rem;
   		z-index: 15;
	}
	.story_item_arrow3 {
    	top: 360rem;
    	left: -50rem;
    	right: auto;
	}
	.story_item_arrow4 {
    	right: -50rem;
    	left: auto;
    	bottom: -50rem;
	}
	.story_item_arrow5 {
    	top: -50rem;
    	left: -50rem;
	}
	.story_item2 {
		z-index: 8;
	}
	.story_item3 {
		z-index: 7;
	}
	.story_item4 {
		z-index: 6;
	}
	.story_item6 {
		z-index: 5;
	}
	.story_text {
    	position: static;
    	font-size: 30rem;
    	line-height: 120%;
    	margin: 40rem auto 0;
	}
	.story_btn {
    	font-size: 34rem;
    	margin: 40rem auto 0;
    	padding: 21rem 0;
    	width: 100%;
	}
	.help {
		background-image: none;
		padding: 55rem 0 0;
	}
	.help_overlay {
		margin: 0 auto;
	}
	.help_item_image {
   	 	height: auto;
    	width: 313rem;
	}
	.help_item_number {
    	top: -40rem;
    	right: auto;
    	left: 30rem;
	}
	.help_item_text {
    	margin: 35rem 0;
    	font-size: 20rem;
	}
	.help_item_title {
    	font-size: 38rem;
	}
	.help_item_link {
    	font-size: 22rem;
    	padding: 18rem 40rem;
    	margin: 0 -40rem;
    	width: 100%;
	}
	.ready_head {
		background-image: url(img/ready_bg_mob.png);
		padding: 170rem 0 860rem;
	}
	.ready_title {
		line-height: 0.8;
	}
	.ready_text {
    	font-size: 20rem;
    	margin-top: 28rem;
	}
	.ready_overlay {
		margin: -90rem auto 0;
		width: calc(100% - 30rem);
	}
	.ready_item_title {
    	font-size: 24rem;
    	line-height: 120%;
    	font-weight: 500;
	}
	.ready_item {
    	width: 100%;
    	margin: 25rem auto 0;
    	padding: 28rem 0;
	}
	.ready_item_image {
		margin: 30rem auto 20rem;
	}
	.acces_title {
    	font-size: 41rem;
    	font-weight: 700;
	}
	.acces {
    	margin: 50rem auto 150rem;
	}
	.acces_overlay {
		margin: 0 20rem;
	}
	.acces_text {
    	width: auto;
	}
	.acces_text_title1 {
		margin-top: 20rem;
	}
	.acces_text_title {
    	font-size: 50rem;
    	text-align: center;
    	line-height: 110%;
	}
	.acces_text_item {
		margin: 40rem 0 0;
	}
	.acces_text_link {
    	width: 100%;
    	padding: 24rem 20rem;
    	margin: 50rem -20rem 0;
    	font-size: 30rem;
	}
	.acces_images_mac {
    	position: static;
    	width: 490rem;
    	margin-left: -20rem;
    	display: none;
	}
	.acces_images_mac_mob {
		display: block;
		width: 376rem;
    	margin-left: -20rem;
	}
	.acces_images {
		align-items: flex-start;
		flex-direction: column;
		padding-bottom: 120rem;
	}
	.acces_images_ipad {
		top: 220rem;
		left: -110rem;
	}
	.testimonials_title {
		font-size: 40rem;
	}
	.slider {
		width: 100%;
		margin: 40rem auto 0;
	}
	.slider_item {
 	  	padding: 25rem;
	}
	.slider_item_hr {
    	margin: 10rem auto 25rem;
	}
	.slider_btn {
		top: auto;
		bottom: -75rem;
	}
	.slider_btn.left {
    	left: 20rem;
	}
	.slider_btn.right {
    	right: 20rem;
	}
	.slider_item_title {
		font-size: 35rem;
	}
	.testimonials {
    	padding: 40rem 0 120rem;
	}
	.build_title {
    	font-size: 46rem;
    	font-weight: 400;
	}
	.build_text {
    	margin-top: 40rem;
	}
	.build {
    	padding: 70rem 20rem 50rem;
    	width: calc(100% - 40rem);
    	margin-bottom: 115rem;
	}
	.build_btn {
	    width: 289rem;
	    padding: 13rem 43rem;
	    margin: 40rem -20rem 0;
	    font-size: 25rem;
	    margin: -50rem -20rem 0;
	    position: relative;
	    top: 165rem;
	}
	.chart_item_year {
		margin: 0 20rem 0 10rem;
	}
	.chart_item_text {
		font-size: 18rem;
	}
	.chart_item_text {
		text-align: left;
	}
	.chart {
    	padding: 40rem 0;
	}
	.footer_logo {
    	width: 100%;
	}
	footer {
    	padding: 0rem 0 50rem;
	}
	.footer_center {
    	margin: 0 auto 60rem;
	}
	.footer_visit {
		margin-top: 50rem;
	}
	.footer_bot {
		padding-left: 0;
	}
	.footer_copyright {
		font-size: 18rem;
		width: 270rem;
    	margin: auto;
	}
}













































