.nav_menu_index {
	width: 270px;
	box-shadow: 0 0px 17px 4px rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  position: relative;
}
.nav_menu_index_title {
	font-size: 16px;
  font-weight: 500;
  padding: 13px 0 13px 10px;
  background-color: #429755;
  color: #fff;
  letter-spacing: 0.96px;
  line-height: 16px;
}
.nav_menu_index_item_arrow {
	position: absolute;
	right: 20px;
	width: 7px;
	height: 7px;
	top: calc(50% - 3px);
}
.nav_menu_index_item_arrow:before, .nav_menu_index_item_arrow:after {
	position: absolute;
	content: "";
	width: 9px;
	height: 2px;
	background-color: #3c2824;
}
.nav_menu_index_item_arrow:before {
	transform: rotate(45deg);
}
.nav_menu_index_item_arrow:after {
	transform: rotate(-45deg);
	top: 5px;
}
.nav_menu_index_item {
	padding: 13px 0 13px 10px;
	border-bottom: 1px solid #e5e7f3;
	cursor: pointer;
}
.nav_menu_index_item_title {
	line-height: 16px;
	font-size: 14px;
	font-weight: 500;
	color: #3c2824;
	letter-spacing: 0.56px;
	position: relative;
}
.nav_menu_index_item_step2 {
	position: absolute;
	left: 270px;
	top: 41px;
	background-color: transparent;
	overflow-y: scroll;
	box-shadow: 0 0px 17px -10px rgba(0, 0, 0, 0.11);
	display: none;
	height: 430px;
	width: 550px;

}
::-webkit-scrollbar-track {
	display: none;
}
.nav_menu_index_item_step_item {
	width: 270px;
	background-color: #fff;
}
.nav_menu_index_item:hover .nav_menu_index_item_step2 {
	display: block;
}
.nav_menu_index_item:hover {
	background-color: #429755;
}
.nav_menu_index_item:hover .nav_menu_index_item_title {
	color: #fff;
}
.nav_menu_index_item:hover .nav_menu_index_item_arrow:after, .nav_menu_index_item:hover .nav_menu_index_item_arrow:before {
	background-color: #fff;
}
.nav_menu_index_item_step3 {
	position: absolute;
	left: 280px;
	top: 0;
	display: none;
	box-shadow: 0 0px 17px 4px rgba(0, 0, 0, 0.11);
	width: 270px;
	background-color: #fff;
}
.nav_menu_index_item_step_item:hover .nav_menu_index_item_step3 {
	display: block;
}
.nav_menu_index_link {
	display: block;
	color: #3c2824;
	font-size: 14px;
  padding: 10px;
  font-weight: 500;
}
.nav_menu_index_link:hover {
	background-color: #429755;
	color: #fff;
}
.nav_menu_index_link span {
	display: block;
	padding: 2px 0;
}
.nav_menu_index_link span span {
	display: inline-block;
	font-style: italic;
}
.nav_menu_index_link_date {
	font-weight: 400;
	font-size: 12px;
}
.nav_menu_index_link_quantity {
	font-weight: 400;
	font-size: 12px;
}
.nav_menu_index_link_title {
	padding: 4px 0;
}
.nav_menu_index_link_category {
	padding-bottom: 6px;
}
.nav_menu_index_item_step_item h4 {
	color: #3c2824!important;
}
.nav_menu_index_item_step_item:hover h4 {
	color: #fff !important;
}
.nav_menu_index_item_step_item .nav_menu_index_item_arrow:after {
	background-color: #3c2824!important;
}
.nav_menu_index_item_step_item .nav_menu_index_item_arrow:before {
	background-color: #3c2824!important;
}
.nav_menu_index_item_step_item:hover .nav_menu_index_item_arrow:before {
	background-color: #fff !important;
}
.nav_menu_index_item_step_item:hover .nav_menu_index_item_arrow:after {
	background-color: #fff !important;
}
