html {
	padding: 0;
	margin: 0;
	font-size: 0.069445vw;
}
body {
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,p {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
header {
	padding: 30rem 0;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.container {
	width: 1240rem;
	position: relative;
	margin: auto;
}
.header_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_logo {
	width: 244rem;
}
.header_download {
	display: flex;
	align-items: center;
	margin-right: 130rem;
}
.mobile_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_burger {
	display: none;
}
.header_download_item {
	height: 40rem;
	margin-right: 20rem; 
}
.header_buttons_login {
	border: 2rem solid #FF690F;
	filter: drop-shadow(0px 0px 17px rgba(129, 129, 129, 0.23));
	border-radius: 100px;
	font-size: 14rem;
	color: #252525;
	font-weight: 700;
	padding: 8rem 21rem;
	margin-right: 20rem;
	letter-spacing: 0.2em;
	transition: 0.5s;
	text-transform: uppercase;
}
.header_buttons_login:hover {
	color: #FF690F;
	transition: 0.5s;
}
.header_buttons_registration {
	font-size: 14rem;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #FF690F;
	border: 2rem solid #FF690F;
	border-radius: 100px;
	padding: 8rem 23rem;
	font-weight: 700;
	transition: 0.5s;
}
.header_buttons_registration:hover {
	background-color: #0063A1;
	border: 2rem solid #0063A1;
	transition: 0.5s;
}
h1 {
	font-size: 44rem;
	color: #0063A1;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 130%;
}
p {
	font-size: 16rem;
	color: #6B7B85;
}
.hero_subtitle {
	font-size: 14rem;
	padding: 6rem 24rem;
	background-color: #F5F5FF;
	font-weight: 700;
	color: #0063A1;
	border-radius: 100rem;
	margin-top: 20rem;
	margin-bottom: 40rem;
	width: 292rem;

	text-transform: uppercase;
}
ul li{
	position: relative;
	font-size: 16rem;
	color: #6B7B85;
	list-style: none;
	padding-left: 5rem;
	margin-top: 8rem;
	margin-left: 20rem;
}
ul {
	padding: 0;
}
ul li:before {
	content: "";
	width: 15rem;
	height: 12rem;
	display: block;
	background-image: url(../img/check.svg);
	background-position: center;
	background-size: 15rem;
	position: absolute;
	left: -20rem;
	top: 5rem;
}
.hero_ul li {
	font-size: 20rem;
    font-weight: 600;
    color: #0063A1;
}
.hero_ul li:before {
    width: 20rem;
    height: 15rem;
    background-size: 20rem;
}
.btn {
	padding: 22rem 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 18rem;
	font-weight: 700;
	text-align: center;
	display: block;
	background: #FF690F;
	position: relative;
	overflow: hidden;
	border-radius: 100px;
}
.hero_button_overlay {
	width: 404rem;
}
.bold {
	font-weight: 700;
}
.hero {
	margin-top: 70rem;
}
.hero_btn_placeholder {
	font-size: 14rem;
	color: #FF690F;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	margin-top: 10rem;
}
.hero_ul {
	display: flex;
	justify-content: space-between;
    max-width: 420rem;
    margin-bottom: 45rem;
    margin-top: 30rem;
}
.hero_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 30rem;
}
.hero_text {
	max-width: 564rem;
}
.hero_image {
	position: relative;
	width: 540rem;
}
.hero_image_item {
	width: 266rem;
	border-radius: 20rem;
}

.busy {
	margin-top: 100rem;
}
.busy_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.busy_video_item {
	width: 610rem;
	border-radius: 30rem;
	cursor: pointer;
}
h2 {
	font-size: 34rem;
	line-height: 130%;
}
.busy_text {
	max-width: 500rem;
}
.orange {
	color: #FF690F;
}
.busy_title {
	margin-bottom: 30rem;
}
.busy_text {
	margin-bottom: 15rem;
}
.busy_video {
	position: relative;
}
.video_overlay {
	position: absolute;
	bottom: -20rem;
	right: -20rem;
	z-index: -1;
	width: 530rem;
}
.busy_bottom .video_overlay {
	right: auto;
	left: -20rem;
}
.busy_bg {
   	width: 1103rem;
    position: absolute;
    left: -100rem;
    top: 60rem;
    z-index: -1;
    display: none;
}
.grey {
	font-weight: 700;
	color: #6B7B85;
}
.blue {
	color: #0063A1;
}
.news_title {
	text-align: center;
	position: relative;
	z-index: 2;
}
.news {
	padding: 80rem 0;
	background-color: #E5EFF6;
	margin-top: 80rem;
}
.news_slider {
	margin-top: 50rem;
	z-index: 2;
}
.news_item {
	padding: 25rem;
	background: #FFFFFF;
	border-radius: 31px;
	width: 340rem;
	margin: 0 17rem;
}
.news_item_head {
	display: flex;
	align-items: center;
}
.news_item_head_text_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 185rem;
	margin-right: 25rem;
	margin-top: 10rem;
}
.news_item_head_text_item_placeholder {
	text-transform: uppercase;
	color: rgba(37, 37, 37, 0.3);
	font-size: 13rem;
	font-weight: 700;
}
.news_item_head_text_item_value {
	color: #252525;
	text-align: right;
}
.news_item_head_image {
	width: 130rem;
}
.news_item_map {
	width: 100%;
	height: 116rem;
	margin-top: 25rem;
	border-radius: 20rem;
}
.slider_arrow {
	position: absolute;
	top: calc(50% - 11rem);
	width: 20rem;
	height: 22rem;
	display: block;
	background-image: url(../img/slider_arrow.svg);
	background-size: 20rem;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	cursor: pointer;
}
.right_arrow {
	right: -40rem;
}
.left_arrow {
	left: -40rem;
	transform: rotate(180deg);
}
.slick-disabled {
	background-image: url(../img/slider_arrow_disable.svg);
}
.example_title {
	text-align: center;
}
.example_subtitle {
	text-align: center;
	max-width: 750rem;
	margin: 20rem auto 0;
}
.example {
	padding: 90rem 0 80rem;
}
h5 {
	font-size: 18rem;
	font-weight: 700;
	line-height: 120%;
}
.example_slider {
	margin-top: 60rem;
}
.example_item_image {
	max-width: 100%;
	height: 147rem;
	margin-bottom: 25rem;
}
.example_item {
	display: flex!important;
	justify-content: space-between;
	padding: 25rem;
	background-color: #fff;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 31rem;
	width: 555rem;
	text-align: center;
	margin: 0 12rem 20rem;
}
.example_item_wrong_title {
	color: #FF3333;
}
.example_item_correctly_title {
	color: #32901A;
}
.example_item_text {
	margin-top: 10rem;
}
.example_item_icon {
	position: absolute;
	width: 40rem;
	top: 10rem;
	right: 10rem;
}
.example_item_slide {
	position: relative;
	max-width: 263rem;
}
.available {
	padding: 70rem 0;
	background-image: url(../img/available_bg.jpg);
	background-size: cover;
}
.available_image {
	margin: 25rem auto 0;
	width: 577rem;
	display: block;
}
.available_title {
	text-align: center;
	font-size: 44rem;
	color: #fff;
}
.registration_title {
	max-width: 743rem;
	text-align: center;
	margin: auto;
}
.registration {
	padding: 50rem 0;
}
.registration_item {
	height: 50rem;
}
.registration_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 362rem;
	margin: 40rem auto 0;
}
.safety_text {
	width: 625rem;
}
.safety_text_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.safety_text_nav_item {
	padding: 7rem 20rem;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-size: 14rem;
	font-weight: 700;
	background: #ffe0cd;
	color: #FF690F;
	opacity: 0.6;
	border-radius: 100px;
}
.safety_text_nav_item.active {
	opacity: 1;
}
.safety_overlay {
	display: flex;
	justify-content: space-between;
	padding: 60rem;
	position: relative;
	z-index: 2;
	background-image: url(../img/safety_bg.svg);
	background-size: cover;
	border-radius: 30rem;
}
.safety_image {
	width: 430rem;
	position: relative;
	height: 406rem;
}
.safety_image_item {
	width: 282rem;
	border-radius: 20rem;
	position: absolute;
}
.safety_image1 {
	top: 0;
	left: 0;
}
.safety_image2 {
	bottom: 0;
	right: 0;
}
.safety_text_contant {
	margin-top: 50rem;
	display: none;
}
.safety_text_contant:first-child {
	display: block;
}
.safety_text_contant_title {
	color: #fff;
	max-width: 530rem;
}
.safety_text_contant_text {
	color: rgba(255, 255, 255, 0.7);
	margin-top: 20rem;
}
.safety_text_contant_btn {
	margin-top: 30rem;
	width: 404rem;
	background-color: #0063A1;
}
.safety_logo {
	width: 360rem;
}
.safety_download {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 362rem;
}
.safety_download_item {
	height: 50rem;
}
.safety_bottom_btn {
	width: 404rem;
}
.safety_bottom {
	display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
   	margin-top: -250rem;
   	z-index: 1;
    padding: 310rem 0 60rem;
}
.safety_bottom_bg {
	position: absolute;
	width: 1432rem;
	top: -55rem;
    left: -100rem;
	z-index: -1;
}
.understand {
	margin-top: 100rem;
}
.understand_overlay {
	background-image: url(../img/understand_bg.svg);
	background-size: cover;
	padding: 60rem;
	justify-content: space-between;
	display: flex;
	border-radius: 30rem;
}
.understand_text {
	width: 585rem;
}
.understand_text_title {
	color: #fff;
}
.understand_text_text {
	color: rgba(255, 255, 255, 0.7);
	margin:20rem 0 30rem;
}
.understand_text_input {
	padding: 26rem 0 26rem 40rem;
	font-size: 16rem;
	color: #0E659D;
	background: #FFFFFF;
	box-shadow: 0px 0px 17px rgba(129, 129, 129, 0.23);
	border-radius: 100px;
	border: none;
	width: 425rem;
}
.understand_text_submit {
	border: none;
	width: 465rem;
	background-color: #0063A1;
	cursor: pointer;
	text-transform: uppercase;
	margin-top: 20rem
}
.understand_image {
	width: 386rem;
    position: absolute;
    right: 30rem;
    top: 20rem;
}
.info_title {
	text-align: center;
	max-width: 715rem;
	margin: auto;
}
.info_item_image {
	width: 45rem;
	margin-right: 20rem;
}
.info_item {
	display: flex;
	align-items: center;
	padding: 33rem;
	background-color: #fff;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 70rem;
	width: 324rem;
	margin-top: 35rem;
}
.info_item:nth-child(n+7) {
	display: none;
}
.info_item.active {
	display: flex;
}
.info_item_text {
	font-size: 16rem;
	color: #272727;
	font-weight: 700;
}
.info_overlay {
	display: flex;
	flex-wrap: wrap;
	margin-top: 25rem;
	justify-content: space-between;
}
.info_btn {
	background: #0063A1;
	box-shadow: 0px 0px 17px rgba(129, 129, 129, 0.23);
	border-radius: 100px;
	text-align: center;
	margin: 60rem auto 0;
	font-size: 18rem;
	background: #0063A1;
	color: #fff;
	text-transform: uppercase;
	padding: 21rem 0;
	display: block;
	width: 404rem;
	font-weight: 700;
}
.info {
	background-image: url(../img/info_bg.svg);
	background-repeat: no-repeat;
	padding: 300rem 0 80rem;
	margin-top: -170rem;
	background-size: cover;
}
.clients {
	padding: 80rem 0;
}
.clients_title {
	max-width: 820rem;
	text-align: center;
	margin: auto;
	text-transform: uppercase;
	margin-bottom: 60rem;
}
.client_item {
	padding: 30rem 50rem;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 70px;
	height: 22rem;
	background-color: #fff;
}

.clients_overley {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.experience {
	background-image: url(../img/experience_bg.svg);
	background-size: cover;
	padding: 80rem 0 50rem;
}
.experience_title {
	text-align: center;
	max-width: 660rem;
	margin: 0 auto 50rem;
}
.experience_item {
	padding: 50rem;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 31px;
	width: 720rem;
	margin: auto;
	background-image: url(../img/experience_item_bg.svg);
	background-size: cover;
}
.experience_item.slick-slide.slick-center + .slick-slide {
    transform: scale(1) translate(20rem);
    z-index: 10;
    transition: 0.5s;
}
.experience_item.slick-slide {
    transform: scale(1) translate(-20rem);
    transition: 0.5s;
    opacity: 0.5;
}
.experience_item.slick-slide.slick-center {
    transform: scale(1);
    z-index: 30;
    position: relative;
    transition: 0.5s;
    opacity: 1;
}
.experience_item_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.experience_item_head_images {
	display: flex;
	justify-content: space-between;
	width: 380rem;
}
.experience_item_head_images_item {
	width: 180rem;
	border-radius: 30rem;
}
.experience_item_head_text_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10rem;
}
.experience_item_head_text {
	width: 300rem;
}
.experience_item_head_text_item_label {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	font-size: 13rem;
	font-weight: 700;
}
.experience_item_head_text_item_value {
	text-align: right;
	color: #FFFFFF;
	font-size: 16rem;
}
h4 {
	font-weight: 700;
	font-size: 20rem;
	line-height: 120%;
	color: #FFFFFF;
}
.experience_item_body_text {
	color: rgba(255, 255, 255, 0.7);
}
.experience_item_body_title {
	margin: 40rem 0 16rem;
}
.question {
	padding: 100rem 0;
}
.question_title {
	text-align: center;
	margin-bottom: 60rem;
}
h5 {
	font-size: 18rem;
	font-weight: 700;
	color: #252525;
}
.question_item {
	margin-top: 20rem;
	cursor: pointer;
}
.question_item:nth-child(n+4) {
	display: none;
}
.question_item.showall {
	display: block;
}
.question_item_question_title {
	text-transform: uppercase;
}
.question_item_question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24rem 40rem;
	background-color: #fff;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 261rem;
}
.question_item_question_arrow {
	position: relative;
	width: 15rem;
	height: 10rem;
	display: block;
	transition: 0.5s;
}
.question_item_question_arrow:after,.question_item_question_arrow:before {
	content: "";
	width: 10rem;
	height: 2rem;
	background-color: #333333;
	display: block;
	position: absolute;
	top: 5rem;
}
.question_item_question_arrow:after {
	transform: rotate(45deg);
	left: 0;
}
.question_item_question_arrow:before {
	transform: rotate(-45deg);
	right: 0;
}
.question_item_answer {
	padding: 15rem 40rem 0;
	display: none;
}
.question_item.active .question_item_question_title{
	color: #0063A1;
} 
.question_item_question_arrow.active:after,.question_item_question_arrow.active:before {
	background-color: #0063A1;
}
.question_item_question_arrow.active {
	transform: rotate(180deg);
	transition: 0.5s;
}
.question_btn {
	background: #0063A1;
    box-shadow: 0px 0px 17px rgba(129, 129, 129, 0.23);
    border-radius: 100px;
    text-align: center;
    margin: 60rem auto 0;
    font-size: 18rem;
    background: #0063A1;
    color: #fff;
    text-transform: uppercase;
    padding: 21rem 0;
    display: block;
    width: 404rem;
    font-weight: 700;
}
.started {
	padding: 80rem 0;
	background-color: #E5EFF6;
	position: relative;
}
.started_title {
	text-align: center;
	text-transform: uppercase;
}
.started_overlay {
	justify-content: space-between;
	display: flex;
	margin-top: 72rem;
	position: relative;
	z-index: 3;
}
.started_item_logo {
	display: block;
	margin-top: 30rem;
	width: 254rem;
}
.started_item_image {
	height: 370rem;
}
.started_item {
	text-align: center;
	width: 254rem;
}
.started_item_btn {
	font-size: 18rem;
	font-weight: 700;
	color: #fff;
	padding: 13rem 26rem;
	display: block;
	background-color: #0063A1;
	border-radius: 31rem;
	width: 95rem;
	margin: 0 auto 35rem;
	text-transform: uppercase;
	position: relative;
}
.started_item_btn:after {
	display: block;
    content: "";
    width: 50rem;
    height: 2rem;
    background-color: #0063A1;
    transform: rotate(90deg);
    top: 70rem;
    left: calc(50% - 25rem);
    position: absolute;
    z-index: -1;
}
.started_item_btn_orange {
	background-color: #FF690F;
}
.started_item_btn_orange:after {
	background-color: #FF690F;
}
.started_item_text {
	margin-top: 29rem;
}
.started_item_text_step {
	margin-top: 6rem;
}
.started_bg {
	position: absolute;
	width: 100%;
	left: 0;
	top: 140rem;
	z-index: 2;
	display: none;
}
.started_btn {
	width: 404rem;
	cursor: pointer;
	margin: 60rem auto 0;
}
.footer_links {
	column-width: 100rem;
	column-count: 2;
	column-gap: 15rem;
}
.footer_links_item {
	color: #FFFFFF;
	font-size: 16rem;
	margin-bottom: 15rem;
	display: block;
}
footer {
	padding: 70rem 0 55rem;
	background-color: #0063A1;
}
.footer_logo {
	width: 278rem;
}
.footer_logo_label {
	font-weight: 700;
	font-size: 12rem;
	letter-spacing: 0.2em;
	color: #FFFFFF;
	width: 278rem;
	text-align: center;
	margin-top: 6rem;
}
.footer_download {
	width: 274rem;
	display: flex;
	margin-top: 34rem;
	justify-content: space-between;
}
.footer_download_item {
	height: 40rem;
}
.footer_overlay {
	display: flex;
	justify-content: space-between;
}
.footer_copyright {
	margin-top: 10rem;
    text-align: center;
    font-size: 14rem;
    color: #FFFFFF;
    opacity: 0.7;
}
.footer_item_place {
	display: flex;
	align-items: end;
}
.footer_item_place_text p{
	color: #FFFFFF;
	opacity: 0.7;
	font-size: 14rem;
}
.footer_item_image {
	width: 20rem;
	margin-right: 11rem;
}
.footer_item_link {
	display: flex;
	align-items: end;
	color: #FFFFFF;
	font-size: 14rem;
	margin-top: 20rem;
}
.footer_item_link_label {
	color: #fff;
    margin-left: 30rem;
    font-size: 14rem;
}
.text_page {
	padding: 100rem 0;
	background: #E5EFF6;
}
.text_page_container {
	width: 800rem;
	margin: auto;
}
.text_page_container h4 {
	margin-top: 30rem;
	color: #252525;
}
.text_page_container p {
	margin-top: 20rem;
	color: #6B7B85;
}
.text_page_container ul {
	margin-top: 20rem;
}
.text_page_container li:before {
	display: none;
}
.text_page_container li:after {
	content: "";
	width: 5rem;
	height: 5rem;
	display: block;
	position: absolute;
	top: 10rem;
	left: -10rem;
	background-color: #FF690F;
	border-radius: 100rem;
}
.btn:before {
	content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 4em;
    display: block;
    position: absolute;
    top: 0;
    left: -5.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.btn:hover:before {
    transform: skewX(-45deg) translateX(35em);
    transition: all 0.5s ease-in-out;
}
.blue_btn:before {
	content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 4em;
    display: block;
    position: absolute;
    top: 0;
    left: -5.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}
.blue_btn:hover:before {
    transform: skewX(-45deg) translateX(35em);
    transition: all 0.5s ease-in-out;
}
.blue_btn {
	position: relative;
	overflow: hidden;
}
.footer_links_item:hover {
	text-decoration: underline;
}
.footer_item_link:hover {
	text-decoration: underline;
}
.info_item_image_hover {
	display: none;
	width: 45rem;
    margin-right: 20rem;
}
.info_item:hover .info_item_image_hover{
	display: block;
}
.info_item:hover .info_item_image{
	display: none;
}
.modal {
	display: none;
}
.modal_overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0,99,161, 0.4);
}
.modal_content {
	width: 700rem;
    padding: 40rem;
    background-color: #fff;
    position: fixed;
    top: 100rem;
    z-index: 99999;
    left: calc(50% - 390rem);
    border-radius: 30rem;
    max-height: 400rem;
    overflow-y: auto;
}
.modal_content h2 {
	margin-top: 20rem;
	font-size: 26rem;
}
.modal_content p {
	margin-top: 15rem;
}
.close_modal {
	position: fixed;
	cursor: pointer;
    width: 30rem;
    top: 120rem;
    z-index: 999999;
    right: 350rem;
}
.text_page_container_impressum h4{
	color: #0063A1;
}
.text_page_container_impressum .black {
	color: #252525;
}
.text_page_container_impressum a, .text_page a {
	color: #0063A1;
	font-weight: 700;
}
.text_page_container_impressum .question_item:nth-child(n+4) {
    display: block;
}
.text_page_container_impressum .question_item {
	width: 100%;
}
.text_page_container_impressum .question_item_question {
	width: 100%;
}
.text_page_container_impressum h5 {
	margin-top: 30rem;
}
.text_page_container_impressum .question_item_question_title {
	margin-top: 0;
}
.contact {
	margin: 70rem 0 100rem;
}
.contact_overlay {
	display: flex;
	justify-content: space-between;
	padding: 20rem;
	background: #E5EFF6;
	border-radius: 20px;
}
.contact_form {
	padding: 40rem 0 40rem 40rem;
	width: 600rem;
}
.contact_input {
	padding: 23rem 40rem;
	background-color: #fff;
	font-size: 16rem;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 230px;
	font-family: 'Poppins', sans-serif;
	line-height: 150%;
	color: #6B7B85;
	border:none;
	margin-top: 15rem;
	width: calc(100% - 80rem);
}
.contact_right {
	padding: 50rem 60rem;
	background-image: url(../img/contact_right_bg.svg);
	background-size: cover;
	width: 365rem;
	border-radius: 20rem;
}
.contact_textarea {
	padding: 23rem 40rem;
	background-color: #fff;
	font-size: 16rem;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 10rem;
	line-height: 150%;
	color: #6B7B85;
	border:none;
	font-family: 'Poppins', sans-serif;
	margin-top: 15rem;
	height: 190rem;
	width: calc(100% - 80rem);
}
.contact_submit {
	font-weight: 700;
	background: #FF690F;
	border-radius: 261px;
	font-size: 20rem;
	padding: 23rem 0;
	text-align: center;
	line-height: 120%;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	width: 100%;
	cursor: pointer;
	margin-top: 15rem;
}
.contact_right_title {
	color: #fff;
	margin-bottom: 40rem;
}
.contact_left_title {
	color: #252525;
}
.contact_right_link {
	font-weight: 700;
	font-size: 18rem;
	line-height: 120%;
	color: #FFFFFF;
}
.contact_right_text {
	line-height: 150%;
	color: #FFFFFF;
	opacity: 0.7;
	margin-bottom: 40rem;
}
.contact_item {
	margin-top: 20rem;
}
.login_logo {
	width: 343rem;
	margin: 0 auto 80rem;
	display: block;
}
.login {
	padding: 30rem 0 100rem;
	min-height: calc(100vh - 130rem);
}
.login_overlay {
	z-index: 2;
	display: flex;
	justify-content: space-between;
	position: relative;
	align-items: center;
	margin-top: 60rem;
}
.registration_section_image  {
	width: 530rem;
	border-radius: 20rem;
	margin-bottom: 40rem;
}
.registration_section .client_item {
	padding: 23rem 46rem;
	height: 17rem;
}
.registration_section  .clients_overley {
	margin-top: 50rem;
	width: 530rem;
}
.forgot {
	padding: 0;
}
.forgot .login_overlay {
	margin: 0;
}
.forgot .login_window  {
	margin: auto;
}
.forgot  .header_logo {
	margin: 0 auto 60rem;
	display: block;
}
.login_window {
	width: 480rem;
	padding: 60rem;
	background: #E5EFF6;
	border-radius: 30rem;
}
.login_window_title {
	text-align: center;
	margin-bottom: 20rem;
}
.login_window_input {
	padding: 23rem 40rem;
	background-color: #fff;
	font-size: 16rem;
	box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.08);
	border-radius: 230px;
	font-family: 'Poppins', sans-serif;
	line-height: 150%;
	color: #6B7B85;
	border:none;
	margin-top: 20rem;
	width: calc(100% - 80rem);
}
.login_window_submit {
	font-weight: 700;
	background: #FF690F;
	border-radius: 261px;
	font-size: 20rem;
	padding: 23rem 0;
	text-align: center;
	line-height: 120%;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-top: 20rem;
}
.login_window_forgot {
	text-align: center;
	font-size: 14rem;
	margin-top: 10rem;
	display: block;
	line-height: 150%;
}
.login_window_problem {
	text-align: center;
	font-size: 16rem;
	margin-top: 50rem;
	color: #6B7B85;
	display: block;
}
.login_window_registration {
	background: #0063A1;
    box-shadow: 0px 0px 17px rgba(129, 129, 129, 0.23);
    border-radius: 100px;
    text-align: center;
    margin: 15rem auto 0;
    font-size: 18rem;
    background: #0063A1;
    color: #fff;
    text-transform: uppercase;
    padding: 21rem 0;
    display: block;
    font-weight: 700;
}
.login_window_alert {
	padding: 10rem 0;
	width: 100%;
	text-align: center;
	font-size: 13rem;
	background: #FFE0E0;
	border-radius: 5px;
	margin-top: 40rem;
    margin-bottom: 5rem;
	line-height: 150%;
	color: #FF3232;
}
.login_bg {
	position: absolute;
	width: 1390rem;
	left: -100rem;
	top: -100rem;
	z-index: 1;
	display: none;
}
.registration_login {
	margin-top: 30rem;
	text-align: center;
}
.registration_login_link {
	color: #0063A1;
	font-weight: 700;
}
.registration_login_link:hover {
	text-decoration: underline;
}
.registration_alert {
	font-size: 13rem;
	line-height: 150%;
	color: #FF3232;
	margin-top: 7rem;
	padding-left: 40rem;
}
.forgot_subtitle {
	text-align: center;
}
.forgot_btn {
	font-weight: 700;
    background: #FF690F;
    border-radius: 261px;
    font-size: 20rem;
    padding: 23rem 0;
    text-align: center;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    width: 100%;
    margin-top: 40rem;
    display: block;
}
.hidden {
	overflow: hidden;
}
.modal_orange .modal_content {
	background: #FF690F;
	color: #fff;
	width: 520rem;
	left: calc(50% - 300rem);
	text-align: center;
}
.modal_orange .modal_overlay{
	background-color: rgba(255, 255, 255, 0.7);
}
.modal_text {
	margin: 24rem 0 40rem;
	color: #fff;
	opacity: 0.7;
}
.modal_btn {
	background-color: #0063A1;
}
.modal_orange .close_modal {
    width: 25rem;
    top: 135rem;
    right: 455rem;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 0.074445vw;
		overflow-x: hidden;
	}
	body {
		overflow-x: hidden;
	}
	.left_arrow {
		left: -30rem;
	}
	.right_arrow {
		right: -30rem;
	}
	.close_modal {
		right: 300rem;
	}

}
@media screen and (max-width: 768px) {
	html {
		font-size: 0.130215vw;
	}	
	.container {
		width: 728rem;
	}
	.mobile_overlay {
		display: none;
	}
	.header_burger {
		display: block;
		position: relative;
		width: 27rem;
		height: 18rem;
		z-index: 999999;
	}
	.header_burger span {
		width: 100%;
		display: block;
		position: absolute;
		top: calc(50% - 1rem);
		left: 0;
		height: 2rem;
		background-color: #FF690F;
	}
	.header_burger span:after,.header_burger span:before {
		height: 2rem;
		background-color: #FF690F;
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		transition: 0.5s;
		content: "";
	}
	.header_burger span:after {
		top: 9rem;
	}
	.header_burger span:before {
		bottom: 9rem;
	}
	.hero_overlay {
		flex-direction: column;
		padding: 40rem 40rem 0 40rem;
		border-radius: 30rem;
		background-position: center;
	}
	h1 {
		text-align: center;
	}
	.hero_text {
		max-width: 100%;
	}
	.hero_subtitle {
		margin: 20rem auto 40rem;
	}
	.hero_ul {
		margin: 0 auto 45rem;
	}
	.hero_button_overlay {
		margin: auto;
	}
	.hero_image {
		margin: 40rem auto 0;
	}
	.busy {
		margin-top: 60rem;
	}
	.busy_overlay {
		flex-direction: column;
	}
	.busy_text {
		max-width: 100%;
	}
	.busy_video_item {
		width: 100%;
		height: auto;
		border-radius: 20rem;
	}
	.busy_video {
		margin-top: 30rem;
	}
	.busy_bottom .busy_overlay{
		flex-direction: column-reverse;
	}
	.news_item_head_text_item {
		width: 140rem;
	}
	.news_item_head_image {
    	width: 120rem;
	}
	.news_item_head_text_item {
		margin-right: 20rem;
	}
	.right_arrow {
    	right: -15rem;
	}
	.left_arrow {
    	left: -15rem;
	}
	.news {
		padding: 60rem 0;
		margin-top: 60rem;
	}
	.news_bg {
		width: 1220rem;
		top: -50rem;
	}
	.example {
		padding: 60rem 0;
	}
	.example_slider {
		margin-top: 30rem;
		width: 700rem;
		margin: auto;
	}
	.example_item {
		flex-direction: column;
		padding: 20rem;
	}
	.example_item_slide {
		max-width: 100%;
	}
	.example_item_image {
		width: 100%;
		height: auto;
	}
	.example_item_slide:first-child {
		margin-bottom: 20rem;
	}
	.example_slider .left_arrow {
		left: -25rem;
	}
	.example_slider .right_arrow {
    	right: -25rem;
	}
	.available_title {
		font-size: 34rem;
	}
	.safety_overlay {
		flex-direction: column-reverse;
	}
	.safety_image {
		margin: 0 auto 40rem;
	}
	.safety_overlay {
		padding: 40rem;
	}
	.btn {
		padding: 20rem 0;
	}
	.safety_bottom {
		flex-wrap: wrap;
		flex-direction: column;
		padding: 310rem 0 60rem;
	}
	.safety_logo {
		width: 280rem;
	}
	.safety_download_item {
		height: 40rem;
	}
	.safety_download {
		width: 280rem;
		margin-top: 30rem;
	}
	.safety_bottom_btn {
    	margin: 40rem auto 0rem;
	}
	.safety_bottom_bg {
		top: 80rem;
	}
	.understand {
    	margin-top: 70rem;
	}
	.understand_overlay {
		flex-direction: column;
	}
	.understand_image {
		position: static;
	}
	.understand_text_title {
		text-align: center;
	}
	.understand_text_text {
		text-align: center;
	}
	.understand_text_input {
		padding: 21rem 0 21rem 40rem;
		margin: auto;
		display: block;
	}
	.understand_text_submit {
		margin: 20rem auto 0;
	}
	.safety_text_contant {
		margin-top: 30rem;
	}
	.safety_text_contant_title {
		text-align: center;
		max-width: 100%;
	}
	.safety_text_contant_text {
		text-align: center;
	}
	.safety_text_contant_btn {
		margin: 30rem auto 0;
	}
	.understand_image {
		margin: 30rem auto -140rem;
	}
	.info_item {
		padding: 20rem;
		width: 306rem;
	}
	.info_item_image {
		width: 40rem;
	}
	.info_item_image_hover {
		width: 40rem;
	}
	.info {
		padding: 300rem 0 60rem;
	}
	.client_item {
		padding: 20rem 35rem;
		margin-right: 20rem;
	}
	
	.clients_overley {
		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	    flex-wrap: nowrap;
	    padding: 20rem 0;
	}
	.clients_title {
		margin-bottom: 30rem;
	}
	.clients {
    	padding: 60rem 0;
	}
	.experience {
		padding: 60rem 0;
	}
	.experience_title {
		margin: 0 auto 30rem;
	}
	.experience_slider {
		width: 700rem;
		margin: auto;
	}
	.experience_slider .left_arrow {
    	left: -25rem;
	}
	.experience_slider .right_arrow {
    	right: -25rem;
	}
	.experience_item {
		width: 600rem;
		padding: 30rem;
	}
	.experience_item_head_images_item {
		width: 150rem;
	}
	.experience_item_head_images {
		width: 330rem;
	}
	.experience_item.slick-slide.slick-center + .slick-slide {
		transform: scale(0.8) translate(-820rem);
	}
	.experience_item.slick-slide {
		transform: scale(1) translate(0);
		opacity: 1;
	}
	.question {
    	padding: 60rem 0;
	}
	.question_title {
		margin-bottom: 40rem;
	}
	.started {
		padding: 60rem 0;
	}
	.started_overlay {
		margin-top: 50rem;
	}
	.started_item_logo {
		width: 224rem;
	}
	.started_item_image {
    	height: 246rem;
	}
	.started_item_btn {
		padding: 8rem 20rem;
	}
	.started_item_btn:after {
		top: 60rem;
	}
	.started_btn {
		margin: 50rem auto 0;
	}
	footer {
		padding: 60rem 0;
	}
	.footer_overlay {
		flex-wrap: wrap;
	}
	.footer_links {
		width: 270rem;
	}
	.footer_item {
		margin-top: 30rem;
	}
	
	.header_burger.active span {
		background-color: transparent;
	}
	.header_burger.active span:after {
		transform: rotate(45deg);
		top: 0;
		transition: 0.5s;
	}
	.header_burger.active span:before {
		transform: rotate(-45deg);
		bottom: 0;
		transition: 0.5s;
	}
	.mobile_overlay.active {
		display: flex;
		flex-direction: column;
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: -30rem;
		left: -20rem;
		z-index: 9999;
		background: #F0F0FF;
	} 
	.header_download {
		margin-right: 0;
		margin-top: auto;
		flex-direction: column;
	}
	.header_buttons {
		margin-top: 40rem;
		margin-bottom: auto;
		flex-direction: column;
		display: flex;
	}
	.header_buttons_login {
		text-align: center;
		margin-right: 0;
		margin-top: 15rem;
	}
	.header_download_item {
		margin-right: 0;
		width: 135rem;
		height: auto;
		margin-top: 15rem;
	}
	.header_buttons_registration {
		margin-top: 15rem;
	}
	.header_logo {
		position: relative;
		z-index: 9999999;
	}
	.text_page {
		padding: 60rem 0;
	}
	.text_page_container {
		width: 100%;
	}
	.close_modal {
		right: 60rem;
		top: 60rem;
	}
	.modal_content {
		width: 600rem;
		top: 40rem;
		left: calc(50% - 340rem);
	}
	.text_page_container_impressum .question_item_question {
    	width: calc(100% - 80rem);
	}
	.contact_overlay {
		flex-direction: column;
		padding: 40rem;
	}
	.contact {
    	margin: 0rem 0 40rem;
	}
	.contact_right {
		width: calc(100% - 120rem);
	}
	.contact_form {
    	padding: 10rem 0 50rem 0;
    	width: 100%;
    }
    .contact_left_title {
    	text-align: center;
    	margin-bottom: 30rem;
    }
    .contact_input, .contact_textarea {
    	width: calc(100% - 80rem);
    }
    .hero {
    	margin-top: 0;
    }
    .login {
    	padding: 30rem 0 60rem;
    }
    .login_overlay {
    	flex-direction: column-reverse;
    }
    .login_section {
    	margin-top: 40rem;
    	max-width: 600rem;
    }
    .registration_section {
    	max-width: 600rem;
    }
    .registration_section_image {
    	width: 100%;
    }
    .registration_section {
    	margin-top: 40rem;
    }
    .registration_section .clients_overley {
    	margin-top: 0;
    	width: 560rem;
    }
    .modal_orange .modal_content {
    	top: 120rem;
    }
    .modal_orange .close_modal {
    	right: 105rem;
    }
    .login .header_logo {
    	margin: auto;
    	display: block;
    }
    .forgot .header_logo{
    	margin: 0 auto 40rem;
    }
}
@media screen and (max-width: 480px) {
	html {
    	font-size: 0.266535vw;
	}
	.header_logo {
    	width: 215rem;
	} 
	.container {
    	width: 335rem;
	}
	h1 {
		font-size: 28rem;
	}
	.hero_overlay {
		padding: 30rem 20rem;
	}
	.hero_subtitle {
    	margin: 20rem auto 30rem;
	}
	.hero_subtitle {
		width: auto;
		text-align: center;
	}
	.hero_ul {
		flex-wrap: wrap;
		justify-content: center;
		    margin: 0 auto 30rem;
	}
	.hero_ul li {
		margin: 10rem auto 0;
	}
	.hero_button_overlay {
    	width: auto;
	}
	.btn {
		font-size: 16rem;
		padding: 18rem 0;
	}
	.hero_image_item {
		width: 185rem;
	}
	.hero_image {
	    width: 100%;
	}
	h2 {
		font-size: 24rem;
	}
	.busy_title {
		margin-bottom: 20rem;
	}
	ul li {
		margin-top: 10rem;
	}
	.busy {
    	margin-top: 20rem;
	}
	.video_overlay {
	    bottom: -10rem;
	    right: -10rem;
	    width: 310rem;
	}
	.busy_video {
    	margin-top: 20rem;
	}
	.busy_bottom {
		margin-top: 40rem;
	}
	.busy_bottom .video_overlay {
		left: -10rem;
	}
	.info_item_image_hover {
		display: none!important;
	}
	.news_item_head {
		flex-direction: column-reverse;
	}
	.news_item {
		padding: 20rem;
		margin: 0;
	}
	.news {
		padding: 50rem 0 40rem;
	}
	.news_slider {
		margin-top: 20rem;
	}
	.news_item_head_image {
    	width: 185rem;
	}
	.news_item_head_text_item {
    	width: 295rem;
    	margin: 0;
	}
	.news_item_map {
		margin-top: 20rem;
		height: 135rem;
	}
	.news_slider .slider_arrow{
		top: 100rem;
		z-index: 2;
	}
	.news_slider .left_arrow{
		left: 20rem;
	}
	.news_slider .right_arrow{
		right: 20rem;
	}
	.news_item_head_text {
		margin-top: 20rem;
	}
	.example {
    	padding: 40rem 0;
	}
	.example_subtitle {
		margin: 15rem auto 0;
	}
	.example_slider {
		margin-top: 30rem;
		width: auto;
	}
	.example_item {
		padding: 30rem 20rem;
		margin: 10rem;
	}
	.example_item_image {
		width: 250rem;
		margin: 0 auto 25rem;
	}
	.example_item_icon {
	    top: 3rem;
	    right: 20rem;
	}
	.example_slider .left_arrow {
    	left: 15rem;
	}
	.example_slider .right_arrow {
    	right: 15rem;
	}
	.example_slider .slider_arrow {
    	top: 100rem;
    	z-index: 2;
	}
	.available_image {
		width: 100%;
	}
	.available_title {
		font-size: 28rem;
	}
	.available {
		padding: 40rem 0;
	}
	.registration {
    	padding: 40rem 0 50rem;
	}
	.registration_overlay {
		margin: 30rem auto 0;
		width: auto;
	}
	.safety_overlay {
    	padding: 30rem 20rem;
    	border-radius: 30rem;
    	background-position: center;
	} 
	.safety_image_item {
		width: 194rem;
	}
	.safety_image {
    	width: 296rem;
    	height: 280rem;
	}
	.safety_text_nav {
		overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	    flex-wrap: nowrap;
	    width: 296rem;
	}
	.safety_text_nav_item {
		margin-right: 10rem;
	}
	.safety_text_contant {
		margin-top: 25rem;
	}
	.safety_text_contant_text {
		margin-top: 10rem;
	}
	.safety_text {
		width: auto;
	}
	.safety_text_contant_btn {
		margin-top: 25rem;
		width: auto;
	}
	.safety_logo {
		width: 100%;
	}
	.safety_download_item {
		height: 50rem;
	}
	.safety_download {
		width: 100%;
		margin-top: 25rem;
	}
	.safety_bottom_btn {
    	margin: 25rem auto 0rem;
    	width: 100%;
	}
	.safety_bottom {
		padding: 300rem 0 50rem;
	}
	.safety_bottom_bg {
    	top: 50rem;
	}
	.understand {
    	margin-top: 50rem;
	}
	.understand_overlay {
		padding: 30rem 20rem;
		border-radius: 30rem;
		background-position: center;
	}
	.understand_text {
    	width: auto;
	}
	.understand_text_title {
    	max-width: 270rem;
    	margin: auto;
	}
	.understand_text_text {
		margin: 15rem auto 20rem;
	}
	.understand_text_input {
		padding: 21rem 0 21rem 30rem;
		width: calc(100% - 30rem);
	}
	.understand_text_submit {
		width: 100%;
		margin: 20rem auto 0;
		white-space: normal;
		line-height: 130%;
		padding: 18rem 38rem;
	}
	.understand_image {
		width: 291rem;
		margin: 30rem auto -90rem;
	}
	.info {
    	padding: 270rem 0 50rem;
	}
	.info_btn {
		display: none;
	}
	.info_item:nth-child(n+7) {
		display: flex;
	}
	.info_item {
		margin: 0 30rem;
		border-radius: 20rem;
	}
	.info_overlay {
		margin-top: 30rem;
	}
	.info_item_image {
		width: 45rem;
		margin:0 auto 15rem;
	}
	.info_item_text {
		text-align: center;
	}
	.info_overlay .left_arrow {
    	left: 0;
	}
	.info_overlay .right_arrow {
    	right: 0;
	}
	.info_overlay .slider_arrow{
		background-image: url(../img/slider_arrow_blue.svg);
	}
	.info_overlay .slick-disabled {
		background-image: url(../img/slider_arrow_blue_disable.svg);
	}
	.clients {
    	padding: 50rem 0 30rem;
	}
	.clients_title {
    	margin-bottom: 15rem;
	}
	.experience {
		padding: 50rem 0;
	}
	.experience_title {
    	margin: 0 auto 40rem;
	}
	.experience_item_head {
		flex-direction: column;
	}
	.experience_item {
		padding: 30rem 20rem;
		width: 295rem;
		border-radius: 30rem;
		background-position: center;
	}
	.experience_item_head_images_item:first-child {
		display: none;
	}
	.experience_item_head_images_item {
		width: 230rem;
		margin: auto;
	}
	.experience_item_head_text {
		margin-top: 20rem;
	}
	.experience_item_body_title {
    	margin: 25rem 0 15rem;
	}
	.experience_slider .slider_arrow {
		background-image: url(../img/slider_arrow_white.svg);
	}
	.experience_slider {
		width: 335rem;
	}
	.experience_slider .slick-disabled {
		background-image: url(../img/slider_arrow_white_disable.svg);
	}
	.experience_slider .slider_arrow{
		top: 130rem;
		z-index: 2;
	}
	.experience_slider .right_arrow {
    	right: 15rem;
	}
	.experience_slider .left_arrow {
    	left: 15rem;
	}
	.question {
    	padding: 50rem 0;
	}
	.question_item {
		margin-top: 15rem;
	}
	.question_item_question {
		padding: 20rem 30rem;
	}
	.question_item_question_title {
		max-width: 240rem;
	}
	.question_item_question_arrow:after, .question_item_question_arrow:before {
		width: 9rem;
	}
	.question_btn {
		width: 100%;
		margin: 40rem auto 0;
	}
	.started {
    	padding: 50rem 0;
	}
	.started_overlay {
		margin-top: 0;
		flex-direction: column;
	}
	.started_item_image {
    	height: 280rem;
	}
	.started_bg {
		width: 1400rem;
	    left: -530rem;
	    top: 740rem;
	    transform: rotate(90deg);
	}
	.started_item {
		margin: 30rem auto 0;
	}
	.started_item_logo {
    	width: 254rem;
	}
	.started_btn {
    	margin: 40rem auto 0;
    	width: 100%;
    	position: relative;
    	z-index: 3;
	}
	.footer_info {
		order: 2;
		margin-top: 40rem;
	}
	footer {
    	padding: 50rem 0;
	}
	.footer_links_item {
		margin-bottom: 20rem;
	}
	.footer_links_item:last-child {
		margin-bottom: 0;
	}
	.footer_item {
    	margin-top: 40rem;
	}
	.footer_logo {
    	width: 335rem;
	}
	.footer_logo_label {
		font-size: 14rem;
		width: 100%;
		text-align: center;
	}
	.footer_download_item {
    	height: 50rem;
	}
	.footer_download {
		width: 100%;
	}
	.footer_copyright {
		margin-top: 25rem;
		text-align: center;
	}
	.modal_content {
	    width: 280rem;
	    top: 40rem;
	    left: calc(50% - 170rem);
	    padding: 30rem;
	    max-height: 80%;
	}
	.close_modal {
	    right: 30rem;
	    top: 50rem;
	}
	.modal_content h2 {
		font-size: 20rem;
	}
	.contact_overlay {
		padding: 20rem;
	}
	.contact_form {
		width: 100%;
		padding: 10rem 0 40rem 0;
	}
	.contact_textarea {
		height: 100rem;
		width: calc(100% - 50rem);
		padding: 23rem 25rem;
	}
	.contact_input {
		padding: 16rem 25rem;
		width: calc(100% - 50rem);
	}
	.contact_submit {
		padding: 15rem 0;
	}
	.contact_left_title {
		margin-bottom: 10rem;
	}
	.contact_right {
    	width: calc(100% - 40rem);
    	padding: 30rem 20rem;
	}
	.login_window {
	    width: calc(100% - 40rem);
	    padding: 40rem 20rem;
	}
	.login_overlay {
		margin-top: 40rem;
	}
	.login_logo {
    	width: 343rem;
    	margin: 0 auto 40rem;
    }
    .login_window_problem {
    	margin-top: 20rem;
    	font-size: 14rem;
    }
    .login_window_input {
    	padding: 17rem 30rem;
    	width: calc(100% - 60rem);
    	font-size: 14rem;
    }
    .login_window_submit {
    	padding: 18rem 0;
    	font-size: 16rem;
    }
    .login_window_registration {
    	font-size: 16rem;
    	padding: 15rem 0;
    }
    .login {
    	padding: 30rem 0; 
    	min-height: calc(100vh - 80rem);
	}
	.login_window_alert {
		margin-top: 20rem;
	}
	.login_window_title {
		margin-bottom: 0;
	}
	.registration_alert {
		padding-left: 20rem;
	}
	.forgot_title {
		margin-bottom: 20rem;
	}
	.forgot_btn {
		padding: 15rem 0;
	}
	.registration_section .clients_overley {
		width: 335rem;
	}
	.modal_orange .modal_content {
		width: 280rem;
    	left: calc(50% - 170rem);
	}
	.modal_orange .close_modal {
		right: 35rem;
	}
	.forgot .header_logo{
    	margin: 0 auto 30rem;
    }
}	