html {
	font-size: 0.05208383vw;
}
body {
	font-family: 'Proxima Nova';
	color: #2A1B3C;
	margin: 0;
	padding: 0;
	font-weight: 400;
}
.container {
	width: 1560rem;
	margin: 0 180rem;
}
.logo {
	width: 223rem;
	padding: 28rem 0;
}
.logo_link {
	display: block;
	text-align: center;
	margin: auto;
}
h1,h2,h3,h4,h5,p {
	margin: 0;
}
a {
	text-decoration: none;
	font-weight: 600;
	font-size: 18rem;
	color: #2A1B3C;
}
.text-link:hover {
	text-decoration: underline;
	transition: 0.5s;
}
h1 {
	font-size: 40rem;
	font-weight: 700;
	line-height: 135.8%;
}
h2 {
	font-size: 26rem;
	line-height: 150%;
	font-weight: 700;
}
h3 {
	font-size: 22rem;
	line-height: 150%;
	font-weight: 700;	
}
h4 {
	font-size: 20rem;
	line-height: 120%;
	font-weight: 700;	
}
h5 {
	font-size: 18rem;
	line-height: 150%;
	font-weight: 700;	
}
h6 {
	font-size: 16rem;
	line-height: 150%;
	font-weight: 700;
}
p {
	font-size: 18rem;
	line-height: 149.8%;
}

.index_banner_overlay {
	display: flex;
	justify-content: space-between;
	background: #D93F87;
	border-radius: 10px;
	align-items: center;
	padding-top: 20rem;
	position: relative;
}
.index_banner_text {
	padding-left: 90rem;
	width: 560rem;
}
.index_banner_text h1 {
	color: #fff;
}
.index_banner_text_txt {
	color: rgba(255, 255, 255, 0.7);
	margin-top: 40rem;
}
.index_banner_btn {
	font-size: 18rem;
	line-height: 147.4%;
	color: #fff;
	background: #44318D;
	border-radius: 70px;
	padding: 17rem 74rem;
	width: 172rem;
    text-align: center;
	display: block;
	margin-top: 50rem;
}
.arrow_next {
	position: absolute;
	bottom: 20rem;
	left: calc(50% - 23rem);
	width: 46rem;
}
.index_banner_image_item {
	width: 830rem;
}
h2 {
	font-size: 26rem;
}
.index_category_item {
	display: block;
	width: 375rem;
}
.index_category_item_img {
	width: 100%;
}
.index_category_item_title {
	margin-top: 35rem;
}
.index_category_item_text {
	margin-top: 10rem;
}
.index_category_item_link {
	color: #D93F87;
	text-decoration: underline;
	margin-top: 10rem;
	display: block;
	font-size: 18rem;
	font-weight: 600;
}
.index_category {
	margin-top: 57rem;
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-bottom: 100rem;
}
.head_banner {
	padding: 13rem 0;
	background: #44318D;
}
.head_banner_overlay {
	display: flex;
	align-items: center;
}
.head_bunner_item {
	color: #fff;
	font-size: 16rem;
	display: block;
	margin-right: 20rem;
}
header {
	padding: 30rem 0 20rem;

}
.header_overlay {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: 20rem;
}
.header_logo_image {
	width: 223rem;
}
.header_search {
	background: #FFFFFF;
	border: 1.5px solid #E8E8E8;
	border-radius: 70px;
	display: flex;
	align-items: center;
	margin-left: 52rem;
	margin-right: 44rem;
}
.header_search_select {
	width: 200rem;
    padding-left: 22rem;
}
.jq-selectbox__trigger {
	background-image: url(../img/header_search_arrov.svg);
	width: 12rem;
	height: 7rem;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
    right: 17rem;
    top: 8rem;
}
.jq-selectbox__dropdown {
	font-size: 17rem;
	background-color: #fff;
	width: 100%;
	left: -30rem;
	top: 30rem;
}
.header_search_input {
	width: 274rem;
	color: #948D9D;
	font-size: 17rem;
	padding: 20rem 0 20rem 35rem;
	border: none;
	font-size: 17rem;
	border-right: 1px solid #E8E8E8;
	border-top-left-radius: 70rem;
    border-bottom-left-radius: 70rem;
}
.header_search_select option{
	font-size: 17rem;
}
.jq-selectbox__select-text {
	font-size: 17rem;
}
.header_search_submit {
	background-image: url(../img/header_search.svg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 60rem;
	height: 60rem;
	display: block;
	border: none;
	background-color: transparent;
}
.header_phones {
	display: flex;
	align-items: end;
	margin-left: 44rem;
}
.header_phones_img {
	width: 27rem;
	margin-right: 15rem;
}
.header_phones_numbers_tel {
	font-size: 18rem;
	font-weight: 700;
	color: #44318D;
}
.header_phones_numbers_date {
	font-size: 16rem;
	line-height: 150%;
}
.header_submenu {
	display: flex;
	align-items: center;
	width: 571rem;
	justify-content: space-between;
	margin-top: 20rem;
}
.header_submenu_item {
	font-weight: 700;
	font-size: 18rem;
	line-height: 147.4%;
	color: #2A1B3C;
}
.header_login {
	display: flex;
	margin-top: 20rem;
	align-items: center;
	margin-left: auto;
}
.header_login_image {
	width: 36rem;
	margin-right: 15rem;
}
.header_login_link {
	font-size: 18rem;
}
.header_cart_image {
	width: 36rem;
	margin-right: 15rem;
}
.header_cart {
	display: flex;
	margin-top: 20rem;
	align-items: center;
	margin-left: 70rem;
}
.header_cart_arrow {
	width: 12rem;
	margin-left: 8rem;
}
.products_item {
	width: 256rem;
	padding: 0 20rem 25rem;
	background: #FFFFFF;
	border: 1.5px solid #E8E8E8;
	border-radius: 10px;
}
.products_item_image {
	width: 100%;
}
.products_item_image_overlay {
	position: relative;
}
.products_item_sale {
	position: absolute;
	top: 12rem;
	right: 0;
	width: 52rem;
	height: 52rem;
	background-image: url(../img/product_sale.svg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-size: 16rem;
	font-weight: 700;
	display: flex;
	align-items: center;
    justify-content: center;
}
.products_item_points {
	font-size: 14rem;
	color: #fff;
	text-align: center;
	font-weight: 700;
	background: #44318D;
	padding: 5rem 24rem;
	border-radius: 30px;
	position: absolute;
	bottom: 10rem;
	left: 0;
}
.products_item_price {
	display: flex;
	align-items: center;
}
.products_item_title {
	font-size: 16rem;
	font-weight: 700;
	margin: 22rem 0 17rem;
	display: block;
	color: #2A1B3C;
	line-height: 150%;
}
.products_item_price_current {
	font-size: 22rem;
	font-weight: 700;
	color: #D93F87;
}
.products_item_price_old {
	color: #948D9D;
	text-decoration: line-through;
	font-size: 16rem;
	margin-left: 15rem;
}
.products_item:hover .product_item_buy_overlay {
	display: block;
    max-height: 999999rem;
    opacity: 1;
    transition: 0.5s;
}
.product_item_buy_overlay {
	margin-top: 27rem;
	display: none;
    max-height: 0;
    opacity: 0;
    transition: 0.5s;
}
.products_item_buy {
	font-size: 16rem;
	font-weight: 700;
	background: #D93F87;
	text-align: center;
	color: #fff;
	display: block;
	padding: 15rem 0;
	border-radius: 50px;
}
.products_item_fast_buy {
	font-size: 16rem;
	color: #2A1B3C;
	display: block;
	text-align: center;
	margin-top: 15rem;
}



























.articles {
	margin-top: 80rem;
}
.articles_items {
	display: flex;
	justify-content: space-between;
	margin-top: 40rem;
}
.articles_item {
	width: 507rem;
}
.articles_item-img {
	width: 100%;
}
.articles_item-title {
	margin-top: 35rem;
	margin-bottom: 15rem;
}
.articles_item-link {
	color: #D93F87;
}
.articles_item-text {
	margin-bottom: 15rem;
}




footer {
	margin-top: 100rem;
	background-color: #2A1B3C;
	padding: 60rem 0;
}
footer h4 {
	color: #fff;
}
.footer_items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer_items-column {
	display: flex;
	flex-direction: column;
}
.footer_items-column-logo {
	width: 200rem;
	margin-bottom: 25rem;
}
.footer_items-column-phone h4 {
	margin-bottom: 8rem;
}
.footer_items-column-text {
	font-size: 16rem;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 7rem;
	font-weight: 300;
}
.footer_items-column {
	display: flex;
	flex-direction: column;
}
.footer_items-column-title {
	margin-bottom: 20rem;
}
.footer_items-column-link {
	font-size: 16rem;
	margin-bottom: 10rem;
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;	
}
.footer_items-column-social {
	display: flex;
}
.footer_items-column-social-img {
	width: 40rem;
	margin-right: 20rem;
}



/*Blog*/

.blog_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.blog .articles_item {
	margin-top: 50rem;
}
.pagination {
	display: flex;
	justify-content: space-between;
}
.blog_pagination {
	margin-top: 60rem;
}
.pagination_items {
	display: flex;
}
.pagination_items a:hover {
	color: #D93F87;
	transition: 0.5s;	
}
.pagination_items .active {
	color: #D93F87;
}
.pagination_items-link {
	margin-right: 15rem;
}




/*Article*/

.article_columns {
	display: flex;
	justify-content: space-between;
}
.article_columns-content {
	width: 1200rem;
}



.article_columns-related {
	background-color: #fff;
	box-shadow: 0px 4px 24px rgba(45, 33, 90, 0.15);
	border-radius: 10rem;
	width: 370rem;
	padding: 30rem 40rem 45rem;
}
.article_columns-related-title {
	margin-bottom: 30rem;
}
.article_columns-related-link {
	position: relative;
	padding: 15rem 0;
	display: block;
}
.article_columns-related-link:before {
    content: "";
    width: 368rem;
    height: 1rem;
    background-color: #E8E8E8;
    top: 0;
    position: absolute;
}
.article_columns-related-link:after {
	content: "";
    width: 368rem;
    height: 1rem;
    background-color: #E8E8E8;
    bottom: 0rem;
    position: absolute;
    left: 0;
}