body {
	margin: 0;
	padding: 0;
	font-family: Source Sans Pro, sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}
html {
	overflow-x: hidden;
}
a {
	color: #9ca2b1;
	text-decoration: none;
}
.container {
	width: 1200px;
	margin: auto;
}
header {
	background-color: #1b164a;
	height: 60px;
	font-size: 16px;
  	font-weight: 600;
}
header a {
	margin-left: 24px;
}
nav {
	display: flex;
}
.logo a {
	font-weight: 300;
	font-size: 21px;
	color: #fff;
	margin-right: 5px;
	margin-left: 0;
}
.logo {
	padding-top: 5px;
}
.logo span {
	font-weight: 700;
}
header div {
	padding-top: 10px;
}
nav p {
	position: absolute;
	top: -11px;
    right: -18px;
    background-color: #141136;
    color: #fff;
    font-size: 10px;
    padding: 1px 1px;
    font-weight: 300;
}
.developments,.currency,.promotions {
	position: relative;
}
.more img {
	width: 25px;
}
.more {
	position: relative;
}
.drop_nav {
	position: absolute;
	top: 30px;
    left: -100px;
	background-color: #1b164a;
	display: none;
    flex-direction: column;
    width: 150px;
    height: 150px;
    font-size: 14px;
    z-index: 1;
    padding-left: 10px;
    padding-top: 15px;
    border-radius: 3px;
}
.drop_nav a {
	color: #9ca2b1;
    margin-top: 11px;
    margin-bottom: 14px;
    margin-left: 0;
    display: block;
}
.drop_nav a:hover {
	color: #fff;
}
.drop_nav span {
	font-size: 10px;
    background-color: #141136;
    padding-left: 10px;
    padding-right: 10px;
}
.more:hover .drop_nav {
	display: block;
}
.search {
	position: relative;
	padding-top: 4px;
}
input[type="name"]::-webkit-input-placeholder {
    color: #9ca2b1;
    font: 400 14px Source Sans Pro;
    opacity: 0.7;
} 
input[type="name"]::-moz-placeholder {
    color: #9ca2b1;
    font: 400 14px Source Sans Pro;
    opacity: 0.7;
}
.search input {
	width: 196px;
	padding-left: 33px;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #9ca2b1;
	font-size: 14px;
	border-radius: 2px;
	background-color: #ffffff;
	border: 0;
}
.search a {
	position: absolute;
	margin-left: 0;
    top: 14px;
    left: 8px;
}
.search img {
	width: 16px;
	height: 16px;
}
.more {
	margin-right: 30px;
	width: 30px;
}
.sign_in  {
	margin-left: 41px;
	background-color: #32325d;
	border-radius: 3px;
	padding-top: 0;
	height: 36px;
	margin-top: 4px;
	font-size: 14px;
}
.sign_in a {
	margin-left: 0;
	padding: 0px 16px;
    position: relative;
    top: 9px;
    color: #fff;
}
.sign_up {
	background-color: #825cf7;
	border-radius: 3px;
	padding-top: 0;
	margin-top: 0px;
	font-size: 14px;
	margin-left: 14px;
	height: 36px;
	position: relative;
    top: 4px;

}
.sign_up a {
	margin-left: 0;
	position: relative;
    top: 10px;
    padding: 0 19px;
    color: #fff;
}
.description {
	background-image: -webkit-linear-gradient(#ffffff, #f3f3f3);
	background-image: -o-linear-gradient(#ffffff, #f3f3f3);
	background-image: linear-gradient(#ffffff, #f3f3f3);

}
h1 {
	font-size: 54px;
  	font-weight: bold;
  	text-align: center;
  	color: #1b164a;
  	width: 600px;
  	margin: auto;
  	margin-top: 79px;
  	position: relative;
}
.social {
	color: #9d19e1;
	background-color: #f5e8ff;
	font-size: 14px;
  	font-weight: 600;
  	position: absolute;
  	display: block;

}
.d33 {
	width: 97px; 
	height: 26px; 
	margin-left: 26px;
	position: relative;
	border-radius: 3px;
	padding-top: 5px;
}
.d33:before {
	content: "";
	width: 0; 
	height: 0;
	position: absolute; 
    right: 72%;
    top: 71%;
	border-top: 20px solid #f5e8ff;
    border-right: 20px solid transparent;
}
.description h3 {
	font-size: 18px;
  	font-weight: 600;
  	text-align: center;
  	color: #9ca2b1;
  	width: 651px;
  	margin: auto;
  	margin-top: 10px;
}
.add {
	background-color:  #6772e5;
	color: #fff;
}
#add {
	display: none;
	position: absolute;
	left: -9999999px;
}
.about_service {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  	border: solid 1px #e6e6e6;
  	color: #1b164a;
  	margin-left: 20px;
  	background-color: #fff;
}
.about_service img {
	padding-right: 13px;
	position: relative;
    top: 1px;
}
.description_href {
	text-align: center;
	margin-top: 40px;
	height: 65px;
}
.description_href a {
	padding: 15px 33px;
	font-weight: bold;
	border-radius: 4px;
}
.last_win {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}
.sum p {
	font-size: 50px;
  	font-weight: 600;
  	color: #00c868;
  	margin: 0;
}
.last_winner {
	padding-left: 16px;
}
.last_winner h4 {
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #3d4467;
	padding-top:12px;
}
.last_winner p {
	padding: 0;
	margin: 0;
	color: #9ca2b1;
	font-size: 14px;
	font-weight: 600;
}
.last_winner span {
	border-radius: 10px;
 	background-color: #ecffe8;
 	font-size: 12px;
 	padding: 1px 6px 3px 2px;
 	font-weight: 600;
 	color: #528b73;
}
.last_winner img {
	width: 18px;
	height: 18px;
    position: relative;
    top: 4px;
}
.show_more {
	font-size: 14px;
  	font-weight: bold;
  	color: #6772e5;
  	padding: 9px 18px;
  	border: 1px solid;
  	border-radius: 3px;
}


.last_rates {
	background-color: #f3f3f3;
}
.categories {
	display: flex;
	height: 40px;	
}
.categories a {
	margin-left: 24px;
	font-size: 16px;
	color: #3d4467;
	padding-bottom: 13px;
	font-weight: 400;
}
.last_rates h3 {
    text-transform: uppercase;
    font-size: 15px;
    color: #9ca2b1;
    font-weight: 600;
   	margin: 0;
}
.categories a:hover {
	border-bottom: 3px solid #3c54f5;
	color: #3c54f5;
}


.rate_table {
	display: flex;
	text-align: center;
	color: #8e8ea6;
	font-weight: 400;
}
.rate_table:hover {
	color: #8e8ea6;
}
.date_up {
	position: absolute;
	top: 19px;
	right: 11px;
}
.date_bottom {
	position: absolute;
	top: 24px;
	right: 11px;
}
.event_info {
	display: flex;
	align-items: center;
	padding-bottom: 14px;
	font-size: 14px;
	color: #3d4467;
	height: 50px;
}
.rates {
	text-align: center;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #e6e6e6;
	background-color: #fff;
	font-weight: 600;
	width: 1200px;
	height: 490px;
}
.last_event {
	margin-bottom: 4px;
}
.event {
	width: 400px;
	position: relative;
    left: 40px;

}
.event img {
	width: 28px;
	height: 28px;
}
.rate {
	width: 220px;
	padding-top: 13px;
	position: relative;
	left: 54px;
	text-align: left;
}
.factor{
	width: 88px;
    padding-left: 20px;
	padding-top: 13px;
}
.date {
	width: 100px;
	padding-top: 13px;
}
.date {
	position: relative;
	left: -7px;
}
.amount {
	font-size: 16px;
	position: relative;
	left: 28px;
	width: 100px;
	padding-top: 13px;
}
.amount_up {
	position: absolute;
	top: 19px;
	right: 5px;
}
.amount_bottom {
	position: absolute;
	top: 24px;
	right: 5px;
}
.player {
	width: 200px;
	position: relative;
	left: -2px;
}
.player img {
	width: 28px;
	height: 28px;
	margin: 0 13px;
}
.cat {
	position: relative;
    left: 30px;
    top: 12px;
}
.fact, .game {
	margin-top: 13px;
}
.logotype {
	position: relative;
	top: -4px;
	padding: 0 10px;
}
.avatar {
	position: relative;
	top: 10px;
	width: 28px;
	height: 28px;
}
.full_player {
	position: absolute;
	top: -145px;
    right: -9px;
    display: none;
}
.full_player_rate_vs {
	position: absolute;
	top: -145px;
    right: 3px;
    display: none;
}
.open_full:hover  .full_player  {
	display: block;
}

.open_full:hover  .full_player_rate_vs  {
	display: block;
}
.open_full {
	position: relative;
}
.event_info_novs {
	position: relative;
	display: flex;
}
.event_info_player {
	display: flex;

}
.event_info_cat {
	width: 120px;
    position: relative;
    top: 7px;
    left: 22px;
}
.vs_span {
	padding-top: 15px;
}
.line {
	height: 1px;
	border: 0;
	margin-top: 16px;
	color:  #e6e6e6;
	background-color:  #e6e6e6;
}
.event_info:hover {
	background-color: #fafafa;
}
.event_info:hover .event_info_rate {
	color:#6772e5;
}
.time {
	font-weight: 600;
	padding-right: 8px;
	display: block;
}
.day {
	color: #9ca2b1;
	font-size: 12px;
	font-weight: 400;
}
.rate:hover {
	color: #6772e5;
}
.amount_win {
	color: #9ca2b1;
	font-size: 13px;
	font-weight: 400;
}
.factor {
	position: relative;
	left: 20px;
}

.hint {
	padding: 10px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.hint:before {
  content: "";
  position: absolute;
  top: 101%;
  margin-top:-5px;
  left: 21px;
  width: 9px;
  height: 9px;
  border-width: 0 1px 1px 0;
  border-right: transparent;
  border-style: solid;
  border-color:rgba(0, 0, 0, 0.05);
  background: #fff;
  transform: rotate(45deg);
}
.table_rate {
	position: absolute;
	top: -65px;;
    left: 13px;
    width: 200px;
	text-align: left;
	font-size: 12px;
	display: none;
}
.table_date {
	position: absolute;
	top: -80px;
    left: 24px;
	text-align: left;
	font-size: 12px;
	display: none;
	width: 180px;
}
.table_factor {
	position: absolute;
	top: -65px;
    left: 43px;
	text-align: left;
	font-size: 12px;
	display: none;
	width: 180px;
}
.table_player {
	position: absolute;
	top: -80px;
    left: 84px;
	text-align: left;
	font-size: 12px;
	display: none;
	width: 180px;
}
.rate_table .rate:hover .table_rate {
	display: block;
	color: #2b2b2b;
} 
.rate_table .date:hover .table_date {
	display: block;
	color: #2b2b2b;
} 
.rate_table .factor:hover .table_factor {
	display: block;
	color: #2b2b2b;
} 
.rate_table .player:hover .table_player {
	display: block;
	color: #2b2b2b;
} 
.date:hover,.player:hover,.factor:hover,.rate:hover {
	color: #6772e5;
}
.event_info_date {
    width: 100px;
    position:relative;
}
.event_info_event {
	width: 430px;
	display: flex;
	margin-top: 23px;
}
.team_home {
	text-align: right;
}
.team_away {
	text-align: left;
}
.event_info_event span {
	width: 180px;
	display: block;
}
.event_info_event img {
	width: 28px;
    height: 28px
}
.event_info_rate {
	font-weight: 600;
    padding-top: 13px;
    position: relative;
    text-align: left;
    width: 220px;
}
.event_info_rate span:hover {
	color: #6772e5;
}
.event_info_amount {
	font-size: 16px;
    position: relative;
    width: 100px;
    padding-top: 13px;
    text-align: right;
}
.event_info_factor {
	position: relative;
	width: 100px;
    padding-left: 20px;
    padding-top: 13px;
}
.event_info_player {
	width: 170px;
    position: relative;
}
.event_info_player img {
   
	margin: 0 13px;
}

.event_info:hover .vs {
	opacity: 1;
	transition: 0.5s;
	margin-top: 13px;
	
}
.event_info:hover .event_info_vs .event_info_player {
	display: none;
}
.event_info_vs .event_info_player {
	position: relative;
    top: 7px;
}
.event_info_vs {
	width: 200px;
}
.event_info_novs{
	width: 200px;
}
.last_event {
	opacity: 0.2;
}
.vs {
	width: 166px;
	border-radius: 30px;
	background-color: #6772e5;
	padding: 3px 0;
	margin-top: -26px;
	margin-right: 10px;
	display: flex;
	opacity: 0;
	font-size: 13px;
}
.vs a {
	position: relative;
    top: -8px;
    left: 3px;
    color: #fff;
}
.rate_vs {
	margin-top: 14px;
	padding-left: 15px;
    padding-right: 3px;
	position: relative;
}
.open_avatar {
	top: 0;
}
.vs img {
	margin-left: 5px;
}

.categories{
    overflow: hidden;
}



.categories_item{
float: left;
}

.categories__item.active{
    border-bottom: 3px solid #3c54f5;
    color: #3c54f5;
}
.cyber_cat__item.active{
    border-bottom: 3px solid #3c54f5;
    color: #3c54f5;
}
.tabs{
    position: relative;
}

.tabs__item{
    display: none;
}
.cyber__item{
    display: none;
}
.chat {
	position: fixed;
	right: 5px;
	top: 50%;
	width: 60px;
	height: 60px;
	background-color: #2b2b2b;
	border-radius: 30px;
}
.chat img {
	position: absolute;
	top: 15px;
    right: 16px;
}
.chat a {
	width: 60px;
	height: 60px;
}
.input1 {
	width: 100%;
}
.slide_m {
	display: none;
}
.plus {
	display: none;
}
.more_rate {
	display: none;
}

.advantages {
	background-color: #f3f3f3;
	display: flex;
	justify-content: center;
	padding-bottom: 60px;
}
.adv_item {
	width: 300px;
	margin-left: 90px;
}
.adv_item img {
	position: relative;
	top: 47px;
    right: 44px;
}
.adv_item span {
	display: block;
	width: 270px;
	color: #8e8ea6;
	font-weight: 400;
	padding-top: 6px;
}
.adv_item p {
	color: #32325d;
	font-size: 17px;
	font-weight: 600;
}
.questions h2 {
	font-size: 44px;
  	font-weight: bold;
  	letter-spacing: -0.7px;
  	color: #1b164a;
}
.question {
	display: flex;
}
.question_item {
	width: 400px;
}
.question_item a {
	display: block;
	font-size: 18px;
  	color: #6772e5;
  	margin: 5px 0;
    padding: 3px 3px 3px 14px;
}
.question_item a:hover {
	background-color: rgb(103, 114, 229, 0.05);
	border-radius: 4px;
}

.question p {
	padding: 0;
	margin: 0;
	padding-left: 13px;
	color: #3d4467;
}
.answer1,.answer2,.answer3,.answer4,.answer5,.answer6,
.answer7,.answer8,.answer9,.answer10,.answer11,.answer12 {
	opacity: 0;
	height: 0;
	z-index: -99999;
	position: relative;
}
.question1,.question2,.question3,.question4,.question5,.question6,
.question1,.question2,.question3,.question4,.question5,.question6{
	z-index: 99999;
}
.answer {
	opacity: 1;
	height: 140px;
	transition: 1s;
	z-index: 99999;

}

.ask {
	color: #6772e5;
	font-size: 14px;
	border: 1px solid;
	font-weight: bold;
    border-radius: 3px;
    padding: 9px 18px;
}
.last_question {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 105px;
}
.last_question span {
	font-size: 14px;
 	color: #9ca2b1;
 	margin-right: 24px;
}
.banks {
	display: flex;
	justify-content: center;
	margin-bottom: 42px;
}
.banks div {
	margin-left: 63px;
}
.hrefs {
	display: flex;
	justify-content: space-between;
}
.hrefs h4 {
	font-size: 16px;
  	font-weight: 600;
  	letter-spacing: 0.9px;
  	color: #ffffff;
  	margin: 0;
}
footer {
	background-color: #0d0b23;
	position: relative;
	padding-bottom: 30px;
	height: 372px;
}
.hrefs a {
	display: block;
	font-size: 16px;
 	color: #8e8ea6;
 	padding-top: 16px;
}
.hrefs div {
	margin-top: 50px;
}
.hrefs span {
	font-size: 10px;
  	color: #ffffff;
  	background-color: #141136;
  	border-radius: 3px;
  	padding: 1px 3px;
  	margin-left: 3px;

}
.hrefs a:hover {
	color: #fff;
}
.footer_group5 a:hover {
	color:  #6772e5;
}
.footer_group5 a {
	padding-top: 0;
	font-size: 15px;
 	font-weight: 600;
  	color: #6772e5;
}

footer p {
	opacity: 0.6;
  	font-size: 14px;
  	color: #8e8ea6;
  	padding-bottom: 40px;
  	padding-top: 70px;
}
.footer_bank img {
	margin-left: 20px;
}
.footer_bank {
	margin-top: -80px;
	float: right;
}
footer img {
	margin-right: 10px;
}
.drop_nav_m {
	display: none;
}
.burger {
	display: none;
}
.categories_drop {
	display: none;
}
.logo_m {
	display: none;
}
.slider {
	display: none;
}
.slider2 {
	display: none;
} 


@media screen and (max-width: 1200px) {
	.container {
		width: 100%;
	}
	.drop_nav_m {
		display: block;
	}
	.drop_nav {
		height: 250px;
		top: 35px;
		padding-top: 0px;
	}
	nav {
		justify-content: space-around;
	}
		.last_rates {
		width: 100%;
	}
	.rates {
		width: 1110px;
		margin: auto;
	}
	.promotions,.currency,.developments {
		display: none;
	}

}
@media screen and (max-width: 1110px) {
	.rates {
    	width: 1035px;
	}
	.hrefs {
    	justify-content: space-around;
	}
	.adv_item {
    	width: 260px;
    	margin-left: 50px;
	}
	footer p {
		padding-left: 4%;
	}
	
}
@media screen and (max-width: 1040px) {
	.rates {
    	width: 990px;
    }
    .slider {
    	display: block;
    	margin-left: 95px;
    }
    .banks {
    	display: none;
    }
}
@media screen and (max-width: 992px) {
	.rate_table {
		display: none;
	}
	.line {
		display: none;
	}
	.event_info {
		flex-direction: column;
		height: auto;
		box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    	border: solid 1px #e6e6e6;
	}

	.rates {
    	width: 100%;
   		display: flex;
   		justify-content: space-evenly;
  		flex-wrap: wrap;
   		background-color: #f3f3f3;
   		border:0;
   		box-shadow: none;
   		height: auto;
	}
	.event_info {
		background-color: #fff;
		width: 355px;
		height: 200px;
		position: relative;
		padding-bottom: 0;
		margin-bottom: 8px;
		margin-left: 10px;
    	margin-right: 10px;
	}
	.last_event {
    	opacity:1;
    	margin-bottom: 80px;
	}
	.event_info:hover {
		background-color: #fff;
	}
	.event_info_date {
    	position: absolute;
    	left: 31px;
    	top: 17px;
    }
    .event_info_event {
   		margin-top: 44px;
   	}
   	.team_home {
		margin-left: 20px;
	}
	.show_more {
		position: absolute;
    	bottom: 0;
	}

   	.event_info_amount {
   		position: absolute;
    	right: 16px;
    	color: #00c868;
   	}
   	.event_info_factor {
   		display: none;
   	}
   	.event_info_rate {
   		color: #6772e5;
   		text-align: center;
   		position: relative;
   		top: 13px;
   		height: 20px;
   	}
   	.event_info_novs .event_info_player {
   		display: flex;
   		position: absolute;
    	bottom: -62px;
    	left: 25px;
   	} 
   	.event_info_player{
   		display: none;
   	}
   	.vs {
   		display: flex;
   		position: relative;
    	left: 18px;
    	top: 68px;
    	margin-top: 0;
   	}
   	.advantages {
   		flex-wrap: wrap;
    	justify-content: space-around;
   	}
   	.answer {
    	height: 160px;
 	}
 	.question {
   		display: block;
   		
    }
    .question_item {
    	margin: auto;
   		text-align: center;
    }
    .search {
    	display: none;
    }
    .vs {
	    display: flex;
	    position: relative;
	    left: 18px;
	    top: 47px;
	    opacity: 1;
	}
	.event_info_player {
    	display: none;
    }
    .time {
    	display: inline;
    }
    .event_info_cat {
	    position: absolute;
	    top: 17px;
	    left: -40px;
	}
	.day {
		margin-left: -7px;
	}
	.event_info:hover .vs {
    	opacity: 1;
    	margin-top: 0;
    }
    .questions h2 {
    	text-align: center;
    }
    .event_info_event {
		position: relative;
    	top: 10px;
	}
}

@media screen and (max-width: 696px){
	.sign_up {
		display: none;
	}
	.sign_in {
		background-color: #6772e5;
		margin-left: 0;
	}
	.more {
    	margin-right: 35px;
	}
	footer {
		height:  940px;;
	}
	.hrefs {
		flex-direction: column;
		margin-left: 20px;
	}
	.footer_bank {
    	margin-top: -133px;
    	float: none;
    }
    h1 {
    	font-size: 28px;
    	width: 400px;
    	margin-top: 21px;
    }
    .description h3 {
    	font-size: 14px;
    	width: 344px;
    }
    .last_rates h3 {
    	margin-left: 20px;
    }
    .d33 {
    	margin-left: 46px;
    }
    .slider {
    	margin-left: 20px;
    }
}
@media screen and (max-width: 444px) {
	.logo {
		display: none;
	}
	.slash {
		display: none;
	}
	.burger {
		display: block;
	}
	.more {
	    order: -1;
	    height: 30px;
	}
	.drop_nav {
   		height: 250px;
    	top: 35px;
    	padding-top: 0px;
	}
	.cyber_sport {
		margin-right: 13%;
	}
	nav {
		justify-content: center;
	}
	.sum p {
    	font-size: 44px;
    }
    .last_win {
    	display: block;
    	text-align: center;
    }
    .about_service {
    	display: none;
    }
    .question_item {
    	width: auto;
    }
    .questions h2 {
    	font-size: 21px;
    	text-align: start;
    	margin-left: 20px;
    }
    .question_item a {
    	font-size: 16px;
    }
    .question_item {
    	text-align: start;
    }
    .last_question {    	   
    	display: flex;
    	flex-direction: column;
    }
    .ask {
    	width: 110px;
    	margin: auto;
    	margin-top: 15px;
    }
    .last_question span {
    	margin-right: 0;
    }
    .answer {
    	height: 140px;
	}
	.add {
		display: none;
	}
	#add{
	    display:none;
	    position:fixed;
	    bottom:0;
	    left: -30px; 
	    width: 100%;
	    height: 20px;
	  	background-color: #6772e5;
	  	z-index: 99999;
	  	font-size: 14px;
  		font-weight: bold;
  		color: #fff;
	}
	.description_href {
    	margin-top: 0;
    	height: auto;
	}
	.last_win {
		margin-top: 20px;
	}
	footer p {
		margin-bottom: 25px;
	}

	
}
@media screen and (max-width: 376px) {
	.last_rates h3 {
    	margin-left: 0px;
    	font-size: 12px;
    	position: relative;
    	left: 245px;
    	top: 4px;
	}
	.categories a {
   		margin-left: 24px;
    	position: relative;
    	left: -120px;
    	font-size: 14px;
    }
    .last_rates h3 {
    	margin-left: 0px;
    	font-size: 12px;
    	position: relative;
    	left: 242px;
    	top: 4px;
	}
	.categories {
    	height: 30px;
	}
	.categories_drop {
		display: block;	
	}
	.categories_drop a {
		background-color: #2c275d;
		border-radius: 3px;
		padding: 8px 0 8px 14px;
		color: #fff;
		width: 292px;
		font-size: 16px;
		font-weight: 400;
		position: relative;
	}
	.categories_drop img,.help img {
		width: 6px;
		height: 10px;
		position: absolute;
		right: 11px;
    	top: 13px;
	}

	.help a {
		background-color: #2c275d;
		border-radius: 3px;
		padding: 8px 0 8px 14px;
		color: #fff;
		width: 292px;
		font-size: 16px;
		font-weight: 400;
		position: relative;
	}
	.drop_nav {
	    height: 667px;
	    position: fixed;
	    top: 0px;
	    padding-top: 0px;
	    left: 0px;
	    width: 320px;
	    padding-left: 14px;
	    box-shadow: 43px 2px 4px 0 rgba(27, 24, 74, 0.5);
	    z-index: 999999;
	}
	.drop_nav_m a {
		font-size: 16px;
		padding-left: 10px;
	}
	.drop_nav span {
		margin-left: 11px;
	}
	.logo_m a {
		font-weight: 300;
		font-size: 28px;
		color: #fff;
		margin-right: 5px;
		margin-left: 0;
	}
	.logo_m {
		display: block;
	}
	.logo_m span{
		font-weight: 700;
		font-size: 28px;
		color: #fff;
		margin-right: 0;
		margin-left: 0;
		width: auto;
		height: auto;
		background-color: transparent;
		padding: 0;
	}
	.more_drop {
		display: none;
	}
	.support {
		position: absolute;
    	bottom: 0;
    	right: 28%;
    	display: block;
	}
	
	



} 
@media screen and (max-width: 370px) {
	h1 {
		text-align: start;
		padding-left: 14px;
		width: auto;
	}
	.description h3 { 
		text-align: start;
		padding-left: 14px;
		width: auto;
	}
	.d33 {
		margin-left: 0;
		text-align: center;
	}
	.d33:before {
		top: 68%;
	}
	.sum p {
    	font-size: 35px;
	}
	.last_winner h4 {
		font-size: 14px;
	}
	.last_winner p {
		font-size: 12px;
	}
	.last_rates h3 {
    	margin-left: 0px;
    	font-size: 12px;
    	position: relative;
    	left: 193px;
    	top: 4px;
	}
	.categories a {
   		margin-left: 24px;
    	position: relative;
    	left: -120px;
    }
    .event_info {
   		width: 300px;
	}
	.event_info_event {
    	margin-top: 44px;
    	position: relative;
    	left: 64px;
    	top: 10px;
    }
    .event_info_event span {
    	width: 92px;
    	display: inline-block;
    	position: relative;
    	top: -6px;
	}
	.logotype {
    	position: relative;
    	top: -1px;
    }
    .more {
    	margin: 0px;
    	width: 48px;
    }
    .sport {
    	margin-left: 0;
    }
    .cyber_sport {
    	margin-right: 6%;
	}
		.footer_bank img {
		width: 40px;
	}
	.vs {
		top: 39px;
	}
	.answer {
    	height: 180px;
	}
	.categories {
    	display: flex;
    	height: 30px;
	}
	.time {
		font-size: 12px;
		color: #9ca2b1;
		font-weight: 400;
	}
	.adv_item img {
    	position: relative;
    	top: 10px;
    	left: 115px;
	}
	.last_event {
    	margin-bottom: 115px;
	}
	.show_more {
    	position: absolute;
    	bottom: 52px;
    	color: #825cf7;
	}
	.adv_item p {
		text-align: center;
	}
	.adv_item {
		margin-left: 0;
	}
	.questions {
		background-color: #f3f3f3;
	}
	.questions h2 {
		margin-top: 0;
	}
	.question_item a {
	    font-weight: 400;
	}
	.last_question span {
    	font-size: 12px;
    }
    .hrefs div {
 	    margin-top: 20px;
	}
	.hrefs h4 {
    	font-size: 14px;
    }
    footer {
    	height: 791px;
	}
}
@media screen and (max-width: 350px) {
	.logo_m a {
		font-size: 24px;
	}
	.drop_nav {
		box-shadow: 78px 2px 4px 0 rgba(27, 24, 74, 0.5);
		width: 280px;
	}
	.help a {
		    width: 241px;
	}
	.categories_drop a {
		width: 241px;
	}
}
