html {
	font-size: 0.057871vw;
	overflow-x: hidden;
}
body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: #F8F8F8;
	color: #252525;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
p {
	font-size: 25rem;
	line-height: 110%;
}
h1 {
	font-size: 62rem;
	font-weight: 800;
}
h2 {
	font-size: 47rem;
	font-weight: 700;
}
h3 {
	font-size: 35rem;
	font-weight: 600;
}
h4 {
	font-size: 17rem;
	font-weight: 400;
}
a {
	display: block;
	text-decoration: none;
	color: #252525;
}
.container {
	width: 1566rem;
	margin: auto;
}
header {
	padding: 26rem 0;
}
.header_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_logo {
	width: 241rem;
}
.header_logo img {
	width: 100%;
}
.header_nav {
	display: flex;
	align-items: center;
}
.header_nav_item {
	font-size: 25rem;
	margin-left: 78rem;
}
.header_note {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% + 170rem);
    margin-left: -85rem;
}
.header_note_item {
	padding: 23rem 85rem;
	min-width: 416rem;
	background: #FFAA01;
}
.hero {
	margin-top: 37rem;
}
.hero_title {
	width: 1400rem;
	color: #002C42;
	text-transform: uppercase;
	margin: 29rem;
}
.hero_overlay {
	display: flex;
	justify-content: space-between;
	margin-top: 35rem;
}
.hero_video {
	width: 1037rem;
	position: relative;
}
.hero_video_item {
	width: 100%;
}
.hero_video_play {
	position: absolute;
	top: calc(50% - 55rem);
	left: calc(50% - 55rem);
	width: 110rem;
	cursor: pointer;
}
.form {
	width: 444rem;
	padding: 40rem 31rem 22rem;
	background: #FFFFFF;
	text-align: center;
	box-shadow: 0px 91px 36px rgba(0, 0, 0, 0.01), 0px 51px 31px rgba(0, 0, 0, 0.03), 0px 23px 23px rgba(0, 0, 0, 0.05), 0px 6px 12px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.06);
}
.form_input {
	border: 1rem solid #202A58;
	padding: 16rem;
	background: #fff;
	margin-top: 18rem;
	display: block;
	width: calc(100% - 32rem);
	font-size: 17rem;
	font-weight: 300;
	color: #252525;
	font-family: "Roboto";
}
.form_input::-webkit-input-placeholder {
   	color: rgba(37, 37, 37, 0.4);
    font: 300 17rem 'Roboto';
} 
.form_input::-moz-placeholder {
    color: rgba(37, 37, 37, 0.4);
    font: 300 17rem 'Roboto';
}
.form_title {
	margin-bottom: 28rem;
}
.form_check {
	display: none;
}
.form_check_label {
	display: flex;
	align-items: center;
}
.form_check_label:before {
	content: "";
	width: 23rem;
	height: 23rem;
	display: block;
	background-image: url(img/sprite.svg);
	background-size: 23rem;
	background-position: bottom;
}
.form_check:checked + .form_check_label:before{
	background-position: top;
}
.form_check_text {
	color: rgba(37, 37, 37, 0.4);
	font-size: 15rem;
	display: block;
	margin-left: 5rem;
	width: calc(100% - 35rem);
	font-weight: 300;
}
.check_overlay {
	margin-top: 20rem;
}
.form_submit {
	font: 400 35rem 'Roboto';
	text-align: center;
	text-transform: uppercase;
	color: #252525;
	background: #FFAA01;
	border-radius: 33px;
	display: block;
	margin: 23rem auto 18rem;
	padding: 11rem 66rem;
	border: none;
	cursor: pointer;
}
.form_bottom_text {
	font-size: 15rem;
	font-weight: 300;
	white-space: nowrap;
	margin-left: -5rem;
	color: rgba(37, 37, 37, 0.4);
}
.advantages {
	margin-top: 150rem;
}
.advantages_overlay {
	display: flex;
	justify-content: space-between;
}
.advantages_left {
	padding: 53rem 50rem 0;
	background: #FFFFFF;
	width: 553rem;
	box-shadow: 0px 91px 36px rgba(0, 0, 0, 0.01), 0px 51px 31px rgba(0, 0, 0, 0.03), 0px 23px 23px rgba(0, 0, 0, 0.05), 0px 6px 12px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.06);
}
.advantages_left_title {
	margin-bottom: 73rem;
}
.advantages_left_item {
	display: flex;
	align-items: flex-start;
	margin-top: 40rem;
}
.advantages_left_item_image {
	width: 67rem;
}
.advantages_left_item_text {
	width: 441rem;
	margin-left: 31rem;
}
.advantages_right {
	width: 765rem;
	padding: 43rem 60rem 64rem;
	background: #002C42;
	color: #fff;
	box-shadow: 0px 91px 36px rgba(0, 0, 0, 0.01), 0px 51px 31px rgba(0, 0, 0, 0.03), 0px 23px 23px rgba(0, 0, 0, 0.05), 0px 6px 12px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.06);
}
.advantages_right_item {
	display: flex;
	align-items: center;
	margin-top: 20rem;
}
.advantages_right_image {
	width: 95rem;
}
.advantages_right_text {
	max-width: 611rem;
	margin-left: 50rem;
}
.advantages_right_title {
	margin-bottom: 50rem;
}
.person {
	background-image: url(img/person.jpg);
	background-size: cover;
	color: #fff;
	padding: 108rem 0;
	margin-top: 177rem;
}
.person_content {
	width: 640rem;
	margin-top: 10rem;
}
.person_content p {
	margin-top: 40rem;
}
.person_subtitle {
	font-size: 17rem;
	font-weight: 300;
	color: #F8F8F8;
}
.calc {
	text-align: center;
	padding: 100rem 0;
	background: #fff;
}
.calc_overlay {
	padding: 60rem 0;
	margin-top: 50rem;
	border: 8rem solid #002C42;
}
.noUi-tooltip {
	font-weight: 600;
	font-size: 35rem;
	background: #002C42;
	padding: 3rem 10rem;
	color: #fff;
}
.slider-wrapper {
	width: 1137rem;
	margin: 100rem auto 0;
}
.noUi-value {
	color: #252525;
	font-size: 35rem;
	font-weight: 600;
}
.calc_result_title {
	margin-top: 120rem;
}
.calc_result {
	margin-top: 20rem;
	color: #002C42;
	font-size: 47rem;
	font-weight: 700;
}
.noUi-target {
	background-color: #D9D9D9;
	height: 5rem;
}
.noUi-connect {
	background-color: #002C42;
}
.noUi-horizontal .noUi-handle {
    top: -11rem;
    right: -12rem;
    width: 23rem;
    height: 23rem;
    border-radius: 100%;
    background-image: url(img/trigger.svg);
    background-size: cover;
    box-shadow: none;
}
.noUi-handle:after, .noUi-handle:before {
	display: none;
}
.steps {
	margin: 135rem 0 65rem;
}
.steps_overlay {
	display: flex;
	align-items: center;
	justify-content: center;
}
.steps_item {
	display: flex;
	align-items: center;
	margin-top: 20rem;
}
.steps_item_img {
	width: 87rem;
}
.steps_item_content {
	width: 640rem;
	margin-left: 25rem;
}
.steps_content {
	margin-left: 160rem;
}
.earn {
	margin: 100rem 0 54rem;
}
.earn_title {
	text-align: center;
}
.earn_table {
	margin-top: 60rem;
}
.earn_table_item {
	display: flex;
	align-items: center;
	padding: 9rem 140rem;
	border-bottom: 1px solid #252525;
	justify-content: space-between;
}
.earn_table_item_icon {
	width: 60rem;
}
.earn_table_item_name {
	color: #101010;
	width: 120rem;
}
.earn_table_item_sum {
	text-align: center;
	font-size: 47rem;
	font-weight: 700;
	padding: 6rem;
	width: 250rem;
	background: #FFAA01;
}
.earn_table_item_code {
	color: #101010;
	width: 190rem;
}
.earn_table_item_time {
	color: #101010;
	width: 100rem;
}
.partners_overlay {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.partners_overlay img {
	width: 100%;
}
.partners_item1 {
	width: 300rem;
}
.partners_item2 {
	width: 355rem;
}
.partners_item3 {
	width: 193rem;
}
.success {
	margin: 100rem 0 140rem;
}
.success_title {
	text-align: center;
	margin-bottom: 80rem;
}
.success_item {
	display: flex;
	padding: 53rem 45rem;
	background-color: #fff;
	width: 1210rem;
	margin: 22rem auto 0;
	justify-content: space-between;
	box-shadow: 29px 144px 59px rgba(0, 0, 0, 0.01), 16px 81px 49px rgba(0, 0, 0, 0.02), 7px 36px 37px rgba(0, 0, 0, 0.04), 2px 9px 20px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
}
.success_item_image_overlay {
	width: 218rem;
}
.success_item_image {
	width: 100%;
}
.success_item_name {
	color: #000;
}
.success_item_content {
	width: 951rem;
}
.success_item_sum {
	color: #202A58;
}
.success_item_text {
	margin-top: 15rem;
	color: #000;
}
.comment_item {
	display: flex;
	margin-top: 20rem;
	align-items: flex-start;
}
.comment_icon {
	width: 91rem;
}
.comment_content {
	margin-left: 43rem;
	width: 1351rem;
}
.comment_name span {
	font-weight: 300;
	font-size: 17rem;
	color: #000000;
	margin-left: 14rem;
	opacity: 0.35;
}
.comment_name {
	display: flex;
	align-items: center;
}
.comment_text {
	margin: 3rem 0;
}
.comment_likes {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 17rem;	
	color: #000;
}
.comment_likes img {
	width: 22rem;
	margin-right: 5rem;
	margin-bottom: 5rem;
}
.comment_item_sub {
	margin-left: 130rem;
}
.contacts_form {
	margin: auto;
}
.contacts_title {
	text-align: center;
	font-weight: 800;
	font-size: 62rem;
	text-transform: uppercase;
	color: #FFAA01;
}
.contacts_subtitle {
	text-align: center;
	font-weight: 800;
	font-size: 62rem;
	text-transform: uppercase;
	color: #fff;
	margin: 0 auto 60rem;
	width: 1400rem;
}
.contacts {
	background-image: url(img/contacts_bg.jpg);
	background-size: cover;
	padding: 56rem 0 84rem;
}
footer {
	background: #002C42;
	padding: 56rem 0 70rem;
	color: #fff;
}
.footer_nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer_nav_item {
	color: #fff;
	font-weight: 300;
	margin: 0 40rem;
	font-size: 17rem;
}
.footer_copyright {
	font-weight: 300;
	font-size: 17rem;
	text-align: center;
	margin-top: 86rem;
}
.footer_overlay {
	position: relative;
}
.footer_logo {
	position: absolute;
	left: 0;
	top: -17rem;
	width: 241rem;
}
.footer_logo img {
	width: 100%;
}
.person_img {
	display: none;
}
.burger {
	display: none;
}
.thank_you {
	width: 100vw;
	height: 100vh;
	background-image: url(img/contacts_bg.jpg);
	background-size: cover;
}
.thank_you_flex {
	width: 1362rem;
	height: 760rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	position: relative;
}
.thank_title {
	color: #FFAA01;
	margin-top: 110rem;
	text-transform: uppercase;
	font-size: 52rem;
}
.thank_subtitle {
	text-transform: uppercase;
	color: #002C42;
	font-size: 52rem;
}
.thank_text {
	margin-top: 76rem;
}
.thank_overlay {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.thank_logo {
	width: 230rem;
}
.thank_logo img {
	width: 100%;
}
.thank_text {
	font-weight: 600;
	font-size: 35rem;
}
.close {
	width: 40rem;
	position: absolute;
	top: 30rem;
	right: 30rem;
}
.close img {
	width: 100%;
}
@media screen and (max-width: 768px) {
	html {
		font-size: 0.13021vw;
		overflow-x: hidden;
	}
	h1 {
		font-size: 23rem;
	}
	h2 {
		font-size: 22rem;
	}
	h3 {
		font-size: 17rem;
	}
	p {
		font-size: 16rem;
	}
	.container {
		width: 708rem;
	}
	.header_nav_item {
    	font-size: 15rem;
    	margin-left: 38rem;
	}
	.header_logo {
    	width: 180rem;
	}
	.header_note_item {
    	padding: 13rem 85rem;
    	min-width: 196rem;
	}
	.hero_title {
		width: 610rem;
		margin: 10rem 0;
	}
	.hero_overlay {
		flex-direction: column;
	}
	.hero_video {
		width: auto;
	}
	.form {
		margin: 30rem auto 0;
	}
	.form_input {
		padding: 12rem 16rem;
	}
	.form_submit {
    	font: 400 25rem 'Roboto';
	}
	.advantages {
    	margin-top: 90rem;
	}
	.advantages_overlay {
		flex-direction: column;
	}
	.advantages_left {
		width: auto;
		padding: 33rem;
	}
	.advantages_left_item_image {
    	width: 47rem;
	}
	.advantages_right {
		width: auto;
		padding: 33rem;
	}
	.advantages_right_image {
    	width: 55rem;
	}
	.person {
		margin-top: 90rem;
		padding: 50rem 0;
	}
	.person_content {
    	width: 380rem;
    	margin-top: 5rem;
	}
	.person_content p {
    	margin-top: 25rem;
    	line-height: 120%;

	}
	.calc {
		padding: 70rem 0;
	}
	.slider-wrapper {
		width: 570rem;
		margin: 80rem auto 0;
	}
	.noUi-value {
		font-size: 20rem;
	}
	.noUi-tooltip {
		font-size: 20rem;
	}
	.calc_result {
		font-size: 30rem;
	}
	.calc_result_title {
    	margin-top: 90rem;
	}
	.steps {
    	margin: 40rem 0 65rem;
	}
	.steps_overlay {
		flex-direction: column;
	}
	.steps_content {
		margin-left: 0;
		margin-top: 40rem;
	}
	.steps_item_img {
    	width: 65rem;
	}
	.steps_item_content {
		width: 420rem;
	}
	.earn_table_item {
		padding: 9rem 20rem;
	}
	.earn_table_item_icon {
    	width: 40rem;
	}
	.earn_table_item_name {
		width: 90rem;
	}
	.earn_table_item_sum {
	    font-size: 30rem;
	    width: 170rem;
	}
	.earn_table_item_code {
		width: 130rem;
	}
	.earn_table_item_time {
		width: 80rem;
	}
	.partners_item1 {
    	width: 160rem;
	}
	.partners_item2 {
    	width: 210rem;
	}
	.partners_item3 {
    	width: 133rem;
	}
	.success {
		margin: 90rem 0;
	}
	.success_title {
		margin-bottom: 80rem;
	}
	.success_item {
		padding: 33rem;
		width: auto;
	}
	.success_item_image_overlay {
    	width: 168rem;
	}
	.success_item_content {
	    width: 450rem;
	}
	.success_item_name {
		margin-top: 15rem;
	}
	.contacts_title {
		font-size: 40rem;
	}
	.contacts_subtitle {
		font-size: 40rem;
		width: auto;
	}
	.footer_logo {
		width: 180rem;
		position: relative;
		top: 0;
		left: 0;
		margin: auto;
	}
	.footer_nav {
		margin-top: 30rem;
	}
	.footer_copyright {
		margin-top: 40rem;
	}
	footer {
		padding: 40rem 0;
	}
	.thank_you_flex {
    	width: 652rem;
    	height: 60vh;
	}
	.thank_text {
    	font-weight: 600;
    	font-size: 20rem;
    	margin-top: 56rem;
	}
	.thank_title {
		margin-top: 40rem;
		font-size: 23rem;
	}
	.thank_subtitle {
		font-size: 23rem;
	}
}
@media screen and (max-width: 480px) {
	html {
	    font-size: 0.27778vw;
	}
	header {
	    padding: 8rem 0;
	    position: relative;
	}
	.container {
    	width: 320rem;
	}
	.burger {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 38rem;
		position: relative;
		height: 26rem;
	}
	.burger span {
		width: 100%;
		height: 4rem;
		background-color: #002C42;
		transition: 0.3s;
	}
	.burger span:after,.burger span:before {
		content: "";
		width: 100%;
		height: 4rem;
		background-color: #002C42;
		display: block;
		position: absolute;
		transition: 0.3s;
	}
	.burger span:after {
		bottom: 0;
		transition: 0.3s;
	}
	.burger span:before {
		top: 0;
		transition: 0.3s;
	}

	.burger.active span {
		background-color: #F8F8F8;
		transition: 0.3s;
	}
	.burger.active span:before {
    	top: 10rem;
    	transform: rotate(45deg);
    	transition: 0.3s;
	}
	.burger.active span:after {
    	bottom: 11rem;
    	transform: rotate(-45deg);
    	transition: 0.3s;
	}
	.header_nav {
	    opacity: 0;
	    position: absolute;
	    flex-direction: column;
	    width: 100%;
	    left: 0;
	    top: 0%;
	    background-color: #fff;
	    align-items: flex-start;
	    transition: 0.3s;
	}
	.header_nav.active {
		display: flex;
		top: 100%;
		transition: 0.3s;
		opacity: 1;
	}
	.header_nav_item {
		font-weight: 700;
		font-size: 22rem;
		margin: 7rem 0 7rem 17rem;
	}
	.header_logo {
		width: 122rem;
	}
	.header_note {
		display: none;
	}
	.hero_title {
	    width: 100%;
	    margin: 20rem 0;
	    font-size: 20rem;
	    text-align: center;
	}
	.hero_subtitle {
		text-align: center;
		font-weight: 400;
		font-size: 16rem;
	}
	.hero {
    	margin-top: 40rem;
	}
	.hero_overlay {
		margin-top: 8rem;
	}
	.hero_video_play {
	    top: calc(50% - 16rem);
	    left: calc(50% - 16rem);
    	width: 32rem;
	}
	.form {
    	margin: 40rem auto 0;
    	padding: 40rem 20rem 20rem;
    	width: auto;
	}
	.form_title {
		font-size: 22rem;
		margin-bottom: 20rem;
	}
	.form_input {
		margin-top: 16rem;
		padding: 10rem 12rem;
		font-size: 10rem;
		width: calc(100% - 24rem);
	}
	.form_input::-webkit-input-placeholder {
	    font: 300 10rem 'Roboto';
	} 
	.form_input::-moz-placeholder {
	    font: 300 10rem 'Roboto';
	}
	.form_check_label:before {
		width: 15rem;
		height: 15rem;
		background-size: 15rem;
	}
	.form_check_text {
		font-size: 9rem;
		width: calc(100% - 20rem);
		text-align: left;
	}
	.form_submit {
    	font: 400 20rem 'Roboto';
    	padding: 7rem 46rem;
    	margin: 20rem auto 10rem;
	}
	.form_bottom_text {
		font-size: 9rem;
	}
	.advantages_overlay {
		flex-direction: column-reverse;
	}
	.advantages {
	    margin-top: 70rem;
	}
	.advantages_right {
    	padding: 30rem 16rem;
	}
	h2 {
		font-size: 21rem;
	}
	.advantages_right_image {
    	width: 33rem;
	}
	.advantages_right_text {
		margin-left: 8rem;
	} 
	.advantages_right_item {
		margin-top: 10rem;
	}
	.advantages_right_title {
		margin-bottom: 20rem;
	}
	.advantages_left {
		padding: 30rem 25rem;
	}
	.advantages_left_title {
    	margin-bottom: 20rem;
	}
	.advantages_left_item {
		margin-top: 10rem;
	}
	.advantages_left_item_image {
    	width: 33rem;
	}
	.person {
		margin-top: 70rem;
		background-image: none;
		padding: 0 0 36rem;
		color: #252525;
	}
	.person_img {
		display: block;
		width: 360rem;
		margin-left: -20rem;
	}
	.person_title {
	    position: absolute;
	    top: 40rem;
	    left: 0;
	    font-size: 17rem;
	    color: #fff;
	}
	.person_overlay {
		position: relative;
	}
	.person_subtitle {
		position: absolute;
		top: 60rem;
		left: 0;
		font-size: 10rem;
		width: 120rem;
	}
	.person_content p {
		margin-top: 10rem;
	}
	.person_content {
    	width: auto;
    	margin-top: 20rem;
	}
	.calc {
    	padding: 36rem 0 42rem;
	}
	.calc_overlay {
		margin-top: 30rem;
		border: 2rem solid #002C42;
		padding: 20rem 0;
		width: 346rem;
    	margin-left: -15rem;
	}
	.calc_subtitle {
		font-weight: 400;
	}
	.slider-wrapper {
    	width: 265rem;
    	margin: 50rem auto 0;
	}
	.noUi-tooltip {
	    font-size: 17rem;
	}
	.noUi-value {
		font-size: 16rem;
		font-weight: 400;
	}
	.noUi-marker-horizontal.noUi-marker-large {
		display: none;
	}
	.noUi-value-horizontal {
	    -webkit-transform: translate(-50%,0%);
	    transform: translate(-50%,0%);
	}
	.noUi-horizontal .noUi-tooltip {
		bottom: 100%;
		padding: 3rem;
	}
	.calc_result_title {
    	margin-top: 50rem;
	}
	.calc_result {
    	margin-top: 10rem;
    	font-size: 22rem;
	} 
	.steps_item_content {
    	margin-left: 0;
    	width: auto;
	} 
	.steps_item {
		flex-direction: column;
		text-align: center;
		margin-top: 20rem;
	}
	.steps_item_img {
    	margin-bottom: 10rem;
    	width: 87rem;
	}
	.steps_overlay {
		flex-direction: column-reverse;
	}
	.steps_content {
		margin-top: 0;
	}
	.earn {
    	margin: 60rem 0 20rem;
	}
	.earn_title {
		text-align: left;
	}
	.earn_table {
    	margin-top: 30rem;
	}
	.earn_table_item {
	    width: 342rem;
	    padding: 11rem 14rem;
	    margin-left: -20rem;
	}
	.earn_table_item_icon {
    	width: 20rem;
	}
	.earn_table_item_name {
	    width: 65rem;
	    font-size: 14rem;
	}
	.earn_table_item_sum {
		font-size: 16rem;
		font-weight: 400;
		width: 74rem;
	}
	.earn_table_item_code {
    	font-size: 14rem;
    	width: 90rem;
	}
	.earn_table_item_time {
		font-size: 14rem;
		width: 60rem;
	}
	.partners_item1 {
    	width: 76rem;
	}
	.partners_item2 {
    	width: 91rem;
	}
	.partners_item3 {
    	width: 49rem;
	}
	.success {
    	margin: 70rem 0;
	}
	.success_title {
    	margin-bottom: 30rem;
	}
	.success_item {
		padding: 20rem 13rem;
		flex-direction: column;
	}
	.success_item_image {
		width: 56rem;
	}
	.success_item_image_overlay {
		display: flex;
		align-items: center;
		width: 208rem;
	}
	.success_item_name {
		margin-top: 0;
		margin-left: 8rem;
	}
	.success_item_content {
    	width: auto;
	}
	.success_item_sum {
		margin-top: 15rem;
	}
	.contacts {
		padding: 60rem 0 70rem;
	}
	.contacts_title {
		font-size: 23rem;
	}
	.contacts_subtitle {
		font-size: 23rem;
		margin: auto;
	}
	.footer_nav {
		flex-direction: column;
	}
	.footer_nav_item {
		margin: 5rem;
	}
	.footer_logo {
		width: 153rem;
	}
	.footer_copyright {
		font-size: 10rem;
	}
	.footer_nav_item {
		font-size: 10rem;
	}
	.thank_you_flex {
	    width: 100vw;
	    height: 100vh;
	    text-align: center;
	}
	.thank_title {
    	margin-top: 88rem;
	}
	.thank_subtitle {
		margin-top: 5rem;
	}
	.thank_text {
	    font-weight: 600;
	    font-size: 17rem;
	    margin-top: 56rem;
	    width: 310rem;
	}
	.comment_icon {
    	width: 43rem;
	} 
	.comment_content {
    	margin-left: 8rem;
    	width: 304rem;
	}
	.comment_name span {
		font-size: 10rem;
	}
	.comment_likes img {
		width: 15rem;
	}
	.comment_likes {
		font-size: 10rem;
	}
	.comment_item_sub {
		margin-left: 22rem;
	}
}