@import url('search.css');
@import url('jobpage.css');

html{
	font-size: 0.0625vw;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
	color: #2A303A;
}
p,h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.hero {
	background-image: url(../img/hero_bg.png);
	padding: 25rem 0 100rem;
	background-repeat: no-repeat;
  background-size: cover;
}
.container {
	width: 1400rem;
	margin: auto;
}
.logo img {
	width: 108rem;
}
p {
	font-size: 18rem;
	line-height: 24rem;
}
a {
	font-size: 16rem;
	text-decoration: none;
}
h1 {
	font-size: 66rem;
	line-height: 99rem;
	color: #fff;
	text-align: center;
	padding: 105rem 0 70rem;
}
h2 {
	font-size: 32rem;
}
h3	{
	font-size: 26rem;
	line-height: 39rem;
}
h4	{
	font-size: 20rem;
}
h5 {
	font-size: 16rem;
}
.input_hero_item {
	width: 440rem;
	padding:0 0 0 45rem;
	border: none;
	height: 55rem;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	background-position: 20rem 18rem;
	background-size: 16rem;
	border-top-left-radius: 5rem;
	border-bottom-left-radius: 5rem; 
	border-right: thin solid #E5E5E5;
	font: 400 18rem  'Rubik';
}

.hero_select {
	padding: 0 15rem 0 35rem;
	width: 230rem;
	height: 55rem;
	background-size: 14rem;
	background-image: url(../img/search_place.svg);
	background-repeat: no-repeat;
	background-position: 15rem 17rem;
	border: none;
	font: 400 18rem  'Rubik';
}
.hero_button {
	font: 500 18rem  'Rubik';
	background-color: #F7941F;
	border: none;
	color: #fff;
	padding: 0 36rem 0;
	height: 55rem;
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
	cursor: pointer;
}
.hero_button:hover {
	background-color: #FF9F2F;
}
.inputs {
	display: flex;
	flex-wrap: wrap;
  align-items: center;
  width: 855rem;
  margin: auto;
}
input[type="radio"],input[type="checkbox"] {
	display: none;
}
.hero_radio_label {
	font-size: 18rem;
	color: #fff;
}
.hero_radio_label {
	position: relative;
}
.hero_radio_label:after {
	position: absolute;
	left: -28rem;
	width: 20rem;
	height: 20rem;
	content: "";
	background-image: url(../img/sprite_radio.png);
	background-repeat: no-repeat;
	background-position-y: 3rem;
	background-size: 17rem;
}
.hero_radio:checked + .hero_radio_label:after {
	background-position-y: -26rem;
}
.radio {
	display: flex;
  justify-content: space-between;
  width: 600rem;
  margin: 23rem 0 0 60rem;
}

.companies {
	margin-bottom: 100rem;
}
.companies h2 {
	margin-top: 70rem;
}
.companies_logo {
	display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.companies_logo img {
	display: block;
	width: 129rem;
}
.companies_logo a {
	margin: 100rem 83rem 0 83rem;
}
.companies_logo a:nth-child(5n + 1) {
	margin-left: 0;
}
footer {
	background-color: #2373B7;
	padding: 36rem 0;
	color: #fff;
}
.footer_flex {
	display: flex;
	justify-content: space-between;
}
.footer_links a {
	color: #fff;
}
.footer_links {
	width: 370rem;
  display: flex;
  justify-content: space-between;
}
.footer_copyright p {
	font-size: 16rem;
	font-weight: 300;
}
.footer_links a:hover {
	opacity: 0.8;
}

@media screen and (max-width: 1100px) {
	html {
		font-size: 0.0678625vw;
	}
}


@media screen and (max-width: 900px) {
	.logo img {
    width: 148rem;
	}
	h1 {
		font-size: 71rem;
	}
	.input_hero_item {
		width: 600rem;
    padding: 0 0 0 65rem;
    height: 80rem;
    background-position: 27rem 26rem;
    background-size: 25rem;
    font: 400 28rem 'Rubik';
	}
	h3 {
    font-size: 36rem;
    line-height: 39rem;
	}
	h4 {
		font-size: 28rem;
	}
	h5 {
    font-size: 24rem;
	}
	.inputs {
		width: 1200rem;
	}
	.hero_select {
		padding: 0 15rem 0 55rem;
    width: 310rem;
    height: 80rem;
    background-size: 21rem;
    background-position: 25rem 24rem;
    font: 400 28rem 'Rubik';
	}
	.hero_button {
		height: 80rem;
		font: 500 30rem 'Rubik';
		padding: 0 56rem 0;
	}
	
	.hero_radio_label {
		font-size: 26rem;
	}
	.hero_radio_label:after {
		width: 25rem;
    height: 30rem;
    background-position-y: 5rem;
    background-size: 21rem;
    left: -35rem;
	}
	.hero_radio:checked + .hero_radio_label:after {
    background-position-y: -31rem;
	}
	.radio {
		width: 890rem;
	}
	h2 {
    font-size: 48rem;
	}
	.companies h2 {
    margin-top: 100rem;
	}
	.companies_logo img {

    width: 165rem;
	}
	.companies_logo  a {
		margin: 100rem 63rem 0;
	}
	.footer_links {
		width: 550rem;
	}
	.footer_links a {
		font-size: 26rem;
	}
	.footer_copyright p {
		font-size: 26rem;
	}
	footer {
		padding: 50rem 0;
	}
}
@media screen and (max-width: 768px) {
	html {
	  font-size: 0.130209vw;
	}
	.container {
    width: calc(100% - 40rem);
  }
  .logo img {
    width: 88rem;
	}
	h1 {
    font-size: 36rem;
    padding: 55rem 0 40rem;
    line-height: 40rem;
	}
	h5 {
		font-size: 16rem;
	}
	.inputs {
    width: 80%;
	}
	.input_hero_item {
		width: 100%;
		border-radius: 5px;
		height: 48rem;
		font: 400 16rem 'Rubik';
		background-size: 14rem;
		padding: 0 0 0 42rem;
		background-position: 21rem 17rem;
	}
	
	.hero_select {
		width: 100%;
    border-radius: 5px;
    height: 48rem;
    background-size: 11rem;
    background-position: 24rem 17rem;
    font: 400 16rem 'Rubik';
    padding: 0 5rem 0 42rem;
    margin-top: 20rem;
	}
	.hero_button {
    order: 1;
    width: 100%;
    height: 42rem;
    border-radius: 5px;
    font-size: 16rem;
    margin-top: 20rem;
	}
	.hero_radio_label {
		font-size: 16rem;
		margin-top: 13rem;
	}
	.radio {
		flex-direction: column;
		margin: 6rem 0 0 35rem;
	}
	.hero_radio_label:after {
		background-size: 17rem;
		left: -27rem;
		background-position-y: 1rem;
	}
	.hero_radio:checked + .hero_radio_label:after {
    background-position-y: -28rem;
	}
	.hero {
		padding: 25rem 0 50rem;
		background-position-x: 20%;
	}
	.companies h2 {
    margin-top: 50rem;
	}
	h2 {
		font-size: 26rem;
	}
	.companies_logo img {
		width: 110rem;
		
	}
	.companies_logo a {
		margin: 50rem 41rem 0;
	}
	.companies_logo a:nth-child(5n + 1) {
    margin: 50rem 41rem 0;
	} 
	.companies_logo a:nth-child(4n + 1) {
    margin-left: 0;
	}
	.footer_links a {
    font-size: 18rem;
    margin-top: 30rem;
	}
	.footer_links a:first-child {
		margin-top: 0;
	}
	.footer_copyright p {
    font-size: 16rem;
    text-align: center;
    margin-top: 30rem;
	}
	.footer_links {
    width: auto;
    flex-direction: column;
    text-align: center;
	}
	.footer_flex {
		flex-direction: column;
	}
	.companies {
    margin-bottom: 80rem;
	}
	
}
@media screen and (max-width: 480px) {
	html {
    font-size: 0.185209vw;
	}
	.companies_logo a:nth-child(4n + 1) {
    margin: 50rem 42rem 0;
	}
	.companies_logo {
		width: 100%;
		margin: auto;
		justify-content: space-around;
	}
	.hero {
		background-position-x: 40%;
	}
	.companies {
		margin-bottom: 50rem;
	}
	footer {
		padding: 40rem 0;
	} 
}
@media screen and (max-width: 380px) {
	html {
    font-size: 0.263189vw;
	}
	.companies_logo a:nth-child(2n + 1) {
    margin: 50rem 0 0;
	}
	.companies_logo a {
		margin: 50rem 0 0;
	}
	.companies_logo a:nth-child(5n + 1) {
		margin: 50rem 0 0;
	}
	.companies_logo {
		width: 329rem;
	}
	.inputs {
		width: 100%;
	}

}

@media screen and (max-width: 340px) {
	html {
    font-size: 0.294159vw;
	}
	.companies_logo {
		width: 289rem;
	}
}