@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Borsok';
    src:   url('../fonts/boorsok.ttf') format('truetype');
    src: url('Borsok.eot');
    src: url('Borsok.eot?#iefix') format('embedded-opentype'),
        url('Borsok.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ExposureCThree';
    src: url('../fonts/ExposureCThree.eot');
    src: url('../fonts/ExposureCThree.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ExposureCThree.woff') format('woff'),
        url('../fonts/ExposureCThree.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}