body {
	font-family: 'Borsok';
}

.hero__flex_info-h1{
	font-size: 52px;
}
.hero__flex_info-h2 {
	font-size: 42px;
}
.plan_title{
	font-size: 52px;
}
.plan_item h2{
	font-size: 62px;
}
.more_btn{
	font-size: 24px;
}
.program .button{
    font-family: 'Borsok';
    font-size: 22px;
} 
.contacts__tittle {
	font-size: 78px;
}
.documents_title {
	font-size: 70px;
}






html {
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden; 
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
p,div,h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}
.container {
	width: 1200px;
	padding: 0 30px;
	margin: auto;
}
.fixed {
	position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 999999;
}
.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}
.head_logo {
	display: block;
}
.head_href a {
	display: block;
	text-decoration: none;
	color: #0C355E;
	font-family: 'Gotham';
	font-weight: bold;
	font-size: 20px;
	line-height: 128.77%;
	margin-left: 15px;
	margin-right: 15px;
}
.head_href a:hover {
	color: #FF826B;
}
.head_href {
	display: flex;
	align-items: center;
}
.head_href .button {
	background-color: #f15740;
	border-radius: 30px;
	color: #fff;
	width: 147px;
    text-align: center;
    padding: 14px 10px;
    text-transform: uppercase;
    font-family: 'Borsok';
    font-size: 22px;
}
.head_href .button:hover {
	color: #fff;
	box-shadow: 6px 4px 10px rgba(158, 69, 56, 0.3);
	transition: 0.5s;
}
.language {
	width: 50px;
	font-family: 'Gotham';
	font-size: 20px;
	font-weight: bold;
	color: #0C355E;
	display: flex;
	align-items: center;
	position: relative;
}
.language_view {
	position: absolute;
	top: 30px;
	padding-left: 10px;
    margin-left: -10px;
	display: none;
	background-color: #fff;
	z-index: 99;
}
.language_view a {
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #0C355E;
}
.language_view a:hover {
    color: #FF826B;	
}
.view_img {
	transform: rotate(180deg);
    transition: 0.5s;
}

.view {
	display: block;
}
.language img {
	width: 20px;
    height: 15px;
   	margin-left: 10px;
}
.hero_title {
	width: 500px;
	margin-right: 50px;
}
.hero_title-ru {
	margin-right: 50px;
}
.hero__flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__flex_info-h1 {
	color: #FE8974;
	text-transform: uppercase;
	text-align: right;
}
.hero__flex_info-h2 {
	color: #0C355E;
	text-transform: uppercase;
	margin-top: 20px;
	text-align: right;
}
.description {
	margin-top: 30px;
}
.plan_title {
	text-align: center;
	color: #0C355E;
	line-height: 55px;
	width: 690px;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.more_btn {
	line-height:28px;
	text-align: center;
	color: #FFFFFF;
	background-color: #f15740;
	border-radius: 30px;
	transition: 0.5s;
	text-decoration: none;
	width: 284px;
    display: block;
    text-transform: uppercase;
    padding: 16px 0;
    margin: auto;
    margin-bottom: 200px;
}
.more_btn:hover {
	box-shadow: 6px 4px 10px rgba(158, 19, 0, 0.3);
	transition: 0.5s;
}
.plan_item {
	display: flex;
	align-items: center;
	position: relative;
}
.plan_item img {
	margin-left: -110px;
}
.plan_item__text2 {
	margin-left: 90px;
	text-align: right;
	display: flex;
}
.plan_item:nth-child(2) {
	margin-bottom: 50px;
	margin-top: 50px;

}
.plan_item h2 {
	line-height: 62px;
	color: #FF826B;
	width: auto;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.plan_title span {
	color: #FF826B;
}
.plan_item p {
	color: #0C355E;
	font-size: 26px;
	line-height:28px;
	width: auto;
	font-family: 'Gotham'
}
.plan_item__text1 {
	padding-left: 50px;
	display: flex;
}
.appstore {
	position: relative;
	margin-top: 100px;
	padding-bottom: 100px;
}
.appstore hr {
	background-color: #fff;
	color: #fff;
	height: 2px;
	width: 100%;
	border:none;
	position: absolute;
	top: 20px;
}
.appstore img {
	position: relative;
	display: block;
	z-index: 9;
	margin: auto;
}
.appstore a {
	display: block;
	width: 180px;
	margin: auto;
}
.description {
	background-image: url(../img/bg.svg);
	background-repeat: no-repeat;
	background-position: center 0;
}
footer {
	background-color: #75A6D1;
}
.footer {
	display: flex;
	align-items: center;
	height: 120px;
	justify-content: space-evenly;
}
.footer a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	line-height: 128.77%;
	font-family: 'Gotham';
	display: block;
}
.href {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.href a:hover {
	text-decoration: underline;
}
.social {
	display: flex;
	align-items: center;
}
.social img {
	display: block;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
}
.social img:nth-child(2) {
    height: 32px;
}
.border3 {
    height: 350px;
    width: 40px;
    border-radius: 30px;
    margin-right: 50px;
    margin-top: -25px;
    background: linear-gradient(to top, #f76c57, #ffbcb0);
}
.border1 {
    height: 340px;
    width: 40px;
    border-radius: 30px;
    margin-right: 50px;
    margin-top: -25px;
    background: linear-gradient(to top, #44FF61, #B9FFC4);
}
.border2 {
	height: 350px;
    width: 40px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: -25px;
    background: linear-gradient(to top, #93C0E1, #729FC6);
}
.mobile_m {
	display: none;
}

.menu-btn {
  display: block;
  border-radius: 50%;
  position: relative;
}
.menu-btn span {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 20px;
  height: 2px;
  background-color: #ff826b;
  -webkit-background-clip: padding-box;
  background-image: none;
}
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top:0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #ff826b;
  -webkit-background-clip: padding-box;
  background-image: none;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}
.menu-btn_active span {
  height:0;
}
.menu-btn_active span:before {
  transform: rotate(-45deg);
}
.menu-btn_active span:after {
  transform: rotate(45deg);
}
@media screen and (max-width: 1260px) {
	.container {
		width: auto;
	} 
}
@media screen and (max-width: 1200px) {
	.plan_item img {
		width: 450px;
		margin-left: -41px;
	}
	.plan_item h2 {
		width: auto;
	}
	.plan_item p {
		width: auto;
	}
	.plan_item__text1 {
		width: 540px;
	}
	.border1 {
	    height: auto;
	    width: 40px;
	    margin-top: 0;
	}
	.border2 {
	    height: auto;
	    width: 40px;
	    margin-top: 0;
	}
	.border3 {
	    height: auto;
	    width: 40px;
	    margin-top: 0;
	}
}
@media screen and (max-width: 1119px) {
	.hero__flex_info-h2 {
		text-align: left;
	}
}
@media screen and (max-width: 1041px) {
	.head_href a {
		margin-left: 10px;
		font-size: 18px;
	}
	.plan_item h2 {
		font-size: 52px;
		line-height: 55px;
	}
	.plan_item p {
		font-size: 22px;
		line-height: 22px;
	}
	.footer a {
		font-size: 16px;
	}
}
@media screen and (max-width: 992px) {
	.hero__flex {
		flex-direction: column;
	}
	.hero__flex_info-h1 {
		text-align: center;
	}
	.hero__flex_info-h2 {
		text-align: center;
		margin-bottom: 50px;
	}
	.plan_item h2 {
	    font-size: 32px;
	    line-height: 38px;
	}
	.plan_item p {
	    font-size: 14px;
	    line-height: 19px;
	}
	.plan_item img {
		width: 340px;
	}
	.border3 {
		margin-right: 20px;
		width: 25px;
	}
	.border2 {
		margin-left: 20px;
		width: 25px;
	}
	.border1 {
		margin-right: 20px;
		width: 25px;
	}
	.head_href {
		display: none;
	}
	.mobile_m {
		display: block;
		width: 42px;
		height: 15px;
		position: relative;
	}
	.footer {
		flex-direction: column;
		height: auto;
		padding-top: 20px;
	}
	.href {
		flex-direction: column;
		text-align: center;
	}
	.href a {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 20px;
	}
	.social {
		margin-top: 20px;
		margin-bottom: 20px;
	}
} 
@media screen and (max-width: 768px) {
	.plan_title{
		font-size: 38px;
	}
	.more_btn {
		font-size: 18px;
		width: 225px;
	}
	.plan_item {
		flex-direction: column;
	}
	.plan_item__text1 {
		order: 2;
	}
	.plan_title {
		width: auto;
	}
	.plan_item__text1 {
		width: auto;
	}
	.hero_title {
		margin: 0;
	}
	.hero_title-ru {
		margin: 0;
	}


}

@media screen and (max-width: 480px) {
	.container {
		padding: 0 15px;
	}
	.plan_title {
		font-size: 26px;
		line-height: 35px;
		margin-top: 30px;
		font-size: 34px;
	}
	.plan_item__text1 {
		padding-left: 0;
	}
	.plan_item__text2 {
		margin-left: 0;

	}
	.hero__flex_info-h1 {
		font-size: 34px;
	}
	.hero__flex_info-h2 {
		font-size: 28px;
		margin-bottom: 30px;
	}
	.plan_item img {
		margin-left: -90px;
	}
	.head_logo {
		width: 110px;
	}
	.description {
		margin-top: 0;
		background-position: center -120px;
	}
	.more_btn {
		margin-bottom: 117px;
	}
	.language img {
   		margin-left: 5px;
	}
	.href a {
		font-size: 18px;
	}

} 
@media screen and (max-width: 346px) {
	.plan_title {
		margin-bottom: 35px;
	}
}
.mobile_menu {
	width: 100%;
  	height:calc(100% - 100px) ;
	position: fixed;
  	transition: 0.5s;
  	transform: translateY(-300%);
  	z-index: 99;
  	top: 100px;
  	background-color: #fff;
  	overflow-y:scroll;
  	overflow-x: hidden;
}
.window_mobile_static {
	transform: translateY(-300%);
	transition: 1.5s;
}
.window_mobile_translate {
	transform: translateY(0);
}
.mobile_href a {
	display: block;
	margin: auto;
	text-align: center;
	text-decoration: none;
	margin: 30px auto;
	color: #0C355E;
	font-weight: bold;
    font-size: 20px;
    font-family: 'Gotham';
}
.mobile_href .button {
	background: linear-gradient(91.43deg, rgba(254, 137, 116, 0.5) 0.3%, #F76C57 99.6%);
	border-radius: 30px;
	color: #fff;
	width: 186px;
	text-align: center;
    padding: 20px 0;
    font-family: 'Panton';
    letter-spacing: 2px;
    text-transform: uppercase;

}
.hidden {
	overflow: hidden;
}





/*program*/


.head_logo_etc {
	width: 90px;
}
.logo-text {
	text-transform: uppercase;
	font-size: 36px;
	text-decoration: none;
	color: #0C355E;
	font-family: Borsok;
    padding-left: 10px;
}
.head_logotype {
	display: flex;
	align-items: center;
}
.program p {
	font-family: 'Gotham';
	margin: auto;
    width: 70%;
	font-size: 26px;
	color: #0C355E;
	margin-top: 15px;
	margin-bottom: 15px;
}
.program span {
	font-size: 30px;
	color: #75A6D1;
	font-family: 'Borsok';
	text-transform: uppercase;
}
.program_txt {
	margin: 159px 0;
}
.program .button{
	background-color: #f15740;
    border-radius: 30px;
    border:none;
    color: #fff;
    width: 290px;
    text-align: center;
    padding: 22px 0;
    letter-spacing: 2px;
    text-decoration: none;
    display: block;
    margin-bottom: 100px;
    text-transform: uppercase;
} 
.program .button:hover {
	box-shadow: 6px 4px 10px rgba(158, 19, 0, 0.3);
	transition: 0.5s;
}
.input {
	border-radius: 30px;
    border: 1px solid #0C355E;;
    font-size: 20px;
    width: 260px;
    height: 60px;
    padding-left: 30px;
}
input[name="input"]::-webkit-input-placeholder {
    font: 500 20px 'Gotham';
} 
form {
	width:600px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 1100px) {
	.logo-text {
		font-size: 26px;
	}
}
@media screen and (max-width: 992px) {
	.program p {
		width: 80%;
		font-size: 18px;
	}
	.program span {
		font-size: 18px;
	}
	.program_txt {
    	margin: 80px 0;
	}
	.program .button {
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 680px) {
	form {
		flex-direction: column;
		width: auto;
	}
	.input {
		margin: auto;
	}
	.program .button {
    	margin: auto;
    	margin-top: 40px;
    	margin-bottom: 80px;
	}
}
@media screen and (max-width: 630px) {
	.program p {
		width: auto;
	}
}
@media screen and (max-width: 480px) {
	.program_txt {
    	margin: 40px 0;
	}
	.program .button {
		margin-bottom: 70px;
	}
	.logo-text {
		font-size: 18px;
	}
}
@media screen and (max-width: 380px) {
	.logo-text {
		display: none;
	}
}



/*contacts*/




.contacts__tittle {
	line-height: 103.27%;
	color: #FE8974;
	text-align: center;
	margin-top: 120px;
	text-transform: uppercase;
}
.contacts_flex {
	display: flex;
	justify-content: space-evenly;
	margin-top: 120px;
}
.contacts_flex_item-title {
	text-align: center;
	font-size: 26px;
	line-height: 146.27%;
	color: #0C355E;
	font-family: 'Gotham';
	margin-bottom: 10px;
}
.contacts_flex_item-mail {
	text-align: center;
	font-size: 26px;
	line-height: 146.27%;
	color: #0C355E;
	font-family: 'Gotham';
	font-weight: 600;
	margin-bottom: 40px;
}
.contacts_flex_item-href {
	text-decoration: none;
}
.contacts_flex_item-img {
	width: 111px;
	display: block;
	margin: auto;
}
.contacts_social {
	text-align: center;
	margin-top: 108px;
	margin-bottom: 120px;
}
.contacts_social img {
	margin-left: 20px;
	margin-right: 20px;
}
@media screen and (max-width: 992px) {
	.contacts_flex {
		flex-direction: column;

	}
	.contacts_flex_item {
		margin-bottom: 100px;
	}
	.contacts_social {
		margin-top: 0;
	}
}
@media screen and (max-width: 576px) {
	.contacts__tittle {
		font-size: 52px;
		margin-top: 100px;
	}
	.contacts_flex {
		margin-top: 80px;
	}
	.contacts_social img {
	    margin-left: 10px;
	    margin-right: 10px;
	    width: 60px;
	}
	.contacts_flex_item {
		margin-bottom: 60px;
	}
	.contacts_social {
		margin-bottom: 80px;
	}
} 





/*documents*/


.documents_title {
	line-height: 103.27%;
	color: #263556;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 60px;
	text-transform: uppercase;
}
.documents a {
	text-decoration: none;
	color: #0C355E;
	font-size: 32px;
	line-height: 103.27%;
	text-transform: uppercase;
}
.privacy_content,.terms_content {
	opacity: 0;
	height: 0;
	z-index: -99999;
	position: absolute;
	font-family: 'Gotham';
	font-size: 26px;
	color: #0C355E;
	margin-top: 40px;
	overflow: hidden;
}

.terms {
	margin-top: 60px;
	margin-bottom: 120px;
}
.answer {
	opacity: 1;
	transition: 0.3s;
	z-index: 99999;
	height: 140px;
	position: relative;
	height: auto;
}

.terms_arrow,.privacy_arrow{
    transform: rotate(270deg);
    transition: 0.5s;
    position: relative;
    top: -5px;
}
.answer_img{
	transform: rotate(360deg);
	transition: 0.5s;
}
.doc_foot {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.doc_foot_view1 {
	position: static;
}
.doc_foot_view2{
	position: static;
}

.privacy_content p {
	margin-top: 25px;
    margin-bottom: 25px;
}
.privacy_content a {
	font-size: 26px;
	text-transform: unset;
}
.terms_content p {
	margin-top: 25px;
    margin-bottom: 25px;
}
.privacy_content a:hover {
	color: #FE8974;
}
.terms_content a:hover {
	color: #FE8974;
}
.terms_content a {
	font-size: 26px;
	text-transform: unset;
}
ul li {
	margin-top: 25px;
	margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
	.doc_foot{
		position: static;
	}
	.documents_title {
		margin-bottom: 100px;
		margin-top: 60px;
	}
}
@media screen and (max-width: 576px) {
	.documents_title {
		font-size: 38px;
	}
	.documents a {
		font-size: 24px;
	}
	.documents p {
		font-size: 22px;
    	line-height: 27px;
	}
	.privacy_content, .terms_content {
		margin-top: 20px;
	}
	.terms {
		margin-top: 30px;
	}
	.terms_content a {
		font-size: 22px;
	}
	.privacy_content a {
		font-size: 22px;
	}
	ul li {
		font-size: 22px;
		line-height: 27px;
	}
	.documents h3 {
		font-size: 28px;
	}
}
@media screen and (max-width: 480px) {
	.documents p {
		font-size: 18px;
	    line-height: 23px;
	}
	.documents_title {
		margin-bottom: 60px;
	}
	.terms  {
		margin-bottom: 60px;
	}
	.terms_content a {
		font-size: 18px;
	}
	.privacy_content a {
		font-size: 18px;
	}
	ul li {
		font-size: 18px;
		line-height: 23px;
	}
	.documents h3 {
		font-size: 24px;
	}
}


.spacing:hover{
	color:#FE8974;
}