html {
	overflow-x: hidden;
}
body {
	font-family: 'Borsok';
	padding: 0;
	margin: 0;
	overflow-x: hidden; 
}
p,div,h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}
.container {
	width: 1200px;
	padding: 0 30px;
	margin: auto;
}
.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
}
.head_logo {
	display: block;
}
.head_href a {
	display: block;
	text-decoration: none;
	color: #0C355E;
	font-family: Gotham Pro;
	font-weight: bold;
	font-size: 20px;
	line-height: 128.77%;
	margin-left: 15px;
	margin-right: 15px;
}
.head_href a:hover {
	color: #FF826B;
}
.head_href {
	display: flex;
	align-items: center;
}
.head_href .button {
	background: linear-gradient(91.43deg, rgba(254, 137, 116, 0.5) 0.3%, #F76C57 99.6%);
	border-radius: 30px;
	color: #fff;
	width: 186px;
	text-align: center;
	height: 30px;
    padding: 15px 0;
    font-family: Borsok;
    letter-spacing: 2px;
}
.head_href .button:hover {
	color: #fff;
	background: linear-gradient(90deg, #F76C57 0%, rgba(254, 137, 116, 0.5) 100%);
}
.hero__flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero__flex_info-h1 {
	color: #FE8974;
	font-size: 46px;
}
.hero__flex_info-h2 {
	color: #0C355E;
	font-size: 36px;
}
.description {
	margin-top: 80px;
}
.plan_title {
	font-size: 52px;
	text-align: center;
	color: #0C355E;
	line-height: 55px;
	width: 690px;
    margin: auto;
    margin-bottom: 60px;
}
.more_btn {
	font-size: 22px;
	line-height:28px;
	text-align: center;
	color: #FFFFFF;
	background: linear-gradient(90deg, rgba(254, 137, 116, 0.5) 0%, #F76C57 100%);
	border-radius: 30px;
	transition: 0.5s;
	text-decoration: none;
	width: 284px;
    display: block;
    padding: 16px 0;
    margin: auto;
    margin-bottom: 200px;
}
.more_btn:hover {
	background: linear-gradient(90deg, #F76C57 0%, rgba(254, 137, 116, 0.5) 100%);
	transition: 0.5s;
}
.plan_item {
	display: flex;
	align-items: center;
	position: relative;
}
.plan_item img {
	margin-left: -80px;
}
.plan_item__text2 {
	margin-left: 90px;
	text-align: right;
}
.plan_item:nth-child(2) {
	margin-bottom: 50px;
	margin-top: 50px;
}
.plan_item h2 {
	font-size: 62px;
	line-height: 62px;
	color: #FF826B;
	width: 623px;
	margin-bottom: 20px;
}
.plan_item p {
	color: #0C355E;
	font-size: 26px;
	line-height:28px;
	width: 640px;
	font-family: 'Gotham'
}
.plan_item__text1 {
	border-left: 3px;
}
.appstore {
	position: relative;
	margin-top: 100px;
	padding-bottom: 100px;
}
.appstore hr {
	background-color: #fff;
	color: #fff;
	height: 2px;
	width: 100%;
	border:none;
	position: absolute;
	top: 20px;
}
.appstore img {
	position: relative;
	display: block;
	z-index: 999;
	margin: auto;
}
.appstore a {
	display: block;
	width: 180px;
	margin: auto;
}
.description {
	background-image: url(../img/bg.svg);
	background-repeat: no-repeat;
	background-position: center 0;
}
footer {
	background-color: #75A6D1;
}
.footer {
	display: flex;
	align-items: center;
	height: 120px;
	justify-content: space-evenly;
}
.footer a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	line-height: 128.77%;
	font-family: Gotham;
	display: block;
}
.href {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.href a:hover {
	text-decoration: underline;
}
.social {
	display: flex;
	align-items: center;
}
.social img {
	display: block;
	height: 40px;
	margin-left: 5px;
	margin-right: 5px;
}
.social img:nth-child(2) {
    height: 32px;
}
.border3 {
    height: 350px;
    width: 7px;
    position: absolute;
    left: -50px;
    border-radius: 30px;
    top: 277px;
    background: linear-gradient(to top, #f76c57, #ffbcb0);
}
.border1 {
    height: 350px;
    width: 7px;
    position: absolute;
    left: -50px;
    border-radius: 30px;
    top: 277px;
    background: linear-gradient(to top, #44FF61, #B9FFC4);
}
.border2 {
	height: 350px;
    width: 7px;
    position: absolute;
    right: -50px;
    border-radius: 30px;
    top: 277px;
    background: linear-gradient(to top, #93C0E1, #729FC6);
}