html {
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #5E5049;
	background-color: #E5E5E5;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5 {
	padding: 0;
	margin: 0;
}
img {
	display: block;
}
a {
	text-decoration: none;
	color: #292929;
	font-size: 16px;
	display: block;
}
a:hover {
	opacity: 0.7;
}
p {
	font-size: 18px;
	color: #6B6B6B;
	margin: 30px 0;
	line-height: 27px;
}
h2 {
	font-size: 26px;
	line-height: 36px;
	font-weight: 500;
	margin: 60px 0 0;
}
.container {
	max-width: 860px;
	padding: 0 20px;
	margin: auto;
}
header {
	max-width: 1160px;
	padding: 0 20px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
.btn {
	background-color: #D1AF39;
    border: none;
    text-align: center;
    display: block;
    font-size: 18px;
    padding: 15px 0;
    cursor: pointer;
}
.btn:hover {
	background: rgba(209,175,57,0.9);
	opacity: 1;
}
.header_btn {
	width: 311px;
}
.hero {
	background-image: url(../img/hero.png);
	background-repeat: no-repeat;
	height: 410px;
	max-width: 1440px;
    margin: auto;
}
.hero h1 {
	font-size: 46px;
  max-width: 850px;
  color: #fff;
  text-align: center;
  margin: auto;
  padding-top: 100px;
  height: 100px;
  line-height: 70px;
}
.hero_p {
	margin-top: 60px;
	margin-bottom: 0;
}
.join {
	width: 276px;
	margin: 60px auto;
}
.video {
	width: 100%;
	height: 100%;
	margin-bottom: 60px;
	margin-top: 10px;
}
.image-girl {
	margin: auto;
	width: 100%;
}
.logos {
	max-width: 900px;
  margin: 60px auto 0;
  padding: 50px 100px;
  background-color: #fff;
}
.logos_flex{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.logos h2{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
.logos_item{
	width: 27%;
	margin: 30px 20px 0 20px;
}
.logos_img{
	width: 160px;
	margin: auto;
}
.meet_niucoco {
	max-width: 900px;
  margin: auto;
  padding: 50px 100px;
  background-color: #fff;
}
.meet_niucoco h2 {
	margin: 0;
}
.meet_niucoco_flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.meet_niucoco p {
	max-width: 610px;
	margin-bottom: 0;
}
.goods span {
	font-weight: 500;
}
.goods_items {
	display: flex;
	justify-content: space-between;
}
.goods_item {
	text-align: center;
}
.goods_item-link {
    margin: 10px 0;
}
.goods_item-price {
	color: #5E5049;
	font-size: 16px;
	font-weight: 500;
}
.goods .goods_item-price-old {
	text-decoration: line-through;
	font-weight: 300;
    font-size: 14px;
}
.goods_item-price-now {
	color: #D1AF39;
	margin: 0 0 0 10px;
}
.niococo_flex {
	display: flex;
}
.niococo {
	background-image: url(../img/niucoco.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: right;
	background-position-y: center;
}
.niococo_txt {
	width: 560px;
	padding: 40px 0;
}
.niucoco_image {
	display: none;
}
.for_all {
	max-width: 900px;
  margin: 60px auto;
  padding: 60px 100px;
  background-color: #fff;
}
.for_all-flex {
	display: flex;
	justify-content: space-between;
}
.for_all-flex h2 {
	margin: 0;
}
.for_all-video {
	width: 100%;
    height: 100%;
    margin: 40px auto 0;
}
.for_all-flex .goods_item {
	margin: 0 65px 0 0;
}
.for_all .btn {
	width: 276px;
    margin: 50px auto 0;
}
.rewievs h2 {
	margin: 60px 0 0;
    text-align: center;
    text-transform: uppercase;
}
.rewievs h3 {
	font-size: 14px;
    font-weight: 400;
}
.rewievs img {
	margin: 16px 0;
}
.rewievs h4 {
	font-size: 16px;
    font-weight: 500;
}
.rewievs p {
	font-size: 16px;
	margin: 15px 0 0;
}
.rewievs_item {
	margin-top: 50px;
}
.footer_product {
	max-width: 900px;
    margin: 60px auto;
}
.footer_product .goods_items {
	justify-content: space-around;
	margin-top: 80px;
}
.footer_product .btn {
	width: 276px;
    margin: 50px auto 0;
}
.footer_product .goods_item-price-old {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 14px;
}
.results {
		max-width: 900px;
    margin: 60px auto;
    padding: 1px 100px 20px 100px;
    background-color: #fff;
}
.results h2{
	margin-bottom: 60px;
}
.results_items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.results_item {
	display: flex;
	margin: auto;
}
.results_item img {
	width: 200px;
}
.results_item p {
	text-align: center;
	margin: 10px 0 40px;
}
@media screen and (max-width:1224px) {
	.niococo_txt {
		width: 450px;
		padding: 70px 20px;
	}
}
@media screen and (max-width:1100px) {
	.niococo {
		background-image: none;
		height: auto;
	}
	.niococo_flex {
		flex-direction: column-reverse;
		align-items: center;
	}
	.niucoco_image {
		width: 100%;
		display: block;
	}
	.niococo_txt {
		width: calc(100% - 40px);
	}
	.dry_img {
	width: 400px;
	}
}
@media screen and (max-width:900px) {
	.meet_niucoco {
		padding: 50px 20px;
	}
	.meet_niucoco_flex {
		flex-direction: column-reverse;
	}
	.meet_niucoco_flex h2 {
		text-align: center;
		margin-top: 40px;
	}
}
@media screen and (max-width:800px) {
	.for_all-flex {
		flex-direction: column-reverse;
	}
	.for_all-flex .goods_item {
	    margin: auto;
	    width: 230px;
	}
	.for_all {
		padding: 50px 20px;
	}
	.for_all-flex h2 {
		text-align: center;
	}
	.hero {
		background-size: cover;
		height: auto;
	}
	.hero h1 {
		padding: 50px 20px;
    	height: auto;
	}
	.footer_product {
		padding: 50px 20px;
	}
	.goods_items {
		justify-content: space-evenly;
	    flex-wrap: wrap;
	    width: 590px;
	    margin: auto;
	}
	.goods .goods_item:last-child {
		margin-top: 40px;
	}
}
@media screen and (max-width:768px) {
	.hero h1 {
		font-size: 38px;
		line-height: 54px;
	}
}
@media screen and (max-width:700px) {
	.logos_item {
    width: 170px;
	}
	.logos {
		padding: 50px 0;
	}
}
@media screen and (max-width:620px) {
	h2 {
		margin: 30px 0 0;
		font-size: 22px;
		line-height: 32px;
	}
	p {
		margin: 15px 0;
		font-size: 14px;
		line-height: 22px;
	}
	.btn {
		font-size: 16px;
	}
	.rewievs_item {
   		margin-top: 35px;
	}
	.hero {
		background-position-x: center;
	}
	.hero h1 {
    font-size: 28px;
    line-height: 40px;
	}
	.goods_items {
		width: 320px;
	}
	.goods .goods_item {
		margin-top: 40px;
	}
	.footer_product .goods_items {
		width: 320px;
	}
	.footer_product .goods_item {
		margin-top: 40px;
	}
	.footer_product .goods_items {
		margin-top: 0;
	}
	.results {
		padding: 1px 0;
	}
	
}
@media screen and (max-width:500px) {
	header .header_btn {
		margin: 15px auto 30px;
	}
	header img {
		margin: auto;
	}
	header {
		display: block;
    height: auto;
    padding-top: 20px;
	}
	.logos_item {
		width: 40%;
		margin: 30px 5px 0;
	}
	.logos_img {
		width: 100%;
	}
	.niococo_txt {
		padding: 30px 20px;
	}
	.niococo_txt-text {
		margin-top: 20px;
	}
	.results h2 {
		margin-bottom: 30px;
	}
	.footer_product {
		padding: 0 20px;
		margin: auto;
	}
}
@media screen and (max-width:440px) {
	.results_item img {
    width: 140px;
	}
}
@media screen and (max-width:373px) {
	.header_btn {
		width: 280px;
	}	
	.goods_items {
    	width: 280px;
	}
	.footer_product .goods_items {
		width: 280px;
	}
	.hero h1 {
    font-size: 24px;
    line-height: 34px;
	}
}