html	{
	margin: 0;
	padding: 0;
	font-size: 0.069445vw;
	overflow-x: hidden;
}
body	{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #414A68;
    font-family: 'SF Pro Text';
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
.container {
	width: 1240rem;
	margin: auto;
	position: relative;
}
h1 {
    font-family: 'SF Compact Rounded';
    font-weight: 700;
    font-size: 46rem;
    line-height: 100%;	
}
h2 {
    font-family: 'SF Compact Rounded';
    font-weight: 700;
    font-size: 46rem;
    line-height: 100%;	
}
h3 {
    font-family: 'SF Compact Rounded';
    font-weight: 700;
    font-size: 36rem;
    line-height: 100%;		
}
h4 {
    font-family: 'SF Compact Rounded';
    font-size: 33rem;
    line-height: 100%;
    font-weight: 600;
}
h5 {
    font-family: 'SF Compact Rounded';
	font-weight: 600;
	font-size: 20rem;
	line-height: 130%;
}
p {
    font-family: 'SF Pro Text';
    font-size: 20rem;
    line-height: 150%;
    font-weight: 200;
}
ul {
    font-family: 'SF Pro Text';
    font-size: 20rem;
    line-height: 150%;
    font-weight: 200;
    padding: 0;
    margin: 0;
}
li {
	list-style: none;
	display: flex;
	align-items: baseline;
	margin: 10rem 0;
}
li:before {
   content: '';
   display: inline-block;
   height: 18rem;
   width: 18rem;
   background-image: url(../img/list_circle.svg);
   background-size: contain;
   margin-right: 9rem;
   background-repeat: no-repeat;
   background-position: center;
}
ul li span{
    width: calc(100% - 28rem);
}


/*Client*/

.client_hero {
	background: linear-gradient(90deg, #546086 0%, #606C94 100%);
	width: 100%;
	height: 800rem;
	position: relative;
}
.client_hero:before {
	background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 100%;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    top: 0;
}
.client_hero-items {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.client_hero-text {
	width: 640rem;
}
.hero_logo {
	width: 160rem;
	margin-top: 100rem;
}
.client_hero-text-title {
	color: #fff;
	margin-top: 40rem;
	margin-bottom: 40rem;
}
.client_hero-text-subtitle {
	color: #fff;
	margin-bottom: 40rem;
}
.accent_blue {
	color: #99F9FB;
}
.client_hero-text-download, .client_about-items-text-download {
	display: flex;
	width: 322rem;
	justify-content: space-between;
	position: relative;
	z-index: 9999;
}
.download_button {
	width: 142rem;
}
.client_hero-image {
	position: relative;
    width: 570rem;
    height: 630rem;
    margin-top: 115rem;
}
.client_hero-image-phone {
	width: 290rem;
    margin: auto;
    display: block;
    z-index: 10;
	position: relative;
}
.client_hero-image-circle {
	width: 360rem;
    height: 360rem;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 90rem;
    right: 105rem;
    border-radius: 1000rem;
    z-index: 0;
}
.client_hero-image-circle:before {
	content: "";
    width: 460rem;
    height: 460rem;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    border-radius: 1000rem;
    top: -50rem;
    right: -50rem;
}
.client_hero-image-circle:after {
    content: "";
    width: 550rem;
    height: 550rem;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    border-radius: 1000rem;
    right: -95rem;
    top: -95rem;
}

@-webkit-keyframes animate-circle {
    from {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.2;
    }
}

@keyframes animate-circle {
    from {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.2;
    }
}

.client_hero-image-circle {
        -webkit-animation: animate-circle 1.5s cubic-bezier(.42, 0, 1, 1) infinite;
                animation: animate-circle 1.5s cubic-bezier(.42, 0, 1, 1) infinite;
    }

.client_hero-image-circle {
            -webkit-animation-delay: 0;
                    animation-delay: 0;
        }

.client_hero-image-circle:before {
            -webkit-animation-delay: calc(1.5s / -3);
                    animation-delay: calc(1.5s / -3);
        }

.client_hero-image-circle:after {
            -webkit-animation-delay: calc(1.5s / -6);
                    animation-delay: calc(1.5s / -6);
        }








@-webkit-keyframes animate-video {
    from {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes animate-video {
    from {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
.client_features-pink-items-text-video-item:before {
        -webkit-animation: animate-video 1.5s cubic-bezier(.42, 0, 1, 1) infinite;
                animation: animate-video 1.5s cubic-bezier(.42, 0, 1, 1) infinite;
    }








.client_about {
	background-color: #CDD4E6;
	padding: 100rem 0;
}
.client_about-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.client_about-items-text {
	width: 460rem;
}
.client_about-items-text-description {
	margin: 40rem 0;
}
.client_about-items-image {
    position: relative;
    width: 564rem;
    height: 564rem;
}
.client_about-items-image:after {
	content: "";
    width: 564rem;
    height: 564rem;
    background: rgba(65, 74, 104, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 10000px;
    z-index: 0;
}
.client_about-items-image:before {
	content: "";
    width: 410rem;
    height: 410rem;
    background: #414A68;
    position: absolute;
    bottom: 72rem;
    right: 72rem;
    display: block;
    border-radius: 10000px;
    z-index: 0;
}
.client_about-items-image-phone {
	width: 564rem;
	margin-top: 140rem;
	position: relative;
	z-index: 1;
}
.client_about-items-image-phone:before {
	content: "";
}
.client_categories {
	background: linear-gradient(90deg, #546086 0%, #606C94 100%);
	padding: 100rem 0;
	position: relative;
	overflow: hidden;
}
.client_categories:before {
	background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 400rem;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    top: -113rem;
    z-index: 0;
}
.client_categories:after {
    background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 400rem;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    bottom: -113rem;
    right: 0;
    transform: rotate(180deg);
    z-index: 0;
}
.client_categories-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.categories-items-images {
	background-image: url(../img/categories_bg.svg);
    width: 500rem;
    height: 547rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.categories-items-images-flex {
    padding: 180rem 80rem 83rem 80rem;
    display: flex;
    flex-wrap: wrap;
}
.categories-items-images-flex .active {
	-webkit-box-shadow: inset 0 0 0 2rem rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 0 0 2rem rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 0 2rem rgba(0, 0, 0, 0.2);
}
.categories-items-images-flex-item {
	width: 98rem;
	height: 73rem;
	border-radius: 10rem;
	margin: 10rem 0;
	text-decoration: none;
	transition: 0.2s;
    margin-right: 22rem;
}
.categories-items-images-flex-item:nth-child(3n) {
    margin-right: 0;
}
.categories-items-images-flex-item:hover {
	-webkit-box-shadow: inset 0 0 0 2rem rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 0 0 2rem rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: 0.2s;
}
.categories-items-images-flex-item-img {
	height: 22rem;
	margin: 15rem auto 7rem;
	display: block;
}
.categories-items-images-flex-item-text {
	font-size: 14rem;
	margin-top: 7rem;
	margin-bottom: 15rem;
	text-align: center;
	color: #fff;
	font-weight: normal;
}
.client_categories-items-text {
	width: 680rem;
}
.client_categories-items-text-title {
	color: #fff;
}
.client_categories-items-text-description {
	color: #fff;
	margin-top: 50rem;
	margin-bottom: 30rem;
}
.client_categories-items-text-explanation {
	background-color: #fff;
	padding: 30rem;
	border-radius: 10rem;
	position: relative;
	display: none;
}
.client_categories-items-text-explanation:first-child{
	display: block;
}
.client_categories-items-text-explanation-title {
	margin: 0 0 15rem;
}
.client_categories-items-text-explanation:after {
    content: "";
    width: 0rem;
    height: 0rem;
    position: absolute;
    border-left: 4rem solid transparent;
    border-right: 16rem solid #fff;
    border-top: 14rem solid transparent;
    border-bottom: 14rem solid transparent;
    left: -20rem;
    top: 44%;
}
.client_categories-items-text-explanation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16rem;
}
.client_categories-items-text-explanation-list li {
	width: 50%;
    margin: 5rem 0;
}
.client_features-pink {
	background-color: #F1F2F6;
	padding: 80rem 0;
	position: relative;
}
.client_features-pink:before {
	background-image: url(../img/bg_line_pink.svg);
    content: "";
    width: 100%;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
	bottom: 0;
}
.client_features-pink-title {
	margin-top: 90rem;
	margin-bottom: 80rem;
	text-align: right;
}
.client_features-pink-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.client_features-pink-items-image {
	height: 520rem;
}
.client_features-pink-items-text {
	width: 570rem;
}
.client_features-pink-items-text-target {
	width: 70rem;
	margin-bottom: 50rem;
}
.client_features-pink-items-text-description {
	margin: 40rem 0 40rem;
}
.client_features-pink-items-text-description ul {
	margin: 15rem 0;	
}
.client_features-pink-items-text-description p {
	margin: 15rem 0;
}
.client_features-pink-items-text-video {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #414A68;
}
.client_features-pink-items-text-video-item {
	width: 80rem;
	height: 80rem;
	margin-right: 20rem;
}
.client_features-pink-items-text-video-item:before {
    content: "";
    background: rgba(234, 76, 137, 0.1);
    display: block;
    width: 80rem;
    height: 80rem;
    position: absolute;
    border-radius: 1000rem;
}
.client_features-pink-items-text-video-item img {
	width: 56rem;
    margin: 12rem auto;
    display: block;
}
.client_features-pink-items-text-description ul li span {
	width: calc(100% - 28rem);
}
.client_features-blue {
	background-color: #CDD4E6;
	padding: 80rem 0;
	position: relative;
}
.client_features-blue:before {
    background-image: url(../img/bg_line_blue_dark.svg);
    content: "";
    width: 100%;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    background-size: contain;
    bottom: 0;
}
.client_cta {
	background: linear-gradient(90deg, #EA4C89 0%, #FD61AF 100%);
	display: flex;
	justify-content: space-between;
	width: 1440rem;
	align-items: flex-end;
}
.client_cta-text {
	margin: 100rem 0 100rem 100rem;
	width: 640rem;
}
.client_cta-text-title {
	color: #fff;
}
.client_cta-text-download {
	display: flex;
    width: 322rem;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    margin-top: 40rem;
    margin-bottom: 20rem;
}
.client_cta-text-description {
	color: #fff;
	font-size: 16rem;
}
.client_cta-image {
	position: relative;
	overflow: hidden;
	width: 680rem;
	height: 450rem;
}
.client_cta-image:before {
	content: "";
    width: 487rem;
    height: 487rem;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -245rem;
    right: 105rem;
    display: block;
    border-radius: 10000px;
    z-index: 0;
}
.client_cta-image:after {
	content: "";
    width: 663rem;
    height: 663rem;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: -340rem;
    right: 18rem;
    display: block;
    border-radius: 10000px;
    z-index: 0;
}
.client_cta-image-phone {
	width: 480rem;
	position: absolute;
	bottom: 0;
	z-index: 999999;
	left: 14%;
}
.client_steps {
	background-color: #F1F2F6;
	padding: 100rem 0;
}
.client_steps-title {
	text-align: center;
	margin-bottom: 70rem;
}
.accent_dark {
	color: #37AFAE;
}
.client_steps-items {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.client_steps-items:before {
	content: "";
	width: 100%;
	height: 2rem;
	background-color: #414A68;
	position: absolute;
	top: 200rem;
	z-index: 0;
}
.client_steps-item {
    width: 355rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.client_steps-item-image {
	height: 160rem;
	margin-bottom: 30rem;
}
.client_steps-item-pin {
    width: 22rem;
    z-index: 999;
    position: relative;
}
.client_steps-item-description {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 30rem;
}
.client_steps-item-description-icon {
	width: 20rem;
	margin-right: 15rem;
}
.client_steps-item-description-link {
	color: #EA4C89;
	text-decoration: none;
	transition: 0.5s;	
}
.client_steps-item-description-link:hover {
	text-decoration: underline;
	transition: 0.5s;
}
.client_faq {
	background: linear-gradient(90deg, #546086 0%, #606C94 100%);
	padding: 100rem 0 80rem;
	position: relative;
}
.client_faq:before {
	background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 400rem;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    top: -113rem;
}
.client_faq:after {
    background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 400rem;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    background-size: contain;
    top: -113rem;
    right: 0;
    transform: scale(-1, 1);
}
.client_faq-title {
	text-align: center;
	margin-bottom: 60rem;
	color: #fff;
}
.client_faq-item {
	background: #8E97B2;
	padding: 25rem 40rem;
	width: 850rem;
	margin: 20rem auto;
	border-radius: 10rem;
	cursor: pointer;
	position: relative;
	z-index: 5;
}
.client_faq-item-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.client_faq-item-title-text {
	color: #fff;
	margin-right: 20rem;
	font-size: 26rem;
}
.client_faq-item-title-arrow {
	width: 25rem;
	transform: rotate(0deg);
	transition: 0.4s;
}
.client_faq-item-answer {
	color: #fff;
	margin-top: 17rem;
	display: none;
}
.faq_rotate {
	transform: rotate(180deg);
	transition: 0.4s;
}
footer {
	background-color: #2B3145;
	padding: 60rem 0;
}
.footer_items {
	display: flex;
	justify-content: space-between;
}
.footer_item {
	width: 340rem;	
}
.footer_items p {
	font-size: 16rem;
	font-weight: 600;
	color: #fff;
}
.footer_item-link {
	text-decoration: none;
	color: #fff;
	font-size: 18rem;
	font-family: 'SF Pro Text';
	font-weight: 200;
	display: block;
	margin-bottom: 15rem;
}
.footer_item-link:hover {
	text-decoration: underline;
	transition: 0.5s;
}
.footer_item-personal {
	width: 340rem;
}
.footer_item-personal-title {
	color: #fff;
}
.footer_item-personal-form {
	position: relative;
	margin-top: 20rem;
}
.footer_item-personal-form-mail {
	padding: 16rem 30rem;
	background-color: #fff;
	border-radius: 10rem;
	border: none;
	width: 280rem;
	font-family: 'SF Pro Text';
    font-size: 16rem;
    font-weight: 200;
}
.footer_item-personal-form-submit {
	position: absolute;
	background-image: url(../img/mail.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 30rem;
	height: 30rem;
	display: block;
	border: none;
	background-color: #fff;
	top: 10rem;
    right: 30rem;
    cursor: pointer;
}

.footer_item-personal-social {
	display: flex;
	align-items: center;
	margin-top: 20rem;
}
.footer_item-personal-social-item {
	width: 40rem;
	margin-right: 20rem;
}


/*Parent*/
.parent_hero {
    background: linear-gradient(90deg, #EA4C89 0%, #FD61AF 100%);
    width: 100%;
    height: 800rem;
    position: relative;
}
.parent_hero:before {
    background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 100%;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    top: 0;
}
.parent_hero-image-illustration1 {
    position: absolute;
    width: 190rem;
    bottom: -10rem;
    left: -200rem;
}
.parent_hero-image-illustration2 {
    position: absolute;
    width: 65rem;
    bottom: 55rem;
    left: 15rem;
}
.parent_hero-image-illustration3 {
    position: absolute;
    width: 100rem;
    bottom: 0rem;
    right: 0rem;
}
.parent_about-items-text-title {
    color: #EA4C89;
}
.parent_about {
    background-color: #fff;
    padding: 100rem 0;
}
.parent_about-items-image {
    position: relative;
    width: 564rem;
    height: 564rem;
}
.parent_about-items-image:after {
    content: "";
    width: 564rem;
    height: 564rem;
    background: #FFD6E8;;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 10000px;
    z-index: 0;
}
.parent_about-items-image:before {
    content: "";
    width: 410rem;
    height: 410rem;
    background: #EA4C89;
    position: absolute;
    bottom: 72rem;
    right: 72rem;
    display: block;
    border-radius: 10000px;
    z-index: 1;
}
.parent_about-items-text-list {
    margin-top: 40rem;
    margin-bottom: 40rem;
}
.parent_about-items-text {
    width: 550rem;
}
.parent_promotion {
    background: linear-gradient(180deg, #FFD9ED 1.07%, #EEDBEF 19.02%, #C2E2F6 54.49%, #82EBFF 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.parent_promotion:before {
    background-image: url(../img/bg_line_dark.svg);
    content: "";
    width: 100%;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    top: 0;
    z-index: 10;
}
.parent_promotion-text {
    width: 350rem;
    padding: 10rem 40rem 40rem;
    background-color: #fff;
    border-radius: 10rem;
    margin: 100rem 0 100rem 100rem;
    position: relative;
    z-index: 11;
}
.parent_promotion-text-paragraph {
    margin: 30rem 0;
}
.parent_promotion-image {
    width: 940rem;
    margin-left: -30rem;
    z-index: 0;
    position: relative;
    margin-top: 20rem;
}
.parent_functions {
    background-color: #F1F2F6;
    padding: 100rem 0;
}
.accent_dark {
    color: #37AFAE;
}
.parent_functions-title {
    text-align: center;
}
.parent_functions-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60rem;
}
.parent_functions-items-text {
    width: 400rem;
}
.parent_functions-items-text-annex {
    background-color: #fff;
    border-radius: 10rem;
    padding: 30rem;
    width: calc(100% - 60rem);
    margin-top: 43rem;
    position: relative;
}
.parent_functions-items-text-annex:before {
    content: "";
    width: 0rem;
    height: 0rem;
    position: absolute;
    border-left: 15rem solid transparent;
    border-right: 15rem solid transparent;
    border-top: 4rem solid transparent;
    border-bottom: 15rem solid #fff;
    right: 46%;
    top: -18rem;
}
.parent_functions-items-text-illustration {
    height: 180rem;
    margin: 40rem auto 0;
    display: block;
}
.parent_functions-items-text-download {
    margin-top: 25rem;
}
.parent_functions-items-phone {
    width: 260rem;
    margin-top: 10rem;
}

.parent_categories {
    background: linear-gradient(90deg, #EA4C89 0%, #FD61AF 100%);
    padding: 100rem 0;
    position: relative;
    overflow: hidden;
}
.parent_categories:before {
    background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 400rem;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    top: -113rem;
    z-index: 0;
}
.parent_categories:after {
    background-image: url(../img/bg_line_blue.svg);
    content: "";
    width: 400rem;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    bottom: -113rem;
    right: 0;
    transform: rotate(180deg);
    z-index: 0;
}
.parent_cta {
    background: #99F9FB;;
    display: flex;
    justify-content: space-between;
    width: 1440rem;
    align-items: flex-end;
}
.parent_cta-text {
    margin: 100rem 0 100rem 100rem;
    width: 750rem;
}
.parent_cta-text-title {
    color: #EA4C89;
    margin-bottom: 40rem;
}
.parent_cta-text-download {
    display: flex;
    width: 322rem;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    margin-top: 40rem;
}
.parent_cta-image {
    position: relative;
    overflow: hidden;
    width: 680rem;
    height: 450rem;
}
/*Index*/
.index_description {
    background-color: #C7E6ED;
    padding: 100rem 0 80rem;
    position: relative;
}
.index_description:before {
    background-image: url(../img/bg_line_blue_light.svg);
    content: "";
    width: 100%;
    height: 645rem;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: left;
    background-size: contain;
    top: 0;
}
.index_description-img {
    width: 1240rem;
    margin: auto;
}
.index_description-text {
    -webkit-column-width: 585rem;
    -moz-column-width: 585rem;
    column-width: 585rem;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 70rem;
    -moz-column-gap: 70rem;
    column-gap: 70rem;
    margin-top: 40rem;
}
.index_description-text p {
    margin-bottom: 20rem;
}
.index_selector {
    background: linear-gradient(90deg, #EA4C89 0%, #FD61AF 100%);
    padding: 100rem 0;
}
.index_selector-title {
    color: #fff;
    text-align: center;
}
.index_selector-subtitle {
    color: #fff;
    text-align: center;
    max-width: 1030rem;
    margin: 40rem auto;
}
.index_selector-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.index_selector-item {
    background-color: #fff;
    padding: 50rem 55rem;
    border-radius: 10rem;
    width: 475rem;
}
.index_selector-item-img {
    height: 270rem;
    margin: auto;
    display: block;
}
.index_selector-item-title {
    margin-top: 30rem;
    margin-bottom: 15rem;
    text-align: center;
}
.index_selector-item-text {
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 25rem;
}
.index_selector-item-btn {
    font-family: 'SF Pro Text';
    font-size: 20rem;
    line-height: 140%;
    font-weight: 200;
    color: #fff;
    background-color: #37AFAE;
    text-decoration: none;
    margin: auto;
    display: block;
    padding: 14rem;
    text-align: center;
    border-radius: 5rem;
    margin-bottom: 20rem;
}
.index_selector-item-btn:hover {
    background-color: #2f9090;
    transition: 0.5s;
}
.index_selector .client_hero-text-download {
    margin: auto;
}
.index_about {
    background-color: #fff;
    padding: 100rem 0;
    position: relative;
}
.index_about:before {
    background-image: url(../img/bg_line_pink_light.svg);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    background-position: right;
    background-size: contain;
    bottom: 0;
}
.index_about-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.index_about-items-text {
    width: 770rem;
}
.index_about-items-text h2 {
    margin-bottom: 45rem;
}
.index_about-items-text p {
    margin-top: 20rem;
}
.index_about-items-img {
    width: 420rem;
}
.index_review {
    background-color: #0BA8A4;
    padding: 100rem 0;
}
.index_review-title {
    color: #fff;
    margin-bottom: 35rem;
}
.index_review-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.index_review-item {
    width: 530rem;
    padding: 40rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20rem;
}
.index_review-item-img {
    width: 90rem;
    margin-right: 30rem;
}
.index_review-item p {
    color: #fff;
}
.index_review-item-title {
    font-weight: 500;
    margin-top: 20rem;
}


@media screen and (max-width: 768px) {
	html {
    	font-size: 0.130211vw;
	}
	.container {
		width: 708rem;
	}

    /*Client*/

	.client_hero {
		height: auto;
	}
	.client_hero:before {
		width: 80%;
    	height: 388rem;
	}
	.hero_logo {
		margin: 70rem auto 0;
    	display: block;
	}
	.client_hero-items {
		flex-wrap: wrap;
	}
	.client_hero-text {
		width: 100%;
	}
	.client_hero-text-title {
		text-align: center;
		margin-bottom: 50rem;
	}
	.client_hero-text-subtitle {
		text-align: center;
	}
	.client_hero-text-download, .client_about-items-text-download {
		margin: auto;
	}
	.client_hero-image {
		margin: 80rem auto 40rem;
	}
	.client_about {
		padding: 80rem 0;
	}
	.client_about-items {
		flex-wrap: wrap;
	}
	.client_about-items-text {
		width: 100%;
		text-align: center;
	}
	.client_about-items-image {
		margin: 60rem auto 0;
	}
	.client_categories {
		padding: 80rem 0;
	}
	.client_categories-items {
		flex-wrap: wrap;
	}
	.categories-items-images {
		order: 2;
		margin: 60rem auto 0;
		z-index: 10;
	}
	.client_categories-items-text {
		width: 100%;
	}
	.client_categories-items-text-explanation:after {
		content: "";
    	width: 0px;
    	height: 0px;
    	position: absolute;
    	border-left: 14px solid transparent;
    	border-right: 14px solid transparent;
    	border-top: 14px solid #ffffff;
    	border-bottom: 10px solid transparent;
    	right: 50%;
    	bottom: -43px;
    	left: 50%;
    	top: 100%;
	}
	.client_features-pink {
		padding: 60rem 0;
	}
	.client_features-pink-title {
		margin-top: 70rem;
	    margin-bottom: 60rem;
	    text-align: left;
	}
	.client_features-pink-items {
		flex-wrap: wrap;
	}
	.client_features-pink-items-image {
		order: 2;
		margin: 80rem auto 0;
	}
	.client_features-pink:before {
		width: 80%;
		bottom: -14rem;
	}
	.client_features-pink-items-text {
		width: 100%;
	}
	.client_features-blue {
		padding: 60rem 0;
	}
	.client_cta {
		flex-wrap: wrap;
		width: 100%;
	}
	.client_cta-text {
		margin: 80rem 30rem 60rem;
		width: 100%;
		text-align: center;
	}
	.client_cta-image {
		margin: auto;
		height: 413rem;
		width: 90%;
	}
	.client_cta-text-download {
		margin: 40rem auto 20rem;
	}
	.client_steps {
		padding: 80rem 0;
	}
	.client_steps-title {
		margin-bottom: 20rem;
	}
	.client_steps-items {
		flex-direction: column;
		margin: auto;
		width: 355rem;
	}
	.client_steps-item-image {
		order: 2;
		margin: -20rem 0 0 40rem;
	}
	.client_steps-item-pin {
		order: 1;
	}
	.client_steps-item-description {
		order: 3;
		margin-left: 40rem;
		margin-top: 20rem;
	}
	.client_steps-item {
		margin-top: 50rem;
	}
	.client_steps-items:before {
		width: 2rem;
    	height: calc(100% - 50rem);
    	top: 50rem;
    	left: 10rem;
	}
	.client_faq {
		padding: 80rem 0 60rem;
	}
	.client_faq:after {
		display: none;
	}
	.client_faq-item {
		width: calc(100% - 80rem);
	}
	.footer_items {
		flex-wrap: wrap;
	}
	.footer_item {
		width: 50%;
	}
	.footer_item-personal {
		width: 50%;
		margin-top: 40rem;
	}

/*    Parent*/
    .parent_hero {
        height: auto;
    }
    .parent_hero-image-illustration1 {
        width: 130rem;
        left: -50rem;
        bottom: 0;
    }
    .parent_hero-image-illustration2 {
        left: 45rem;
        bottom: 145rem;
    }
    .parent_hero-image-illustration3 {
        right: -40rem;
    }
    .parent_about-items-text {
        width: 100%;
    }
    .parent_about-items-image {
        margin: 60rem auto 0;
    }
    .parent_promotion {
        flex-wrap: wrap;
    }
    .parent_promotion:before {
        width: 80%;
        height: 388rem;
    }
    .parent_promotion-text {
        margin: 80rem auto 50rem;
        width: 400rem;
    }
    .parent_promotion-image {
        width: 100%;
        margin: 0;
    }
    .parent_functions {
        padding: 80rem 0;
    }
    .parent_functions-items {
        flex-wrap: wrap;
    }
    .parent_functions-items-phone {
        order: -1;
        margin: 0 auto 10rem;
        padding: 0 100rem;
    }
    .parent_functions-items-text {
        width: 100%;
        margin-top: 30rem;
    }
    .parent_functions-items-text-download {
        margin: 30rem auto 0;
    }
    .parent_categories {
        padding: 80rem 0;
    }
    .parent_cta {
        flex-wrap: wrap;
        width: 100%;
    }
    .parent_cta-text {
        margin: 80rem 30rem 60rem;
        width: 100%;
        text-align: center;
    }
    .parent_cta-text-download {
        margin: 40rem auto 0;
    }
    .parent_cta-image {
        margin: auto;
        height: 413rem;
        width: 90%;
    }

    /*Index*/
    .index_description {
        padding: 80rem 0 60rem;
    }
    .index_description:before {
        top: -20rem;
    }
    .index_description-img {
        width: 100%;
    }
    .index_selector {
        padding: 80rem 0;
    }
    .index_selector-items {
        flex-wrap: wrap;
    }
    .index_selector-item {
        width: 100%;
        margin-top: 30rem;
    }
    .index_selector-subtitle {
        margin: 40rem 0 10rem;
    }
    .index_about {
        padding: 80rem 0;
    }
    .index_about:before {
        transform: rotate(180deg);
        top: -235rem;
    }
    .index_about-items {
        flex-wrap: wrap;
    }
    .index_about-items-text {
        order: 2;
        margin-top: 50rem;
    }
    .index_about-items-text h2 {
        margin-bottom: 30rem;
    }
    .index_about-items-text p {
        margin-top: 15rem;
    }
    .index_about-items-img {
        margin: auto;
    }
    .index_review {
        padding: 80rem 0;
    }
    .index_review-item {
        width: 100%;
    }
    .index_review-title {
        margin-bottom: 35rem;
    }
}

@media screen and (max-width: 480px) {
	html {
		font-size: 0.266541vw;
	}
	.container {
		width: 335rem;
	}
	h1 {
		font-size: 30rem;
	}
	h2 {
		font-size: 30rem;
	}
	h3 {
		font-size: 26rem;
	}
	h4 {
		font-size: 24rem;
	}
	h5 {
		font-size: 18rem;
	}
	p {
		font-size: 16rem;
	}
	ul {
		font-size: 16rem;
	}
	li:before {
		height: 16rem;
    	width: 16rem;
    	margin-right: 7rem;
	}

/*    Client*/

	.hero_logo {
		margin: 40rem auto 0;
		width: 100rem;
	}
	.client_hero:before {
		width: 100%;
	}
	.client_hero-text-title {
		margin-top: 30rem;
		margin-bottom: 30rem;
	}
	.client_hero-text-subtitle {
		margin-bottom: 30rem;
	}
	.client_hero-text-download, .client_about-items-text-download {
		width: 100%;
	}
	.client_hero-image {
		width: 100%;
		height: 460rem;
		margin: 55rem auto 40rem;
	}
	.client_hero-image-phone {
		width: 215rem;
	}
	.client_hero-image-circle:after {
		width: 335rem;
		height: 335rem;
	}
	.client_hero-image-circle:before {
		width: 245rem;
		height: 245rem;
	}
	.client_hero-image-circle {
		width: 145rem;
		height: 145rem;
		top: 130rem;
    	right: 94rem;
	}
	.client_about {
		padding: 60rem 0;
	}
	.client_about-items-text-description {
		margin: 30rem 0;
	}
	.client_about-items-image {
		width: 335rem;
		height: 335rem;
	}
	.client_about-items-image-phone {
		width: 335rem;
		margin-top: 88rem;
	}
	.client_about-items-image:before {
		width: 240rem;
		height: 240rem;
		bottom: 44rem;
    	right: 45rem;
	}
	.client_about-items-image:after {
		width: 335rem;
		height: 335rem;
		top: 0;
	}
	.client_categories {
		padding: 60rem 0;
	}
	.client_categories-items-text-description {
		margin-top: 30rem;
		margin-bottom: 20rem;
	}
	.client_categories-items-text-explanation-title {
		margin: 0 0 10rem;
	}
	.client_categories-items-text-explanation-list li {
		width: 100%;
	}
	.client_categories-items-text-explanation {
		padding: 30rem 30rem 25rem;
	}
	.categories-items-images {
		margin: 35rem auto 0;
		height: 367rem;
	}
	.client_categories-items-text-explanation:after {
		left: 46%;
	}
	.categories-items-images-flex-item {
		width: 67rem;
		height: 50rem;
        margin-right: 17rem;
	}
	.categories-items-images-flex {
		padding: 110rem 50rem 83rem 50rem;
	}
	.categories-items-images-flex-item-text {
		font-size: 10rem;
		margin-top: 4rem;
	}
	.categories-items-images-flex-item-img {
		height: 17rem;
		margin: 10rem auto 4rem;
	}
	.client_features-pink {
		padding: 40rem 0;
	}
	.client_features-pink-title {
		margin-top: 40rem;
		margin-bottom: 40rem;
	}
	.client_features-pink-items-text-target {
		width: 60rem;
		margin-bottom: 40rem;
	}
	.client_features-pink-items-text-description {
		margin: 30rem 0;
	}
	.client_features-pink-items-text-video-item:before {
		width: 70rem;
		height: 70rem;
	}
	.client_features-pink-items-text-video-item img {
		width: 50rem;
    	margin: 10rem 9rem 9rem 10rem;
	}
	.client_features-pink-items-text-description ul {
		margin: 10rem 0;
	}
	.client_features-pink-items-text-description p {
		margin: 10rem 0;
	}
	.client_features-pink-items-image {
		height: 280rem;
		margin: 40rem auto 0;
	}
	.client_features-pink:before {
		width: 90%;
    	bottom: -152rem;
	}
	.client_features-blue:before {
		bottom: -152rem;
    	width: 90%;
    	right: 0;
	}
	.client_cta-text {
		margin: 60rem 20rem 40rem;
	}
	.client_cta-image-phone {
		width: 100%;
		left: 0;
	}
	.client_cta-image:after {
		width: 335rem;
    	height: 335rem;
    	bottom: -160rem;
    	right: 0;
	}
	.client_cta-image:before {
	    width: 270rem;
	    height: 270rem;
	    bottom: -131rem;
	    right: 34rem;
	}
	.client_cta-image {
		height: 291rem;
	}
	.client_cta-text-download {
		width: 100%;
	}
	.client_steps {
		padding: 60rem 0;
	}
	.client_steps-title {
		margin-bottom: 0;
	}
	.client_steps-item {
		margin-top: 50rem;
	}
	.client_steps-item-image {
		height: 150rem;
	}
	.client_steps-item {
		width: 335rem;
	}
	.client_faq {
		padding: 60rem 0 45rem;
	}
	.client_faq-title {
		margin-bottom: 40rem;
	}
	.client_faq-item-title-text {
		font-size: 18rem;
	}
	.client_faq-item {
		width: calc(100% - 40rem);
		padding: 20rem;
		margin: 15rem auto;
	}
	footer {
		padding: 10rem 0 50rem;
	}
	.footer_item {
		width: 100%;
		margin-top: 40rem;
	}
	.footer_item-personal {
		width: 100%;
	}
	.footer_item-personal-form-mail {
		padding: 16rem 20rem;
		width: calc(100% - 40rem);
	}

/*    Parent*/
    .parent_hero:before {
        height: 388rem;
    }
    .parent_hero-image-illustration1 {
        width: 80rem;
        left: -10rem;
    }
    .parent_hero-image-illustration2 {
        display: none;
    }
    .parent_hero-image-illustration3 {
        width: 70rem;
        right: -5rem;
    }
    .parent_about-items-image {
        width: 335rem;
        height: 335rem;
    }
    .parent_about-items-image:before {
        width: 240rem;
        height: 240rem;
        bottom: 44rem;
        right: 45rem;
    }
    .parent_about-items-image:after {
        width: 335rem;
        height: 335rem;
        top: 0;
    }
    .parent_promotion:before {
        width: 100%;
        height: 294rem;
    }
    .parent_promotion-text {
        margin: 60rem auto 30rem;
        width: calc(100% - 90rem);
        padding: 10rem 25rem 25rem;
    }
    .parent_promotion-text-paragraph {
        margin: 20rem 0;
    }
    .parent_promotion-image {
        width: 120%;
        margin: 0 auto;
        display: block;
        margin-left: -65rem;
    }
    .parent_promotion .download_button {
        width: 136rem;
    }
    .parent_functions {
        padding: 60rem 0;
    }
    .parent_functions-items {
        margin-top: 40rem;
    }
    .parent_functions-items-phone {
        margin: 0 auto;
        padding: 0;
    }
    .parent_functions-items-text {
        margin-top: 20rem;
    }
    .parent_functions-items-text-annex {
        margin-top: 35rem;
    }
    .parent_functions-items-text-illustration {
        margin: 30rem auto 0;
    }
    .parent_categories {
        padding: 60rem 0;
    }
    .parent_cta-text {
        margin: 60rem 20rem 40rem;
    }
    .parent_cta-text-title {
        margin-bottom: 25rem;
    }
    .parent_cta-text-download {
        margin: 30rem auto 0;
    }
    .parent_cta-image {
        height: 291rem;
    }

    /*Index*/
    .index_description {
        padding: 60rem 0 45rem;
    }
    .index_description-text p {
        margin-bottom: 15rem;
    }
    .index_description-text {
        margin-top: 25rem;
    }
    .index_selector {
        padding: 60rem 0;
    }
    .index_selector-subtitle {
        margin: 20rem 0 0;
    }
    .index_selector-item {
        margin-top: 20rem;
        padding: 25rem;
        width: calc(100% - 50rem);
    }
    .index_selector-item-btn {
        font-size: 16rem;
    }
    .index_selector-item-text {
        margin-bottom: 20rem;
    }
    .index_selector .client_hero-text-download a {
        width: 136rem;
    }
    .index_about {
        padding: 60rem 0;
    }
    .index_about-items-img {
        width: 100%;
    }
    .index_about:before {
        top: -361rem;
    }
    .index_about-items-text {
        margin-top: 30rem;
    }
    .index_about-items-text h2 {
        margin-bottom: 20rem;
    }
    .index_review {
        padding: 60rem 0;
    }
    .index_review-title {
        margin-bottom: 10rem;
        text-align: center;
    }
    .index_review-item {
        padding: 25rem;
        flex-wrap: wrap;
        text-align: center;
    }
    .index_review-item-img {
        margin: 0 auto 20rem;
    }
    .index_review-item-title {
        margin-top: 15rem;
    }
}