html {
	font-size: 0.05208383vw;
	overflow-x: hidden;
}
body {
	font-family: 'Montserrat';
	color: #1B1B1B;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 16rem;
	font-weight: 400;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
a {
	text-decoration: none;
	color: #1B1B1B;
	display: block;
}
h1 {
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
	font-weight: 700;
	font-size: 70rem;
	line-height: 120%;
	text-align: right;
}
h2 {
	font-weight: 700;
	font-size: 38rem;
	line-height: 121%;
}
h2 span {
	color: #007F8F;
}
.container {
	width: 1240rem;
	margin: auto;
	position: relative;
}
header {
	border-bottom: 1rem solid rgba(0, 0, 0, 0.1);
}
.header_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30rem 0;
}
.header_logo img {
	width: 220rem;
}
.header_nav {
	width: 600rem;
	display: flex;
	justify-content: space-between;
}
.header_lang .jq-selectbox {
	background: transparent;
}
.header_nav_link {
	font-weight: 500;
	line-height: 162%;
	padding: 4rem 0;
}
.header_lang .jq-selectbox__trigger {
	background-image: url(img/trigger_arrow_black.svg);
}
.header_lang .jq-selectbox li {
	padding: 15rem 17rem;
}
.header_lang_item {
	width: 50rem;
	padding: 6rem 12rem;
	border: 1px solid rgba(0, 127, 143, 0.3);
	border-radius: 5rem;
	color: #007F8F;
	font-weight: 700;
	font-size: 16rem;
}
.header_nav_link.active {
	padding: 4rem 25rem;
	background: rgba(0, 127, 143, 0.1);
	border-radius: 32rem;
}
.header_nav_parent {
	position: relative;
}
.header_nav_parent_link {
	display: flex;
	align-items: center;
	position: relative;
}
.header_nav_parent_link:after {
	content: "";
	display: block;
	width: 9rem;
	height: 7rem;
	background-image: url(img/menu_arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-left: 8rem;
	top: 2rem;
}
.header_btn {
	color: #E9BF72;
	font-weight: 600;
	background: #007F8F;
	padding: 10rem 31rem;
	border-radius: 5rem;
}
.hero {
	background-image: url(img/hero_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 160rem;
	position: relative;
}
.hero_lang {
	display: flex;
	align-items: center;
	font-weight: 600; 
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
	margin-left: auto;
	width: max-content;
	margin-bottom: 20rem;
}
.hero_lang_img {
	width: 18rem;
	margin-right: 10rem;
}
.hero_content {
	width: 702rem;
	margin-left: auto;
	padding-bottom: 90rem;
}
.hero_title span {
	display: block;
}
.hero_form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40rem;
	background: rgba(0, 127, 143, 0.8);
	border-radius: 30rem;
	margin-top: 82rem;
	max-width: 597rem;
	color: #fff;
}
.hero_form_select {
	width: 242rem;
	margin-bottom: 17rem;
	padding: 15rem 24rem;
}
.jq-selectbox {
	background: #00B3CA;
	border-radius: 4rem;
	cursor: pointer;
}
.jq-selectbox__select {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.jq-selectbox__trigger {
	display: block;
	width: 10rem;
	height: 6rem;
	background-image: url(img/trigger_arrow.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
.jq-selectbox select, .jq-select-multiple select {
	left: -100rem;
	top: -100rem;
	z-index: -99;
	width: 0;
	height: 0;
	overflow: hidden;
}
.jq-selectbox__dropdown {
	background-color: #fff;
	width: 100%;
	left: 0;
	top: 100%;
	border-radius: 4rem;
}
.jq-selectbox__dropdown ul {
	width: 100%;
	padding: 0;
	margin: 0;
}
.jq-selectbox li {
	color: #007F8F;
	padding: 15rem 24rem;
	font-weight: 600;
}
.hero_form_rooms {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 28rem;
}
.hero_social {
	position: absolute;
	background: #007F8F;
	border-radius: 0px 10px 10px 0px;
	padding: 0 10rem;
	top: 287rem;
	left: 0;
}
.hero_social_icon {
	height: 20rem;
	padding: 20rem 0;
}
.hero_form_rooms_text {
	margin-right: 26rem;
	font-weight: 600;
}
.checkbox {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
}
.hero_form_rooms_label {
	margin-right: 20rem;
}
.checkbox_label {
	font-weight: 600;
	color: #FFFFFF;
	display: flex;
	cursor: pointer;
	align-items: center;
}
.checkbox_label:before {
	content: "";
	position: relative;
	display: block;
	width: 14rem;
	height: 14rem;
	background-image: url(img/checkbox_sprite.svg);
	background-size: 14rem;
	background-position: bottom;
	margin-right: 8rem;
}
.checkbox:checked + .checkbox_label:before {
    background-position: top;
}
.checkbox:disabled + .checkbox_label {
	opacity: 0.4;
}
.hero_form_submit {
	font-family: 'Montserrat';
	font-size: 16rem;
	font-weight: 600;
	border: none;
	background-color: #E8A010;
	border-radius: 5rem;
	color: #fff;
	padding: 10rem 0;
	width: 291rem;
	margin: 55rem auto 10rem;
	display: block;
	cursor: pointer;
}
.about {
	margin: 230rem 0 200rem;
}
.about_overlay {
	display: flex;
	justify-content: space-between;
}
.about_image_item {
	position: relative;
	z-index: 2;
	width: 560rem;
}
.about_image {
	position: relative;
}
.about_image_text {
    position: absolute;
    top: -100rem;
    left: -60rem;
    font-weight: 700;
    font-size: 160rem;
    line-height: 110%;
    color: #00B3CA;
    width: 715rem;
    text-transform: uppercase;
    z-index: 1;
}
.about_image_text_overlay {
	position: absolute;
	top: -100rem;
	left: -60rem;
	z-index: 2;
}
.about_image_text_overlay_border {
	font-weight: 700;
    font-size: 160rem;
    line-height: 110%;
    width: 715rem;
    text-transform: uppercase;
    z-index: 1;
    color: rgba(255,255,255,0);
	-webkit-text-stroke: 1px #00b3ca;
	text-stroke: 1px #00b3ca;
}
.about_bg {
    position: absolute;
    top: 320rem;
    left: 150rem;
    width: 283rem;
    z-index: -1;
}
.about_content_title {
	font-weight: 600;
	font-size: 20rem;
	line-height: 120%;
	color: #000000;
	margin-bottom: 18rem;
}
.about_content_text {
	margin-bottom: 40rem;
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
}
.about_content {
	max-width: 475rem;
}
.about_content_property {
	display: flex;
	justify-content: space-between;
	margin-top: 16rem;
}
.about_content_property_label {
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
	margin-right: 41rem;
}
.about_content_property_value_overlay {
	display: flex;
	flex-wrap: wrap;
	width: 285rem;
}
.about_content_property_value {
	font-weight: 600;
	font-size: 16rem;
	line-height: 137%;
	color: #007F8F;
	margin-right: 5rem;
}
.card {
	background: #FBFBFB;
	border-radius: 30rem;
	padding: 20rem;
	width: 360rem;
	min-width: 360rem;
	position: relative;
}
.card_image {
	width: 360rem;
	height: 300rem;
	background-size: cover;
	border-radius: 18rem;
}
.card_info_head  {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 24rem 0;
}
.card_info_address {
	line-height: 171%;
}
.card_info_price {
	font-weight: 600;
	font-size: 24rem;
}
.card_info_square {
	color: #007F8F;
	font-weight: 600;
}
.card_properties {
	display: flex;
	margin-top: 24rem;
}
.card_info {
	padding: 0 10rem 10rem;
}
.card_properties_icon {
	height: 16rem;
	display: block;
	margin: auto;
}
.card_properties_value {
	text-align: center;
	font-weight: 500;
	color: #007F8F;
	margin-top: 4rem;
}
.card_properties_item {
	padding: 10rem 0;
	border: 1rem solid rgba(255, 196, 0, 0.5);
	border-radius: 14rem;
	width: 60rem;
	margin-right: 14rem;
}
.variants_subtitle {
	font-weight: 500;
	margin-top: 14rem;
	color: #353535;
}
.card_category {
	position: absolute;
	top: 0;
	left: 0;
	color: #004D57;
	font-weight: 700;
	border-radius: 30rem 0;
	padding: 10rem 30rem;
}
.variants_slider {
	margin-top: 70rem;
}
.variants_slider .slick-list {
	overflow: visible;
	margin: 0 -50rem;
}
.variants_slider .slick-slide{
	margin: 0 20rem;
}
.slick-arrow {
	position: absolute;
	background-color: transparent;
	border: none;
	width: 46rem;
	height: 46rem;
	background-image: url(img/slick_arrow.svg);
	background-size: cover;
	top: -100rem;
	cursor: pointer;
}
.slick-arrow.right {
	right: 0;
}
.slick-arrow.left {
	right: 224rem;
	transform: rotate(180deg);
}
.slick-disabled {
	background-image: url(img/slick_arrow_disable.svg);
}
.slick-dots {
	padding: 0;
	list-style: none;
	position: absolute;
	top: -82rem;
	right: 65rem;
	margin: 0;
	display: flex;
	align-items: center;
}
.slick-dots button {
	display: none;
}
.slick-dots li {
	display: block;
	width: 8rem;
	height: 8rem;
	cursor: pointer;
	border: 1rem solid #007F8F;
	border-radius: 100%;
	margin: 0 5rem;
}
.slick-dots .slick-active {
	background-color: #007F8F;
}
.reserve {
	background-image: url(img/reserve_bg.png);
	background-size: cover;
	padding: 350rem 0 300rem;
	margin-top: -150rem;
}
.radio {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	opacity: 0;
	overflow: hidden;
}
.radio_label {
	color: #000000;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.radio_label:before {
	content: "";
	display: block;
	width: 16rem;
	height: 16rem;
	margin-right: 12rem;
	background-image: url(img/radio_sprite.svg);
	background-size: 16rem;
	background-position: bottom;
}
.radio:checked + .radio_label:before {
    background-position: top;
}
.reserve_form_radio_overlay {
	display: flex;
	align-items: center;
}
.reserve_radio_label {
	margin-right: 71rem;
}
.reserve_subtitle {
	color: #353535;
	margin-top: 14rem;
}
.reserve_form {
	margin-top: 60rem;
}
.reserve_form_item {
	margin-top: 24rem;
	position: relative;
	width: 548rem;
	background: #FFFFFF;
	border-radius: 8rem;
	display: flex;
	padding: 4rem 0;
	align-items: center;
}
.reserve_form_icon {
	width: 16rem;
	padding: 0 20rem;
}
.reserve_form_input {
	border: none;
	color: #000;
	font: 500 16rem 'Montserrat';
	width: 280rem;
}

.reserve_form_input input::-webkit-input-placeholder {
    color: rgba(0, 127, 143, 0.6);
    font: 500 16rem 'Montserrat';
} 
.reserve_form_input input::-moz-placeholder {
    color: rgba(0, 127, 143, 0.6);
    font: 500 16rem 'Montserrat';
}
.reserve_form_submit {
	font-weight: 600;
	font-size: 16rem;
	color: #E9BF72;
	font-family: 'Montserrat';
	background: #007F8F;
	border-radius: 5rem;
	border: none;
	padding: 12rem 0;
	line-height: 24rem;
	width: 180rem;
	margin: 0 4rem 0 auto;
	cursor: pointer;
}
.services_title {
	text-align: center;
	color: #fff;
}
.services {
	background: #007F8F;
	padding: 160rem 0;
}
.services_item {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 75, 84, 0.5);
	border-radius: 14rem;
	text-align: center;
	padding: 20rem;
	width: 240rem;
	opacity: 0;
	transition: 1s;
}
.services_item.active {
	opacity: 1;
	transition: 1s;
}
.services_overlay {
	display: flex;
	justify-content: space-between;
	margin-top: 200rem;
	position: relative;
	z-index: 2;
}
.services_item_img {
	width: 200rem;
	margin: -100rem auto 0;
	display: block;
}
.services_item_title {
	margin: 26rem 0 14rem;
	font-weight: 700;
	font-size: 20rem;
	color: #007F8F;
}
.services_item_text {
	font-size: 14rem;
	color: #000000;
	line-height: 171%;
}
.services_item_link {
	color: #007F8F;
	font-weight: 500;
	display: flex;
	align-items: center;
	border: 1rem solid #007F8F;
	border-radius: 5rem;
	margin: 26rem 10rem 10rem;
	justify-content: center;
	padding: 12rem 0;
}
.services_item_link img {
	width: 14rem;
	margin-left: 16rem;
}
.services_bg {
	position: absolute;
	top: -160rem;
	width: 347rem;
	right: -200rem;
	z-index: 1;
}
.services_btn {
	display: flex;
	align-items: center;
	position: absolute;
	top: 18rem;
	right: 0;
	color: #fff;
	font-weight: 500;
	z-index: 4;
}
.services_btn img {
	width: 14rem;
	margin-left: 16rem;
}
.gallery {
	padding: 200rem 0;
}
.gallery_text {
	width: 510rem;
}
.gallery_text p {
	font-size: 14rem;
	line-height: 171%;
	color: #000;
	margin-bottom: 15rem;
}
.read_more {
	color: #007F8F;
	font-weight: 500;
	border: 1rem solid #007F8F;
	border-radius: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220rem;
	padding: 11rem 0;
	margin-top: 30rem;
}
.read_more img {
	width: 14rem;
	transform: rotate(90deg);
	margin-left: 16rem;
}
.gallery_title {
	margin-bottom: 27rem;
}
.gallery_text_overlay {
	position: relative;
	overflow: hidden;
	height: 455rem;
	transition: 0.3s;
}
.gallery_text_overlay:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80rem;
	transition: 0.3s;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0) 100%);
}
.gallery_overlay {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.gallery_item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 623rem;
	align-items: flex-start;
}
.gallery_item img {
	width: 294rem;
}
.gallery_item img:first-child {
	margin-top: 75rem;
}
.gallery_item img:last-child {
	margin-top: -170rem;
}
.gallery_item img:nth-child(3) {
	margin-top: 35rem;
}
.gallery_text_overlay.active {
	height: 100%;
	transition: 0.3s;
} 
.gallery_text_overlay.active:after {
	transition: 0.3s;
	background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
}
footer {
	background: #007F8F;
	padding-top: 100rem;
}
.footer_logo img {
	width: 255rem;
}
.footer_logo_text {
	font-size: 14rem;
	line-height: 171%;
	color: #FFFFFF;
	margin-top: 30rem;
	max-width: 475rem;
}
.footer_nav_title {
	font-weight: 700;
	font-size: 18rem;
	line-height: 133%;
	color: #E9BF72;
	margin-bottom: 30rem;
}
.footer_nav_link {
	line-height: 162%;
	color: #FFFFFF;
	margin-top: 15rem;
	font-weight: 500;
}
.footer_head {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.footer_schedule_item {
	font-weight: 500;
	color: #FFFFFF;
	display: flex;
	align-items: center;
}
.footer_schedule_item span{
	margin-right: 5rem;
	font-size: 14rem;
	line-height: 186%;
	color: #E9BF72;
}
.footer_buttons {
	width: 220rem;
}
.footer_nav {
	margin-right: 50rem;
}
.footer_logo_overlay {
	width: 400rem;
}
.footer_buttons_item {
	padding: 12rem 0;
	font-weight: 500;
	font-size: 16rem;
	border: 1rem solid #E9BF72;
	border-radius: 5rem;
	margin-bottom: 16rem;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 120%;
	color: #fff;
}
.footer_buttons_item img {
	width: 16rem;
	margin-right: 10rem;
}
.footer_contact {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: space-between;
	padding: 30rem 0;
	margin-top: 60rem;
	z-index: 2;
}
.footer_contact_mail {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 508rem;
}
.footer_contact_mail_label {
	color: #E9BF72;
	font-size: 14rem;
}
.footer_contact_mail_link {
	font-weight: 500;
	font-size: 22rem;
	color: #FFFFFF;
}
.footer_contact_person_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 508rem;
	margin: 20rem 0;
}
.footer_contact_person_item_label {
	color: #E9BF72;
	font-size: 14rem;
}
.footer_contact_person_item_link {
	font-weight: 500;
	font-size: 22rem;
	color: #fff;
}
.footer_contact_person_item_link_first {
	margin-left: auto;
	margin-right: 25rem;
}
.footer_bg {
	width: 1920rem;
	position: absolute;
	left: -340rem;
	top: 20rem;
	z-index: -1;
}
.footer_terms {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6rem 0 33rem;
}
.footer_terms_overlay {
	display: flex;
	align-items: center;
}
.footer_terms_copiryght {
	font-weight: 300;
	font-size: 14rem;
	color: #FFFFFF;
}
.footer_terms_link {
	margin-left: 60rem;
	font-weight: 500;
	font-size: 14rem;
	color: #fff;
}

/***********

Sale

***********/


.sale_hero {
	padding: 36rem 0 118rem;
	background-image: url(img/rent_bg.png);
}
.sale_hero_title {
	color: #fff;
	text-transform: uppercase;
}
.filter_overlay {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 40rem;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 75, 84, 0.15);
	border-radius: 14rem;
	margin-top: -67rem;
}
.filter_item_overlay {
	width: 358rem;
	position: relative;
}
.filter_item_select {
	width: calc(100% - 48rem);
	padding: 15rem 24rem;
	color: #fff;
}
.filter_item_label {
	font-weight: 600;
	margin-bottom: 9rem;
	color: #00171A;
}
.noUi-connect {

	background-color: #66757F;
}
.noUi-horizontal .noUi-handle {
	width: 22rem;
	height: 22rem;
	border-radius: 100%;
	background-color: #00B3CA;
	display: block;
	top: -9rem;
	right: -13rem;
	border: none;
	box-shadow: none;
	cursor: pointer;
}
.noUi-horizontal {
	height: 2rem;
	border: none;
	margin-top: 20rem;
}
.noUi-handle:after, .noUi-handle:before {
	display: none;
}
.noUi-base, .noUi-connects {
	margin: 0 8rem;
	width: calc(100% - 16rem);
}
.filter_item_ui_value_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16rem;
}
.filter_item_ui_value {
	font-size: 14rem;
	color: #66757F;
}
.filter_item_range {
	position: absolute;
	top: 0;
	left: 70rem;
	font-weight: 500;
	font-size: 16rem;
	color: #66757F;
}
.filter_item_rooms {
	justify-content: flex-start;
}
.filter_item_rooms .checkbox_label {
	color: #00171A;
}
.filter_item_rooms .checkbox_label:before {
	background-image: url(img/checkbox_sprite_black.svg);
}

.filter_submit_overlay {
	width: 100%;
	margin-top: 30rem;
}
.filter_submit {
	font-weight: 600;
	font-size: 16rem;
	color: #FFFFFF;
	padding: 10rem 0;
	text-align: center;
	width: 291rem;
	background: #E8A010;
	margin: auto;
	border-radius: 5rem;
}
.result_head {
	display: flex;
	align-items: center;
	margin-top: 80rem;
}
.result_head_label {
	color: #007F8F;
	font-weight: 600;
	font-size: 22rem;
}
.result_head_label span {
	font-weight: 500;
	font-size: 16rem;
	color: #66757F;
	margin-right: 15rem;
}
.result_head_delete {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 16rem;
	color: #66757F;
	margin-left: auto;
}
.result_head_delete img {
	width: 16rem;
	margin-right: 10rem;
}
.result_head_sort {
	display: flex;
	align-items: center;
	margin-left: 91rem;
}
.result_head_sort_label {
	font-weight: 600;
	font-size: 16rem;
	color: #66757F;
	margin-right: 20rem;
}
.result_head_sort_select .jq-selectbox__trigger {
	background-image: url(img/trigger_arrow_black.svg);
}
.result_head_sort_select {
	background-color: #fff;
	padding: 6rem 12rem;
	border: 1rem solid rgba(0, 127, 143, 0.3);
	border-radius: 5rem;
}
.result_head_view_item {
	border: 1rem solid transparent;
	border-radius: 5rem;
	padding: 3rem 3rem 0;
	margin-left: 24rem;
}
.result_head_view_item.active {
	border: 1rem solid #007F8F;
}
.result_head_view_item img {
	width: 28rem;
}
.result_head_view {
	display: flex;
	align-items: center;
	margin-left: 103rem;
}
.result_overlay {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 20rem;
}
.result_overlay .card {
	margin-top: 30rem;
}
.result_more {
	padding: 176rem 107rem;
	background: #007F8F;
	border-radius: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: 600;
	font-size: 22rem;
	line-height: 127%;
	text-align: center;
	color: #FFFFFF;
	margin-top: 30rem;
	width: 186rem;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.result_more_img{
	width: 90rem;
	margin-bottom: 34rem;
}
.result_more_bg {
	position: absolute;
	width: 195rem;
	right: 0;
	top: 0;
	z-index: -1;
}
.result_pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80rem;
}
.result_pagination_item {
	width: 40rem;
	height: 40rem;
	background: #F3F3F3;
	border-radius: 4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-weight: 600;
	font-size: 22rem;
	color: #007F8F;
	margin: 0 6rem;
}
.result_pagination_item.active {
	background: #007F8F;
	color: #fff;
}
.result_pagination_arrow {
	background-color: #fff;
}
.result_pagination_inactive {
	background-color: #fff;
}
.result_form_overlay {
	width: 1040rem;
	margin: auto;
}
.result_form {
	background-image: url(img/result_form_bg.png);
	padding: 419rem 0 200rem;
	margin-top: -220rem;
	background-size: cover;
}
.result_form_subtitle {
	margin-top: 14rem;
	color: #353535;
}
.result_form_item {
	display: flex;
	align-items: center;
	padding: 36rem 50rem;
	background-color: #fff;
	box-shadow: 0px 4px 15px rgba(174, 115, 6, 0.3);
	border-radius: 14rem;
	width: 940rem;
	justify-content: space-between;
	margin-top: 60rem;
}
.result_form_input_img {
	height: 16rem;
	margin-right: 23rem;
}
.result_form_input_overlay {
	padding: 17rem 22rem;
	border: 1rem solid #E9BF72;
	border-radius: 8rem;
	width: 306rem;
	display: flex;
	align-items: center;
}
.result_form_input {
	border: none;
	width: 100%;
	color: #000;
	font: 500 16rem 'Montserrat';
}
.result_form_input input::-webkit-input-placeholder {
    color: rgba(0, 127, 143, 0.6);
    font: 500 16rem 'Montserrat';
} 
.result_form_input input::-moz-placeholder {
    color: rgba(0, 127, 143, 0.6);
    font: 500 16rem 'Montserrat';
}
.result_form_submit {
	background: #007F8F;
	border-radius: 5rem;
	color: #E9BF72;
	font: 600 16rem 'Montserrat';
	border: none;
	width: 180rem;
	height: 48rem;
}
.filter_rent .hero_form_rooms {
	width: 760rem;
	margin-top: 30rem;
	display: block;
}
.filter_rent .filter_item_overlay_range {
	margin-top: 30rem;
}
.rent_checkbox_overlay {
	display: flex;
	margin-top: 14rem;
}



/*********

	FAQ

*********/



.faq_title {
	text-align: center;
	color: #007F8F;
}
.faq_title_decor {
	width: 85rem;
	margin: 8rem auto 0;
	display: block;
}
.faq_subtitle {
	font-size: 14rem;
	line-height: 171%;
	text-align: center;
	color: #000000;
	margin-top: 30rem;
}
.faq {
	margin-top: 40rem;
}
.faq_item {
	padding: 24rem 36rem;
	border: 1rem solid #0092A5;
	border-radius: 10rem;
	margin-top: 30rem;
	cursor: pointer;
}
.faq_item_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.faq_overlay {
	width: 820rem;
	margin: 50rem auto 0;
}
.faq_item_text {
	max-width: 680rem;
	font-weight: 500;
	line-height: 175%;
	color: #000;
	transition: 0.4s;
}
.faq_item_text.active {
	color: #007F8F;
	transition: 0.4s;
}
.faq_item_img {
	width: 28rem;
	margin-left: 28rem;
}
.faq_item_img_active {
	display: none;
	width: 28rem;
	margin-left: 28rem;
}
.faq_item_answer {
	display: none;
	font-size: 14rem;
	line-height: 200%;
	color: #000000;
	margin-top: 28rem;
}
.faq_bottom_title {
	margin-top: 100rem;
	text-align: center;
}
.faq_bottom_subtitle {
	text-align: center;
	margin-top: 14rem;
	margin-bottom: 200rem;
}
.single_head {
	background: #007F8F;
	padding: 15rem 0;
	width: 100%;
}
.single_head_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.single_head_link {
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 600;
}
.single_head_link_prev img {
	width: 24rem;
	margin-right: 12rem;
}
.single_head_link_next img {
	width: 24rem;
	margin-left: 12rem;
	transform: rotate(180deg);
}
.single_head_title {
	text-align: center;
	color: #FFFFFF;
}
.single_slider .slick-slide {
	margin: 0 5rem;
}
.single_slider {
	margin-top: 8rem;
}
.properties_media {
	display: flex;
	align-items: center;
	margin-top: 20rem;
}
.properties_media_link {
	display: flex;
	align-items: center;
	font-weight: 500;
	color: #007F8F;
	margin-right: 60rem;
}
.properties_media_link img {
	margin-right: 14rem;
}
.properties_media_rooms {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.properties_media_rooms_item {
	display: flex;
	align-items: center;
	padding: 12rem 10rem;
	border: 1rem solid rgba(255, 196, 0, 0.5);
	border-radius: 10rem;
	margin-left: 12rem;
}
.properties_media_rooms_item .card_properties_icon {
	height: 16rem;
	margin-right: 14rem;
}
.single_slider .slick-dots{
	top: auto;
	bottom: -55rem;
	left: 50%;
	right: auto;
	transform: translate(-50%, -50%);
	z-index: 99;
}
.single_info_head {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 60rem;
}
.single_info_head_name_item {
	font-size: 42rem;
	color: #181818;
	font-weight: 700;
	line-height: 171%;
}
.single_info_head_place {
	display: flex;
	align-items: center;
	font-weight: 600;
	color: #E8A010;
}
.single_info_head_place img {
	width: 16rem;
	margin-right: 12rem;
}
.single_info_head_price {
	font-weight: 600;
	font-size: 34rem;
	text-align: right;
	margin-top: 18rem;
	color: #007F8F;
}
.single_info_content {
	display: flex;
	margin-top: 30rem;
	justify-content: space-between;
	align-items: flex-start;
}
.single_info_content_text {
	width: 610rem;
}
.single_info_content_text p {
	margin-bottom: 16rem;
	line-height: 187%;
	color: #000000;
}
.single_info_content_properties {
	width: 530rem;
}
.single_info_content_properties_item {
	padding: 10rem 20rem;
	background: rgba(0, 127, 143, 0.06);
	border-radius: 10rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 8rem;
}
.single_info_content_properties_item_label {
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
}
.single_info_content_properties_item_value {
	font-weight: 600;
	line-height: 150%;
	color: #007F8F;
}
.single_info_properties_item {
	width: 550rem;
	margin-top: 30rem;
}
.single_info_properties_item_title {
	display: flex;
	padding: 20rem 32rem;
	align-items: center;
	font-weight: 600;
	font-size: 18rem;
	background: #007F8F;
	border-radius: 12rem 12rem 0 0;
	color: #fff;
}
.single_info_properties_item_title img {
	width: 26rem;
	margin-right: 16rem;
}
.single_info_properties_title {
	margin-top: 130rem;
}
.single_info_properties_subtitle {
	margin-top: 14rem;
	color: #353535;
	font-weight: 500;
}
.single_info_properties_item_quality_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0 14rem;
	border-bottom: 1rem solid #E5E5E5;
	margin: 20rem 30rem;
}
.single_info_properties_item_quality_overlay:last-child {
	border: none;
}
.single_info_properties_item_quality_label {
	color: #000000;
}
.single_info_properties_item_quality_value {
	color: #000000;
}
.single_info_properties_item_overlay {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 20rem;
}
.single_form {
	background-image: url(img/single_form_bg.png);
    padding: 0 0 200rem;
    background-size: cover;
}
.single_form_note {
	padding: 50rem;
	background: #007F8F;
	border-radius: 14rem;
	color: #fff;
	margin: 200rem 0;
}
.single_form_note_title {
	display: flex;
	align-items: center;
	font-size: 18rem;
	font-weight: 700;
}
.single_form_note_title img {
	width: 18rem;
	margin-right: 16rem;
}
.single_form_note_text {
	margin-top: 20rem;
	line-height: 175%;
}
.contacts_title {
	text-transform: uppercase;
	color: #007F8F;
	text-align: center;
}
.contacts_title_decor {
	width: 85rem;
	display: block;
	margin: 8rem auto 0;
}
.contacts {
	margin-top: -160rem;
	background-image: url(img/contact_bg.png);
	background-size: cover;
	padding: 200rem 0 100rem;
}
.contacts_items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 42rem;
}
.contacts_items_email {
	font-weight: 500;
	font-size: 20rem;
	color: #000000;
}
.contacts_items_social_link {
	margin-left: 60rem;
}
.contacts_items_social {
	display: flex;
	align-items: center;
}
.contacts_items_social img {
	width: 20rem;
}
.contacts_person {
	margin-top: 125rem;
	display: flex;
	justify-content: space-around;
}
.contacts_person_item {
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 75, 84, 0.15);
	border-radius: 30rem;
	padding: 50rem 36rem;
	display: flex;
    flex-direction: column;
}
.contacts_person_item_img {
	width: 130rem;
	display: block;
	box-shadow: 0px 4px 24px rgba(0, 75, 84, 0.15);
	margin: -115rem auto 0;
	border-radius: 100%;
}
.contacts_person_item_name {
	margin-top: 30rem;
	font-weight: 700;
	font-size: 26rem;
	text-align: center;
	color: #000000;
}
.contacts_person_item_position {
	margin-top: 8rem;
	font-weight: 600;
	font-size: 16rem;
	text-align: center;
	color: #B1B1B1;
	margin-bottom: 60rem;
}
.contacts_person_item_social {
	display: flex;
	margin-bottom: 50rem;
	align-items: center;
	margin-top: -16rem;
}
.contacts_person_item_social_icon {
	width: 40rem;
	margin-right: 20rem;
}
.contacts_person_item_social_label {
	font-weight: 500;
	font-size: 12rem;
	color: #B1B1B1;
}
.contacts_person_item_social_value {
	font-weight: 500;
	font-size: 18rem;
	color: #000000;
	margin-top: 4rem;
}
.contacts_person_item_footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: auto;
}
.contacts_person_item_footer_link {
	margin: 0 30rem;
}
.contacts_person_item_footer_link img {
	width: 20rem;
}
.contact_form {
	margin: 200rem 0;
}
.contact_form_subtitle {
	margin-top: 14rem;
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
	margin-bottom: 40rem;
}
.contact_form_form {
	width: 500rem;
}
.contact_form_input_overlay {
	display: flex;
	align-items: flex-start;
	padding: 18rem 22rem;
	background: #FFFFFF;
	border: 1rem solid #E9BF72;
	border-radius: 8rem;
	margin-bottom: 30rem;
}
.contact_form_input_img {
	margin-right: 23rem;
	height: 16rem;
	margin-top: 4rem;
}
.contact_form_input {
	border: none;
	font: 500 16rem 'Montserrat';
	color: #000;
}
.contact_form_input input::-webkit-input-placeholder {
    color: rgba(0, 127, 143, 0.6);
    font: 500 16rem 'Montserrat';
} 
.contact_form_input input::-moz-placeholder {
    color: rgba(0, 127, 143, 0.6);
    font: 500 16rem 'Montserrat';
}
.contact_form_textarea {
	width: 100%;
	height: 150rem;
	resize: none;
}
.contact_form_submit {
	background: #007F8F;
	border-radius: 5rem;
	width: 100%;
	height: 48rem;
	font: 600 16rem 'Montserrat';
	color: #E9BF72;
	border: none;
	cursor: pointer;
}
.contact_form_gallery {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 623rem;
}
.contact_form_gallery img {
	width: 294rem;
}
.contact_form_overlay {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.contact_form_gallery img:nth-child(2) {
	margin-top: 26rem;
}
.contact_form_gallery img:nth-child(3) {
	margin-top: -135rem;
}
.contact_form_gallery img:last-child {
	margin-top: 35rem;
}
.text_page {
	width: 920rem;
	margin: 40rem auto 200rem;
}
.textpage_title_decor {
	width: 85rem;
	margin: 8rem auto 0;
	display: block;
}
.text_page_title {
	text-transform: uppercase;
	color: #007F8F;
	text-align: center;
}
.text_page p {
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
	margin-bottom: 30rem;
}
.text_page h3 {
	font-weight: 600;
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
	font-weight: 600;
	margin: 30rem 0;
}
.text_page_overlay {
	margin-top: 30rem;
}
.about_head {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.about_head_left {
	width: 380rem;
}
.about_head_title {
	text-transform: uppercase;
	color: #007F8F;
}
.about_head_decor {
	width: 85rem;
	margin-top: 17rem;
}
.about_head_right {
	width: 610rem;
}
.about_page {
	margin: 40rem 0 200rem;
}
.about_head_text {
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
}
.about_head_social {
	display: flex;
	align-items: center;
	margin: 30rem 0;
}
.about_head_social_link {
	margin-right: 60rem;
}
.about_head_social_link img {
	width: 20rem;
}
.about_video {
	width: 820rem;
	display: block;
	margin: 20rem auto 0;
}
.about_text_overlay {
	column-width: 560rem;
    column-count: 2;
    column-gap: 117rem;
}
.about_text_overlay p {
	margin-top: 18rem;
	font-size: 14rem;
	line-height: 171%;
	color: #FFFFFF;
}
.about_text {
	background: #007F8F;
	padding-top: 253rem;
	margin-top: -150rem;
	padding-bottom: 355rem;
}
.about_text_wrapper {
	width: 1240rem;
	margin: auto;
}
.about_text_title {
	font-weight: 600;
	font-size: 20rem;
	color: #fff;
}
.about_text_gallery {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: -258rem;
}
.about_text_gallery img {
	height: 302rem;
	margin: 0 30rem;
}
.team_item {
	width: 290rem;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 75, 84, 0.15);
	border-radius: 14rem;
	margin: 40rem 13rem 0;
}
.team_item_img {
	width: 100%;
	height: 320rem;
	background-size: cover;
	border-radius: 14rem 14rem 0 0;
}
.team_item_overlay {
	padding: 30rem 20rem;
}
.team_item_name {
	font-weight: 700;
	font-size: 22rem;
	color: #000;
}
.team_item_position {
	font-weight: 600;
	font-size: 16rem;
	color: #B1B1B1;
	margin: 13rem 0 20rem;
}
.team_item_descr {
	font-size: 14rem;
	line-height:  171%;
	color: #000000;
}
.team {
	margin: 200rem 0;
}
.team_subtitle {
	font-size: 14rem;
	margin-top: 27rem;
	max-width: 717rem;
	line-height: 171%;
	color: #000000;
}
.team_overlay {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 26rem);
    margin-left: -13rem;
    margin-top: 10rem;
}
.servicepage {
	position: relative;
}
.servicepage_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 114rem;
	margin-left: 70rem;
}
.servicepage_head_img {
	width: 560rem;
	position: relative;
}
.servicepage_head_text {
	width: 475rem;
}
.servicepage_head_subtitle {
	font-weight: 600;
	font-size: 20rem;
	color: #000000;
	margin-bottom: 18rem;
}
.servicepage_head_text {
	margin-bottom: 18rem;
	line-height: 171%;
}
.servicepage_head_img_overlay {
	position: relative;
	z-index: 2;
}
.servicepage_head_title {
	position: absolute;
	top: -85rem;
	left: -70rem;
	font-weight: 700;
	font-size: 130rem;
	line-height: 135%;
	text-transform: uppercase;
	color: #00B3CA;
	z-index: -1;
}
.servicepage_head_title_border {
	position: absolute;
	top: -85rem;
	left: -70rem;
	font-weight: 700;
	font-size: 130rem;
	line-height: 135%;
	text-transform: uppercase;
	color: rgba(255,255,255,0);
    -webkit-text-stroke: 1px #00b3ca;
    text-stroke: 1px #00b3ca;
    z-index: 3;
}
.servicepage_item_title {
	margin-bottom: 27rem;
}
.servicepage_item_text {
	font-size: 14rem;
	line-height: 171%;
	color: #000000;
	margin-bottom: 18rem;
}
.servicepage_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 200rem 0;
	position: relative;
}
.servicepage_item_image {
	width: 570rem;
}
.servicepage_item_text_overlay {
	width: 510rem;
}
.servicepage_bg {
	position: absolute;
	top: -100rem;
	right: -65rem;
	width: 206rem;
	z-index: -1;
}
.servpage_form {
	background-image: url(img/service_form_bg.png);
}
.header_menu {
	display: none;
}
.mobile_menu {
	display: none;
}
.header_nav_child {
	display: none;
}
.header_nav_child.active {
	display: block;
	padding: 2rem 20rem;
	background: #FBFBFB;
	border: 1rem solid #007F8F;
	border-radius: 10rem;
	position: absolute;
	top: 100%;
	z-index: 99;
	left: -10rem;
	width: max-content;
}
.header_nav_child_link {
	font-weight: 500;
	color: #000;
	margin: 8rem 0;
	display: flex;
	align-items: center;
}
.header_nav_child_link:before {
	content: "";
	width: 5rem;
	height: 5rem;
	background-color: #007F8F;
	border-radius: 100%;
	margin-right: 10rem;
}
@media screen and (max-width: 1024px) {
	html {
		font-size: 0.09766vw;
	}
	.container {
		width: 844rem;
	}
	.header_nav {
		display: none;
	}
	.header_logo img {
		width: 190rem;
	}
	.header_lang .jq-selectbox__trigger {
		width: 9rem;
		height: 7rem;
	}
	.header_menu {
		display: flex;
		align-items: center;
		font-weight: 600;
	}
	.header_menu img {
		width: 15rem;
		margin-right: 12rem;
	}
	.header_lang {
		margin-left: auto;
	}
	.header_btn {
		margin: 0 60rem;
	}
	.hero {
		padding-top: 133rem;
	}
	h1 {
		font-size: 56rem;
	}
	.hero_form {
		margin-bottom: -394rem;
		margin-top: 262rem;
		padding: 30rem 40rem;
	}
	.hero_social {
		top: 169rem;
	}
	.about {
    	margin: 520rem 0 200rem;
	}
	.hero_form_rooms {
		margin-top: 13rem;
	}
	.hero_form_submit {
		margin: 30rem auto 0;
	}
	.about_image_text_overlay_border {
		font-size: 84rem;
		width: 415rem;
	}
	.about_image_text_overlay {
		top: -50rem;
    	left: -30rem;
	}
	.about_image_text {
		font-size: 84rem;
		width: 415rem;
		top: -50rem;
    	left: -30rem;
	}
	.about_image_item {
		width: 294rem;
	}
	.about_bg {
	    top: 165rem;
	    left: 30rem;
	    width: 268rem;
	}
	.variants_subtitle {
		width: 350rem;
		line-height: 150%;
	}
	.slick-arrow {
		top: -175rem;
	}
	.slick-dots {
		top: -155rem;
		right: 55rem;
	}
	.variants_slider .slick-list {
		margin: 0 -20rem;
	}
	.variants_slider .slick-slide {
    	margin: 0 10rem;
	}
	.reserve {
		margin-top: 0;
		padding: 140rem 0 170rem;
	}
	.services_btn {
		top: 20rem;
	}
	.services_overlay {
		margin-top: 25rem;
		flex-wrap: wrap;
	}
	.services_item {
		width: 348rem;
		padding: 30rem;
		margin-top: 150rem;
	}
	.services_item_img {
    	margin: -130rem auto 0;
	}
	.services_item_link {
		width: 220rem;
		margin: 38rem auto 0;
	}
	.gallery_item img {
		width: 194rem;
	}
	.gallery_item {
		width: 458rem;
	}
	.gallery_text {
    	width: 395rem;
	}
	.gallery_item {
    	width: 412rem;
	}
	.gallery_item img:last-child {
    	margin-top: -113rem;
	}
	.gallery_item img:nth-child(3) {
    	margin-top: 23rem;
	}
	.gallery_item img:first-child {
	    margin-top: 50rem;
	}
	.footer_head {
		flex-wrap: wrap;
	}
	.footer_buttons {
		width: 100%;
		justify-content: space-around;
		display: flex;
		margin-top: 30rem;
	}
	.footer_buttons_item {
		width: 220rem;
		margin-bottom: 0;
	}
	.footer_logo_text {
		max-width: 255rem;
	}
	.footer_bg {
		left: -570rem;
	}
	.footer_contact_mail {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer_contact_mail_link {
		margin-top: 14rem;
	}
	.footer_contact_person_item {
		justify-content: flex-end;
	}
	.footer_contact_person_item_link_first {
		margin-left: 0;
	}
	.footer_contact_person_item_label {
		margin-right: 20rem;
	}
	.close_menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.close_menu img {
		width: 20rem;
		margin-right: 12rem;
	}
	.mobile_menu {
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100vw - 100rem);
		height: calc(100vh - 70rem);
		background-color: #fff;
		z-index: 999;
		padding: 35rem 50rem;
	}
	.mobile_menu_item {
		font-size: 30rem;
		font-weight: 500;
		color: #1B1B1B;
		margin-top: 50rem;
	}
	.filter_item_overlay {
		margin-top: 30rem;
	}
	.filter_overlay {
		padding: 10rem 40rem 40rem;
	}
	.filter_item_rooms {
		flex-wrap: wrap;
		width: 358rem;
		margin-top: 30rem;
	}
	.filter_item_rooms .hero_form_rooms_text {
		width: 100%;
		margin-bottom: 14rem;
	}
	.hero_form_rooms_label:last-child {
		margin-right: 0;
	}
	.jq-selectbox__dropdown {
		box-shadow: 0px 4px 24px rgb(0 75 84 / 15%);
	}
	.result_head {
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 65rem;
	}
	.result_head_label {
		width: 100%;
		margin-bottom: 30rem;
	}
	.result_head_delete {
		margin-left: 0;
		order: 3;
	}
	.result_head_sort {
		order: 2;
		margin-left: 0;
	}
	.result_head_view {
		order: 4;
	}
	.result_form_input_overlay {
		width: 218rem;
	}
	.result_form_item {
		width: 744rem;
		padding: 36rem 30rem;
	}
	.footer_contact {
		margin-top: 20rem;
	}
	.result_form {
		padding: 40rem 0 140rem;
		margin-top: 100rem;
	}
	.single_head {
		padding: 13rem 0;
	}
	.properties_media {
		flex-wrap: wrap;
	}
	.properties_media_link_video {
		order: 3;
		margin: 0;
		width: 100%;
		margin-top: 10rem;
	}
	.properties_media_link_photos {
		order: -1;
		margin: 0;
	}
	.single_info_head_price {
		display: none;
	}
	.single_info_content {
		flex-direction: column;
	}
	.single_info_content_text {
		width: 100%;
	}
	.single_info_content_properties {
		margin-top: 50rem;
		width: 100%;
	}
	.single_info_properties_title {
    	margin-top: 0;
	}
	.single_info_properties {
		padding: 20rem 40rem 40rem;
		background: #FAFAFA;
		border-radius: 14rem;
		margin-top: 180rem;
	}
	.single_info_properties_item {
		width: 100%;
	}
	.single_form_note {
		margin: 100rem 0;
	}
	.single_form {
		padding: 0 0 140rem;
	}
	.faq_overlay {
		margin: 0 auto;
		width: 100%;
	}
	.faq_bottom_title {
		margin-top: 80rem;
	}
	.faq_bottom_subtitle {
		margin-bottom: 140rem;
	}
	.contacts_person_item {
		width: 340rem;
	}
	.contacts_person_item_social_value {
		word-break: break-all;
	}
	.contacts {
		margin-top: 40rem;
		padding: 0 0 100rem;
	}
	.contact_form_form {
		width: 412rem;
	}
	.contact_form_gallery img {
		width: 194rem;
	}
	.contact_form_gallery {
		width: 412rem;
	}
	.contact_form_gallery img:nth-child(2) {
	    margin-top: 17rem;
	}
	.contact_form_gallery img:last-child {
	    margin-top: 24rem;
	}
	.contact_form_gallery img:nth-child(3) {
	    margin-top: -91rem;
	}
	.contact_form {
	    margin: 140rem 0;
	}
	.about_head_right {
    	width: 410rem;
	}
	.about_text {
		margin-top: -265rem;
		padding-top: 343rem;
		padding-bottom: 224rem;
	}
	.about_text_wrapper {
		width: 844rem;
	}
	.about_text_overlay {
    	column-width: 410rem;
    	column-count: 2;
    	column-gap: 23rem;
	}
	.about_text_gallery {
		margin-top: -158rem;
	}
	.about_page {
    	margin: 40rem 0 140rem;
	}
	.team {
    	margin: 140rem 0;
	}
	.team_item {
		margin: 20rem 10rem 0;
		width: 412rem;
	}
	.team_overlay {
		margin-top: 30rem;
	}
	.team_item_img {
		height: 455rem;
	}
	.team_item_descr {
		text-align: left;
	}
	.team_item_overlay {
    	padding: 30rem;
	}
	.hero_content {
		padding-bottom: 145rem;
	}
	.text_page  {
		width: 680rem;
	}
	.servicepage_head {
		margin-top: 64rem;
		margin-left: 0;
	}
	.servicepage_head_title_border {
		font-size: 80rem;
		top: -65rem;
    	left: -50rem;
	}
	.servicepage_head_title {
		font-size: 80rem;
		top: -64rem;
   	 	left: -50rem;
	}
	.servicepage_head_img {
		width: 400rem;
	}
	.servicepage_head_text {
		width: 345rem;
		font-size: 14rem;
	}
	.servicepage_item_image {
    	width: 400rem;
	}
	.servicepage_item_text_overlay {
    	width: 360rem;
	}
	.servicepage_item {
		margin: 100rem 0;
	}
}
@media screen and (max-width: 480px) {
	html {
	    font-size: 0.26654vw;
	}
	.container {
		width: 335rem;
	}
	.header_lang {
		display: none;
	}
	.header_btn {
		display: none;
	}
	.mobile_menu_item {
		font-size: 24rem;
		margin-top: 36rem;
	}
	.header_lang_mobile {
		display: block;
		margin-top: 80rem;
	}
	.header_btn_mobile {
		display: block;
		margin: 0;
		position: absolute;
		top: 18rem;
		left: 20rem;
	}
	.mobile_menu {
		padding: 18rem 20rem;
		width: calc(100vw - 40rem);
    	height: calc(100vh - 36rem);
	}
	.close_menu {
		margin-top: 10rem;
		margin-bottom: 50rem;
	}
	.hero_content {
		width: 100%;
		padding-bottom: 50rem;
	}
	.hero {
    	padding-top: 100rem;
	}
	h1 {
	    font-size: 34rem;
	    width: 268rem;
	    margin-left: auto;
	}
	.hero_form {
		margin-top: 130rem;
		padding: 23rem;
	}
	.hero_form_rooms {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.hero_form_rooms_text {
		width: 100%;
	}
	.hero_form_rooms_label {
		margin-top: 8rem;
	}
	.about_overlay {
		flex-direction: column;
	}
	.about {
    	margin: 500rem 0 124rem;
	}
	.about_image_item {
	    width: 256rem;
	    margin: auto;
	    display: block;
	}
	.about_image_text {
	    font-size: 72rem;
	    width: 405rem;
	    top: -45rem;
	    left: 17rem;
	}
	.about_image_text_overlay_border {
    	font-size: 72rem;
    	width: 405rem;
	}
	.about_image_text_overlay {
    	top: -45rem;
	    left: 17rem;
	}
	.about_content {
		margin-top: 40rem;
	}
	.about_bg {
    	top: 145rem;
    	left: 50rem;
	}
	.about_content_property_value_overlay {
		font-size: 14rem;
		font-weight: 600;
		width: 187rem;
	}
	.about_content_property_label {
		margin-right: 9rem;
	}
	h2 {
		font-size: 26rem;
	}
	.variants_subtitle {
		width: 100%;
	}
	.card {
		min-width: 315rem;
		width: 315rem;
		padding: 10rem;
	}
	.card_image {
    	width: 315rem;
	    height: 245rem;
	}
	.variants_slider {
    	margin-top: 30rem;
	}
	.variants_slider .slick-slide {
    	margin: 0 20rem;
	}
	.card_info_head {
		margin: 30rem 0 14rem;
	}
	.slick-arrow {
		top: auto;
		bottom: -87rem;
		z-index: 9;
	}
	.slick-arrow.right {
    	right: 12rem;
	}
	.slick-arrow.left {
		left: 12rem;
	}
	.slick-dots {
		top: auto;
		bottom: -70rem;
		transform: translate(50%, 0);
		right: 50%;
	}
	.reserve {
	    padding: 40rem 0 183rem;
	    margin-top: 160rem;
	}
	.reserve_form {
    	margin-top: 30rem;
	} 
	.reserve_form_item {
		width: 100%;
		position: relative;
		padding: 17rem 0;
	}
	.reserve_form_submit {
		position: absolute;
	    left: 0;
	    top: 70rem;
	    width: 100%;
	}
	.reserve_form_input {
		width: 250rem;
	}
	.services {
		padding: 100rem 0;
	}
	.services_btn {
    	top: 45rem;
    	width: 100%;
    	justify-content: center;
	}
	.gallery_item {
		display: none;
	}
	.gallery_text {
    	width: 100%;
	}
	.gallery {
    	padding: 120rem 0;
	}
	.gallery_title {
    	margin-bottom: 20rem;
	}
	.read_more {
		width: 100%;
	}
	footer {
		padding-top: 40rem;
	}
	.footer_logo_text {
		max-width: 100%;
		margin-top: 20rem;
		font-size: 12rem;
	}
	.footer_nav {
    	margin-right: 40rem;
	}
	.footer_nav_title {
		margin-top: 50rem;
	}
	.footer_schedule_item {
		font-size: 14rem;
	}
	.footer_buttons {
		flex-direction: column;
	}
	.footer_buttons_item {
		width: 100%;
		margin-top: 20rem;
	}
	.footer_bg {
		display: none;
	}
	.footer_contact {
		flex-direction: column-reverse;
		margin: 0;
		padding: 0;
	}
	.footer_contact_mail {
		width: 100%;
	}
	.footer_contact_person_item {
		width: 100%;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 27rem 0;
	}
	.footer_contact_person_item_label {
		width: 100%;
		margin-bottom: 10rem;
	}
	.footer_contact_person_item_link {
		font-size: 18rem;
		margin-right: 27rem;
	}
	.footer_contact_person {
		margin-top: 23rem;
	}
	.footer_contact_mail_label {
		margin-bottom: 10rem;
	}
	.footer_contact_mail_link {
		margin-top: 0;
	}
	.footer_terms {
		flex-direction: column-reverse;
		margin-top: 100rem;
		padding: 0 0 30rem;
	}
	.footer_terms_link {
		margin: 0;
	}
	.footer_terms_overlay {
		width: 100%;
		justify-content: space-around;
	}
	.footer_terms_copiryght {
		margin-top: 16rem;
	}
	.sale_hero_title {
		font-size: 20rem;
	}
	.sale_hero {
	    padding: 56rem 0 118rem;
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	.filter_overlay {
    	padding: 0 20rem 40rem;
	}
	.result_head_label span {
		font-size: 14rem;
	}
	.result_head_label {
		font-size: 18rem;
		width: 300rem;
		margin-bottom: 0;
	}
	.result_head_delete {
		order: 1;
	}
	.result_head_delete span {
		display: none;
	}
	.result_head_delete img {
		margin-right: 0;
	}
	.result_head_sort {
		margin-top: 30rem;
	}
	.result_head_view_item img {
    	width: 32rem;
	}
	.result_head_view {
		margin-left: 0;
		margin-top: 30rem;
	}
	.result_more {
		padding: 86rem 107rem;
	}
	.result_pagination_item {
		margin: 0 4rem;
	}
	.result_form {
		padding: 200rem 0 120rem;
		margin-top: -80rem;
	}
	.result_form_item {
    	width: auto;
    	padding: 20rem;
    	flex-direction: column;
	}
	.result_form_overlay {
		width: 100%;
	}
	.result_form_input_overlay {
    	width: 250rem;
	}
	.result_form_input_overlay {
		margin-bottom: 20rem;
	}
	.result_form_submit {
		width: 100%;
	}
	.rent_checkbox_overlay {
		flex-wrap: wrap;
	}
	.single_slider .slick-slide{
		height: 232rem;
	}
	.single_head_link span {
		display: none;
	}
	.single_head_title {
		font-size: 12rem;
	}
	.header_overlay {
		padding: 20rem 0;
	}
	.single_properties {
		margin-top: 50rem;
	}
	.single_slider .slick-dots {
		bottom: -35rem;
	}
	.properties_media_rooms {
		order: 4;
	}
	.properties_media_link_video {
		width: auto;
		margin-top: 0;
	}
	.properties_media {
		justify-content: space-between;
	}
	.properties_media_rooms {
		margin: 30rem auto 0;
	}
	.properties_media_rooms_item {
		padding: 8rem 10rem;
	}
	.single_info_head {
		margin-top: 40rem;
		flex-direction: column;
	}
	.single_info_head_name_item {
		font-size: 26rem;
		line-height: 150%;
	}
	.single_info_head_place {
		margin-top: 10rem;
	}
	.single_info_head_price {
		display: block;
		margin-top: 30rem;
	}
	.single_info_content_properties {
		margin-top: 40rem;
	}
	.single_info_properties {
		margin-top: 120rem;
		padding: 20rem;
	}
	.single_info_properties_subtitle {
		font-size: 14rem;
	}
	.single_info_properties_item_overlay {
		margin-top: 0;
	}
	.single_info_properties_item_quality_label {
		font-size: 14rem;
	}
	.single_info_properties_item_quality_overlay {
		margin: 15rem;
	}
	.single_info_properties_item_title {
		font-size: 16rem;
	}
	.single_form_note_text {
		font-size: 14rem;
	}
	.single_form_note {
		padding: 20rem;
	}
	.faq_item_text {
		font-size: 14rem;
	}
	.faq_item {
		padding: 16rem;
		margin-top: 20rem;
	}
	.faq_bottom_subtitle {
    	margin-bottom: 120rem;
	}
	.contacts_items {
		flex-direction: column-reverse;
	}
	.contacts_items_social_link {
		margin: 0 30rem;
	}
	.contacts_items_email {
		margin-top: 30rem;
	}
	.contacts_person {
		flex-direction: column;
		margin-top:0;
	}
	.contacts_person_item_img {
		width: 100rem;
		margin: -100rem auto 0;
	}
	.contacts_person_item {
		width: auto;
		padding: 50rem 20rem;
		margin-top: 105rem;
	}
	.contacts_person_item_name {
		font-size: 24rem;
	}
	.contacts_person_item_position {
		font-size: 14rem;
	}
	.contact_form_gallery {
		display: none;
	}
	.contact_form_subtitle {
		margin-bottom: 30rem;
	}
	.contact_form {
    	margin: 120rem 0;
	}
	.about_head {
		flex-direction: column;
	}
	.about_head_left {
		width: auto;
	}
	.about_head_right {
		width: auto;
		margin-top: 30rem;
	}
	.about_video {
    	width: 100%;
    	margin: 10rem auto 0;
	}
	.about_text {
	    margin-top: -105rem;
	    padding-top: 163rem;
	    padding-bottom: 214rem;
	}
	.about_text_wrapper {
    	width: 335rem;
	}
	.about_text_overlay p {
		margin-top: 15rem;
	}
	.about_text_gallery img {
		height: 218rem;
	}
	.about_text_gallery {
    	margin-top: -108rem;
	}
	.team_item_img {
    	height: 320rem;
	}
	.team_item {
		width: 290rem;
		margin: 30rem auto 0;
	}
	.team_item_descr {
		text-align: center;
	}
	.text_page {
		width: 335rem;
		margin: 40rem auto 120rem;
	}
	.text_page p {
		margin-bottom: 20rem;
	}
	.servicepage_head_title {
		font-size: 50rem;
		top: -35rem;
    	left: 0rem;
	}
	.servicepage_head_title_border {
		font-size: 50rem;
		top: -35rem;
    	left: 0rem;
	}
	.servicepage_head_img {
	    width: 335rem;
	}
	.servicepage_head {
		flex-direction: column;
	}
	.servicepage_head_text {
		margin-top: 20rem;
	}
	.servicepage_item {
		flex-direction: column;
		margin: 70rem 0;
	}
	.servicepage_item_text_overlay {
		width: 100%;
	}
	.servicepage_bg {
		display: none;
	}
	.servicepage_item_image {
		width: 100%;
	}
	.servicepage_item_title {
		margin-top: 30rem;
	}
}
