body {
	font-family: Source Sans Pro, sans-serif;
}
.container_reg {
	width: 380px;
	text-align: center;
	margin:  auto;
}

.reg_line {
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}
.reg_line hr {
	width: 157px;
}

.registration p {
	margin: 0;
	padding: 0;
	color: #9ca2b1;
}
.registration {
	width: 780px; 
	margin: auto;
	font-size: 15px;
	background-color: #fff;
	z-index: 99999;
	opacity: 1;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  	border: solid 1px #e7e7e7;
  	position: absolute;
  	top: 30%;
  	left: 30%;
}
.registration h3 {
	font-size: 26px;
  	color: #3d4467;
  	font-weight: bold;
  	margin-top: 60px;
    margin-bottom: 40px;
}
.registration a {
	display: block;
	text-decoration: none;
}
.reg_face {
	background-color: #4b68ba;
	color: #fff;
	border-radius: 3px;
	padding: 12px 0;
	font-weight: 600;
}
.reg_face img {
	width: 7px;
    height: 15px;
    position: relative;
    top: 2px;
    right: 8px;
}
.reg_google {
	color: #8e8ea6;
	border-radius: 3px;
	padding: 12px 0;
	font-weight: 600;
	border: 1px solid #8e8ea6;
	margin-top: 10px;
}
.reg_google img {
	width: 16px;
    height: 15px;
    position: relative;
    top: 2px;
    right: 8px;
}
.reg_mail {
	color: #fff;
	background-color: #8e8ea6;
	padding: 12px 0;
	border-radius: 3px;
	font-weight: 600;
}
.reg_mail img {
	position: relative;
    top: 3px;
    right: 8px;
}
.registration_hr {
	border: none;
	color: #e0e0e0;
	background-color: #e0e0e0;
	height: 1px;
}
.registration_hr2 {

    position: relative;
    left: 10px;
}
.registration_hr1 {
	position: relative;
	right: 10px;
}
.reg_sign_in {
	color: #6772e5;
	margin-left: 6px;
}

.reg_footer {
	display: flex;
	margin-bottom: 40px;
	margin-top: 15px;
}
.reg_footer p  {
	margin-left: 13%;
	font-weight: 600;
}
.close_reg {
	position: absolute;
	top: 35px;
	left: 35px;
}
.registration_on_mail {
	width: 780px;
	margin: 0;
	padding: 0;
	color: #9ca2b1;
	border-radius: 3px;
  	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  	border: solid 1px #e7e7e7;
  	background-color: #ffffff;
  	position: absolute;
  	top: 20%;
  	left: 25%;
}
.container_on_mail {
	width: 380px;
	text-align: center;
	margin:  auto;
}
.registration_on_mail h3 {
	font-size: 15px;
  	font-weight: 600;
  	color: #3d4467;
  	margin-top: 72px;
}
.registration_on_mail h3 a {
	color: #6772e5;
	text-decoration: none;
}
.registration_on_mail p {	
	margin: 0;
	padding: 0;
}
.inputs_on_mail input {
 	width: 364px;
 	padding: 12px 0 12px 16px;
 	margin-top: 10px;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
}
.inputs_on_mail input:first-child {
	margin-top: 0;
}
.window_sign_in {
	position: absolute;
	background-color: #fff;
	top: 15%;
  	left: 25%;
	width: 780px; 
	margin: auto;
	font-size: 15px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  	border: solid 1px #e7e7e7;
} 
.window_sign_in h3 {
	font-size: 26px;
  	font-weight: bold;
  	color: #3d4467;
  	margin-top: 60px;
}
.window_sign_in a {
	display: block;
	text-decoration: none;
}
.reg_line_sign_in p {
	margin-top: 0;
} 
.window_sign_in .reg_footer_sign_in p {
	margin-top: 0;
}
.container_reg {
	width: 380px;
	text-align: center;
	margin:  auto;
}
.inputs_on_mail input[type="name"]::-webkit-input-placeholder {
    color: #9ca2b1;
    font: 600 14px Source Sans Pro;
    opacity: 0.7;
} 
.inputs_on_mail input[type="name"]::-moz-placeholder {
    color: #9ca2b1;
    font: 600 14px Source Sans Pro;
    opacity: 0.7;
}
.inputs_on_mail input[type="password"]::-webkit-input-placeholder {
    color: #9ca2b1;
    font: 600 14px Source Sans Pro;
    opacity: 0.7;
} 
.inputs_on_mail input[type="password"]::-moz-placeholder {
    color: #9ca2b1;
    font: 600 14px Source Sans Pro;
    opacity: 0.7;
}
.registration_on_mail .min {
	font-size: 12px;
  	color: #9ca2b1;
  	text-align: left;
  	margin-left: 20px;
  	margin-top: 10px;
  	margin-bottom: 20px;
}
.checkbox_on_mail input[type=checkbox], input[type=radio] {display: none;}

.checkbox_on_mail input[type=checkbox] + label:before {
    content: "";

    color: transparent;
    display: inline-block;
    border: 1px solid #9ca2b1;
    border-radius: 3px;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}
.checkbox_on_mail label {
	font-size: 14px;
}
.checkbox_on_mail input[type=checkbox]:checked + label:before {
    color: #6772e5;
    background: url(img/ok.svg);
    background-color: #efefef;
    background-position-y: 4px;
    border: none;
}
.checkbox_on_mail input[type=checkbox]:hover + label:before {
	border: 1px solid #6772e5;
}
.checkbox_on_mail {
	margin-left: -35px;
}
.on_mail_sign_up {
	border-radius: 3px;
  	background-color: #6772e5;
  	color: #fff;
  	width: 380px;
  	display: block;
  	font-size: 15px;
  	font-weight: bold;
  	text-decoration: none;
  	padding: 12px 0;
  	margin-top: 20px;
}
.hr_on_mail {
	margin-top: 20px;
	margin-bottom: 20px;
}
.registration_on_mail .reg_footer {
	margin-left: 10%;
}
.registration_on_mail .reg_footer .reg_sign_in {
	text-decoration: none;
}

.checkbox_sign_in input[type=checkbox], input[type=radio] {display: none;}

.checkbox_sign_in input[type=checkbox] + label:before {
    content: "";

    color: transparent;
    display: inline-block;
    border: 1px solid #9ca2b1;
    border-radius: 3px;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 18px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
}
.checkbox_sign_in label {
	font-size: 14px;
	color: #9ca2b1;
}
.checkbox_sign_in input[type=checkbox]:checked + label:before {
    color: #6772e5;
    background: url(img/ok.svg);
    background-color: #efefef;
    background-position-y: 4px;
    border: none;
}
.checkbox_sign_in input[type=checkbox]:hover + label:before {
	border: 1px solid #6772e5;
}
.checkbox_sign_in {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 10px;
}
.forget {
	font-size: 15px;
  	font-weight: 600;
  	color: #8e8ea6;
  	margin-top: 20px;
  	margin-bottom: 30px;
}
.reg_footer_sign_in p {
	margin-left: 0;
	text-align: left;
}
.reg_line_sign_in {
	margin-bottom: 10px;
}
.password_mail {
	border-radius: 3px;
  	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  	border: solid 1px #e7e7e7;
 	background-color: #ffffff;
 	position: absolute;
 	top: 30%;
  	left: 30%;
 	width: 780px;
}
.password_mail_container {
	width: 380px;
	margin: auto;
}
.password_mail h3 {
	font-size: 20px;
  	font-weight: bold;
  	color: #3d4467;
  	margin: 0;
  	padding: 0;
  	margin-top: 70px;
}	
.in_mail {
	font-size: 15px;
  	font-weight: 600;
  	color: #8e8ea6;
}
.input_mail {
	font-size: 14px;
  	font-weight: 600;
  	color: #6772e5;
  	margin-bottom: 10px;
}
.password_mail input {
	width: 378px;
    height: 38px;
	border-radius: 3px;
	border: solid 1px #9ca2b1;
}
.back_sign_in {
	font-size: 13px;
  	font-weight: 600;
  	color: #8e8ea6;
  	text-decoration: none;
}
.password_mail_footer {
	margin-top: 20px;
	margin-bottom: 42px;
}
.password_mail_arrow {
	transform: rotate(-180deg);
	margin-right: 3px;
}
.send_href {
	border-radius: 3px;
  	background-color: #6772e5;
  	font-size: 15px;
  	font-weight: bold;
  	color: #ffffff;
  	text-decoration: none;
  	padding: 12px 19px 12px 18px;
  	margin-left: 9px;
}
.mail_send {
	width: 780px;
	border-radius: 3px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #e7e7e7;
	background-color: #ffffff;
	position: absolute;
	top: 30%;
  	left: 30%;
}
.mail_send_container {
	width: 378px;
	margin: auto;
}
.mail_send h3 {
	font-size: 20px;
  	font-weight: bold;
	color: #3d4467;
	margin-top: 70px;
}
.mail_send p {
	font-size: 15px;
  	font-weight: 600;
  	color: #8e8ea6;
  	margin-bottom: 60px;
}
.new_password {
	width: 780px;
	border-radius: 3px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #e7e7e7;
	background-color: #ffffff;
	height: 488px;
	position: absolute;
	top: 20%;
  	left: 30%;
}
.new_password_container {
	width: 378px;
	margin: auto;
}
.new_password h3 {
	margin-top: 70px;
	font-size: 20px;
  	font-weight: bold;
  	color: #3d4467;
}
.new_password input {
	width: 362px;
 	padding: 12px 0 12px 16px;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
}
.new_password_mail {
	font-size: 14px;
  	font-weight: 600;
  	color: #8e8ea6;
  	margin-bottom: 10px;
}
.new_password input[type="text"]::-webkit-input-placeholder {
    color: #9ca2b1;
    font: 600 14px Source Sans Pro;
    opacity: 0.7;
} 
.new_password input[type="text"]::-moz-placeholder {
    color: #9ca2b1;
    font: 600 14px Source Sans Pro;
    opacity: 0.7;
}
.new_password_create {
	font-size: 14px;
  	font-weight: 600;
  	color: #6772e5;
  	margin-bottom: 10px;
}
.new_password .min {
	font-size: 12px;
  	color: #9ca2b1;
  	text-align: left;
  	margin-left: 20px;
  	margin-top: 10px;
  	margin-bottom: 20px;
}
.new_password_confirm {
	font-size: 14px;
  	font-weight: 600;
  	color: #8e8ea6;
  	margin-bottom: 10px;
}
.btn_create_new_password {
	font-size: 15px;
  	font-weight: bold;
  	color: #ffffff;
  	border-radius: 3px;
 	background-color: #6772e5;
 	text-decoration: none;
 	float: right;
 	padding: 12px 23px 12px 23px;
 	margin-top: 14px;
}




:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.overlay_registration {
	position: absolute;
	left: 0;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
  	background-color: rgba(27, 22, 74, 0.5);
}
.overlay_on_mail {
	position: absolute;
	left: 0;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
  	background-color: rgba(27, 22, 74, 0.5);
}
.overlay_sign_in {
	position: absolute;
	left: 0;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
  	background-color: rgba(27, 22, 74, 0.5);
}
.overlay_password_mail {
	position: absolute;
	left: 0;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
  	background-color: rgba(27, 22, 74, 0.5);
}
.overlay_mail_send {
	position: absolute;
	left: 0;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
  background-color: rgba(27, 22, 74, 0.5);
}
.overlay_new_password {
	position: absolute;
	left: 0;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
  	background-color: rgba(27, 22, 74, 0.5);
}
.overlay_new_rate {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 22, 74, 0.5);
}
.overlay_active_close_rate {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 22, 74, 0.5);
}
.overlay_active_my_rate {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 22, 74, 0.5);
}
.overlay_active_rate {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 22, 74, 0.5);
}
.show {
	display: block;
}
.add_new_rate {
  width: 415px;
  background-color: #fff;
  margin: auto;
  top: 22%;
  left: 38%;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
}
.container_new_rate {
  width: 355px;
  margin: auto;
  padding-bottom: 5px;
}
.add_new_rate h3 {
  font-size: 22px;
  font-weight: 600;
  color: #2b2b2b;
  margin: 0;
  padding-top: 30px;
  margin-bottom: 20px;
}
.add_new_rate p {
  font-size: 14px;
  font-weight: 600;
  color: #8e8ea6;
}
.add_new_rate_form div {
  display: flex;
  align-items: center;
}
.add_new_rate_form input {
  height: 34px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
  background-color: #fff;
}
.add_new_rate_form select {
  width: 150px;
  height: 34px;
  border-radius: 3px;
  border: solid 1px #d8d8d8;
}
.add_new_rate_category {
  position: relative;
}
.add_new_rate_category select:focus {
  border:1px solid #6772e5;
}
.add_new_rate_category select{
  margin-left: 38px;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  padding-left: 12px;
  font: 600 14px Source Sans Pro;
  color: #9ca2b1;
}
.add_new_rate_category_img {
  position: absolute;
  top: 18px;
  right: 118px;
  width: 11px;
  height: 11px;
}
.add_new_rate_subcategory {
  position: relative;
}
.add_new_rate_subcategory select {
  margin-left: 15px;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  padding-left: 12px;
  font: 600 14px Source Sans Pro;
  color: #9ca2b1;
}
.add_new_rate_subcategory_img {
  position: absolute;
  top: 18px;
  right: 118px;
  width: 11px;
  height: 11px;
}
.add_new_rate_event input {
  margin-left: 49px;
  width: 248px;
  padding-left: 12px;
}
.add_new_rate_rate input {
  margin-left: 61px;
  width: 248px;
  padding-left: 12px;
}
.add_new_rate_sum {
  position: relative;
}
.add_new_rate_sum input {
  margin-left: 64px;
  width: 145px;
  padding-left: 12px;
}
.add_new_rate_sum_img {
  position: absolute;
  right: 93px;
}
.add_new_rate_sum_kef {
  font-size: 14px;
  font-weight: 600;
  color: #825cf7;
  margin-left: 13px;
}
.add_new_rate_date input {
  margin-left: 18px;
  color: #9ca2b1;
  font: 600 14px Source Sans Pro;
  padding-left: 12px;
  width: 145px;
}
.add_new_rate_source input {
  margin-left: 44px;
  width: 248px;
  padding-left: 12px;
}
.add_new_rate input[type="text"]::-webkit-input-placeholder {
  color: #9ca2b1;
  font: 600 14px Source Sans Pro;
} 
.add_new_rate input[type="text"]::-moz-placeholder {
  color: #9ca2b1;
  font: 600 14px Source Sans Pro;
}
.add_new_rate_href {
  font-size: 15px;
  font: 700 14px Source Sans Pro;
  color: #ffffff;
  border-radius: 3px;
  background-color: #6772e5;
  display: block;
  border: none;
  text-align: center;
  width: 202px;
  margin: auto;
  padding: 12px 0;
  margin-top: 24px;
  margin-bottom: 20px;
}
#Label2,#Label3 {
  display: none;
}

.hint {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.hint:before {
  content: "";
  position: absolute;
  top: 101%;
  margin-top:-5px;
  left: 21px;
  width: 9px;
  height: 9px;
  border-width: 0 1px 1px 0;
  border-right: transparent;
  border-style: solid;
  border-color:rgba(0, 0, 0, 0.05);
  background: #fff;
  transform: rotate(45deg);
}
.table_rate {
  position: absolute;
  top: -100px;
  left: 50px;
  width: 200px;
  text-align: left;
  font-size: 12px;
  display: none;
   font-size: 12px;
  color: #2b2b2b;
}
.date_event:hover .table_rate {
  display: block;
}
.add_new_rate_date {
  position: relative;
}
.more_hint {
  display: block;
  font-size: 12px;
  color: #3c54f5;
  margin-top: 6px;
  text-decoration: none;
}
.date_event .hint p {
  font-size: 12px;
  color: #2b2b2b;
}
.add_new_rate_source {
  position: relative;
}
.add_new_rate_source_hint {
  position: absolute;
  top: -102px;
  left: 25px;
  width: 200px;
  text-align: left;
  font-size: 12px;
  display: none;
   font-size: 12px;
  color: #2b2b2b;
}
.date_event:hover .add_new_rate_source_hint {
  display: block;
}
.add_new_rate_date {
  position: relative;
}
.more_hint {
  display: block;
  font-size: 12px;
  color: #3c54f5;
  margin-top: 6px;
  text-decoration: none;
}
.date_event .hint p {
  font-size: 12px;
  color: #2b2b2b;
}
.active_rate {
  width: 415px;
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 35%;
  border-radius: 3px;
}
.container_active_rate {
  width: 355px;
  margin: auto;
}
.active_rate h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: #2b2b2b;
  margin-bottom: 15px;
  padding-top: 30px;
}
.active_rate_category {
  font-size: 14px;
  font-weight: 600;
  color: #8e8ea6;
  display: inline-block;
  margin: 5px 0;
}
.active_rate_value {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #2b2b2b;
  border-radius: 3px;
  background-color: #efefef;
  padding: 8px 0 8px 12px;
  margin: 5px 0;
}
.active_rate_cat .active_rate_value {
  width: 142px;
  margin-left: 38px;
}
.active_rate_subcategory .active_rate_value {
  width: 142px;
  margin-left: 15px;
}
.active_rate_event .active_rate_value {
  width: 235px;
  margin-left: 49px;
}
.active_rate_rate .active_rate_value {
  width: 235px;
  margin-left: 61px;
}
.active_rate_sum .active_rate_value {
  width: 147px;
  margin-left: 64px;
}
.active_rate_date .active_rate_value {
  margin-left: 18px;
  width: 147px;
}
.active_rate_source .active_rate_value  {
  margin-left: 44px;
  width: 235px;
  color: #6772e5;
}
.active_rate_sum_img {
  position: absolute;
  right: 89px;
  top: 5px;
  height: 34px;
}
.active_rate_sum {
  position: relative;
}
.active_rate_vs {
  display: inline-block;
}
.active_rate_vs img {
  width: 34px;
  height: 34px;
  position: relative;
  top: 10px;
}
.active_rate_vs {
  margin-left:59px;
}
.active_rate_vs_name {
  margin-left: 34px;
  margin-right: 34px;
  font-size: 14px;
  font-weight: 600;
  color: #9ca2b1;
}
.active_rate_btn {
  border-radius: 3px;
  background-color: #6772e5;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  display: block;
  margin: auto;
  padding: 12px  39px;
  width: 124px;
  margin-top: 24px;
}
.active_rate_footer {
  margin-top: 20px;
  border-radius: 3px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #8e8ea6;
}
.active_rate .close_reg {
  left: auto;
  right: 30px;
  top: 30px;
}
.active_rate_footer p {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #ffffff;
  padding-top: 20px;
  text-align: center;
  height: 117px;
  margin: 0;
}

input.error {
 border: 1px solid #ff0000;
}
label.error {
 color: #ff0000;
 font-weight: normal;
}
.add_new_rate_sum label {
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  width: 150px;
  font-size: 12px;
  color: #ff8e8d;
  height: 40px;
  top: -50px;
  left: 10px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}
.add_new_rate_sum label:before {
  content: "";
  position: absolute;
  top: 101%;
  margin-top:-5px;
  left: 21px;
  width: 9px;
  height: 9px;
  border-width: 0 1px 1px 0;
  border-right: transparent;
  border-style: solid;
  border-color:rgba(0, 0, 0, 0.05);
  background: #fff;
  transform: rotate(45deg);
}
.add_new_rate_rate label {
  position: absolute;
  top: 0; 
  right: 100px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #ff8e8d;
  padding: 2px 20px;
}
.add_new_rate_event label {
  position: absolute;
  top: 0;
  right: 100px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-color: #ff8e8d;
  padding: 2px 20px;
}
.add_new_rate_source label {
  position: absolute;
  top: -354px;
  right: 70px;
  color: #fff;
  background-color: #ff8e8d;
  font-size: 10px;
  font-weight: 600;
  padding: 2px 20px;
}
#cyber-sport{
  display: none;
}
.add_new_rate .close_reg {
  left: auto;
  right: 30px;
  top: 30px;
}































































@media screen and (max-width: 1200px) {
	.registration {
		left: 13%;
	}
	.registration_on_mail  {
		top: 15%;
    	left: 15%;
	}
	.window_sign_in  {
		left: 9%;
	}
	.password_mail {
    	top: 21%;
    	left: 10%;
    }
    .mail_send {
    	left: 18%;
    }
    .new_password {
    	left: 13%;
    }
} 
@media screen and (max-width: 992px) {
	.registration {
    	width: 98%;
    	left: 1%;
    }
    .registration_on_mail{
    	width: 98%;
    	left: 1%;
    }
    .window_sign_in {
    	width: 98%;
    	left: 1%;
    }
    .password_mail {
    	width: 98%;
    	left: 1%;
    } 
    .mail_send {
    	width: 98%;
    	left: 1%;
    }
    .new_password {
    	width: 98%;
    	left: 1%;
    }


}
@media screen and (max-width: 444px) {
	.registration {
		top: 15%;
	}
	.container_reg {
		width: 95%;
	}
	.reg_face img {
	    width: 97px;
	    height: 27px;
	    position: relative;
	    top: 17px;
	    left: -12px;
	}
	.close_reg {
	    position: absolute;
	    top: 16px;
	    right: 16px;
	    left: auto;
	}
	.reg_face {
		padding: 0px 30px 12px 0;
	}	
	.reg_google img {
	    width: 97px;
	    height: 22px;
	    position: relative;
	    top: 11px;
   		right: 14px;
	}
	.reg_google {
		padding: 3px 26px 12px 0;
	}
	.reg_google_m {
		margin-right: 18px;
	}
	.reg_line hr {
    	width: 108px;
	}
	.reg_mail img {
	    position: relative;
	    top: 12px;
	    width: 77px;
	    height: 18px;
	    right: 19px;
	}
	.reg_mail_text {
		padding-left: 36px;
	}
	.reg_footer {
		display: block;
	} 
	.reg_footer p {
		margin-left: 0;
	}
	.container_on_mail {
    	width:300px;
    }
    .inputs_on_mail input {
    	width: 280px;
    }
    .on_mail_sign_up {
    	margin: auto;
    	width: 300px;
    	margin-top: 20px;
    } 
    .checkbox_on_mail {
    	margin-left: -2px;
	}
	.registration_on_mail .reg_footer {
		margin-left: 0;
		margin-bottom: 15px;
	}
	.window_sign_in .reg_face img {
    	width: 81px;
    }
    .window_sign_in_span {
    	padding-left: 26px; 
    }
    .window_sign_in .reg_google img {
    	width: 102px;
    	top: 17px;
    	right: 5px;
    }
    .window_sign_in  .reg_google {
    	padding: 3px 47px 12px 0;
    }
    .window_sign_in_google {
    	padding-left: 28px;
    }
    .window_sign_in .reg_footer_sign_in p  {
		text-align: center;
    }
    .password_mail_container {
    	width: 300px;
    }
    .password_mail input {
    	width: 300px;
    }
    .back_sign_in {
    	position: absolute;
    	bottom: 0;
    	left: 30%;
    }
    .send_href {
    	margin-left: 0;
    	display: block;
    	text-align: center;
    }
    .mail_send_container {
    	width: 300px;
    }
    .new_password_container {
    	width: 300px;
    }
    .new_password input {
    	width: 282px;
    }

    .btn_create_new_password  {
    	display: block;
    	text-align: center;
    	float: none;
    }
  .add_new_rate {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
  }
  .container_new_rate {
      width: 96%;
  }
  .add_new_rate p {
    margin-left: 5px;
  }
  .add_new_rate_category_img {
    left: 239px;
    right: auto;
  }
  .add_new_rate_subcategory_img {
    left: 239px;
    right: auto;
  }
  .add_new_rate_sum_img  {
    left: 213px;
    right: auto;
  }
  .add_new_rate_sum_kef {
    display: none;
  }
  .active_rate {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .container_active_rate {
    width: 100%;
  }
  .active_rate_category {
    margin: 5px 0 5px 5px;
  }
  .active_rate_event .active_rate_value {
    width: 190px;
  }
  .active_rate_rate .active_rate_value {
    width: 190px;
  }
  .active_rate_source .active_rate_value {
    width: 190px;
  }
  .active_rate_sum_img {
    left: 216px;
    right: auto;
  }
  .active_rate_vs_name {
    margin-left: 15px;
    margin-right: 15px;
  }
  .active_rate h3 {
    margin-left: 5px;
  }
  .active_rate .close_reg {
    right: 16px;
    top: 16px;
  }
  .active_rate .close_reg {
    right: 16px;
    top: 16px;
    left: auto;
  }
  
    
}