html{
	font-size: 0.052084vw;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	font-family: 'Montserrat', sans-serif;
	color: rgba(64, 58, 48, 0.7);
	background-color: #FEFEFE;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,p,a {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
p {
	font-size: 16rem;
	line-height: 150%;
}
.hidden {
	overflow: hidden;
}
.container {
	width: 1440rem;
	position: relative;
	margin: 0 240rem;
}
.hero_bg_mobile  {
	display: none;
}
header{
	padding-top: 30rem;
}
.header_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_logo-title {
	font-size: 24rem;
	color: #FFAA28;
	line-height: 150%;
}
.header_logo-text {
	color: rgba(64, 58, 48, 0.7);
	font-size: 13rem;
	margin-top: 10rem;
}
.header_tel {
	font-size: 22rem;
	color: #fff;
	display: flex;
	align-items: center;
	transition: 0.5s;
	position: relative;
    z-index: 22;
}
.header_tel-img {
	margin-right: 15rem;
	width: 35rem;
}
.hero {
	margin-top: 80rem;
}
.hero_bg {
	position: absolute;
	top: -30rem;
	right: -240rem;
	z-index: -1;
	width: 892rem;
}
.hero_image {
	width: 850rem;
    position: relative;
    top: -130rem;
    left: 40rem;
}
.hero_overlay {
	display: flex;
	justify-content: space-between;
}
h1 {
	font-size: 40rem;
	line-height: 150%;
	font-weight: 400;
	margin-bottom: 50rem;
	font-family: 'Comfortaa', cursive;
	color: #473C2A;
}
h1 span {
	color: #FFA927;
}
h4 {
	font-size: 20rem;
	line-height: 150%;
	font-weight: 400;
}
.yellow {
	color: #FFA927;
}
.hero_left_subtitle {
	margin-top: 20rem;
}
.hero_sale {
	width: 150rem;
	height: 150rem;
	background: linear-gradient(90deg, #FFA927 0%, #FFCF27 100%);
	box-shadow: 0px 12px 34px rgba(255, 202, 39, 0.5);
	color: #fff;
	border-radius: 100rem;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.hero_flex {
	display: flex;
}
.hero_flex_left {
	width: 527rem;
	margin-right: 45rem;
}
.hero_sale_old {
	color: rgba(255, 255, 255, 0.6);
	margin-top: 40rem;
}
.hero_sale_time {
	font-size: 14rem;
}
.hero_sale_new {
	font-size: 24rem;
}
.select_option {
	color: rgba(64, 58, 48, 0.7);
	font-size: 16rem;
}
.form_input {
	width: 300rem;
	padding: 22rem 0 22rem 40rem;
	box-shadow: 0px 5px 24px rgba(96, 58, 0, 0.25);
	border-radius: 200px;
	background: #fff;
	border: none;
	margin-top: 25rem;
	font-family: 'Comfortaa', cursive;
	font-size: 16rem;
}
.form_submit {
	background: linear-gradient(90deg, #FFA927 0%, #FFCF27 100%);
	box-shadow: 0px 12px 34px rgba(255, 202, 39, 0.5);
	border-radius: 200px;
	font-family: 'Comfortaa', cursive;
	font-size: 16rem;
	color: #fff;
	border: none;
	text-align: center;
	width: 340rem;
	padding: 21rem 0;
	margin-top: 25rem;
	margin-left: 40rem;
	transition: 0.5s;
	font-size: 16rem;
}
.jq-selectbox__select-text {
	width: 300rem!important;
	padding: 22rem 0 22rem 40rem;
	box-shadow: 0px 5px 24px rgba(96, 58, 0, 0.25);
	border-radius: 200px;
	background: #fff;
	border: none;
	margin-top: 25rem;
	margin-left: 40rem;
	font-family: 'Comfortaa', cursive;
	font-size: 16rem;
	color: #473C2A;
}
.jq-selectbox__dropdown {
	width: calc(100% - 40rem);
    background: #fff;
    border-radius: 20rem;
    top: 95rem;
    left: 40rem;
    box-shadow: 0px 5px 24px rgba(96, 58, 0, 0.25);
}
.jq-selectbox__dropdown .select_option:hover {
	background: linear-gradient(90deg, #FFA927 0%, #FFCF27 100%);
	border-radius: 71px;
	color: #fff;
}
.jq-selectbox__dropdown ul {
	padding: 0;
}
.jq-selectbox__dropdown .select_option {
	padding: 15rem 0 15rem 20rem;
	color: #473C2A;
}
.jq-selectbox__trigger {
	position: absolute;
    top: 26rem;
    right: 30rem;
    width: 17rem;
    height: 9rem;
    background-image: url(../img/select.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40rem;
}
.form_accept {
	font-size: 12rem;
	line-height: 150%;
	margin-top: 23rem;
	width: 340rem;
}
.form_quanity {
	color: #FFA927;
    font-size: 18rem;
    font-weight: 500;
    margin: 25rem 0 0 95rem;
}
.form_politic {
	font-size: 12rem;
	line-height: 150%;
	text-decoration: underline;
	color: rgba(64, 58, 48, 0.7);
}
.overview{
	margin-top: -100rem;
}
.overview_overlay {
	display: flex;
	align-items: center;
}
.overview_left {
	width: 643rem;
	margin-right: 80rem;
}
h2 {
	font-size: 30rem;
	color: #473C2A;
	line-height: 150%;
	font-weight: 400;
	font-family: 'Comfortaa', cursive;
}
.overview_title {
	margin-bottom: 40rem;
}
.overview_text {
	margin-bottom: 25rem;
}
.overview_list {
	margin-bottom: 25rem;
	padding: 0;
}
.overview_list li {
	color: rgba(64, 58, 48, 0.7);
	font-size: 16rem;
	line-height: 150%;
	list-style: none;
}
.overview_list li:before {
	background: rgba(255, 169, 39, 0.5);
	width: 8rem;
	height: 8rem;
	display: block;
	display: inline-block;
	position: relative;
	top: -2rem;
	border-radius: 100rem;
	content: "";
	margin-right: 10rem;
}
.overview_image {
	width: 700rem;
	border-radius: 20rem;
}
.overview_image_title {
	text-align: center;
	color: #473C2A;
	font-size: 20rem;
	font-family: 'Comfortaa', cursive;
	line-height: 150%;
	margin-top: 25rem;
}
.btn {
	font-weight: 700;
	font-size: 16rem;
	font-family: 'Comfortaa', cursive;
	background: linear-gradient(90deg, #FFA927 0%, #FFCF27 100%);
	box-shadow: 0px 12px 34px rgba(255, 202, 39, 0.5);
	border-radius: 200px;
	color: #fff;
	text-align: center;
	padding: 21rem 0;
	display: block;
	transition: 0.5s;
}
.footer_tel:hover {
	opacity: 0.7;
	transition: 0.5s;
}
.header_tel:hover {
	opacity: 0.7;
	transition: 0.5s;
}
.overview_btn {
	margin: 80rem auto 0;
	width: 420rem;
}
.gift_overlay {
	display: flex;
	width: 1268rem;
	align-items: center;
	margin: 133rem auto 0;
}
.gift_image {
	width: 508rem;
}
.gift_title {
	margin-bottom: 40rem;
}
.gift_right {
	margin-left: 120rem;
}
.gift_btn {
	width: 348rem;
	padding: 21rem 60rem;
	line-height: 150%;
	margin-top: 50rem;
}
.confidence {
	background-image: url(../img/confidence_bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 210rem 0;
	margin-top: 127rem;
	overflow-x: hidden;
}
.confidence_title {
	text-align: center;
	margin-bottom: 80rem;
}
.confidence_overlay {
	display: flex;
	justify-content: space-between;
}
.confidence_item {
	width: 280rem;
	text-align: center;
}
.confidence_item_img {
	width: 80rem;
}
h3 {
	color: #473C2A;
	font-size: 18rem;
	line-height: 150%;
	font-family: 'Comfortaa', cursive;
	font-weight: 400;
}
.confidence_item_title {
	margin: 30rem 0 6rem;
}
.production {
	margin: 110rem 0 165rem;
	overflow-x: hidden;
}
.production_btn {
	width: 468rem;
	margin-top: 40rem;
}
.card {
	background-image: url(../img/confidence_bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 210rem 0;
	margin-top: 127rem;
}
.card_slider_nav {
	display: inline-block;
}
.card_slider_nav_btn {
	width: 98rem;
	height: 96rem;
	border-radius: 10px;
	margin-bottom: 5rem;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
	display: inline-block!important;
}
.card_slider .owl-carousel{
	width: 600rem;
}
.card_slider_nav_overlay {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 605rem;
}
.card_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card_text {
	margin-left: 200rem;
}
.card_text_title {
	margin-bottom: 30rem;
}
.card_btn {
	width: 340rem;
	margin-top: 42rem;
}
.owl-prev span,.owl-next span {
	display: none;
}
.owl-prev,.owl-next {
	width: 60rem;
	height: 60rem;
	background-image: url(../img/slider_arrow.svg);
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center!important;
	display: block;
	position: absolute;
	top: calc(50% - 30rem);
}
.owl-prev {
	left: 20rem;
	transform: rotate(180deg);
}
.owl-next {
	right: 20rem;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	background-image: url(../img/slider_arrow.svg)!important;
}
.owl-carousel .owl-nav button.owl-prev.disabled,.owl-carousel .owl-nav button.owl-next.disabled {
	background-image: url(../img/slider_arrow_disabled.svg)!important;
}
.reviews {
	margin: 130rem 0 90rem;
}
.reviews_title {
	text-align: center;
	margin-bottom: 40rem;
}
.reviews_slider .owl-item:before {
	position: absolute;
	top: 0;
	letter-spacing: 0;
	width: 110%;
	height: 100%;
	content: "";
	z-index: 9;
	background-color: rgba(255,255,255, 0.5);
	transition: 0.5s;
}
.reviews_slider .owl-item.center:before {
	opacity: 0;
	transition: 0.5s;
	display: none;
}
.reviews_slider_item_title {
	text-align: center;
	display: flex;
	align-items: center;
	margin-top: 10rem;
	justify-content: center;
}
.reviews_slider_item_image {
	margin-left: 20rem;
	width: 35rem!important;
}
.reviews_slider .owl-next {
    right: 340rem;
}
.reviews_slider .owl-prev {
    left: 340rem;
}
.warranty {
	background-image: url(../img/confidence_bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 210rem 0;
}
.warranty_btn {
	width: 340rem;
	margin-top: 50rem;
}
.warranty_title {
	margin-bottom: 40rem;
}
.warranty_image {
	width: 357rem;
}
.warranty_overlay {
	display: flex;
	justify-content: space-between;
}
.warranty_left {
	width: 587rem;
	margin-right: 150rem;
}
.order {
	margin: 130rem 0 170rem;
	overflow-x: hidden;
}
.order_title {
	text-align: center;
	margin-bottom: 80rem;
}
.order_overlay {
	display: flex;
	justify-content: space-between;
}
.order_item {
	text-align: center;
	width: 300rem;
}
.order_item_image {
	width: 85rem;
}
.order_item_title {
	margin: 30rem 0 6rem;
}
.order_item_text a {
	color:  rgba(64, 58, 48, 0.7);
}
.footer_hero_bg {
	position: absolute;
    top: 30rem;
    right: -240rem;
    width: 892rem;
    z-index: -2;
}
.footer_hero .hero_flex_left {
	width: 607rem;
}
.footer_hero .hero_image {
	top: 70rem;
	z-index: -1;
}
.footer_hero .hero_overlay {
	align-items: center;
}
.footer_hero .hero_left{
	margin-bottom: 100rem;
}
footer {
	padding: 30rem 0;
	background-color: #F39400;
	margin-top: -120rem;
}
.footer_overlay {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_logo_title {
	font-family: 'Comfortaa', cursive;
	font-size: 24rem;
	color: #fff;
}
.footer_logo_subtitle {
	color: rgba(255, 255, 255, 0.5);
	font-size: 13rem;
}
.footer_politic {
	color: #fff;
	font-size: 14rem;
}
.footer_politic:hover {
	text-decoration: underline;
}
.footer_social_img {
	margin: 0 10rem;
	width: 35rem;
	transition: 0.5s;
}
.footer_social_img:hover {
	opacity: 0.7;
	transition: 0.5s;
}
.footer_tel_img {
	width: 35rem;
	margin-right: 15rem;
}
.footer_tel {
	font-size: 22rem;
	color: #fff;
	display: flex;
	align-items: center;
}
.header_bg {
	width: 84rem;
    position: absolute;
    left: 595rem;
    top: 0;
    transform: rotate(-15deg);
    z-index: -1;
}
.hero_icon_bg {
	width: 84rem;
    position: absolute;
    right: -170rem;
    top: 270rem;
    opacity: 0.5;
}
.hero_icon2_bg {
	position: absolute;
    top: 290rem;
    left: -360rem;
    width: 232rem;
}
.overview_icon_bg {
	position: absolute;
    left: 600rem;
    top: 240rem;
    width: 84rem;
}
.overview_icon2_bg {
	width: 84rem;
    position: absolute;
    left: -120rem;
    bottom: 50rem;
}
.gift_icon_bg {
	width: 84rem;
    position: absolute;
    right: 70rem;
    top: -90rem;
}
.gift_icon2_bg {
	position: absolute;
    width: 84rem;
    top: -20rem;
    left: 530rem;
}
.confidence_icon_bg{
	position: absolute;
    width: 330rem;
    left: -420rem;
    top: -60rem;
}
.confidence_icon2_bg {
	position: absolute;
    width: 330rem;
    right: -360rem;
    top: 20rem;
    transform: rotate(-15deg);
}
.production_icon_bg {
	position: absolute;
    right: -420rem;
    top: 160rem;
    width: 330rem;
}
.production_icon2_bg {
	position: absolute;
    top: 60rem;
    left: -430rem;
    width: 330rem;
}
.card_icon_bg {
	width: 84rem;
	position: absolute;
	top: 10rem;
	right: 10rem;
}
.card_icon2_bg {
	width: 84rem;
    position: absolute;
    bottom: -60rem;
    right: 150rem;
    transform: rotate(-70deg);
}
.reviews_icon_bg {
	width: 330rem;
    position: absolute;
    top: -70rem;
    left: -150rem;
}
.warranty_icon_bg {
	width: 84rem;
    position: absolute;
    top: 20rem;
    right: 510rem;
}
.warranty_icon2_bg {
	position: absolute;
    top: 230rem;
    right: -140rem;
    width: 84rem;
    transform: rotate(-15deg);
}
.warranty_icon3_bg {
	width: 84rem;
    bottom: 10rem;
    left: 630rem;
    position: absolute;
}
.warranty_icon4_bg {
	width: 84rem;
    bottom: -160rem;
    left: -60rem;
    position: absolute;
}
.footer_icon_bg {
	position: absolute;
    left: -410rem;
    top: -250rem;
    width: 330rem;
}
.footer_icon2_bg {
	position: absolute;
    right: -390rem;
    top: 10rem;
    width: 330rem;
}
.footer_hero_bg_tel {
	display: none;
}
.hero_bg_tel {
	display: none;
}
.footer_hero_bg_mobile {
	display: none;
}
.video_holder{
    position: relative;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.play_btn {
	width: 170rem;
    height: 170rem;
    position: absolute;
    top: calc(50% - 110rem);
    left: calc(50% - 80rem);
    display: block;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#overlay.o .play_btn{
   display: none;
}
.form_window {
	width: 740rem;
	margin: auto;
	background: #FEFEFE;
	border-radius: 20px;
	filter: drop-shadow(0px 5px 24px rgba(96, 58, 0, 0.25));
	padding: 60rem 70rem;
	position: fixed;
	top: 200rem;
	left: calc(50% - 405rem);
	z-index: 9999;
}
.form_window_title {
	text-align: center;
	width: 460rem;
	margin: auto;
}
.modal {
	position: fixed;
	z-index: 999999;
}
.form_window_overlay {
	position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.2);
}
.close_btn {
	position: absolute;
    right: -60rem;
    top: 0;
    width: 30rem;
}
.modal {
	display: none;
}
.modal_exit_img {
	position: absolute;
	top: 0;
	right: 0;
	width: 300rem;
}
.modal_exit_title {
	margin-bottom: 30rem;
}
.modal_exit_icon {
	position: absolute;
	right: 30rem;
	bottom: 40rem;
	width: 54rem;
    transform: rotate(-25deg);
}
.modal_exit_icon2 {
	width: 54rem;
    top: 40rem;
    left: 420rem;
    position: absolute;
}
.present {
	display: none;
}
.thank {
	background: linear-gradient(90deg, #FFA927 0%, #FFCF27 100%);
	width: 100%;
	height: 100vh;
}
.thank_content_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.thank_content_left {
	width: 500rem;
	color: #fff;
}
.thank_content_text {
	margin: 48rem 0 65rem;
	max-width: 415rem;
}
.thank h1 {
	color: #fff;
}
.thank_content {
	margin: auto;
}
.thank_content_btn {
	font-size: 16rem;
	font-family: 'Comfortaa', cursive;
	color: #FFA927;
	line-height: 150%;
	font-weight: 700;
	background: #FFE491;
	box-shadow: 0px 14px 34px #FFD84E;
	border-radius: 200px;
	width: 320rem;
	text-align: center;
	display: block;
	padding: 18rem 0;
}
.thank_img {
	width: 480rem;
}
.thank {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.thank footer {
	margin-top: auto;
}
.thank_icon_bg {
    width: 84rem;
    position: absolute;
    top: 60rem;
    left: -160rem;
    opacity: 0.8;
}
.thank_icon2_bg {
    width: 84rem;
    position: absolute;
    top: 0rem;
    left: 720rem;
    opacity: 0.6;
}
.thank_icon3_bg {
    width: 84rem;
    position: absolute;
    top: 250rem;
    left: 670rem;
    opacity: 0.8;
}
.thank_icon4_bg {
    width: 84rem;
    position: absolute;
    bottom: 40rem;
    left: 470rem;
    transform: rotate(-25deg);
    opacity: 0.8;
}
.thank_icon5_bg  {
	position: absolute;
    right: -170rem;
    top: 250rem;
    opacity: 0.8;
    width: 130rem;
    transform: rotate(-105deg);
}
.thank_icon6_bg  {
	position: absolute;
    right: 460rem;
    bottom: 50rem;
    width: 84rem;
    transform: rotate(-90deg);
    opacity: 0.8;
}
.modal_form_icon {
	position: absolute;
	top: 35rem;
	left: 35rem;
	width: 54rem;
}
.modal_form_icon2 {
	position: absolute;
	bottom: 20rem;
	right: 40rem;
	width: 54rem;
	transform: rotate(-75deg);
}
.form_submit:hover {
	background: linear-gradient(90deg, #FFA927 0%, #FFCF27 100%);
	box-shadow: 0px 30px 34px rgba(255, 202, 39, 0.5);
	transition: 0.5s;
	cursor: pointer;
}
.btn:hover {
	background: linear-gradient(90deg, #FFA927 0%, #FFCF27 100%);
	box-shadow: 0px 30px 34px rgba(255, 202, 39, 0.5);
	transition: 0.5s;
	cursor: pointer;
}
.modal_politic_icon2 {
	position: absolute;
	top: 20rem;
	right: 30rem;
	width: 54rem;
	transform: matrix(0.25, -0.98, 0.96, 0.27, 0, 0);
}
.modal_politic h4 {
	color: #473C2A;
	margin-bottom: 15rem;
}
.modal_politic p {
	margin-bottom: 25rem;
	color: rgba(64, 58, 48, 0.7);
}
.modal_politic .form_window {
	width: 870rem;
	left: calc(50% - 505rem);
	padding: 0;
}
.modal_politic_container {
	overflow-x: auto;
	max-height: 470rem;
	padding: 60rem 70rem;
}
.modal_politic .form_window_title {
	max-width: 600rem;
	width: auto;
	margin: 0 auto 50rem;
}
@media screen and (max-width: 992px) {
	.container {
		margin: 0 80rem;
	}
	html {
		font-size: 0.062084vw;
	}
	.form_accept  {
		font-size: 16rem;
	}
	.form_politic {
		font-size: 16rem;
	}
	.jq-selectbox__select-text {
		padding: 25rem 0 25rem 40rem;
	}
	p {
		font-size: 18rem;
	}
	.overview {
		margin-top: 0;
	}
	.form_quanity {
		font-size: 18rem;
	}
	.footer_hero_bg {
		right: -90rem;
   		width: 732rem;
	}
	.hero_bg {
	    right: -90rem;
	    width: 792rem;
	}
	.hero_icon_bg {
		display: none;
	}
	.warranty_icon2_bg {
	    right: -60rem;
	}
	.confidence_icon2_bg {
		display: none;
	}
	.footer_icon2_bg {
		display: none;
	}
	.hero_image {
		width: 760rem;
	}
	.thank_icon5_bg {
		display: none;
	}
	.thank_icon_bg {
		display: none;
	}
}
@media screen and (max-width: 768px)  {
	.present {
		display: block;
	}
	html {
    	font-size: 0.130209vw;
	}
	.container {
		width: 708rem;
		margin: 0 30rem;
	}
	.header_tel {
		font-size: 18rem;
	}
	.header_tel-img {
		width: 30rem;
	}
	.hero_bg {
		display: none;
	}
	.hero_bg_mobile {
		display: block;
		position: absolute;
	    top: -30rem;
	    left: -30rem;
   	 	width: 768rem;
   	 	z-index: -1;
	}
	.header_logo-title {
		color: #fff;
	}
	.header_logo-text {
		color: #fff;
	}
	.header_bg {
		display: none;
	}
	.hero_overlay {
		flex-direction: column-reverse;
	}
	.hero_image {
	    top: 0;
	    left: 0;
	    margin-top: -300rem;
	    width: 675rem;
	} 
	h1 {
		font-size: 32rem;
		margin-bottom: 40rem;
	}
	h4 {
		font-size: 18rem;
	}
	p {
		font-size: 16rem;
	}
	.jq-selectbox__select-text {
		margin-left: 28rem;
		padding: 22rem 0 20rem 40rem;
	}
	.form_submit {
		margin-left: 28rem;
	}
	.form_input {
		padding: 21rem 0 21rem 40rem;
	}
	.form_politic {
   	 	font-size: 12rem;
	}
	.form_accept {
		font-size: 12rem;
	}
	.overview {
		margin-top: 100rem;
	}
	.overview_overlay {
    	flex-direction: column-reverse;
	}
	.overview_image {
    	width: 100%;
	}
	.overview_image_title {
		font-size: 18rem;
		margin-top: 20rem;
	}
	.overview_left {
		margin-right: 0;
		width: 100%;
		margin-top: 60rem;
	}
	.overview_title {
		margin-bottom: 30rem;
	}
	.overview_text {
    	margin-bottom: 15rem;	
	} 
	.overview_icon_bg {
	    left: 600rem;
	    top: 680rem;
	}
	.overview_btn {
		margin: 50rem auto 0;
	}
	.gift_overlay {
	    width: 100%;
	    flex-direction: column;
	    margin: 80rem auto 0;
	}
	.gift_left {
		width: 100%;
	}
	.gift_image {
		width: 100%;
	}
	.gift_icon2_bg {
	    left: auto;
	    right: -20px;
	}
	.gift_icon_bg {
		display: none;
	}
	.gift_right {
		margin-left: 0;
	}
	.gift_title {
    	margin-bottom: 30rem;
    	margin-top: 50rem;
	}
	.gift_btn {
		margin: 40rem auto 0;
	}
	h2 {
		font-size: 28rem;
	}
	.confidence_overlay {
	    justify-content: space-around;
	    flex-wrap: wrap;
	}
	.confidence_title {
		margin-bottom: 10rem;
	}
	.confidence_item {
		margin-top: 80rem;
	}
	.confidence {
		
		margin-top: 100rem;
	}
	.production {
    	margin: 0rem;
	}
	.production .overview_overlay {
		flex-direction: column;
	}
	.production .overview_left {
		margin-top: 0;
	}
	.production_btn {
		margin: 40rem auto 60rem;
	}
	.card_overlay {
		flex-direction: column;
		align-items: flex-start;
	}
	.card_icon_bg {
		display: none;
	}
	.card_text {
		margin-left: 0;
		margin-top: 50rem;
	}
	.card_icon2_bg {
		display: none;
	}
	.card_btn {
		margin: 40rem auto 0;
	}
	.reviews_icon_bg {
		display: none;
	}
	.reviews_slider .owl-prev {
    	left: -30rem;
	}
	.reviews_slider .owl-next {
	    right: -30rem;
	}
	.reviews_slider_item_title {
		margin-top: 20rem;
	}
	.warranty_overlay {
		flex-direction: column-reverse;
	}
	.warranty_right {
		text-align: center;
	}
	.warranty_icon_bg {
		display: none;
	}
	.warranty_left {
		margin-right: 0;
		width: 100%;
	}
	.warranty_title {
   	 	margin-bottom: 40rem;
    	margin: 30rem 0;
	}
	.warranty_icon2_bg {
		display: none;
	}
	.warranty_icon3_bg {
		bottom: 570rem;
	}
	.warranty_icon4_bg {
		bottom: 410rem;
    	left: 10rem;
	}
	.warranty_btn {
		margin: 40rem auto 0;
	}
	.warranty {
		
	}
	.order_overlay {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.order_item {
		margin-top: 80rem;
	}
	.order_title {
		margin-bottom: 10rem;
	}
	.footer_hero_bg {
		display: none;
	}
	.footer_hero_bg_mobile {
		display: block;
	    position: absolute;
	    left: -30rem;
	    top: auto;
	    bottom: 120rem;
	    z-index: -2;
	    width: 768rem;
	}
	.footer_hero .hero_image {
		margin-top: 10rem;
		top: -30rem;
	}
	.footer_hero .hero_overlay{
		flex-direction: column;
	}
	.footer_hero .hero_flex_left {
    	width: 487rem;
	}
	.footer_hero .hero_left {
		margin-bottom: 0;
	}
	.order {
		margin: 130rem 0;
	}
	.footer_overlay {
		flex-wrap: wrap;
	}
	.footer_tel {
		order: 2;
	}
	.footer_social {
		order: 3;
		width: 60%;
		margin-top: 30rem;
	}
	.footer_politic {
		order: 4;
		margin-top: 30rem;
	}
	.hero_right {
		margin-top: 120rem;
	}
	.present {
		background-image: url(../img/present_bg_tab.svg);
	    background-repeat: no-repeat;
	    background-size: cover;
	    padding: 120rem 0 210rem;
	}
	.present_title {
		text-align: center;
		color: #FFA927;
		margin-bottom: 40rem;
	}
	.present_img {
		width: 317rem;
		margin: 0 auto 35rem;
		display: block;
	}
	.present_btn {
		width: 340rem;
		margin: 40rem auto 15rem;
	}
	.present_fixed {
		display: flex;
		align-items: center;
		position: absolute;
		width: 100%;
	}
	.present_fixed_img {
		width: 100rem;
	}
	.present_fixed_zigzag {
		width: 139rem;
		margin-left: 98rem;
	}
	.present_fixed_text {
		color: #FF493E;
		margin-left: auto;
		font-family: 'Caveat', cursive;
		font-size: 38rem;
		width: 270rem;
	}
	.present_icon2_bg {
		position: absolute;
		top: 60rem;
		left: 0;
		width: 84rem;
	}
	.present_icon_bg {
		position: absolute;
		top: 190rem;
		right: 0;
		width: 84rem;
	}
	.form_window {
		width: 680rem;
		padding: 30rem;
		left: calc(50% - 370rem);
		top: 90rem;
	}
	.modal_politic_container {
		width: auto;
		padding: 30rem;
		max-height: 400rem;
	}
	.modal_politic .form_window {
		width: 710rem;
		left: calc(50% - 355rem);
		top: 90rem;
	}
	.modal_politic .modal_form_icon {
		display: none;
	}
	.modal_politic .modal_politic_icon2 {
		display: none;
	}
	.modal_politic .form_window_title {
		margin: 0 auto 30rem;
	}
	.modal .form_input {
		width: 270rem;
	}
	.close_btn {
		right: 0rem;
    	top: -60px;
	}
	.modal .form_accept {
		text-align: center;
    	margin: 23rem auto 0;
	}
	.thank {
		height: auto;
		overflow: visible;
		background: linear-gradient(180deg, #FFCF27 0%, #FFA927 100%);
	}
	.thank_content_overlay {
		flex-direction: column-reverse;
	}
	.thank_content_left {
		width: auto;
	}
	.thank_content_text {
    	margin: 25rem 0 42rem;
    	max-width: 415rem;
    	text-align: center;
	}
	.thank_content_btn {
		margin: 0 auto 70rem;
	}
	.thank_icon2_bg {
		display: none;
	}
	.thank_icon4_bg {
		display: none;
	}
	.thank_icon_bg {
		display: block;
		left: auto;
    	right: 0;
	}
	.thank_icon3_bg {
		top: 380rem;
    	left: 50rem;
	}
	.thank_icon6_bg {
		right: 10rem;
    	bottom: auto;
    	top: 380rem;
	}
	.confidence {
		background-image: url(../img/confidence_bg_tab.svg);
		padding: 150rem 0 210rem;
		margin-bottom: 100rem;
	}
	.card {
		background-image: url(../img/card_bg_tab.svg);
	}
	.warranty {
		background-image: url(../img/warranty_bg_tab.svg);
	}
	.thank_content_title {
		text-align: center;
	}
}
@media screen and (max-width: 480px) {
	html {
    	font-size: 0.266529vw;
	}
	.container {
    	width: 335rem;
   	 	margin: 0 20rem;
	}
	.header_tel-img {
		display: none;
	}
	.hero_image {
		margin-left: -90rem;
		margin-top: -240rem;
    	width: 475rem;
	}
	.hero_bg_mobile {
		left: -140rem;
    	width: 608rem;
	}
	h1 {
		font-size: 28rem;
		margin-bottom: 20rem;
	}
	.hero_flex_left {
    	width: 188rem;
    	margin-right: 10rem;
	}
	.hero_flex {
		align-items: center;
	}
	.hero_sale {
		width: 130rem;
		height: 130rem;
	}
	h4 {
		font-size: 16rem;
	}
	.hero_sale_old {
		font-size: 14rem;
		margin-top: 30rem;
	}
	.hero_sale_time {
		font-size: 12rem;
	}
	.hero_sale_new {
		font-size: 20rem;
	}
	.jq-selectbox__select-text {
		margin-left: 0;
		padding: 22rem 0 20rem 40rem;
		width: 296rem!important;
		margin-top: 17rem;
	}
	.form_submit {
		margin-left: 0;
		margin-top: 17rem;
		padding: 21rem 0;
	}
	.form_accept {
		order: 8;
		margin-top: 15rem;
		text-align: center;
	}
	.form_quanity {
		order: 7;
		font-size: 16rem;
		margin: 10rem auto 0;
	}
	.overview {
		margin-top: 80rem;
	}
	.overview_image_title {
		font-size: 16rem;
	}
	.overview_left {
		margin-top: 40rem;
	}
	h2 {
		font-size: 24rem;
	}
	.overview_title {
		margin-bottom: 20rem;
	}
	.overview_btn {
	    width: calc(100% - 40rem);
	    padding: 21rem 20rem;
	    margin: 40rem auto 0;
	    line-height: 150%;
	}
	.gift_icon2_bg {
		width: 60rem;
		top: -15rem;
		right: -15rem;
	}
	.gift_title {
		margin-top: 40rem;
		margin-bottom: 20rem;
	}
	.gift_right {
		width: 100%;
	}
	.overview_icon_bg {
		display: none;
	}
	.warranty_icon3_bg {
		display: none;
	}
	.warranty {
		background-image: url(../img/warranty_bg_mob.svg);
		padding: 170rem 0;
	}
	.gift_btn {
    	margin: 40rem auto 0;
    	width: calc(100% - 40rem);
    	padding: 21rem 20rem;
	}
	.confidence {
		background-image: url(../img/confidence_bg_mob.svg);
		margin-bottom: 0;
	}
	.confidence_title {
		margin-bottom: 0;
	}
	.confidence_item {
		margin-top: 60rem;
	}
	.production_btn {
    	width: 240rem;
    	padding: 21rem 47rem;
    	margin: 40rem auto;
    	line-height: 150%;
    }
    .present {
    	background-image: url(../img/present_bg_mob.svg);
    }
    .card {
    	margin-top: 80rem;
    	padding: 150rem 0;
    }
    .card_slider .owl-carousel {
    	width: 335rem;
	}
	.card_slider_nav {
    	display: flex;
    	flex-wrap: nowrap;
    	width: 335rem;
	}
	.card_slider_nav_overlay {
		position: relative;
		top: 0;
		left: 0;
		flex-direction: row;
		margin-top: 10rem;
		display: block;
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.card_slider_nav_btn {
		margin-right: 5rem;
	}
	.card_text {
		margin-top: 40rem;
	}
	.card_text_title {
		margin-bottom: 20rem;
	}
	.card_btn {
		width: 335rem;
	}
	.owl-prev, .owl-next {
    	width: 45rem;
    	height: 45rem;
    	top: calc(50% - 22rem);
	}
	.play_btn {
		width: 100rem;
	    height: 100rem;
	    top: calc(50% - 90rem);
	    left: calc(50% - 45rem);
	}
	.owl-next {
    	right: 10rem;
	}
	.owl-prev {
		left: 10rem;
	}
	.reviews {
		margin: 0;
	}
	.reviews_slider .owl-next {
    	right: -20rem;
	}
	.reviews_slider .owl-prev {
    	left: -20rem;
	}
	.reviews_slider .owl-prev,.reviews_slider .owl-next {
		top: calc(50% - 52rem);
	}
	.warranty_image {
    	width: 283rem;
	} 
	.warranty_icon4_bg {
		display: none;
	}
	.warranty_title {
		margin: 40rem 0 20rem;
	}
	.order {
    	margin: 80rem 0 100rem;
	}
	.order_item {
    	margin-top: 60rem;
	}
	.footer_hero_bg_mobile {
		left: -240rem;
		width: 826rem;
	}
	.footer_hero .hero_sale {
		position: absolute;
		top: 90rem;
		right: 0;
	}
	.hero_flex {
		position: relative;
	}
	.footer_hero h1{
		width: 300rem;
	}
	.footer_tel {
		font-size: 18rem;
	}
	.footer_tel_img {
		display: none;
	}
	.footer_social {
		margin: 30rem auto 0;
		text-align: center;
	}
	.footer_social_img {
		width: 30rem;
	}
	.footer_politic {
		margin: 30rem auto 0;
	}
	.jq-selectbox__dropdown {
		width: 100%;
		left: 0;
	}
	.footer_hero_bg_mobile {
		display: none;
	}
	.footer_hero_bg_tel {
	    display: block;
	    position: absolute;
	    bottom: 120rem;
	    left: -20rem;
	    z-index: -2;
	    width: 375rem;
	}
	.hero_bg_tel {
	    display: block;
	    position: absolute;
	    top: -30rem;
	    left: -20rem;
	    width: 375rem;
	    z-index: -1;
	}
	.hero_bg_mobile {
		display: none;
	}
	.present_icon_bg {
		display: none;
	}
	.present_icon2_bg {
		display: none;
	}
	.present_btn {
    	width: 100%;
    	margin: 40rem auto;
	}
	.present_fixed_img {
		width: 64rem;
	}
	.present_fixed_zigzag {
    	width: 66rem;
    	margin-left: 40rem;
	}
	.present_fixed_text {
		margin-left: 28rem;
		font-size: 22rem;
	}
	.footer_hero {
		margin-top: 0;
	}
	.form_window {
	    width: 300rem;
	    padding: 40rem 20rem;
	    left: calc(50% - 170rem);
	    top: 90rem;
	}
	.form_input {
		margin-top: 17rem;
	}
	.form_window_title {
		width: auto;
	}
	.modal .form {
		margin-top: 0;
	}
	.modal .jq-selectbox__select-text {
		width: 260rem!important;
	}
	.thank_img {
		width: 100%;
	}
	.thank_icon_bg {
		display: none;
	}
	.thank_icon3_bg {
		display: none;
	}
	.thank_icon6_bg {
		display: none;
	}
	.thank {
		background: linear-gradient(180deg, #FFCF27 0%, #FFA927 100%);
	}
	.thank h1 {
		text-align: center;
	}
	.modal_form_icon2 {
		display: none;
	}
	.modal_form_icon {
		display: none;
	}
	.footer_hero .hero_flex_left {
    	width: 187rem;
	}
	.modal_politic .form_window {
		width: 300rem;
	    padding: 20rem;
	    left: calc(50% - 170rem);
	    top: 90rem;
	}
	.modal_politic_container {
		padding: 0;
		max-height: 440rem;
	}
}