@font-face {
    font-family: 'Proxima Nova Rg';
    
src: url('ProximaNova-Bold.eot');
    
src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        
url('ProximaNova-Bold.woff') format('woff'),
        
url('ProximaNova-Bold.ttf') format('truetype');
    
font-weight: bold;
    
font-style: normal;
}

@font-face {
    
font-family: 'Proxima Nova Rg';
    
src: url('ProximaNova-BoldIt.eot');
    
src: url('ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
        
url('ProximaNova-BoldIt.woff') format('woff'),
        
url('ProximaNova-BoldIt.ttf') format('truetype');
    
font-weight: bold;
    
font-style: italic;
}

@font-face {
    
font-family: 'Proxima Nova Rg';
    
src: url('ProximaNova-Regular.eot');
   
src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        
url('ProximaNova-Regular.woff') format('woff'),
        
url('ProximaNova-Regular.ttf') format('truetype');
    
font-weight: normal;
    
font-style: normal;
}

