html {
	font-size: 0.07143vw;
	overflow-x: hidden;
}
body {
	font-family: 'Futura';
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	color: #FFFFFF;
	background: #160A2D;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}
a {
	text-decoration: none;
	display: block;
}
p {
	font-size: 16rem;
	line-height: 135%;
	font-weight: 300;
}
a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-size: 16rem;
}
h1 {
	font-weight: 500;
	font-size: 70rem;
}
h2 {
	font-size: 50rem;
	font-weight: 600;
	line-height: 110%;
}
h3 {
	font-weight: 600;
	font-size: 36rem;
	line-height: 110%;
}
h4 {
	font-weight: 600;
	font-size: 26rem;
	line-height: 110%;
}
h5 {
	font-size: 24rem;
	font-weight: 600;
}
.container {
	width: 1200rem;
	margin: auto;
}
.header_head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_head_overlay {
	background: #100722;
	padding: 10rem 0;
	position: relative;
	z-index: 99;
}
.header_head_text {
	display: flex;
	align-items: center;
	font-weight: 400;
}
.header_head_text a {
	margin-left: 5rem;
	color: #612BD3;
}
.hader_head_actions_login {
	font-weight: 300;
	margin-right: 40rem;
	color: #fff;
}
.hader_head_actions_lang_item {
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: 500;
}
.hader_head_actions_lang_item_img {
	width: 15rem;
	margin-right: 8rem;
}
.arrow {
	width: 9rem;
	transition: 0.5s;
	margin-left: 8rem;
}
.hader_head_actions {
	display: flex;
}
.header_logo img {
	width: 150rem;
}
.header_nav_item.parent {
	display: flex;
	align-items: center;
	position: relative;
}
.header_nav_item.parent:before {
	content: "";
	position: absolute;
	top:  100%;
	left: 0;
	background-color: #612BD3;
	width: 100%;
	height: 0rem;
	transition: 0.5s;
}
@media screen and (min-width: 769px) {
	.header_nav_parent_overlay:hover .header_nav_item {
		color: #612BD3;
		transition: 0.5s;
	}
	.header_nav_parent_overlay:hover .header_nav_item.parent:before {
		height: 2rem;
		transition: 0.5s;
		top: calc(100% + 8rem);
	}
	.header_nav_parent_overlay:hover .header_nav_item.parent:after {
		content: "";
		position: absolute;
		top: -40rem;
		left: 0;
		display: none;
		width: 100%;
		height: 100rem;
		background-color: transparent;
		display: block;
	}
	.header_nav_parent_overlay:hover .header_nav_child {
		top: 100%;
	    transition: 0.5s;
	}
	.header_nav_parent_overlay:hover .arrow {
		transform: rotate(180deg);
		transition: 0.5s;
	}
	.header_nav_item:hover {
		transition: 0.5s;
		color: #612BD3;
		text-shadow:
	    -0.3px -0.3px 0 #612BD3,
	    0.3px -0.3px 0 #612BD3,
	    -0.3px 0.3px 0 #612BD3,
	    0.3px 0.3px 0 #612BD3;
	}
}


header {
	position: relative;
}
.header_nav {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 30rem;
}
.header_nav_item {
	font-weight: 400;
	color: #fff;
	margin-right: 50rem;
    transition: 0.5s;
    font-size: 17rem;
}

.header_overlay {
	display: flex;
}
.header_content {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 9;
	margin-top: 20rem;
}
.header_content_actions {
	display: flex;
	align-items: center;
}
.button {
	font-weight: 300;
	padding: 10rem 20rem;
	width: max-content;
	border: 1rem solid #612BD3;
	transition: 0.5s;
}
.btn {
	background-image: linear-gradient(to right, #110146, #770096, #110146, #770096);
	background-size: 300% 100%;
	width: max-content;
	padding: 15rem 30rem;
	font-size: 18rem;
	font-weight: 300;
	transition: all .4s ease-in-out;
}
.btn:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}
.header_content_actions_help {
	margin-left: 15rem;
	padding: 10rem 20rem;
	font-size: 16rem;
}

.subtitle {
	font-size: 18rem;
}
.hero {
	background-image: url(img/hero_bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top:  208rem;
}
.hero_subtitle {
	margin-top: 38rem;
}
.hero_btn {
	margin-top: 50rem;

}
.hero_options {
	display: flex;
	justify-content: space-between;
	margin-top: 150rem;
}
.hero_options_item {
	background: linear-gradient(180deg, #1F103C 0%, rgba(20, 19, 46, 0) 100%);
	width: 278rem;
	height: 147rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.hero_options_item_value {
	font-size: 50rem;
	font-weight: 500;
}
.hero_options_item_label {
	margin-top: 5rem;
	font-size: 18rem;
}
.future_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 100rem;
}
.future_content_title {
	width: 465rem;
}
.future_content {
	width: 471rem;
}
.future_content_subtitle {
	margin: 20rem 0 40rem;
}
.future_img {
	width: 705rem;
}
.future {
	margin: 100rem 0 0;
}
.header_nav_child {
	position: absolute;
	top:-999rem;
	left: 0;
	background: #0C021D;
	border-top: 1rem solid rgba(255, 255, 255, 0.1);
	border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
	width: 100%;
	margin-top: 20rem;
	padding: 90rem 0;
    transition: 0.5s;
    z-index: -1;
}
.header_nav_child:after {
    content: "";
    width: 100%;
    height: 89rem;
    top: -90rem;
    display: block;
    background: #0C021D;
    position: absolute;
    z-index: -1;
}
.header_nav_child_hello_btn {
	padding: 10rem 20rem;
	font-size: 16rem;
}
.header_nav_child_hello_subtitle {
	margin: 20rem 0 35rem;
	opacity: 0.7;
}
.header_nav_child_hello {
	width: 280rem;
}

.header_nav_child_overlay {
	display: flex;
	align-items: center;
}
.header_nav_child_content {
	display: flex;
	margin-left: auto;
	justify-content: space-between;
	width: 700rem;
}
.header_nav_child_content_item_title {
	margin-bottom: 9rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.35);
	font-size: 18rem;
}
.header_nav_child_content_item_link {
	display: flex;
	align-items: center;
	margin-top: 16rem;
	transition: 0.5s;
}
.header_nav_child_content_item_link img {
	width: 20rem;
	margin-right: 10rem;
}
.header_nav_child_content_item_link:hover {
	color: #612BD3;
	transition: 0.5s;
}
.header_nav_child_content_item_resources_title {
	display: flex;
	align-items: center;
	font-weight: 400;
	transition: 0.5s;
}
.header_nav_child_content_item_resources_title:hover {
	color: #612BD3;
	transition: 0.5s;
}
.header_nav_child_content_item_resources_title img {
	width: 20rem;
	margin-right: 10rem;
}
.header_nav_child_content_item_overlay {
	margin-top: 30rem;
	width: 305rem;
}
.header_nav_child_content_item_resources_text {
	margin-top: 10rem;
	color: rgba(255, 255, 255, 0.5);
}
.header_nav_child_content_item_about_social {
	font-weight: 500;
	font-size: 17rem;
	margin-bottom: 10rem;
	transition: 0.5s;
}
.services_item {
	padding: 50rem;
	margin-top: 30rem;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	background: linear-gradient(180deg, #1F103C 0%, rgba(20, 19, 46, 0) 100%);
}
.services_item:hover {
	transform: scale(1.05);
	transition: 0.5s;
}
.services_item_descr {
	margin-bottom: 40rem;
}
.big {
	width: 485rem;
}
.small {
	width: 283rem;
}
.services_item_img {
	width: 36rem;
	margin-bottom: 40rem;
}
.services_item_subtitle {
	color: rgba(255, 255, 255, 0.35);
	font-size: 14rem;
	text-transform: uppercase;
}
.services_item_title {
	margin: 8rem 0 25rem;
}
.services_item_btn {
	width: 243rem;
	text-align: center;
	margin-top: auto;
}
.services_overlay {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20rem;
}
.services_title {
	text-align: center;
}
.video {
	background-image: url(img/video_bg.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 256rem 0;
	margin: 150rem 0;
}
.video_play {
	width: 120rem;
	margin: auto;
	transition: 0.5s;
}
.video_overlay {
	display: flex;
	align-items: center;
}
.video_content {
	width: 483rem;
}
.video_play  img {
	width: 100%;
}
.video_text {
	margin: 20rem 0 40rem;
}
.video_play:hover {
	transform: scale(1.2);
	transition: 0.5s;
}
.news_title {
	text-align: center;
}
.news_overlay {
	display: flex;
	justify-content: space-between;
	margin: 50rem 0;
}
.news_item_image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	opacity: 0.8;
	z-index: 8;
}
.news_item_image:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(180deg, rgba(31, 16, 60, 0.7) 0%, rgba(22, 11, 46, 0.7) 100%);
	opacity: 0.8;
	z-index: 8;
}
.news_item {
	padding: 40rem;
	width: 283rem;
	background-size: cover;
	transform: scale(1);
	transition: 0.5s;
	position: relative;
}
.news_item:hover {
	transform: scale(1.1);
	transition: 0.5s;
}
.news_item_subtitle {
	color: rgba(255, 255, 255, 0.35);
	font-size: 14rem;
	font-weight: 500;
	letter-spacing: 0.08em;
	text-transform: uppercase;
}
.news_item_title {
	margin: 30rem 0 15rem;
}
.news_item_data {
	color: rgba(255, 255, 255, 0.35);
	font-size: 14rem;
	font-weight: 500;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	margin-top: 30rem;
}
.news_item_content {
	position: relative;
	z-index: 9;
}
.news_btn {
	margin: auto;
}
footer {
	padding: 100rem 0;
	background: #0C021D;
}
.footer_overlay {
	display: flex;
	justify-content: space-between;
}
.footer_logo img {
	width: 150rem;
}
.footer_copyright {
	color: rgba(255, 255, 255, 0.5);
	font-size: 15rem;
	margin-top: 20rem;
	width: 100rem;
}
.footer_item_title {
	font-size: 17rem;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.35);
	margin-bottom: 25rem;
	text-transform: uppercase;
}
.footer_item_link {
	margin-top: 13rem;
	transition: 0.5s;
	font-size: 16rem;
}
.footer_item_contact {
	margin-top: 8rem;
	font-size: 18rem;
	font-weight: 500;
	transition: 0.5s;
}
.rosources_hero {
	height: 543rem;
	background-size: cover;
	background-image: url(img/resources_bg.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.rosources_hero_title {
	text-align: center;
}
.rosources_hero_subtitle {
	text-align: center;
	margin-top: 20rem;
	font-size: 34rem;
	opacity: 0.7;
}
.resources_nav_overlay {
	display: flex;
	justify-content: center;
}
.resources_nav {
    margin: -80rem 0 30rem;
}
.resources_nav_item {
	margin: 0 35rem;
	padding-bottom: 8rem;
	transition: 0.5s;
}
.resources_nav_item:hover {
	transition: 0.5s;
	color: #612BD3;
}
.resources_nav_item.active {
	color: #612BD3;
	border-bottom: 2rem solid #612BD3;
}
.resources_item {
	padding: 40rem;
	position: relative;
	margin: 20rem 13rem 0;
	transform: scale(1);
    transition: 0.5s;
    background-color: #160A2D;
}
.resources_item:hover {
	transform: scale(1.05);
    transition: 0.5s;
}
.resources_item_image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	opacity: 0.8;
	background-repeat: no-repeat;
	z-index: 8;
}
.blog {
	background-color: #fff;
	padding: 100rem 0;
}
.resources_item_image:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: linear-gradient(180deg, rgba(31, 16, 60, 0.7) 0%, rgba(22, 11, 46, 0.7) 100%);
	opacity: 0.8;
	z-index: 8;
}
.reports_overlay {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 26rem);
	margin-left: -13rem;
}
.reports_item {
	width: 198rem;
}
.resources_item_content {
	position: relative;
	z-index: 9;
}
.resources_item_subtitle {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.35);
	font-size: 14rem;
}
.resources_item_title {
	font-size: 24rem;
	margin-top: 20rem;
}
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60rem;
	width: 100%;
}
.pagination_item {
	width: 38rem;
	height: 38rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border: 1rem solid rgba(255, 255, 255, 0.35);
	margin: 0 10rem;
	color: #100722;
	transition: 0.5s;
}
.pagination_void {
	margin: 0 10rem;
	color: #100722;
}
.pagination_btn {
	margin: 0 60rem;
	padding: 10rem 20rem;
	border: 1rem solid #100722;
	color: #100722;
}
.pagination_item.active {
	background: #100722;
	border: 1rem solid #100722;
	color: #fff;
}
.blog_item {
	width: 356rem;
}
.resources_item_descr {
	margin: 15rem 0 30rem;
}
.resources_item_data {
	color: rgba(255, 255, 255, 0.35);
	text-transform: uppercase;
	font-size: 14rem;
	font-weight: 500;
}
.blog_articles {
	display: flex;
	flex-wrap: wrap;
	width: 930rem;
}
.blog_overlay {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.blog_nav {
	width: 260rem;
	margin-top: 20rem;

}
.reports {
	background-color: #fff;
	padding: 100rem 0;
}
.blog_nav_item_title {
	font-size: 24rem;
	padding-bottom: 6rem;
	border-bottom: 1rem solid #100722;
	color: #100722;
	margin-bottom: 19rem;
	width: max-content;
}
.blog_nav_item {
	padding: 0 0 50rem;
	border-top: 1rem solid rgba(255, 255, 255, 0.25);
	border-bottom: 1rem solid rgba(255, 255, 255, 0.25);
}
.blog_nav_item_link {
	margin-top: 17rem;
	font-weight: 400;
	transition: 0.5s;
	color: rgba(16, 7, 34, 0.5);
}
.webinars_item {
	width: 503rem;
}
.webinars_overlay {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 26rem);
    margin-left: -13rem;
}
.single {
	margin-bottom: 150rem;
}
.single_head {
	text-align: center;
	margin: 165rem 0 65rem;
}
.single_head_subtitle {
	font-weight: 500;
	font-size: 14rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.35);
}
.single_head_title {
	margin: 20rem auto;
	max-width: 995rem;
}
.single_img {
	width: 100%;
}
.single_overlay {
	display: flex;
	justify-content: space-between;
	margin-top: 80rem;
}
.single_content {
	width: 892rem;
}
.single_content h3 {
	margin-top: 55rem;
}
.single_content h4 {
	margin-top: 40rem;
}
.single_content p {
	margin: 15rem 0;
	font-size: 18rem;
}
.single_content a {
	color: #612BD3;
	font-size: 18rem;
	display: inline;
}
.single_content a:hover {
	text-decoration: underline;
}
ul {
	font-size: 16rem;
	list-style: none;
	font-weight: 300;
	padding-left: 20rem;
	margin: 20rem 0 0;
}
ul li {
	margin-top: 10rem;
	display: flex;
	align-items: center;
}
ul li:before {
	content: "";
	display: block;
	width: 20rem;
	height: 1rem;
	background: #612BD3;
	margin-right: 12rem;
}
.single_content img {
	width: 100%;
	margin: 50rem 0 0;
}
.share {
	display: flex;
	align-items: center;
	padding: 20rem 0;
	border-top: 1rem solid rgba(255, 255, 255, 0.25);
	border-bottom: 1rem solid rgba(255, 255, 255, 0.25);
	margin-top: 80rem;
}
.share_overlay {
	display: flex;
	align-items: center;
}
.share_overlay .share_item {
	width: 40rem;
	height: 40rem;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 7rem;
	transition: 0.5s;
}
.share_item img {
	margin-top: 0;
	width: 17rem;
}
.share_title {
	margin-right: 23rem;
}
.services_head {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 733rem;
	background-size: cover;
	background-position: center;
}
.services_head_subtitle {
	margin: 30rem 0;
	font-size: 20rem;
}
.services_head_btn {
	margin: auto;
}
.services_head_title {
	max-width: 625rem;
	margin: auto;
}
.service_future_img {
	width: 634rem;
}
.steps {
	padding: 120rem 0;
	background-color: #fff;
	color: #100722;
}
.steps_title {
	width: 400rem;
}
.steps_item {
	width: 278rem;
}
.steps_overlay {
	margin-top: 60rem;
	position: relative;
}
.steps_wrapper {
	display: flex;
	justify-content: space-between;
}
.steps_item_icon {
	width: 11rem;
	height: 11rem;
	transform: rotate(45deg);
	border: 1rem solid #612BD3;
	margin: 20rem 0;
	background-color: #fff;
}
.steps_item_icon.active {
	background-color: #612BD3;
	box-shadow: 0px 0px 15px rgba(97, 43, 211, 0.35);
	transition: 0.5s;
}
.steps_item_descr {
	margin-top: 20rem;
}
.steps_line {
	width: 100%;
	height: 1rem;
	background-color: #612BD3;
	position: absolute;
	top: 66rem;
	left: 0;
	z-index: 0;
}
.pricing {
	margin: 120rem 0 150rem;
}
.pricing_overlay {
	display: flex;
	justify-content: space-between;
	padding: 50rem 60rem;
	background: linear-gradient(180deg, #1F103C 0%, rgba(20, 19, 46, 0) 100%);
	margin-top: 40rem;
}
.pricing_title {
	text-align: center;
}
.pricing_sum_value {
	margin: 10rem 0 40rem;
}
.pricing_sum_subtitle {
	font-size: 22rem;
}
.pricing_sum {
	width: 264rem;
	padding-left: 130rem;
	border-left: 1rem solid rgba(255, 255, 255, 0.25);;
}
.faq {
	margin-bottom: 100rem;
}
.faq_overlay {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.faq_img {
	width: 355rem;
}
.faq_content {
	width: 780rem;
}
.faq_item_answer {
	display: none;
	margin-top: 15rem;
	width: calc(100% - 20rem);
}
.faq_item_answer p {
	font-size: 18rem;
}
.faq_item {
	border-top: 1rem solid rgba(255, 255, 255, 0.25);
	border-bottom: 1rem solid rgba(255, 255, 255, 0.25);
	padding: 25rem 0;
}
.faq_item_question {
	font-weight: 600;
	display: flex;
    align-items: center;
	font-size: 20rem;
}
.faq_title {
	margin-bottom: 40rem;
}
.faq_item_arrow {
	width: 12rem;
	transition: 0.5s;
	margin-left: auto;
}
.faq_item.active .faq_item_arrow {
	transition: 0.5s;
	transform: rotate(180deg);
}
.about_head {
	height: 733rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url(img/about_bg.png);
	background-size: cover;
}
.about_head_subtitle {
	margin: 30rem 0;
}
.about_head_btn {
	margin: auto;
}
.about_head_title {
	width: 786rem;
	margin: auto;
}
.team {
	background-color: #fff;
	color: #100722;
	padding: 120rem 0;
}
.team_item {
	width: 276rem;
	margin: 40rem 15rem 0;
}
.team_item_img {
	width: 100%;
	height: 388rem;
	background-size: cover;
	position: relative;
}
.team_item_img:after {
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(180deg, #160A2D 0%, rgba(22, 10, 45, 0.8) 51.35%, #160A2D 100%);
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
}
.team_item_img:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: linear-gradient(121.87deg, rgba(119, 0, 150, 0.1) 0%, rgba(17, 1, 70, 0.1) 100%);
}
.team_item_name {
	margin: 20rem 0 5rem;
}
.team_item_position {
	text-transform: uppercase;
	color: rgba(16, 7, 34, 0.5);
	font-size: 14rem;
	font-weight: 500;
}
.team_title {
	text-align: center;
	margin-bottom: 20rem;
}
.team_overlay {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% + 32rem);
    margin-left: -16rem;
}
.awards {
	margin: 100rem 0 150rem;
}
.awards_overlay {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 60rem;
}
.webinars {
	background-color: #fff;
	padding: 100rem 0;
}
.awards_item {
	height: 80rem;
}
.awards_title {
	text-align: center;
}
.header_burger {
	display: none;
}
.header_nav_head {
	display: none;
}
.header_nav_lang {
	display: none;
}
.header_head_text a:hover {
	text-decoration: underline;
}
.footer_item_link:hover {
	color: #612BD3;
	transition: 0.5s;
}
.footer_item_contact:hover {
	color: #612BD3;
	transition: 0.5s;
}
.pagination_item:hover {
	transition: 0.5s;
	border: 1rem solid #100722;
}
.pagination_item.active:hover {
	color: #fff;
}
.blog_nav_item_link:hover {
	color: #612BD3;
	transition: 0.5s;
}
.share_overlay .share_item:hover {
	transition: 0.5s;
	background-color: #612BD3;
	border: 1rem solid #612BD3;
}
.button:hover {
	box-shadow: 0px 0px 15px rgba(97, 43, 211, 0.35);
	transition: 0.5s;
}
.header_nav_child_content_item_about_social:hover {
	transition: 0.5s;
	color: #612BD3;
}
.single_overlay .blog_nav_item_title  {
	color: #fff;
}
.single_overlay .blog_nav_item {
	padding: 40rem 0;
}
.single_overlay .blog_nav_item_link {
	color: #fff;
}
.news {
	margin-bottom: 100rem;
}
@media screen and (max-width: 768px) {
	html {
		font-size: 0.13021vw;
	}
	.header_head_overlay {
		z-index: 1;
	}
	.container {
	    width: 708rem;
	    margin: 0 30rem;
	}
	.header_nav {
		display: none;
	}
	.header_burger {
		display: block;
		width: 25rem;
		margin-left: 30rem;
	}
	.header_burger img {
		width: 100%;
	}
	.header_overlay {
		align-items: center;
	}
	.header_content_actions_reg  {
		display: none;
	}
	.header_content_actions {
		margin-left: auto;
	}
	h1 {
		font-size: 64rem;
	}
	.hero_subtitle {
		font-size: 20rem;
	}
	.hero_options_item_label {
		font-size: 16rem;
		width: 125rem;
	}
	.hero_options_item {
		width: 147rem;
		text-align: center;
	}
	.future_overlay {
		flex-direction: column;
	}
	.future_content {
    	width: 100%;
    	text-align: center;
	}
	.future_content_title {
		width: 100%;
	}
	.future_btn {
		margin: auto;
	}
	.future_img {
		width: 640rem;
		margin-top: 50rem;
	}
	.services_item {
		width: 100%;
		margin-top: 20rem;
	}
	.video {
		padding: 100rem 0;
		margin: 100rem 0;
	}
	.video_overlay {
		flex-direction: column-reverse;
		align-items: flex-start;
	}
	.video_play {
		margin: 0 0 50rem 0;
	}
	.video_content {
    	width: 100%;
	}
	.news_overlay {
		flex-direction: column;
		margin: 30rem 0 50rem;
	}
	.news_item {
		width: auto;
		margin-top: 30rem;
	}
	footer { 
		padding: 80rem 0;
	}
	.footer_overlay {
		flex-wrap: wrap;
	}
	.footer_info {
		width: 100%;
	}
	.footer_item {
		margin-top: 50rem;
		width: 50%;
	}
	.resources_nav_item {
		font-size: 18rem;
	}
	.reports_item {
	    width: 260rem;
	}
	.pagination_btn {
		margin: 0;
	}
	.pagination_btn:first-child {
		margin-right: auto;
	}
	.pagination_btn:last-child {
		margin-left: auto;
	}
	.blog_overlay {
		flex-direction: column;
	}
	.blog_articles {
		width: 100%;
	}
	.blog_item {
		width: 100%;
	}
	.blog_nav {
		width: 100%;
		margin-top: 60rem;
	}
	.webinars_item {
		width: 100%;
	}
	.single_overlay {
		flex-direction: column;
	}
	.single_content {
		width: 100%;
	}
	.share {
		margin-bottom: 20rem;
	}
	.single {
    	margin-bottom: 120rem;
	} 
	.about_head_title {
		width: 100%;
	}
	.service_future_img {
    	width: 100%;
    	margin-top: 50rem;
	}
	.team_item {
		width: 340rem;
	}
	.team_item_img {
		height: 470rem;
	}
	.awards {
		margin: 150rem 0;
	}
	.awards_overlay {
		flex-wrap: wrap;
		justify-content: flex-start;
		margin-top: 40rem;
	}
	.awards_item {
		margin: 20rem 50rem;
	}
	.services_head {
		height: 600rem;
	}
	.steps_overlay {
		margin-top: 0;
	}
	.steps_wrapper {
		flex-direction: column;
	}
	.steps_item {
    	width: 100%;
    	display: flex;
    	align-items: flex-start;
    	margin-top: 50rem;
	}
	.steps_item_content {
		width: 590rem;
	}
	.steps_item_icon {
		margin: 10rem 30rem 0;
	}
	.steps_line {
	    width: 1rem;
	    height: 485rem;
	    top: 63rem;
	    left: 77rem;
	}
	.steps_item_descr {
    	margin-top: 15rem;
	}
	.steps_title {
    	width: 100%;
	}
	.pricing_overlay {
		flex-direction: column;
	}
	.pricing_sum {
		padding-left: 0;
		border-left: none;
		border-top: 1rem solid rgba(255, 255, 255, 0.25);
		padding-top: 60rem;
		margin-top: 60rem;
		width: 100%;
	}
	.faq_overlay {
		flex-direction: column-reverse;
	}
	.faq_content {
    	width: 100%;
	}
	.faq_title {
		text-align: center;
	}
	.faq_img {
		margin: 30rem auto 0;
	}
	.header_nav {
		position: fixed;
		top: 0;
		left: 0;
		width: calc(100vw - 40rem);
		height: 100vh;
		background: #160A2D;
		padding: 0 20rem;
		overflow: auto;
	}
	.header_nav_item {
		margin-right: 0;
		padding: 22rem 0;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.35);
		font-weight: 500;
		border-top: 1rem solid rgba(255, 255, 255, 0.1);
		border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
		transition: 0.5s;
	}
	.header_nav_item.active {
		border-top: 1rem solid #612BD3;
		border-bottom: 1rem solid #612BD3;
		transition: 0.5s;
		color: #612BD3;
	}
	.header_nav_item .arrow {
		width: 12rem;
	}
	.header_nav_item.active .arrow {
		transform: rotate(180deg);
		transition: 0.5s;
	}
	.header_nav_item.parent {
		justify-content: space-between;
	}
	.header_nav_child {
		position: static;
		display: none;
		transform: scale(1);
		padding: 22rem 0;
		border: none;
		margin-top: 0;
		border-bottom: 1rem solid #612BD3;
	}
	.header_nav_child_hello {
		display: none;
	}
	.header_nav_child:after {
		display: none;
	}
	.header_nav_child .container {
		width: auto;
		margin: 0 20rem;
	}
	.header_nav_child_content {
		margin-left: 0;
	}
	.header_nav_head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 17rem 0 47rem;
	}
	.header_nav_item.parent:before {
		display: none;
	}
}
@media screen and (max-width: 480px)  {
	html {
		font-size: 0.26654vw;
	}
	.container {
    	width: 335rem;
    	margin: 0 20rem;
	}
	.hader_head_actions {
		display: none;
	}
	.header_head_text {
		font-size: 14rem;
		margin: auto;
	}
	.header_head_text a {
		font-size: 14rem;
	}
	.header_head_overlay {
		padding: 11rem 0;
	}
	.header_logo img {
		width: 140rem;
	}
	.header_content_actions_help {
		display: none;
	}
	h1 {
	    font-size: 50rem;
	}
	.hero {
		padding-top: 132rem;
	}
	.hero_subtitle {
		margin-top: 20rem;
	}
	.hero_btn {
    	margin-top: 40rem;
	}
	.btn {
		padding: 15rem 0;
		width: 100%;
		text-align: center;
	}
	.hero_options {
		margin-top: 50rem;
		flex-wrap: wrap;
	}
	.hero_options_item {
		width: 156rem;
		margin-top: 10rem;
	}
	.future {
    	margin: 50rem 0;
	} 
	h2 {
		font-size: 38rem;
	}
	.future_content {
		text-align: left;
	}
	.subtitle {
    	font-size: 16rem;
	}
	.future_content_subtitle {
    	margin: 20rem 0 30rem;
	}
	.future_img {
    	width: 427rem;
    	margin-top: 20rem;
	}
	.services {
		margin-top: 80rem;
	}
	.services_overlay {
		margin-top: 10rem;
	}
	.services_item {
		padding: 30rem;
	}
	.services_item_btn {
		width: 100%;
	}
	.button {
		padding: 10rem 0;
	}
	.services_item_img {
		margin-bottom: 30rem;
	}
	.services_item_title {
		font-size: 24rem;
		margin: 8rem 0 15rem;
	}
	.video {
    	padding: 80rem 0;
    	margin: 80rem 0;
	}
	.video_play {
		width: 80rem;
		margin: 0 0 40rem 0;
	}
	.news_item {
		margin-top: 20rem;
		padding: 30rem;
	}
	.news_overlay {
		margin: 10rem 0 30rem;
	}
	.news_btn {
		padding: 15rem 30rem;
	}
	footer {
    	padding: 55rem 0;
	}
	.footer_item {
		margin-top: 40rem;
		width: 100%;
	}
	.footer_item_title {
		font-size: 16rem;
		margin-bottom: 20rem;
	}
	.rosources_hero_title {
		font-size: 38rem;
	}
	.rosources_hero_subtitle {
		font-size: 20rem;
		margin-top: 10rem;
	}
	.rosources_hero {
		height: 450rem;
	}
	.resources_nav {
    	margin: 40rem 0 30rem;
	}
	.resources_nav_item {
		margin: 0 25rem;
    	font-size: 16rem;
	}
	.resources_item {
		padding: 30rem;
	}
	.resources_item_title {
		margin-top: 20rem;
	}
	.reports {
		padding: 70rem 0;
	}
	.reports_overlay {
		width: 100%;
		margin-left: 0;
	}
	.reports_item {
    	width: 100%;
    	margin: 20rem 0 0;
	}
	.pagination_item {
		display: none;
	}
	.pagination_item.active {
		display: flex;
	}
	.blog_nav_item_title {
		margin-bottom: 20rem;
	}
	.blog_nav_item {
    	padding: 25rem 0;
	}
	.blog_nav_item_link {
		margin-top: 15rem;
	}
	.blog {
		padding: 70rem 0;
	}
	.pagination {
		margin-top: 40rem;
	}
	.single_head {
		margin: 122rem 0 60rem;
	}
	.single_overlay {
		margin-top: 0;
	}
	.single_content h3 {
    	margin-top: 40rem;
	}
	.single_content p {
		font-size: 16rem;
	}
	.single_content a {
		font-size: 16rem;
	}
	h4 {
		font-size: 24rem;
	}
	.single_content h4 {
    	margin-top: 30rem;
	}
	.single_content img {
		margin: 30rem 0 0;
	}
	.share {
		margin-top: 60rem;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 0;
	}
	h5 {
		font-size: 22rem;
		margin-bottom: 15rem;
	}
	.share_item img {
		margin-top: 0;
	}
	.single_overlay .blog_nav{
		margin-top: 0;
	}
	.single {
		margin-bottom: 80rem;
	}
	.about_head {
		height: 680rem;
		background-position: center;
	}
	.team {
		padding: 70rem 0;
	}
	.team_title {
		margin-bottom: -10rem;
	}
	.team_item {
		width: 100%;
		margin: 40rem 0 0;
	}
	.webinars {
		padding: 70rem 0;
	}
	.team_overlay {
		width: 100%;
		margin-left: 0;
	}
	.team_item_name {
    	margin: 15rem 0 5rem;
	}
	.awards {
    	margin: 100rem 0;
	}
	.awards_overlay {
		margin-top: 10rem;
	}
	.awards_item {
	    margin: 20rem 40rem 20rem 0;
	}
	.services_head {
    	height: 543rem;
	}
	.steps {
		padding: 80rem 0;
	}
	.future_overlay {
		margin-bottom: 0;
	}
	.steps_item_icon {
    	margin: 10rem 15rem 0;
	}
	.steps_item_number {
		font-size: 32rem;
	}
	.steps_item_content {
    	width: 240rem;
	}
	.steps_line {
		height: 515rem;
		left: 57rem;
	}
	.steps_item {
		margin-top: 40rem;
	}
	.pricing {
    	margin: 100rem 0 80rem;
	}
	.pricing_overlay {
		margin-top: 30rem;
		padding: 40rem 30rem;
	}
	h3 {
		font-size: 28rem;
	}
	ul {
		padding-left: 0;
	}
	ul li span {
		width: calc(100% - 32rem);
	}
	.pricing_sum {
		padding-top: 40rem;
		margin-top: 40rem;
	}
	.pricing_sum_subtitle {
		font-size: 18rem;
	}
	.pricing_sum_value {
    	margin: 6rem 0 20rem;
	}
	.faq {
		margin-bottom: 80rem;
	}
	.faq_title {
    	margin-bottom: 30rem;
	}
	.faq_item {
		padding: 25rem 0 20rem;
	}
	.faq_img {
		width: 100%;
	}
	.header_nav_child_content {
		flex-direction: column;
		width: 100%;
		margin-top: -20rem;
	}
	.header_nav_child_content_item_title {
		font-size: 14rem;
		margin-top: 20rem;
	}
	.header_nav_child_content_item_overlay {
		margin-top: 20rem;
		width: 100%;
	}
	.header_nav_lang {
		display: flex;
		margin-top: 20rem;
		padding: 20rem 0;
	}
	.hader_head_actions_lang_item {
		width: 100%;
	}
	.header_nav_lang .arrow {
		margin-left: auto;
		width: 12rem;
	}
	.news {
		margin-bottom: 80rem;
	} 
}